[2018-06-22 21:25] #584 closed

[2018-06-22 21:49] EliotSeattle commented on #595
Thanks, @BenWestbrook
Added links to Handling
SRB_FUNCTION_EXECUTE_SCSI
and
SRB_IO_CONTROL
Especially for suggestions like this, please feel free to make the edit and create a PR. Cheers, Eliot

[2018-06-22 21:49] #595 closed

[2018-06-23 01:10] nixomose commented on #474
Okay I think that helped, based on that union structure list (in the FLT_PARAMETERES topic), I assume that's the entire list of what i/o operations a minifilter driver can receive.
I looked up IRP_MJ_READ and the parameter list include byte offset and length in the file, implying that all i/o requests are file based. I was hoping I could handle callbacks for block based i/o operations.
But unless

[2018-06-24 16:47] BenWestbrook opened #601 "maybe something is missing"
several items:

1) in VisualStudio2017 kernel debugging the dd command referenced above does not work unless the nt! prefix version is used.

2) in VisualStudio2017 kernel debugging the above referenced ed command simply does not work (command "ed" is not valid) - do the samples need updating?

3) in VisualStudio2017, following above instructions for bitmask setting for both DEFAULT and IHVDRIVER

[2018-06-25 17:11] Powerhelmsman opened #605 "Display issues on page Bob Deinterlacing Algorithm"
This issue was created by @drmandarin from https://github.com/MicrosoftDocs/feedback/issues/453
On this page:
https://docs.microsoft.com/en-us/windows-hardware/drivers/display/bob-deinterlacing-algorithm
Multiple display issues in formulae in the text, e.g:
0 &lt;= i &lt;= Mâˆ’1
0 &lt;= j &lt;=Nâˆ’1
(9*(b+c)âˆ’(a+d)+8)&gt;&gt;4
Please fix these issues.

---
#### Document Details

⚠ *Do not edit th

[2018-06-25 17:48] EliotSeattle commented on #605
Thanks for raising this, @Powerhelmsman
@mimisasouvanh can you please see if this is correct or needs editing? It looks the same as the WDCML version.

[2018-06-25 17:49] #555 closed

[2018-06-25 17:50] #554 closed

[2018-06-25 18:04] DOMARS commented on #362
Planning to consolidate the debugging issues and get with the dev team this week.

[2018-06-25 18:04] DOMARS commented on #412
Planning to consolidate the debugging issues and get with the dev team this week.

[2018-06-25 18:05] EliotSeattle commented on #564
Thanks, @BenWestbrook
Added: for a list of all safe string library routines for the kernel, see [Safe String Functions for Unicode and ANSI Characters](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/_kernel/#safe-string-functions-for-unicode-and-ansi-characters) and [Safe String Functions for UNICODE_STRING Structures](https://docs.microsoft.com/en-us/windows-hardware/driver

[2018-06-25 18:05] #564 closed

[2018-06-25 18:05] DOMARS commented on #471
Planning to consolidate the debugging issues and get with the dev team this week.

[2018-06-25 18:09] drmandarin commented on #605
No problem. I couldn't attach a screenshot to the original message, but
here's one for your reference so that you can clearly see an example of the
issue:

[image: image.png]

On Mon, 25 Jun 2018 at 18:48, Eliot Graff <notifications@github.com> wrote:

[2018-06-25 18:32] EliotSeattle commented on #561
Storport Miniport drivers and Storport driver routines now both fixed. Thanks, @BenWestbrook for your help.

[2018-06-25 18:32] #561 closed

[2018-06-25 20:18] DOMARS commented on #557
@emuzychenko - Thanks for catching this. The summary text was incorrect and was missed in review. The new summary reads:

*Before sending the request, the client loads the structure with values that indicate the packet number, packet length and other information.*

Thanks again for seeing this error and help making our docs better.

[2018-06-25 20:18] #557 closed

[2018-06-25 20:56] SillyKeith commented on #477
As of RS3 (1709), if there is an applicable, non-DU CHID targeted driver (of either Critical or Optional), it WILL block a DU non-CHID targeted driver.

So, to answer your question-   No. the newer versioned DU driver (without CHID) would not come down because there is an applicable driver (with CHID) on WU.

[2018-06-25 21:19] DOMARS commented on #566
Planning to consolidate the bug check 0x1A memory issues and get with the dev team this week.

[2018-06-25 21:31] aventadorm commented on #594
I am trying to collect tmf files from builds and I am finding multiple duplicates in the same build. Checking the contents of the tmf files its either : 1) Same pdb files in different folders and same trace messages : or 2) Same pdb files in different folders but slightly different trace messages. If I had better insight or control over how these TMF files are named, I could better design a folder

[2018-06-25 22:11] DOMARS commented on #586
Planning to consolidate the bug check 0x1A memory issues and get with the dev team this week.

[2018-06-26 07:27] AndreFo opened #607 "ExInitializeDriverRuntime"
Article says "ExInitializeDriverRuntime ... can be called on Windows 8 and earlier versions of Windows." This does not seem to be correct. Should instead read like: "ExInitializeDriverRuntime ... can be called on Windows 8 and later versions of Windows."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30ed3997-1721-5972

[2018-06-26 17:54] EliotSeattle commented on #607
Thanks for pointing this out, @AndreFo
@PageWriter-MSFT can you please see what's up with this? I can't make headway.

[2018-06-26 21:07] Shyamal-V opened #608 "For driver-load-order dependencies, see How To Control Device Driver Load Order."
"For driver-load-order dependencies, see How To Control Device Driver Load Order."

Link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89caeb22-0006-6d94-24dc-b08bef273905
* Version Independent ID: 030be807-fb37-503f-f62a-1df6d19303c0
* Content: [Device management namespace objects](https://docs.microsoft.co

[2018-06-26 22:20] EliotSeattle commented on #608
Thanks for pointing this out, @Shyamal-V
@barrygolden can you look into this? I think the KB article is gone, but you might find that install/specifying-driver-load-order is a valid resource.

[2018-06-26 22:22] DOMARS commented on #514
@thierryfranzetti - Thanks for this request. I'm checking with the dev team to see if we can list these additional values for parameter 1.

[2018-06-26 22:42] DOMARS commented on #558
@emuzychenko - Thanks for catching this. The summary text was incorrect and was missed in review. The new summary reads:

*Before sending the request, the client loads the structure with values that include the packet number, packet length and other information.*

The link to KSRTAUDIO_SETWRITEPACKET_INFO is also fixed.

Thanks again for seeing these errors and help making our docs better.

[2018-06-26 22:42] #558 closed

[2018-06-26 23:13] barrygolden commented on #608
@Shyamal-V the link has been updated to point to [Specifying Driver Load Order](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/specifying-driver-load-order).

[2018-06-26 23:13] #608 closed

[2018-06-26 23:17] barrygolden commented on #416
Added information to the topic on the location of AcpiGenFx and associated samples in the WDK Tools directory.

[2018-06-26 23:17] #416 closed

[2018-06-27 02:26] Megatransect opened #609 "Network Adapter Interface indices"
https://docs.microsoft.com/en-us/windows-hardware/drivers/network/network-adapter-index-values

This article is very superficial and doesn't properly explain the meaning of the network adapter interface index and how it's used or the what the various values mean.    They appear in the output from Get-NetIPAddress.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-06-27 10:46] kwilliams1987 opened #611 "Typos my dude."
or drives that are not available becuase of hardware regeneration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76528be9-25fa-14da-0f12-98e650278efa
* Version Independent ID: 22ae5b42-6beb-81b5-7652-1085a3bb92e6
* Content: [Bug Check 0x6B PROCESS1_INITIALIZATION_FAILED](https://docs.microsoft.com/en-us/windows-hardwar

[2018-06-27 11:41] gpotter2 commented on #563
It sure would be nice to be able to test drivers on VMs...

[2018-06-27 15:45] sahikon opened #612 "Link to Bluetooth Assigned Numbers is outdated"
New link is https://www.bluetooth.com/specifications/assigned-numbers/baseband

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa52ee84-78eb-85eb-55d0-9a2163f95799
* Version Independent ID: d81d2cfd-2f50-ccbd-ec6f-96d73897b8ed
* Content: [Bluetooth Registry Entries](https://docs.microsoft.com/en-us/windows-hardware/driv

[2018-06-27 16:06] EliotSeattle commented on #612
Thanks, @sahikon
Fixed in source. Should be live soon.

[2018-06-27 16:06] #612 closed

[2018-06-27 16:10] EliotSeattle commented on #611
Thanks, @kwilliams1987

[2018-06-27 18:30] EliotSeattle commented on #609
Thanks, @Megatransect for the feedback. Were there specific parts that you were looking for, or were you saying that just everything could be more detailed? Specifics will help us focus with prioritization.
@duncanmacmichael can you please consider this request for future work and create tasks as appropriate and time allows?

[2018-06-27 19:58] ticktickMOF opened #613 "missing /sr information"
missing information on /sr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f802ab4-103b-40bd-7aff-9b519b2e9f56
* Version Independent ID: 0d3ae05a-41f8-7cea-c9a8-25937b235905
* Content: [SymChk Command-Line Options](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/symchk-command-line-options)
* Content

[2018-06-27 20:03] EliotSeattle commented on #613
Thanks, @ticktickMOF
@DOMARS can you please look into this missing command?

[2018-06-27 22:38] Megatransect commented on #609
I have no specific requirements other than the general.    Network
Interface Index is skimmed over everywhere it seems.   Trying to find out
what it is led me to the page we are talking about where it is indeed again
skimmed over.

For example, in the past the exams for 70-741 referred to the adapters in a
list by the that index number.  Its not a  confusion about whether its
intended for develope

[2018-06-27 23:00] DOMARS commented on #572
@LuigiBruno  - I added some resolution guidance on this stop code.  I also reviewed and corrected the parameter descriptions. Thanks for providing this input.

[2018-06-27 23:00] #572 closed

[2018-06-27 23:00] duncanmacmichael commented on #609
I see, thanks for the clarification. That makes sense. Let me ask the feature team what they think about the best way to elaborate on this, and see if this is the best doc page to do that.

[2018-06-27 23:15] DOMARS commented on #511
@JackHeeley - Appreciate the kind words. The diagram is corrected so that IRP_MJ_WRITE is directed to a handle write requests bubble. Thanks for pointing this out.

[2018-06-27 23:15] #511 closed

[2018-06-27 23:17] DOMARS commented on #514
@thierryfranzetti - I was able to work with the dev team to add additional values for parameter 1. Thanks for the request.

[2018-06-27 23:17] #514 closed

[2018-06-27 23:23] DOMARS commented on #412
@LuigiBruno - I added a resolution section that includes chkdsk /r.The updated topic is live. Thanks for this suggestion.

[2018-06-27 23:23] #412 closed

[2018-06-27 23:23] DOMARS commented on #611
@kwilliams1987 - Thanks for pointing the this out. Fixes were made and an updated topic is now live.

[2018-06-27 23:23] #611 closed

[2018-06-27 23:55] EliotSeattle commented on #517
Thanks, @mfstanton
I've spoken with the publishing team and have looked over the content. I believe that you and I are talking about different definitions of whitespace. While the layout of a page (column width, TOC size, header, etc.) are mandated to keep the site consistent, what I think you're really talking about is the amount of content on each page. If I hear you correctly, pages like [Refer

[2018-06-28 01:33] mfstanton commented on #517
Yes, Eliot,  that is pretty close to what I was thinking. There are parts of the miscellaneous information that are helpful but that seems to be a repository for a lot of fluff too.  Having to jump to a separate page just to see it is a waste of clicks and bandwidth. Yes the pages like “Reference” that have little or no content should be gone.  I am asking for more meat and less fluff. You have ca

[2018-06-28 03:39] jeh-cmkrnl commented on #563
You can certainly test drivers on VMs. I do it all the time, using a named pipe as a serial port for the debugger connection. What isn't supported is the automatic configuration for debugging, driver deployment, etc., as the dialog box indicates.

[2018-06-28 17:50] DOMARS commented on #471
@kwilliams1987  – Thank you for opening this issue. We use input such as this, along with Windows telemetry and other data, to track trends in stop code behaviors. We add information to the topic if we find the behavior is consistent over time, so we’ve noted your findings and will look into the specific behavior.

[2018-06-28 17:50] #471 closed

[2018-06-28 18:39] fielcabral opened #614 "The link to the print schema spec is dead."
The link to the print schema spec is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3892edf0-b328-760d-fb10-89ff64164c0d
* Version Independent ID: 05734c1b-9f00-d40b-9f0a-e34fd4b29dea
* Content: [Print schema references](https://docs.microsoft.com/en-us/windows-hardware/drivers/3dprint/print-schema-references)
*

[2018-06-28 19:46] duncanmacmichael commented on #609
Okay @Megatransect , I've had a conversation with the network driver platform team and got some good information about network interfaces in general, including the interface index values. I'll create a new page for it since it's very general and wouldn't make sense here. That should be ready soon; I'll give you a link when it's done.

[2018-06-28 21:41] #609 closed

[2018-06-29 05:35] mhtxi3d opened #615 "Cannot watch the videos"
I cannot watch the video on both Windows and macOS (Safari). Click the Play icon, nothing happens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da5f2ec3-da6b-eeb1-8ea9-1e1a2d07825f
* Version Independent ID: 16497f37-41a9-696c-7e61-69fc5ed01715
* Content: [Videos Debugging UMDF Drivers](https://docs.microsoft.com/en-u

[2018-06-29 14:49] sbfraser01 opened #616 "RE: C++ for Kernel Mode Drivers: Pros and Cons"
Interesting whitepaper. I don't know how much of it is true now, but it's helping me get in the mindset of the driver developer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e755005-a187-149c-c4c4-423cedfe1b97
* Version Independent ID: 5db14ac5-b177-2ba7-17e4-da209902781e
* Content: [Portable](https://docs.microsoft

[2018-06-29 15:06] EliotSeattle commented on #616
Thanks for your interest, @sbfraser01
It would be extremely helpful, Sean, if you could let us know--as you head down the driver dev path--which of our resources help (and why), which don't, if you find anything really great on another site, or even what you feel is missing. Cheers, Eliot

[2018-06-29 15:06] #616 closed

[2018-06-29 16:47] broncopulse opened #617 "Inaccurate link for hardware key reference"
The link to the definition of the hardware key only leads to the WDK page. It needs to be fixed.
More accurate link: https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/introduction-to-registry-keys-for-drivers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc8d1bbe-fc08-d3de-4dd7-c4a476f320ba
* Version Indep

[2018-06-29 17:17] EliotSeattle commented on #617
Thanks, @broncopulse
That link used to go to a glossary that no longer exists. That paragraph now ends with:
An HKR specification in such an add-registry-section specifies the device's hardware key, a device-specific registry subkey that contains information about the device. A hardware key is also called a device key. For more info, see [Registry Trees and Keys for Devices and Drivers](https://do

[2018-06-29 17:17] #617 closed

[2018-06-29 17:42] barrygolden commented on #614
@fielcabral the link to the [Print Schema Specification](http://download.microsoft.com/download/d/e/c/deca6e6b-3e81-48e7-b7ef-6d92a547d03c/print-schema-spec-2-0.zip) download has been updated on the [Print schema references](https://docs.microsoft.com/en-us/windows-hardware/drivers/3dprint/print-schema-references) page.

[2018-06-29 17:42] #614 closed

[2018-06-29 18:10] DOMARS commented on #613
@ticktickMOF - The /sr option is no longer missing. Thanks for noticing this and letting us know.

[2018-06-29 18:10] #613 closed

[2018-06-29 18:13] DOMARS commented on #586
@mcarbone - Information on the 0x03030308 parameter is now included in the topic. Thanks for the input on the stop code topics.

[2018-06-29 18:13] #586 closed

[2018-06-29 18:15] DOMARS commented on #566
@LarryK348  - Information on the 0x61949 parameter is now included in the topic. Thanks for the input on the stop code topics.

[2018-06-29 18:15] #566 closed

[2018-06-29 20:02] DOMARS commented on #538
@emuzychenko  - I’m checking with the audio dev team to see if they can comment on what you are seeing. Thanks for passing on your observations, and your interest in improving these pages.

[2018-07-01 03:10] LarryK348 opened #618 "Documentation is incorrect"
There is no "Creating UMDF-based HID Minidrivers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ed427e-a01a-368b-7422-2dea0aec50a3
* Version Independent ID: 1730981a-bdca-ba26-b8a1-301473678bb2
* Content: [Minidrivers and the HID class driver](https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/minidriver-

[2018-07-01 09:46] JBradon opened #619 "Link to " guidelines for a Universal Audio Architecture (UAA)" not working"
The link to "guidelines for a Universal Audio Architecture (UAA)" early on this document does not seem to be working.
I searched for this on google and found a recent webpage so think it has been moved since this page was published.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e944dc-d0eb-bc5b-2e28-688843a0033e
* V

[2018-07-01 15:05] LarryK348 opened #620 "Wrong file"
It appears this file was overwritten, the link is :https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/creating-umdf-hid-minidrivers
but the title is "Creating WDM HID minidrivers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bed71f2f-342c-1d26-04d5-66934ca03dc1
* Version Independent ID: fbb0cab2-249d-953e-

[2018-07-02 11:56] MikhailCompo opened #621 "Insufficient Guidance for Users Unable to View Win 10 WindowsUpdate.log"
Some Windows 10 users will not be able to read the WindowsUpdate.log due to missing symbols.
The vast *vast* majority of corporate customers machines are behind an internet proxy server, rendering the direct connect to download symbols totally unrealistic.
At the very least, Microsoft should be providing a command line example for how to create a manifest, because it is a PowerShell command and th

[2018-07-02 16:23] EliotSeattle commented on #621
Thanks for the suggestion, @MikhailCompo
@DOMARS can please you look into what we can add to the docs and pass this on to the debugger team if there's an engineering request?

[2018-07-02 19:09] aahill commented on #620
Hi @LarryK348, I'm a bit confused by the issue you're encountering, and could use some more information to help. The page title reads "Creating **WDF** HID minidrivers" to me, is it the same for you. Let me know if it does say "WDM" to you and I'll investigate!

The WDF includes both the UMDF(user-mode) and KMDF(kernel-mode), which is why we've compressed the two into the same topic. Is there some

[2018-07-02 19:16] aahill commented on #618
Hi @LarryK348, are you looking for the information contained on this page? htps://docs.microsoft.com//windows-hardware/drivers/wdf/creating-umdf-hid-minidrivers

This topic should help with creating UMDF or KMDF Minidrivers using the WDF (Windows Driver Framework). The topic you've linked to is more focused on the HID Class Driver. I'll add the above link to this page to make it easier to find thi

[2018-07-02 19:16] #618 closed

[2018-07-02 19:16] githubtayomo opened #623 "Might be missing PKEY_SensorData_Illuminance_Lux definition"
The definition of "PKEY_SensorData_Illuminance_Lux" for Light sensor data fields may be "PKEY_SensorData_LightLevel_Lux".
Would you check this constant name right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 215a7a8a-3b5c-f2f4-8c25-818fdd69455a
* Version Independent ID: 5e1d2143-0dc3-680b-a37f-da7e40e524ef
* Content

[2018-07-03 00:04] LarryK348 commented on #618
(Windows Driver Model) WDM isn’t really applicable to User Mode (UMDF) drivers. (Windows Driver Foundation) WDF is.
I was specifically looking for information about UMDF HID minidrivers.
I expected the page (https://docs.microsoft.com//windows-hardware/drivers/wdf/creating-umdf-hid-minidrivers) to provide some useful information about UMDH HID minidrivers : what header files are used, and when; wh

[2018-07-03 01:39] nixomose commented on #474
no, I think scsi is one level too low (closer to the hardware than I'm talking about.)
Basically I'm looking to make a driver that is kind of equivalent to the system restore shadow copy driver. A driver that has the ability to intercept reads and writes to the block drivers below them, with the magic of being a loadable and unloadable driver without needing to reboot.
I was hoping a minifilter dr

[2018-07-03 05:48] skycommand opened #624 "Document markup artefact?"
There is a problem appearing in:
- This page
- All its subpages ("[Overview of the Boot.ini File](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/overview-of-the-boot-ini-file)", "[Editing the Boot.ini File](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/editing-the-boot-ini-file)" and "[Backing Up the Boot.ini File](https://docs.microsoft.com/en-us/windows-har

[2018-07-03 08:30] kent11120 opened #626 "King"
My fine all my life is true. And fear.

By lawyer Us with Citizen or King A
Rap

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb18307-ceb7-f8b3-c758-c6522ba4912a
* Version Independent ID: 75c43c5f-e059-05ce-75c6-dba165638fa8
* Content: [Identifiers for 1394 Devices](https://docs.microsoft.com/en-us/windows-hardware/d

[2018-07-03 16:41] EliotSeattle commented on #626
Hi @kent11120
I don't see a request regarding Identifiers for 1394 Devices, so I am closing this Issue.

[2018-07-03 16:41] #626 closed

[2018-07-03 16:52] EliotSeattle commented on #624
Thanks, @skycommand
@barrygolden can you please fix these and look into whether we have a, gulp, global issue from migration?

[2018-07-03 18:15] DOMARS commented on #619
@JBradon - Thanks for pointing this out. The fix has been checked in and should be live later today. Thanks again for contributing to the docs.

[2018-07-03 18:15] #619 closed

[2018-07-03 19:14] barrygolden commented on #624
@skycommand the malformed alert text instances you found have been fixed. We'll scan the driver docs for other occurrences of malformed alert text and script a fix as required. Thanks for filing the issue.

[2018-07-03 19:14] #624 closed

[2018-07-04 09:40] michab66 opened #628 "Link dead"
1:
 this KB article

2:
How to use or to reference the Usbser.sys driver from universal serial bus (USB) modem .inf files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d53160-d39b-61f0-2cf7-44d618d29a21
* Version Independent ID: ca1946c2-ef7d-4f83-a564-c0e387c39845
* Content: [USB serial driver (Usbser.sys)](https:/

[2018-07-04 10:49] cyren-oschneider opened #629 "Request to change the details for altitude values 323000 and 327000"
Hi,

I am currently the maintainer of the driver in question for altitude 327000 and used to be the maintainer of the one at 323000 before that product was abandoned. Authentium sold the AV business to Commtouch years ago and we're now called Cyren. Also, the driver is named `amp.sys` instead of the `avmf.sys` mentioned in the documentation.

We've kept using that exact same altitude value ever si

[2018-07-04 15:07] ghost opened #630 "Please document a means to update details for an existing altitude value"
In issue #629 I was requesting the details to two altitude values to be updated.

The reason I posted it here as feedback was, that [the article](https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/minifilter-altitude-request) against which I am filing this ticket doesn't mention **how to request such data to be updated**. Besides, it stands to reason that neither of the email addresses

[2018-07-05 02:37] lixiaogangkkk commented on #382
Dear  MS guy,
     I have two question about this USB Audio 2.0 class device driver.
    1. Does it support audio jack detection feature as HD Audio device? (device status changes to "not plugged in" status while analog microphone/headphone is un-plugged from device).
    2. Could you share any experience about how does audio buffer updated between Audio Engine and Audio driver, Between Audio driv

[2018-07-05 02:53] lixiaogangkkk opened #631 "How to remove the node "General Software Component" that create from extension INF"
Dear MS Guys，
    I'm working on having an UMDF driver to upgrade firmware for my device.
    1. Now I create an extension INF to call AddComponent directive, and found there is a software component node created after running the extension INF. (the node is associated with my real device node)
    2. I can install UMDF driver to this software component node to do firmware upgrading operations.

[2018-07-05 17:10] EliotSeattle commented on #629
Thanks, @cyren-oschneider we can change it in the docs, and we'll get you in touch with the right person to propagate any approved changes.
@aahill please shepherd this issue to the right dev or PM.

[2018-07-05 17:12] EliotSeattle commented on #629
Related to Issue 630

[2018-07-05 17:12] EliotSeattle commented on #630
Thanks, @cyren-oschneider we can change it in the docs, and we'll get you in touch with the right person to propagate any approved changes, just like Issue 629.
@aahill please shepherd this issue to the right dev or PM.

[2018-07-05 17:13] EliotSeattle commented on #624
I think you're on safe ground saying that you contributed to the Microsoft Windows Drivers documentation. :)
Thanks so much!

[2018-07-05 18:17] skycommand commented on #624
Oh! That's not what I meant. It was a joke...

Social decorum recommends resorting to a joke to counter tension or fear (in this case that of there being a global migration issue with far-reaching consequences) by making the affected people smile. I am not so petty as to tell anyone something like "I'm working with Microsoft" just because I wrote a comment. (Bah! Writing a comment! Kids do that! A

[2018-07-05 18:30] EliotSeattle commented on #624
We don't joke here.
Just kidding. :-)

[2018-07-06 23:38] karel-3d opened #632 "What do the defines in part 3 mean?"
What do all the defines in part 3 mean? What is `#define SIGNERSCORE_LOGO_PREMIUM`? What? Where do I add this - to my inf file, to my driver file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70062259-782d-7d6a-08a1-d01d33edf46c
* Version Independent ID: 2922b3e2-ae65-2a09-8de3-fa80808ff953
* Content: [Driver matchin

[2018-07-09 15:36] druske opened #633 "Old SDV Blog Link"
The latest SDV blog content is over 8 years old; I guess parts 3 through 6 of the 6 article series are running a little behind schedule. It'd be nice to have some fresher content, or at least some release notes on more recent SDV changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1173541b-25be-4821-69ac-3784107fb2

[2018-07-09 16:08] EliotSeattle commented on #633
Thanks for pointing this out, @druske
@aahill can you please check with our friends on the DV team to see what they've replaced that content with?

[2018-07-09 16:31] EliotSeattle commented on #632
Thanks for the questions, @karel-3d
@mimisasouvanh can you please triage this request and add it to your backlog appropriately?

[2018-07-09 18:55] kildonan5 opened #634 "Confusing text"
Under Universal INF the text states "If you DO NOT get any errors or warnings with error number 130x and error text ("Found legacy Xxx operation..."), your driver INF file is universal."  Should this say your drive INF "is NOT universal" or is the given text accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4827

[2018-07-09 19:36] EliotSeattle commented on #634
Thanks for the question, @kildonan5
@tedhudek can you please make the text less ambiguous?

[2018-07-09 21:59] Ron-Hu opened #635 ""Note: ....." comment of deprecated is confusing customer sensor driver developers"
To whom owns this documentation section.

We should remove this for the next year (if agreed to by developer Jocelyn Berrendonner).  Until the devs have a replacement that is on par with or better than this tool.  We should not confuse the driver writers externally to Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-09 22:49] EliotSeattle commented on #635
Thanks, @Ron-Hu
@mimisasouvanh can you take this offline with Jocelyn, please?

[2018-07-09 22:49] #635 closed

[2018-07-10 00:01] tedhudek commented on #634
Thanks @kildonan5, I've updated the page.  Please let us know if you still have issues.

[2018-07-10 00:19] kildonan5 commented on #634
Hi @tedhudek thank you, but I'm still confused because the Microsoft documentation on [Universal INF file](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/using-a-universal-inf-file), explicitly states;

[code]
I modified an INF file, and specified an AddReg value outside of those allowed in the list above (e.g. I added a custom key under HKLM). Subsequently, the driver install l

[2018-07-10 01:26] Huihh opened #637 "download header files"
Hi,
    where can i download those header files related to hid development, etc. hidclass.h, hidpddi.h, hidpi.h, hidport.h, hidsdi.h, kbdmou.h, ntdd8042.h, sffprtcl.h, vhf.h,   Thank you very much

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36318bc-76cd-c372-d676-4a0c20b60dcf
* Version Independent ID: b02eaae7-3cb2

[2018-07-10 06:12] karel-3d commented on #632
@EliotSeattle What would I love to see are more clarifications in the text itself :) right now it is very confusing.

[2018-07-10 07:36] shoebillk commented on #590
Thanks, @aahill. I hope that sorting fuction wil be added in the near future.

[2018-07-10 16:01] tedhudek commented on #634
Hi @kildonan5, I'm not entirely clear, maybe you can help me understand. The page you quote above about AddReg suggests to me that the custom key you added under HKLM would not satisfy the conditions listed. So your INF would be non-universal because of the custom key. So at compile time you see error 1305, which means non-universal. I don't see the contradiction.

[2018-07-10 16:03] tedhudek commented on #634
BTW, I had a typo when I put `130xx` instead of `13xx`.  I'll fix that, but it doesn't seem related to your question.

[2018-07-10 16:15] EliotSeattle commented on #632
@karel-3d Do you mean the section you spoke of, this particular topic, our docs in general? Also, for this particular topic, I must point out that WDDM 1.2 was released in Window 8 and is not our most recent offering. Are you also targeting Windows 8?

[2018-07-11 13:13] karel-3d commented on #632
Hello,

I am developing a driver that has to work in win 7, win 8 and win 10.

The problem is that on some PCs, some other drivers are "overriding" our drivers on our devices. So I tried to find an order how is Windows deciding which driver to use for a given device.

The only document that describes this is the linked one. However it is not very clear what the linked document actually says and wh

[2018-07-11 13:31] karel-3d commented on #632
...oh now I noticed it is in display drivers, so not at all related. My device is a USB device not related to displays. Should I close this issue?

[2018-07-11 13:33] karel-3d commented on #632
What I needed was this document

https://docs.microsoft.com/en-us/windows-hardware/drivers/install/overview-of-the-driver-selection-process

[2018-07-11 13:33] #632 closed

[2018-07-11 15:37] mickpletcher opened #638 "Registry Location"
It would have been nice to have the exact registry locations defined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b56db178-78e9-9564-e2d0-8d4dc5a0068d
* Version Independent ID: e31df79f-b30a-75f2-335c-637a9eeaca25
* Content: [Local Machine and Current User Certificate Stores](https://docs.microsoft.com/en-us/windows-

[2018-07-11 18:54] asachida opened #639 "Broken Links in the document"
DispatchPnP ( https://msdn.microsoft.com/library/windows/hardware/ff543341) and DispatchPower (https://msdn.microsoft.com/library/windows/hardware/ff543354) seems to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d77daf6-7e6d-e045-a300-588c718bd972
* Version Independent ID: 2535107c-d683-71dd-e17f-468d1835f

[2018-07-11 19:33] aahill commented on #630
Hi @cyren-oschneider, thanks for your patience. I checked with the development team, and they said that you can use the same form on the [page](https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/minifilter-altitude-request) you mention. Just be sure to include these details in the "Additional information" section. From there, the team should be able to help you out.

I agree that this t

[2018-07-11 20:44] assarbad commented on #630
@aahill will try to send an email that way then. Need to figure out what contact address best to use, though. Thanks!

[2018-07-11 20:45] assarbad commented on #629
As per the suggestion from @aahill in issue #630 I'll try to use the form as given and see how far it gets me. Thanks so far.

[2018-07-11 20:50] EliotSeattle commented on #639
Thanks @asachida for pointing this out.
@PageWriter-MSFT this seems to be more than this page. The original rid was kernel.dispatchpnp, but that no longer exists in SD. The broken links appear in more topics than this. For instance:
- whea/introduction-to-pshed-plug-ins
- kernel/dispatchpnp-routines
- kernel/irp-mj-pnp
Can you please find the correct URL? Then we can look at a find/replace.

[2018-07-11 22:02] duncanmacmichael commented on #609
Hi @Megatransect, here's an update for you. I wrote a new [Network Interfaces](https://docs.microsoft.com/windows/desktop/network-interfaces) topic in the Windows Desktop doc repo that provides a high-level overview of network interfaces on Windows. It's aimed at a developer audience, but it could be interesting for enthusiasts like yourself if you want to read about them.

One thing to keep in mi

[2018-07-11 23:50] kildonan5 commented on #634
So by virtue of my INF failing to conform to the universal INF file rules, it is by definition, non-universal. In my mind, it would make more sense to say I have a universal inf file with invalid sytnax, but in anycase I understand what this articles message is getting at now. Perhaps if nothing else this issue will serve to clarify the issue for any future 'googler' (binger?) that are confused, a

[2018-07-12 06:09] ozhuntsman opened #641 "Mr. Keith Styles"
Error code 28 is useless. It's no help ! To tell a user the device is unknown without telling them a solution to the problem, is a waste of time. There has to be a better way because most users don't have a clue !

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a246b56c-e11e-f80d-92e6-e4d84e593ef7
* Version Independent

[2018-07-12 06:40] Tai7sy opened #642 "Links Error"
The start of this post: "A driver's DispatchDeviceControl" and DispatchInternalDeviceControl routines"
but can't open the link :
https://msdn.microsoft.com/library/windows/hardware/ff543287
https://msdn.microsoft.com/library/windows/hardware/ff543326

Maybe a 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4f

[2018-07-12 10:05] cyren-oschneider opened #643 "Please extend this by details on the lifetime of an ELAM driver"
Could you please add information on when the ELAM driver gets unloaded and how to ensure that the handoff of state information to the user mode component(s) happens _prior_ to ELAM being unloaded?

For example while **Registry callbacks** are mentioned, I fail to see the use, given that the ELAM will be unloaded. So these callbacks don't seem to be useful for the uptime of the machine, but just fo

[2018-07-12 10:06] jaimeff opened #644 "Cannot download any of the old WDK versions (8,8.1, 10 1607, 10 1703), broken installer"
The installer does download correctly, but once executed it tries to download the msi file and fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f5d6d55-cb35-6b9e-f8ca-e75f70826dc3
* Version Independent ID: 1d913516-b1e0-e872-c337-e30ed5dffce8
* Content: [Previous WDK versions and other downloads](https://docs.mic

[2018-07-12 10:18] cyren-oschneider opened #645 "How to use measured boot with ELAM"
The article mentions [`Tbsi_Revoke_Attestation()`](https://docs.microsoft.com/en-us/windows/desktop/api/tbs/nf-tbs-tbsi_revoke_attestation) and gives an indication that the ELAM can call it, although the `WINAPI` in the function prototype seems out of place.

It would be nice to link to the documentation for that function.

However, at this point the documentation for `Tbsi_Revoke_Attestation()` d

[2018-07-12 16:47] EliotSeattle commented on #645
Thanks, @cyren-oschneider
@tedhudek can you look into this please?

[2018-07-12 16:51] EliotSeattle commented on #644
Hi @jaimeff
I can't repro this. All of those downloads work for me. Will try on a couple of other machines before I close this, though.

[2018-07-12 21:53] sahikon opened #648 "Garbage in the end of the page"
I mean the following two lines:
"�

�"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd8d0d4-08cf-039d-25cd-5f32cd45797f
* Version Independent ID: 9d8e6ed9-ce8b-2e70-fac2-1b56017a34a4
* Content: [ACPI system description tables](https://docs.microsoft.com/en-us/windows-hardware/drivers/bringup/acpi-system-description-

[2018-07-12 23:01] barrygolden commented on #648
@sahikon thanks for catching this issue. The non-printing characters have been removed and the changes should be live soon.

[2018-07-12 23:01] #648 closed

[2018-07-13 00:52] sahikon opened #650 "Table is broken"
The table that supposed to be after the first paragraph is not rendered properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3034ee-2707-7672-edf8-a963b09f90e4
* Version Independent ID: b9732fef-bbb4-6d55-1234-e2a9d1512cc7
* Content: [Bluetooth Core Driver Layer and Supported Power Transitions](https://docs.micro

[2018-07-13 01:27] sahikon opened #651 "Section 3 - broken bullet list"
Bullet list is broken in the section number 3:

It should look something like:

The audio driver sets the parameters to IoSetDeviceInterfacePropertyData as follows:
* The SymbolicLinkName is the string returned from IoRegisterDeviceInterface.
* The remaining parameters depend on the specific property being set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-07-13 07:37] LuigiBruno opened #652 "Documentation incomplete"
Please add more information about this bug check error, its possible causes and resolution techniques.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4937e23b-c051-74c2-7299-8e07e716363b
* Version Independent ID: bcce8bfb-3563-cebd-55f2-39e2c139fbf1
* Content: [Bug Check 0x1B PFN_SHARE_COUNT](https://docs.microsoft.com

[2018-07-13 08:54] nirvantosh opened #654 "No mention of user mode driver signing process"
Hi,

The explanation above states:

"Starting with Windows 10, version 1607, Windows will not load any new kernel mode drivers..."

This is clear in terms of kernel mode drivers, but what about user mode drivers, will they also need to be signed by submission to portal? Or the cross signing certificates sufficient for user mode drivers to get signed and install on windows 10 with secure boot ON?

[2018-07-13 10:07] nirvantosh commented on #654
To be more precise, what about the drivers that does not have any kernel component of their own, for instance a virtual printer driver which is not associated with any hardware and does not have any custom kernel component, do we need to go through portal submission for that also, or a cross signing certificate is sufficient for windows 10 secure boot ON?

[2018-07-13 16:58] EliotSeattle commented on #651
Done. Thanks, @sahikon
Should be live shortly.
Feel free to edit the content and submit a pull request for fixes. We get a bonus for each PR submitted. Just kidding, but you get the bonus of contributing directly to the docs!

[2018-07-13 16:58] #651 closed

[2018-07-13 18:12] EliotSeattle commented on #650
Thanks, @sahikon
I'll see if I can get to this today.

[2018-07-13 18:13] sahikon commented on #651
@EliotSeattle  - good to know, will try :-)

[2018-07-13 21:31] EliotSeattle commented on #650
Table is created and is in the publishing pipeline to go live. Thanks!

[2018-07-13 21:31] #650 closed

[2018-07-13 22:58] tedhudek commented on #654
Hi @nirvantosh, there is no signing requirement for user mode drivers.  Does that answer your question?

[2018-07-14 08:18] nirvantosh commented on #654
Hi ted,

well I tried installing a sample print driver "XPSDrv Sample driver" from WDK samples to windows 10 and it didn't install until I disabled 'Driver Signature Enforcement' which means it does need a sign to get installed. And it is a user mode driver as it just generates a XPS file on print and has no kernel module of itself.

So, as much I understand based on your response and my experienc

[2018-07-15 12:04] LuigiBruno opened #657 "Values for parameter 4"
Provide examples of the most common values for the parameter 4 of this bug check or a link to a list of the NT status codes that could apply to this error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5fdc587-37f6-7dc7-0f7d-2ddc189a1123
* Version Independent ID: 5b82fd28-1d78-0f87-7605-fc5309e6d1cd
* Content: [Bug C

[2018-07-15 22:15] LarryK348 opened #658 "hardware IDs link broken"
The link goes to generic WDK page, no information about hardware IDs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a362ee-a3b4-27ed-62c6-1d7154d773fc
* Version Independent ID: 1627ee5d-f1d1-bb0e-4edb-1751b026adef
* Content: [Installing HID clients](https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/instal

[2018-07-16 07:28] HeinziAT opened #660 "Missing entry for parameter 1 = 0x1236"
Parameter 1 can be 0x1236, but it is not listed in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugge

[2018-07-16 16:32] EliotSeattle commented on #660
Thanks, @HeinziAT
@DOMARS can you please look into this?

[2018-07-16 17:50] jakeoshins opened #661 "Link to valid dirids"
This page should link to https://docs.microsoft.com/en-us/windows-hardware/drivers/install/using-dirids.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e8c3a59-5b16-8ea6-2ec4-943436c84ced
* Version Independent ID: 7ce374ce-9ea9-1f49-a071-f34cbd3a6ba1
* Content: [INF DestinationDirs Section](https://docs.microsoft.com/

[2018-07-16 17:59] jakeoshins opened #662 "Links broken"
Stampinf Properties for Driver Projects above doesn't take you to the page that it should.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3560b558-abf7-0b79-2931-7b4af312bdd6
* Version Independent ID: cabf6ea4-cd79-50d3-7d38-650556980229
* Content: [Stampinf](https://docs.microsoft.com/en-us/windows-hardware/drivers/de

[2018-07-16 18:17] EliotSeattle commented on #658
Thanks, @LarryK348
I've changed it to point to https://docs.microsoft.com/en-us/windows-hardware/drivers/install/hardware-ids. Should be on the live site shortly.

[2018-07-16 18:17] #658 closed

[2018-07-16 18:30] EliotSeattle commented on #662
Thanks @jakeoshins
The link now points to Stampinf Properties for Driver Projects (https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/stampinf-properties-for-driver-projects).

[2018-07-16 18:30] #662 closed

[2018-07-16 18:50] EliotSeattle commented on #661
Thanks @jakeoshins Added the link in the See Also section. Feel free to edit the pages and make a commit. Just make sure you change the branch name by at least one character.

[2018-07-16 18:50] #661 closed

[2018-07-16 20:01] PageWriter-MSFT commented on #637
Hello @Huihh

These HID headers are available with the WDK. Please follow the instructions on this page: [Download the Windows Driver Kit (WDK)](https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk)

Thanks

Page Writer

[2018-07-16 20:01] #637 closed

[2018-07-16 20:29] tugrul opened #664 "INF files line continuation with comment"
https://github.com/MicrosoftDocs/windows-driver-docs/blame/staging/windows-driver-docs-pr/install/general-syntax-rules-for-inf-files.md#L84

What about line continuation before comment?

[code]

Is it equivalent

``CopyFiles = "SomeDirectory\" ; comment ,SomeFile``

or

``CopyFiles = "SomeDirectory\",SomeFile ; comment ``

?

[2018-07-16 20:33] #479 closed

[2018-07-16 21:15] PageWriter-MSFT commented on #607
Hi @AndreFo

You are absolutely correct. **ExInitializeDriverRuntime** was introduced in Windows 8. I have updated the topic. Should be live soon.

Thanks for catching that!

Page Writer

Thanks for catching that.

[2018-07-16 21:15] #607 closed

[2018-07-16 22:15] tedhudek commented on #664
Hi @tugrul thanks for the question. It is equivalent to `CopyFiles = "SomeDirectory\",SomeFile ; comment`. Text after a semicolon is ignored, so this won't work: `CopyFiles = "SomeDirectory\" ; comment ,SomeFile`.

[2018-07-16 22:22] tedhudek commented on #638
Hi @mickpletcher I've updated https://docs.microsoft.com/windows-hardware/drivers/install/local-machine-and-current-user-certificate-stores with a link to the info you requested.

[2018-07-16 22:22] #638 closed

[2018-07-16 22:43] tedhudek commented on #664
BTW, I updated the page with this extra case.  It will be live in a few minutes.  Thanks again!

[2018-07-16 22:43] #664 closed

[2018-07-16 23:17] NabilFates commented on #631
Hey Steven,

Is it possible to provide some more details on why you want to remove the component device node?

Thanks,
Nabil

[2018-07-17 01:06] trgardos opened #665 "Still references VS2015. Update for VS2017"
On this page it says you must use VS2015 but on the WDK download page it says you must use VS2017. The instructions need to be updated for VS2017.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 287160ad-f2a5-789a-2d7d-ff336514c11e
* Version Independent ID: a138162d-2b80-725b-212b-277bae8f177d
* Content: [Write a Univer

[2018-07-17 10:56] shaharlux opened #666 "Undocumented Universal APIs"
Driver writers are encourage not to use undocumented APIs for good reasons. Are APIs listed in UniversalDDIs.xml and are not documented (not in the WDK and not in MSDN) can be used? For example, PsGetProcessExitProcessCalled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c5fa76b-6c2e-8f5e-7e96-ceb1c726842b
* Version

[2018-07-17 13:02] hongboy2009 opened #667 ""NTSD --" command not work in Win10"
I encountered a GPU problem which need to debug the csrss.exe process. When I use the "NTSD -" command with Administrator privileges, the debug windows of the host machine displays " Access deny, Win32 error 0n5". The target machine is Win10 1804. Does the win10 system need additional settings？ Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-17 16:43] tedhudek commented on #641
Thanks @ozhuntsman really the only advice I have for you is to check the company's website for the latest drivers for the device.  I updated the doc page to indicate this.  Best of luck with this issue!

[2018-07-17 16:43] #641 closed

[2018-07-17 17:02] EliotSeattle commented on #453
Changed the text to read: "You can create a TMF file by using Tracefmt and including the -i parameter, which directs Tracefmt to create a TMF file for Tracedrv. For more info, see Example 9: Creating a TMF file.

[2018-07-17 17:02] #453 closed

[2018-07-17 17:03] EliotSeattle commented on #644
Works just fine. Is it still a problem for you?

[2018-07-17 17:03] #644 closed

[2018-07-17 17:05] ozhuntsman commented on #641
If I knew what the device was, That's the first thing I'd do !  Windows 10 just tells a user it's an unknown device !!!
To tell a user its an unknown device (because Windows 10 is dumb) and not identify the device, so a user can check the owners web sight is just plain dumb !

[2018-07-17 17:49] tedhudek commented on #641
Can you provide more details on where you encountered the error and what you were trying to do?

[2018-07-17 19:31] megaabite opened #669 "errors"
INF for OSR USB FX -

%DiskName% is not defined

missing sections:

[USB_Install.Wdf]
KmdfService=WINUSB, WinUsb_Install

[WinUsb_Install]
KmdfLibraryVersion=1.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd1c106b-9499-4f15-f479-92537b5e4bed
* Version Independent ID: a10bfa35-ff3e-b169-0314-750dc5a28794
* Content:

[2018-07-17 20:20] Torkell opened #670 "Is there a way to pre-download symbols before starting debugging"
Since the offline symbol packages are no more, the first debug session after each set of Windows updates takes ages as I have to wait while Visual Studio slowly downloads the latest symbols (and suffer through lots of pauses as e.g. opening a file dialog causes more symbols to be downloaded). Is there a tool or command I can run to download all the symbols for my Windows install before I start deb

[2018-07-17 20:22] EliotSeattle commented on #670
Thanks, @Torkell
@DOMARS is there any workaround for this?

[2018-07-18 02:43] ozhuntsman commented on #641
Hi Ted,
The problem isn't complicated.
Prior to doing a clean instal of windows there were NO unknown drivers
listed in the device manager hardware list. After reinstalling windows
v1803 (a clean instal), windows has forgotten several drivers.

They are listed in the device manager as "UNKNOWN". It makes no sense to
tell a user the hardware is unknown when it plainly was known prior to the
V1803 i

[2018-07-18 04:18] wes-b opened #671 "Links to "Microsoft OS Descriptors" and "Microsoft OS Descriptors Specification" are not working."
Links to "Microsoft OS Descriptors" and "Microsoft OS Descriptors Specification" are not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80765aec-291f-b13d-ff28-10e1afa6b742
* Version Independent ID: 016a3903-ba16-1ea6-3804-ab4e6318444e
* Content: [WinUSB Device](https://docs.microsoft.com/en-us/windows-hardwar

[2018-07-18 16:39] EliotSeattle commented on #671
Thanks, @wes-b
@PageWriter-MSFT the FWLink points to http://www.microsoft.com/whdc/connect/usb/os_desc.mspx for the descriptors. There's content at https://msdn.microsoft.com/en-us/windows/hardware/gg463179.aspx, but I am unjclear if that and the spec link are ported over. Can you please fix this in this topic and in usbcon/microsoft-defined-usb-descriptors?
Thanks!

[2018-07-18 18:53] tedhudek commented on #641
Hi @ozhuntsman,

I am truly sorry for the troubles you’re going through. We create the documentation for companies that undertake driver development and deployment from a commercial perspective, and we’re staffed to solve issues with the supporting documentation. The documentation page that you created the issue from is for commercial use in deploying drivers. For consumer driver issues, your best

[2018-07-18 19:31] tedhudek commented on #631
@lixiaogangkkk please find Nabil's reply above

[2018-07-18 23:31] tedhudek commented on #643
Hi @cyren-oschneider
The ELAM driver can handover to another boot start driver that then starts monitoring drivers and user mode.

Working on getting more info for you but that's all I have for now!

[2018-07-18 23:34] tedhudek commented on #645
Hi @cyren-oschneider
You should call Tbsi_Revoke_Attestation()anytime the ELAM agent detects something malicious e.g. a rootkit. You’ll get an error if there is a problem with measured boot, e.g. no TPM on the system. Measured boot is always on afaik if there is a TPM.

Tbsi_Revoke_Attestation  is callable from kernel mode.

Does that help?

[2018-07-18 23:37] tedhudek commented on #645
Also, I'm working to add the kernel mode callable caveat to the ref page for the function.  Stay tuned for that

[2018-07-18 23:45] EliotSeattle commented on #469
Closing with no response.

[2018-07-18 23:45] #469 closed

[2018-07-19 01:02] PageWriter-MSFT commented on #639
Hello,

Both DispatchPnP and DispatchPower implement the DRIVER_DISPATCH callback routine. I have updated the link.

Thanks for finding the broken link.

Page Writer

[2018-07-19 01:02] #639 closed

[2018-07-19 01:04] PageWriter-MSFT commented on #628
@michab66 thanks for catching that. The KB is now live again.

Page Writer

[2018-07-19 01:04] #628 closed

[2018-07-19 01:07] PageWriter-MSFT commented on #671
Hello,

Thanks for reporting the broken link. This is now fixed.

Page Writer

[2018-07-19 01:07] #671 closed

[2018-07-19 01:14] PageWriter-MSFT commented on #669
Thanks @megaabite for catching that! I have updated the section. It should be live soon.

Page Writer

[2018-07-19 01:14] #669 closed

[2018-07-19 01:14] mailinglists35 opened #672 "why do I get high ISR count on sdbus.sys?"
etl trace https://www.pastefile.com/jooDiv
system is sluggish

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4639a65e-5ec8-2935-37fd-7e8e636f8546
* Version Independent ID: 24511b4a-afe6-ca90-dfda-855203d60af5
* Content: [SD Bus Driver Design Guide](https://docs.microsoft.com/en-us/windows-hardware/drivers/sd/)
* Conten

[2018-07-19 16:17] aahill commented on #515
Hi @lawlxy, sorry for the delay. I checked and 40500 is the correct altitude; this seems to be a typo. I'll update the documentation. Thanks!

[2018-07-19 16:17] #515 closed

[2018-07-19 17:28] NoelStephens opened #673 "WFP Callout Drive rKernel Debugging over time leads to install errors and anomalies"
I have been running into some issues with the most recent Windows 10 update (July 2018) and Kernel Debugging tools from the 10.0.14393.0 WDK.  Originally, prior to the update and/or my (nth) debugging iteration (probably in the 100’s) when I install (right click the inf file and install) the newly installed driver no longer shows up when one uses an elevated command prompt and types “pnptuil -e”.

[2018-07-19 17:55] #645 closed

[2018-07-19 17:55] tedhudek commented on #643
Updated the doc page a bit more. Hope it helps, feel free to reopen if not

[2018-07-19 17:55] #643 closed

[2018-07-19 17:57] tedhudek commented on #666
Hi @shaharlux
We recommend that you run the ApiValidator tool to determine if your driver is universal. This tool runs automatically when you build your driver in Visual Studio.

[2018-07-19 17:57] #666 closed

[2018-07-19 18:07] tedhudek commented on #631
Closing due to lack of activity, feel free to reopen if needed

[2018-07-19 18:07] #631 closed

[2018-07-19 18:28] tedhudek commented on #665
Thanks for the note @trgardos I've updated the page to link to the central VS/WDK download page.

[2018-07-19 18:28] #665 closed

[2018-07-19 19:26] aahill commented on #630
Hello @assarbad, and @cyren-oschneider, were you able to update your altitudes via email?

[2018-07-19 19:46] duncanmacmichael commented on #673
Hi @NoelStephens , that's a good question. Let me ask the feature team to see what I can find out. You are right in that the driver developer docs aren't oriented towards troubleshooting, which is why we don't have dedicated troubleshooting pages in general, *but* if I can make the page clearer to help with development then I'd be more than happy to.

[2018-07-19 22:12] tedhudek commented on #672
Thank you for reaching out to us. Unfortunately, we do not have the capability to provide help with your project.

[2018-07-19 22:12] #672 closed

[2018-07-20 16:19] JocelynBerrendonner commented on #623
Hello,

Thank you for reporting this issue! You are correct, the documentation has a typo. PKEY_SensorData_LightLevel_Lux is the correct value name. PKEY_SensorData_Illuminance_Lux doesn't exist.

Best regards,
Jocelyn Berrendonner [MSFT]

[2018-07-20 16:23] mimisasouvanh commented on #623
Issue fixed by PR: https://github.com/MicrosoftDocs/windows-driver-docs/pull/675

[2018-07-20 16:23] #623 closed

[2018-07-20 19:41] deakjahn commented on #670
Start debugging, go into Options > Debugging, press Load all symbols (it will be enabled now) and wait for it once. Then uncheck the Microsoft Symbol Server in the upper list to disable it.

[2018-07-20 23:34] JocelynBerrendonner commented on #562
Thank you for your suggestion! We opened an item in our bug system to capture your request. We will consider your request for future releases. At this point of time, we unfortunately can’t tell if and when these trace format symbols will be available.

Best regards,
Jocelyn Berrendonner [MSFT]

[2018-07-21 03:54] heruix opened #676 "load dbgeng.dll error"
SymSetDiaSession Can not find in dbgeng.dll ，so can‘t open windbg preview！

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c1e093f9-7df0-17ab-71ae-8af9003ee041
* Version Independent ID: 55ed6fd3-a7a6-f7d5-2a8e-fbf6cc6e2c7b
* Content: [Debugging Using WinDbg Preview](https://docs.microsoft.com/zh-cn/windows-hardware/drivers/debugger/debugging-using-windbg-preview)
* C

[2018-07-21 04:04] heruix commented on #676
<img width="220" alt="error windbg" src="https://user-images.githubusercontent.com/5779319/43031918-29c39618-8cde-11e8-94ee-6a492c4c8c8e.png">

[2018-07-21 07:53] heruix commented on #676
<img width="280" alt="load dbgeng" src="https://user-images.githubusercontent.com/5779319/43033515-1c17d360-8cfe-11e8-9b40-e6e712a33aa6.png">

[2018-07-21 17:51] veudhaya opened #677 "Documents"
Docs here are really helpful to understand a lot, Good Material. but i feel inconvenient on how it was organised .. it redirect to several child links, it can be improved better and give user feels like reading a book with context and followed by the guides in continued fashion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-21 23:53] KulaGGin opened #678 "Your Hello World driver (KMDF) driver doens't work without Windows SDK and Inf2Cat set to /uselocaltime"
When I followed your [Getting started with Windows drivers guide](https://docs.microsoft.com/en-us/windows-hardware/drivers/gettingstarted/writing-a-very-small-kmdf--driver), after installing Windows WDK, it didn't build and I got 2000 errors. First of which was `Cannot open include file: 'ntddk.h'`, which was magically fixed by installing Windows SDK, as explained [here](https://stackoverflow.com

[2018-07-23 00:08] Euno5 opened #680 "Display Driver Error"
I'm trying to fix this, and the Tech Source store as the same bug since 3 years ago +

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 951d2b44-7ab6-4d7e-fe01-eb71a7136905
* Version Independent ID: f0d1f424-7740-1890-2603-150fe08a1b60
* Content: [Limiting Repetitive GPU Hangs and Recoveries](https://docs.microsoft.com/en

[2018-07-23 05:08] psanyi opened #681 "Sharks Cove Developer's Guide"
The Sharks Cove board is a really nice board for learning device driver development.
From where we can get the Developer's Guide for this board? The http://sharkscove.org address points to something else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50af20ac-0cfc-91d2-c85a-9a8d2d3465d9
* Version Independent ID: aff22

[2018-07-23 12:09] HollisTech opened #682 ""build environment window""
This is a stale reference to the legacy WDk build environment and should be replaced with "developers command prompt" - the visual studio command line environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c749cf2a-785e-652b-d6ba-bc98476c00d9
* Version Independent ID: f03dcf80-4148-7fd6-3ee7-6064d6dc94ac
* Content

[2018-07-23 17:04] mimisasouvanh commented on #605
This has been fixed. Thank you for bringing this up!

[2018-07-23 17:04] #605 closed

[2018-07-23 17:13] drmandarin commented on #605
No problem and thanks for fixing.

Please check the correction of this equation:
(9*(b+c)âˆ’(a+d)+8)>>4

I have raised it because, since e.g. Mâˆ’1 was corrected to M-1, I would
expect that the fragment " âˆ’ " should be corrected to " - ".
Hence I would have expected that
(9*(b+c)âˆ’(a+d)+8)>>4

would be corrected to
(9*(b+c)-(a+d)+8)>>4

but this is not the case. Please review. Perhaps it was a

[2018-07-23 20:56] hsebs opened #684 "Links Error"
All linked pages is removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4861605c-fe5b-f9fd-8809-3d9ecdb00b08
* Version Independent ID: 62acd7c4-6fe1-e55f-3442-89661c5bbbbf
* Content: [Introduction to Storage Class Drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/storage/introduction-to-storage-cla

[2018-07-23 21:38] tedhudek opened #686 "test issue"
test

[2018-07-23 23:42] #686 closed

[2018-07-23 23:46] tedhudek opened #687 "This is a test."
Test issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74eee0e9-0e41-3611-c43d-b622b3294f4f
* Version Independent ID: 1299179c-11b3-be4d-f77e-791abbda446d
* Content: [User-Mode Driver Framework Frequently Asked Questions](https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/user-mode-driver-framework-freque

[2018-07-24 04:07] pisicutza opened #689 "devcon enable usb serial"
After applying devcon status on *USB I got for a specific USB the message: USB\VID_0403&PID_6010&MI_00\8&93B459D&0&0000  new line Name: USB Serial Converter A  new line  Device is disabled      How to write exactly the command for devcon enable? I tried in many ways but it doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-07-24 04:39] skycommand opened #690 "It's a navigation trap!"
This page (titled "User-Mode Dump Files") has 10 subpages, each containing only one or two paragraphs. Because of their small sizes, the TOC feature of this site is not used at all. It would be much better if all of it was merged in this page.

You can see the result of my proposal here: [patch-2: user-mode-dump-files.md](https://github.com/skycommand/windows-driver-docs/blob/patch-2/windows-drive

[2018-07-24 14:19] lawabider opened #693 "process -1"
-1 for the process (as in !process -1 0) is mentioned but I don't think it says that this gets the current process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a818b121-53b3-c6a6-853a-2d9640912cc6
* Version Independent ID: 94c9600f-97aa-7a38-1423-ba76a9a32c42
* Content: [process](https://docs.microsoft.com/en-us/win

[2018-07-24 19:37] DOMARS commented on #690
I could certainly see at least combining the last two topic sets together and moving the varieties of dump files to the main topic.

So we would end up with three topics in total:
- Overview/Varieties
- Creating
- Analyzing

We also will need to search for the removed topic names in the debugger project and update those links.
I use the VSCode search in files feature to do this.
This is worth doin

[2018-07-24 21:04] druske opened #694 "Typo"
First sentence should give the path as %WindowsSdkDir% , not %WindowSdkDir% (note the trailing "s" on "Windows").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0514abad-23d7-8062-8745-283986118fb7
* Version Independent ID: 9135b600-0c52-19fc-03c7-6539ee54d51c
* Content: [ChkINF Command Syntax](https://docs.microsoft.c

[2018-07-25 01:44] barrygolden commented on #347
@dvescovi1, thanks for reaching out to the Windows driver developer documentation team and filing an issue on the docs regarding UEFI on IoT vs. traditional Windows platforms. We've filed an internal work item (18382061) to add more information about this in a future documentation update.

If you have specific scenarios that you'd like discuss with the IoT or driver developer community, we recomme

[2018-07-25 01:44] #347 closed

[2018-07-25 01:57] barrygolden commented on #396
@Marc-Albrecht, thanks for reaching out to the Windows driver developer documentation team and filing an issue regarding legacy Windows OS versions regarding WIA and STI . We've filed an internal work item (18381906) to add more information about the current state of STI/TWAIN and WIA DDIs in a future documentation update.

If you have specific WIA or STI/TWAIN scenarios that you have concerns wit

[2018-07-25 01:57] #396 closed

[2018-07-25 02:56] lixiaogangkkk commented on #631
Hi Nabil,
     Our QA team just run normal installation/uninstallation as they do for device driver. That's why I post my question here. But I have got answer from MSFT partner dashboard.

Thanks,
Steven

[2018-07-25 05:20] skycommand commented on #690
@DOMARS Well, as long as you think it is a good idea... 😊

I already know the removed topic names.

1. [varieties-of-user-mode-dump-files.md](https://github.com/MicrosoftDocs/windows-driver-docs/blob/staging/windows-driver-docs-pr/debugger/varieties-of-user-mode-dump-files.md)
   1. [full-user-mode-dumps.md](https://github.com/MicrosoftDocs/windows-driver-docs/blob/staging/windows-driver-docs-pr/d

[2018-07-25 05:22] skycommand commented on #690
SERIOUSLY! The "Comment and Close" button shouldn't be so close to "Comment" button!

[2018-07-25 07:06] jecalderon opened #695 "Add sample coding"
Add a C++ sample code with applications of the UVC device

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b13c7cbe-1d48-bd93-74c3-ccdac6e5ca6a
* Version Independent ID: ce835058-cbd3-6850-6995-eb645a4659ef
* Content: [USB Video Class Driver Overview](https://docs.microsoft.com/en-us/windows-hardware/drivers/stream/usb-v

[2018-07-25 08:37] wangxfdu opened #696 "usb2dbg: Windows can't verify the publisher of this driver software (10.0.15063.0)"
Installed WDK for Windows 10, version 1703
OS: 10.0.16299 Build 16299
When trying to install usb2dbg.inf in C:\Program Files (x86)\Windows Kits\10\Debuggers\x64\usb, it prompts "Windows can't verify the publisher of this driver software.".
Driver version is 06/21/2006,10.0.15063.0.
Issue still exists with windbg driver auto install.
No issue with driver version 14393 copied from other WDK installa

[2018-07-25 09:58] rzenko commented on #676
any fix for this? i get the same errors

[2018-07-25 10:00] rzenko commented on #676
![error1](https://user-images.githubusercontent.com/37141225/43194274-577800ac-9045-11e8-8dc2-f1c048fafea1.png)
![error2](https://user-images.githubusercontent.com/37141225/43194282-59b1ee82-9045-11e8-9838-1223e8283722.png)

[2018-07-25 14:50] azyobuzin opened #697 ""Vhflkm.lib" should be "vhfkm.lib""
In "Header and library requirements" chapter, there is a sentence "2. Link to Vhflkm.lib, included in the WDK." It seems to be a typing mistake and it should be "vhfkm.lib".

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 88f27d9f-121d-b3f5-1671-73eb319f680e
* Version Independent ID: 0c61c804-1f2b-e62f-8d45-3322404905d3
* Content: [Write a HID source

[2018-07-25 21:24] rgough71 opened #700 "Updated information needed"
The link to the website hosting the ACPI specification is outdated- it should be https://www.uefi.org/specifications. Also, the latest revision available is 6.2a.
The pointer to the Microsoft ASL compiler also only seems to support ACPI 5.0. Perhaps there is another link to a newer ASL compiler?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-07-26 02:47] duncanmacmichael opened #702 "Test 2"
This is a second test from a different person on the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74eee0e9-0e41-3611-c43d-b622b3294f4f
* Version Independent ID: 1299179c-11b3-be4d-f77e-791abbda446d
* Content: [User-Mode Driver Framework Frequently Asked Questions](https://docs.microsoft.com/en-us/windows-h

[2018-07-26 10:38] abhijeet085 opened #703 "Exported Driver Support Routines"
Will PCI Controller Drivers are part of export drivers,like SCSI port drivers???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00526dc-0f04-4927-7e18-c07fd69ab9d5
* Version Independent ID: d87a7326-2a07-1eff-64c4-afcd8446c791
* Content: [User mode and kernel mode](https://docs.microsoft.com/en-us/windows-hardware/dri

[2018-07-26 12:30] vnvsrikanth commented on #456
When I download the PDF, the bookmarks (navigation pane) is not going to proper chapters in the document. Once you download the PDF, try going to "Introduction to the Windows Display Driver Model(WDDM)" chapter from bookmarks (navigation pane)

[2018-07-26 16:29] danegraphics opened #704 "Override EDID for ALL monitors"
Is it possible to have Windows use a single override EDID for all possible displays?

By that I mean, if I disconnect windows from one screen and connect it to another completely different monitor, can I have Windows apply the override EDID to that new monitor as well?

[2018-07-26 22:02] EliotSeattle commented on #697
Thanks, @azyobuzin
@PageWriter-MSFT added you for visibility only.

[2018-07-26 22:02] #697 closed

[2018-07-26 22:58] EliotSeattle commented on #694
Thanks, @druske
Fixed in source. Should be live within 24 hours.

[2018-07-26 22:58] #694 closed

[2018-07-26 23:08] NabilFates commented on #534
cai6jing,

A bug was filed on Microsoft to address this privately. Please refer to that bug for further communications on this issue.

Thanks,
Nabil

[2018-07-27 16:54] EliotSeattle commented on #696
Hi @wangxfdu
We're looking into this. One question. Did you already have any version of the WDK installed on this machine?
Thanks.

[2018-07-27 23:50] DOMARS commented on #676
I checked with the dev team and they are looking into this.

[2018-07-28 12:36] realtebo opened #707 "Canno delete the driver"
&gt;On the Confirm Device Removal dialog box, click the Delete the driver software for this device

What to do when this options is not present at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963a0877-81d6-57b1-2922-459c9077c76c
* Version Independent ID: 49998df1-e7fd-6ce7-eb49-aa9c37f13cd8
* Content: [Using Dev

[2018-07-30 11:14] emuzychenko opened #708 "Extraneous text in the article"
Extraneous text: "Before sending the request, the client loads the structure with values that indicate the preferred base address for the register".

The KSAUDIO_PRESENTATION_POSITION link points to KSRTAUDIO_HWREGISTER page.

There are several doc pages derived from RT hardware register pages and having the same errors. I think it is reasonable to perform keyword search in entire database to fix

[2018-07-30 17:37] tedhudek commented on #707
Hi @realtebo, is this a Windows-provided inbox driver, or your own?

[2018-07-30 21:28] DOMARS commented on #538
@emuzychenko - I have heard back from the dev team and I'm working on updates to the doc.

[2018-07-31 05:18] sicklittlemonkey opened #710 "Building a Basic v4 Printer Driver: build & install problems"
Major issue 1:
"follow the prompts in the Configure Devices wizard to set up a remote target computer"
Need more detail and or a link to other content here.
If you follow your nose it tries to setup a remote computer. (But you need to install stuff from the SDK on there.)
But that's for a kernel mode driver, right? Can we can debug a user mode print driver on the local machine?
I haven't got this

[2018-07-31 07:35] realtebo commented on #707
I am facing again an issue with a smartphone that cannot be seen from windows.

It tells me that the device not send the descriptor.

It worked in the past. I do not know what happened, but regularly windows 10 loose something about Android smartphones.

I reinstalled Android official Adb driver without any success.

That the situation. In this case, I suppose, we have no driver associated with th

[2018-07-31 12:25] cyren-oschneider commented on #645
Hello @tedhudek that helps, thanks. I was out of office, so that's why I respond so late.

One question though: so if/when I encounter an error code from `Tbsi_Revoke_Attestation()` I just ignore it? At the early stage ELAM is running, I hardly have any other alternatives, right?

Thanks,

Oliver

[2018-07-31 12:42] cyren-oschneider commented on #643
Thanks, that clarifies it a bit, @tedhudek !

[2018-07-31 12:43] kouzhudong opened #711 "FwpStreamInjectAsync0"
FwpStreamInjectAsync0 是不是少写个s, 应该是：FwpsStreamInjectAsync0。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: be60f1ba-c556-06ba-e5f7-b7993f988ee5
* Version Independent ID: 45593f0c-153a-1a2b-4fb7-112139aa3ca5
* Content: [Stream Inspection](https://docs.microsoft.com/zh-cn/windows-hardware/drivers/network/stream-inspection)
* Content Source: [windows-driver-docs-pr/netw

[2018-07-31 13:01] cyren-oschneider commented on #670
@deakjahn but is there a way to achieve that _without_ having to start debugging?

And in particular is it possible to achieve some functional equivalent of what we previously got by downloading the symbol packages? I.e. get symbols for all the system components on the local system?!

[This article](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/using-a-manifest-file-with-symch

[2018-07-31 15:18] deakjahn commented on #670
I don't think you have any other way but this SymChk.

[2018-07-31 16:45] Torkell commented on #670
@deakjahn: I tried your suggestion - unfortunately that downloads the symbols only for those libraries that are currently loaded. If while debugging I then do something that causes other libraries to be loaded (a good example is causing the Open File dialog to appear) then I have to wait while the symbols are downloaded for the additional libraries (or if I've disabled the symbol server then I don

[2018-07-31 18:37] duncanmacmichael commented on #711
Hi @kouzhudong , I think what you're saying is that there is a typo on the doc. I'll go ahead and fix that, so thanks for pointing it out. Please let us know if you have any other questions.

[2018-07-31 18:37] #711 closed

[2018-07-31 20:12] cruzex100 opened #712 "Missing Winqual.exe"
The Partner cannot download the Winqual.exe file. They need this file to upload the cert to Hardware Devcenter.

Step 2: Sign and upload your Winqual.exe file
From the Hardware Dev Center dashboard, sign in as an administrator with your Microsoft account.
Download the Winqual.exe file from the Hardware Dev Center dashboard, and sign it with the new digital certificate for your company using the Si

[2018-07-31 20:32] EliotSeattle commented on #712
Thanks, @cruzex100 for pointing this out. I'm reaching out to the tool owner to determine how to get the tool now that Sysdev is deprecated. BTW, did you try the steps in the first section of [Winqual submission tool](https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/winqual-submission-tool--winqualexe-)?
Thanks

[2018-07-31 20:33] EliotSeattle commented on #712
Also, this Issue was filed as an overall issue. Can you please give me the URL of the page that has the steps that failed? Thank you.

[2018-07-31 21:04] cruzex100 commented on #712
Here is the link:
https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/update-a-code-signing-certificate

The Winqual Submission tool is not needed for this...

[2018-07-31 22:18] duncanmacmichael commented on #563
Hi @adc68 , we've gotten an answer back from the WDK feature team who confirmed that provisioning a VM *through the WDK* is not supported. This echoes what @jeh-cmkrnl mentioned. I'll update the doc for this change. Thanks again for your question and your patience.

[2018-07-31 22:18] #563 closed

[2018-07-31 23:51] DOMARS commented on #670
I'm checking with the dev team to see if we can provide a recommended work flow.
One tool to be aware of is the Get-WindowsUpdateLog power shell command.
https://docs.microsoft.com/en-us/powershell/module/windowsupdate/get-windowsupdatelog?view=win10-ps

[2018-08-01 01:08] DOMARS commented on #708
I searched and found one last incorrect structure description in the audio docs that is now corrected.

There is one KSPROP where the base register is actually set, so that reference to the base address for the register, remains.

Changes should be live in a day or so.

[2018-08-01 01:08] #708 closed

[2018-08-01 02:09] adc68 opened #713 "Please be specific about requirements for each OS"
For example, server 2012 and 2012 R2 are not mentioned, however it says "Windows Server does not load attestation signed drivers".  It's ambiguous whether this applies to Server 2016 only due to the preceding sentence.

What would be very useful is a table of each OS from Windows 7 onwards and Server from 2008 onwards with the requirements for each.  What would be even more useful is if Server WOU

[2018-08-01 05:39] aish2103 opened #714 "Can I send a control transfer message from a usb uwp app on windows desktop to an android device?"

[2018-08-01 07:35] cyren-oschneider commented on #670
@DOMARS could you please elaborate regarding `Get-WindowsUpdateLog`?

The symbol server argument (`-SymbolServer`) for this cmdlet only allows to make sense of the ETL file.

But I don't think @Torkell was after debugging the Windows update process. Rather, as I understood the question, Windows updates regularly **replace system components which** subsequently leads to the previously downloaded sy

[2018-08-01 10:43] beemavishnu opened #715 "Error in "STA/Wi-Fi Direct client disconnect""
After Sending Deauth/Disassociation Request, there should be Deauth/Diassociation Response rather than Auth/Association response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b925c61c-157d-3be1-3b29-3ed974d89977
* Version Independent ID: ffaf4cbc-21c0-0cbf-30b3-368a22c003dd
* Content: [WDI datapath operation sequence

[2018-08-01 15:22] LuigiBruno opened #716 "Missing entry for parameter 1 having value"
Parameter 1 can be 0x0000003f, but it is not listed in the table.
A DMP file I've analyzed having such a value for the BCP1 parameter reported the following additional information
ADDITIONAL_DEBUG_TEXT:  Memory Manager detected corruption of a pagefile page while performing an in-page operation.
The data read from storage does not match the original data written.
This indicates the data was corrup

[2018-08-01 17:00] EliotSeattle commented on #712
Thanks, @cruzex100
I fixed the link. It will be live shortly. In the meantime, you can use the [Updated link](https://prodingestionentity1.blob.core.windows.net/hardware/WinqualSubmissionTool.msi?sv=2017-07-29&sr=b&sig=GdjBd2BQOJp4MDVtB5%2BsIJgfyYdV33S5%2FKlwil0IMkk%3D&st=2018-05-01T10%3A09%3A47Z&se=9999-12-31T18%3A29%3A59Z&sp=r).
Thanks,
Eliot

[2018-08-01 17:06] cruzex100 commented on #712
The Updated link is for the Winqual submission tool. The Winqual.exe and Winqual submission tool are not the same.. Please update the download link for Winqual.exe.

[2018-08-01 17:10] EliotSeattle commented on #712
Ugh. Sorry. Working on it.

[2018-08-01 17:13] cruzex100 commented on #712
No Problem.. Thanks @EliotSeattle

[2018-08-01 17:32] EliotSeattle commented on #714
@GrantMeStrength
Do you have someone with the expertise to answer this? From the driver side it's a no-op, but not sure about the app side.
Thanks.

[2018-08-01 17:48] duncanmacmichael commented on #715
Hi @beemavishnu , thanks for pointing that out. I'll double check with the feature team and update the diagram accordingly.

[2018-08-02 05:40] wangmir opened #719 "Can I know the reason of this note?"
Hi, I'm trying to develop ARM64 network device driver for WoA, and I have a question about this note. Can you specifically mention why ARM64 processors cannot use NDIS SG DMA? I think I have a problem with memory management at the device driver, so if I notice about this issue, it can be very helpful.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-08-02 06:25] rzenko commented on #676
Ahh you are right. I feel like a noob!
Renamed C:\Windows\System32\dbghelp.dll to C:\Windows\System32\_dbghelp.dll and now everything is fine

[2018-08-02 14:55] DaveRobSwEng opened #720 "Set up a trace session: Video is out of date"
The video uses an older version of MMA so the UI elements arranged differently and take some effort to find

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b034fd72-470b-76e3-e080-46cb688242db
* Version Independent ID: 3fde5448-65db-8332-2194-c3b301d0d4d5
* Content: [Capture and view USB traces with Microsoft Message An

[2018-08-02 16:19] EliotSeattle commented on #720
Thanks, @DaveRobSwEng
@PageWriter-MSFT can you scope whether we can update the video or create a workaround? Thanks.

[2018-08-02 16:53] wind-rider opened #721 "Link to WDK insider preview is broken"
This page links to https://www.microsoft.com/software-download/windowsinsiderpreviewWDK but that returns a 404 page not found.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 5930505f-6810-b2a2-86b5-3c678aae7f89
* Version Independent ID: 28315cf8-f06f-23ad-2088-9d51d08efe0d
* Content: [Download the Windo

[2018-08-02 17:30] EliotSeattle commented on #721
Hi @wind-rider
Are you talking about the link in this sentence?
Join the Windows Insider Program to get [WDK Insider Preview builds](https://www.microsoft.com/software-download/windowsinsiderpreviewWDK).
That works for me.

[2018-08-02 17:34] DOMARS commented on #690
@skycommand - I ended up with two topics, but greatly consolidated the content, which I think does make it much easier to consume. I ended up adding some in topic orientation links and doing some other work to have this flow together. I searched for all of the removed topics and updated those links in the other topics. I'm in the process of running a link checker on all of the content and will wor

[2018-08-02 17:34] #690 closed

[2018-08-02 17:41] skycommand commented on #690
@DOMARS And I ended up resetting my Windows 10 machine twice and eventually nuking and reinstalling it, failing to debug my problem on my own.

The problem is that the contents under "Analyzing a User-Mode Dump File with WinDbg" and "Analyzing a User-Mode Dump File with CDB" are 99% duplicate sentences. And they don't teach how to analyze. They just tell the reader everything he or she needs to st

[2018-08-02 18:12] wind-rider commented on #721
For me it redirects to https://www.microsoft.com/nl-nl/software-download/windowsinsiderpreviewWDK which gives the 404.

If i manually change the url to  https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewWDK, it works indeed.

It seems that the automatic internationalization does not work here

[2018-08-02 18:28] DOMARS commented on #667
Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.

You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite responsive.

[2018-08-02 18:28] #667 closed

[2018-08-02 18:36] EliotSeattle commented on #721
That's interesting. Have to look into why it's inserting the Netherlands locale in the URL or why that breaks it. Thanks!

[2018-08-02 19:08] duncanmacmichael commented on #719
Hi @wangmir , thanks for the question. Unfortunately, we can't provide the exact reason for discouraging NDIS DMA on ARM/ARM64 processors. This was a request from the NDIS team to steer driver writers in the direction of WDF DMA or WDM DMA for ARM, so that's what we recommend.

If you're having memory management issues in your driver, I'd first advise following the provided links to see if WDF DMA

[2018-08-02 19:08] #719 closed

[2018-08-02 20:31] hansmbakker opened #722 "Can Insider Preview WDK's be installed side-by-side with released WDKs?"
Could you please document whether it is ok to install an Insider Preview WDK side-by-side with e.g. the 17134 build WDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d06a09-bca8-3177-00fd-2195f56c4fb9
* Version Independent ID: 5328b553-ad08-4808-0b14-9720484040ce
* Content: [Installing preview versions of the Windo

[2018-08-02 20:43] cyren-oschneider opened #723 "Request for clarification regarding mounting/loading of ELAM hive"
At the time of writing the article states (emphasis mine):

What's the best practice here? Generate a GUID, convert that to a string and then use that as key into which to mount the hive (via `NtLoadKey` or `RegLoadKey`)?

I am thinking about the chance for clashes between software agents loading the ELAM hive and trying to populate it. So should we stick with the `HKLM\ELAM` (`\Registry\Machine\E

[2018-08-03 00:23] JoelCorley opened #725 "KSCAMERA_EXTENDEDPROP_OPTIMIZATIONHINT DDI does not document Windows 10 options."
In Windows 10 this DDI was extended to define 3 new bits:
KSCAMERA_EXTENDEDPROP_OPTIMIZATION_QUALITY
KSCAMERA_EXTENDEDPROP_OPTIMIZATION_LATENCY
KSCAMERA_EXTENDEDPROP_OPTIMIZATION_POWER

Valid combinations include 0, 1 or 2 of these flags along with either the PHOTO or VIDEO definition.  The flags ask that the driver try to optimize for one or two of these factors at the expense of the others.

---

[2018-08-03 05:12] vipinsinghai44 opened #726 "What are the legal agreement to be signed for Attested IHV signing service."
What are the legal agreement to be signed for Attested IHV signing service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed287852-04b7-1569-fd51-2640cfa24f57
* Version Independent ID: a8ce732f-5b41-f1ce-e37d-a7c2794546a4
* Content: [Attestation signing a kernel driver for public release](https://docs.microsoft.com/en

[2018-08-03 05:58] #726 closed

[2018-08-03 17:29] EliotSeattle commented on #722
Thanks, @wind-rider
You should be fine installing side by side. Before I add that statement to the download page, I am checking with the kit team to make sure there aren't any edge cases that would interfere with development. I have several versions installed and see no issues, but I'm not creating production-level drivers.

[2018-08-03 17:40] EliotSeattle commented on #725
Thanks, @JoelCorley
@barrygolden I believe that this bug's for you!

[2018-08-03 22:07] EliotSeattle commented on #721
Hardcoded the en-us locale into the link. That should take care of the 404 for all locales. Thanks, @wind-rider

[2018-08-03 22:07] #721 closed

[2018-08-03 22:56] cruzex100 commented on #712
@EliotSeattle , Any updates on the download link?

[2018-08-03 23:52] LuigiBruno opened #728 "Exception codes list"
A list of well-know exception codes (like the ones for the 0x0000001E bug check) should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b19eb27e-40b0-c765-d826-8b9962e4c1e6
* Version Independent ID: f9231818-2d1d-be08-7ce2-92b97edd5613
* Content: [Bug Check 0x3B SYSTEM_SERVICE_EXCEPTION](https://docs.microsoft

[2018-08-04 07:11] wind-rider commented on #721
Thank you!

[2018-08-04 19:17] kITerE opened #729 "setting-up-a-network-debugging-connection: links to supported-ethernet-nics-for-network-kernel-debugging-in-windows<...>"
Not applied formatting to links:

[code]

Problem only for docs.microsoft.com (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/setting-up-a-network-debugging-connection#span-idsettingupthetargetcomputerspanspan-idsettingupthetargetcomputerspanspan-idsettingupthetargetcomputerspansetting-up-the-target-computer), github.com displays links correctly(https://github.com/MicrosoftDocs

[2018-08-04 20:04] EliotSeattle commented on #729
Thanks for pointing this out, @kITerE
@DOMARS I think I made the correct fixes in the eliotdriver VSTS branch. Please review and if they look good, merge to master.

[2018-08-06 11:44] cyren-oschneider commented on #723
Hi,

just as an update. For now I decided to play it safe and load the key onto a subkey of `HKLM` that has a unique name (UUID I generated). I am not generating a new UUID every run of my code, but not using the name `ELAM` should already avoid the issues I am suspecting may occur.

Best regards,

Oliver

[2018-08-06 14:48] cyren-oschneider commented on #630
Still waiting for our IT, but I _will_ contact your team as soon as things are sorted out.

[2018-08-06 19:36] EliotSeattle commented on #712
According to the team, "we don’t have separate winqal.exe, it is the Winqual Submission tool link that we provided in HDC."

[2018-08-06 19:36] #712 closed

[2018-08-06 19:38] DOMARS commented on #693
@lawabider - Thanks for this suggestion, I added wording to indicate that -1 displays the current process.

[2018-08-06 19:38] #693 closed

[2018-08-06 21:14] duncanmacmichael commented on #673
OK, I have an answer about the device manager question. Starting in Windows 8 and later, callout drivers are not visible in Device Manger by design because the PnP manager doesn't create a device representation for them any more. I've updated the doc to reflect this information. If a callout does show in in Device Manger, it is likely because of an error in the INF file.

As for your questions abo

[2018-08-06 21:14] #673 closed

[2018-08-06 21:31] DOMARS commented on #352
@jithinjosepkl - Additional information in registry keys for user mode dump are described here.
https://docs.microsoft.com/en-us/windows/desktop/wer/collecting-user-mode-dumps

We can follow up out of band to see if the dev team would like to document the reg keys for Kernel Mode.

[2018-08-06 21:31] #352 closed

[2018-08-06 21:53] DOMARS commented on #381
@endolith - Following up with dev team to see if I can get any information on this request. They have been heads down coding.

[2018-08-06 21:54] DOMARS commented on #382
@endolith - Following up with dev team to see if I can get any information on this request. They have been heads down coding.

[2018-08-06 22:17] DOMARS commented on #382
@lixiaogangkkk  - There is some general information on Wave RT latency in this topic.
https://docs.microsoft.com/en-us/windows-hardware/drivers/audio/stream-latency-during-playback

On you other questions, unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in th

[2018-08-06 22:34] DOMARS commented on #670
@Torkell - I worked with the dev team to layout a few options for managing symbols in an offline system when working with Windows update ETL logs.

[Offline Symbols for Windows Update](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/symbols-windows-update)

One important note covered in the docs is that the on and offline systems, must be running the same version of Windows - us

[2018-08-06 22:34] #670 closed

[2018-08-06 22:42] DOMARS commented on #621
@MikhailCompo - The dev team has received this information and is looking at options such as to removing the need for symbols with the [Get-WindowsUpdateLog](https://docs.microsoft.com/en-us/powershell/module/windowsupdate/get-windowsupdatelog?view=win10-ps) command.

In the meantime, I worked with the dev team to layout a few current options for managing symbols in an offline system when working

[2018-08-06 22:42] #621 closed

[2018-08-06 22:44] DOMARS commented on #383
@endolith - Following up with dev team to see if I can get any information on this request. They have been heads down coding.

[2018-08-06 22:49] DOMARS commented on #729
Assigning back to Eliot, as this fixes he has proposed look good.

[2018-08-06 23:12] Torkell commented on #670
@DOMARS the article you linked implies that it will only download symbols required for debugging Windows Update itself, which is not the use case I've got (sorry if I gave you that impression).

My use case is debugging software that I'm developing in C# and C++ using Visual Studio 2017. Having the relevant Windows symbols available aids debugging as then I get accurate stack traces to work with.

[2018-08-07 10:02] wangmir opened #731 "Can WoA support serial device?"
Currently I'm trying to build and install virtio device driver for WoA on QEMU, and I successfully installed virtio-blk and virtio-scsi drivers released by RHAT (https://github.com/virtio-win/kvm-guest-drivers-windows), but I failed to install virtio-net (NetKVM) driver because of NDIS issue (https://github.com/MicrosoftDocs/windows-driver-docs/issues/719).

So, I tried to set debugging environmen

[2018-08-07 11:43] MarcoPeretti opened #732 "HTML tags present"
The doc for ExAllocatePoolWithTag() shows HTML tags (3rd parameter).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c180ac23-5c48-8539-fecb-d344ff345315
* Version Independent ID: a3e9ca80-4809-2af5-6bc6-3511eebef351
* Content: [C30033](https://docs.microsoft.com/en-gb/windows-hardware/drivers/devtest/30033-executable-a

[2018-08-07 14:46] tusharchandwani opened #733 "Supportability"
Great documentation on the usage of the included tools. But a supportability statement of the tools themselves (troubleshooting while using them) would be good, somewhat akin to the statement provided with all Sysinternals tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162fe2fe-9216-f4c5-9f91-3df8776bb99e
* Vers

[2018-08-07 17:00] EliotSeattle commented on #733
Thanks for the kind words and the suggestion, @tusharchandwani
@DOMARS I know you're slammed with pre-release content, but can you please triage the request from @tusharchandwani for a supportability statement in a future milestone? Thanks!

[2018-08-07 17:06] EliotSeattle commented on #732
Oopsies. Looks like our migration script from XML to markdown was less than perfect. But this instance is fixed now. Thanks @MarcoPeretti for the catch. I'll create a task to search for more of these bad boys.

[2018-08-07 17:06] #732 closed

[2018-08-07 18:18] aluhrs13 commented on #670
There are two was you can improve your experience a bit here. @deakjahn's suggestion of SymChk is our recommended approach. You can do something like `symchk /r C:\Windows\System32\ /s srv*D:\sym*http://msdl.microsoft.com/download/symbols` to start to cache symbols locally which should get the important Windows DLLS.

If the situation is you and your colleagues, I'd highly recommend setting up a [

[2018-08-07 21:11] aluhrs13 commented on #733
Can you share an example about what you'd expect? I'm not seeing what you're referring to on any SysInternals pages.

[2018-08-08 00:50] tusharchandwani commented on #733
https://docs.microsoft.com/en-us/sysinternals/license-faq

Q: Is there technical support available for the Sysinternals tools?
A: No. All Sysinternals tools are offered 'as is' with no official Microsoft support.

https://docs.microsoft.com/en-us/sysinternals/license-terms#support-services

[2018-08-08 08:35] haoyun-chaom opened #734 "Question about deferred module and windbg"
I open one dump file with windbg to analyze crash reason. The example.dll I want to check was loaded by the crash process, but all the threads in the crash process did not contain the example.dll and  the symbols of the example.dll was marked as "deferred" when I use "lm" command in windbg. In this case, whether could I confirm that the crash was not caused by the example.dll ?

---
#### Document

[2018-08-08 13:51] hessaa22 opened #735 "2hkp2eq4pt4l79tncje1a3bs4o"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a510f8d0-5c2d-71c5-83ef-2f9d9fd1ffc6
* Version Independent ID: f021e82d-a3f0-3472-0a49-c3a58df63702
* Content: [Device ID](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/device-ids)
* Content Source: [windows-driver-docs-pr/install/

[2018-08-08 13:54] hessaa22 opened #736 "2hkp2eq4pt4l79tncje1a3bs4o"
[2hkp2eq4pt4l79tncje1a3bs4o]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f9fe2d7-deda-945c-8bcd-6b0500b2a950
* Version Independent ID: d082db35-7b66-c089-91eb-60131724b377
* Content: [I/O Stack Locations](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/i-o-stack-locations)
* Content Source: [window

[2018-08-08 14:57] nwebers721 opened #737 "Need clarity on what needs to be run to satisfy coverage of Windows Vista through Windows 10"
Under "Signing a driver for all client versions of Windows", step 1 mentions "Run the HLK tests (Windows 10), or the HCK tests (Windows 8.1 and earlier versions)."

Based on the wording, it is unclear in the step if just using HLK alone will satisfy being able to support everything from Windows Vista through Windows 10, or if you also need to run HCK in addition to HLK.

---
#### Document Details

[2018-08-08 15:35] EliotSeattle commented on #737
@tedhudek can you look at the passage and see how this can be clarified?

[2018-08-08 15:36] #736 closed

[2018-08-08 15:36] nwebers721 commented on #737
In other words, do you actually need to run HLK _and_ HCK to get support for Windows Vista through Windows 10?

[2018-08-08 15:37] #735 closed

[2018-08-08 15:39] EliotSeattle commented on #737
Hi @nwebers721
I understand the request. I'm not sure what the correct answer is. @tedhudek is the author of the topic and either knows or knows who to ask. We'll get you an answer. Thanks!

[2018-08-08 15:59] EliotSeattle commented on #734
Thanks, @haoyun-chaom
I am assigning this issue to @DOMARS our debug expert. @DOMARS can you identify if this is a content issue where we need to clarify or if this is about the code @haoyun-chaom is creating. Then remove either the doc-bug or support-request label with your response. Thanks so much!

[2018-08-08 19:10] jordanrh1 opened #739 "Explain what 'Args' is"
Explain how to interpret the 'Args' output

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6e5e090-b683-7af9-403a-7a4ea993c2b3
* Version Independent ID: 06f64a3c-e9a1-9fdd-3427-317f3b2db213
* Content: [irp extension command](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-irp#span-idddkirpdbgspanspa

[2018-08-08 19:23] RobertBernstein-MSFT opened #740 "Add a link to the Windows SDK"
Please add a link to the Microsoft Windows SDK or to https://msdn.microsoft.com/library/windows/desktop/ms679297, for example, in the sentence starting with "For complete documentation of this routine", above.  The user shouldn't have to manually search for this content.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-08-08 20:00] DOMARS commented on #538
@emuzychenko - There was additional discussion across a couple of dev teams, and we have settled on updated text which is now live. Additional links were also added that further discuss the general situation. Thanks again for passing on your observations, and your interest in improving these pages.

[2018-08-09 01:25] lextm opened #741 "Missing command to reset gflags"
gflags /i ImageName -ust should be documented as well to reset the environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8240b7f3-d4f1-4f59-a02e-3a22cb713b13
* Version Independent ID: 9b005c38-3997-72a9-9437-38a9b27640c9
* Content: [Using UMDH to Find a User-Mode Memory Leak](https://docs.microsoft.com/en-us/wind

[2018-08-09 16:28] EliotSeattle commented on #741
Thanks for catching this, @lextm
@DOMARS can you please triage when you can look into this?

[2018-08-09 17:18] LarryK348 opened #742 "Documentation wrong for Visual Studio 2017"
Step 1 (at least) is incorrect and should be fixed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d8f973-bcf8-5af8-5a4f-f8fd9e62b411
* Version Independent ID: 258da38c-1e73-572f-a20d-a9354e3d9327
* Content: [How to write your first USB client driver (UMDF)](https://docs.microsoft.com/en-us/windows-hardware/drivers/u

[2018-08-09 17:38] EliotSeattle commented on #742
Thanks, @LarryK348 for spotting this. With >40,000 topics, we miss updating a couple here and there.
@PageWriter-MSFT can you scope out the work to get the steps correct for VS 2017? Maybe one of the other team members can help you out on this one. Thanks!

[2018-08-09 19:56] druske opened #743 "Guidance to use DIFx appears to contradict deprecation"
According to [this page](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/difx-guidelines), "Starting in Windows 10 Version 1607 (Redstone 1), the Driver Install Frameworks (DIFx) tools are no longer included in the WDK. Instead, we recommend providing your driver as a standalone package that doesn't require an installer, ideally through Windows Update."

This page says, "An insta

[2018-08-09 21:26] EliotSeattle commented on #538
@DOMARS

[2018-08-10 01:06] tedhudek commented on #702
Test

[2018-08-10 01:07] tedhudek commented on #702
Test

[2018-08-10 01:14] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 02:06] csujedihy opened #745 "A typo"
The process object is ~~now~~ no longer available, as the echoapp.exe process is no longer running.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5abd01e-3c7e-11a8-a6c6-62bfba0ef8b6
* Version Independent ID: dceb81b3-b20f-91d1-85d0-fa68c762482b
* Content: [Debug Universal Drivers - Step-by-Step Lab (Echo Kernel Mode)

[2018-08-10 08:30] cyren-oschneider commented on #670
Ooh, that's a clever trick with `symchk /r` ... should have thought of that myself.

In fact at our company I've set up a symbol cache simply as Samba share. Since everyone was pulling via that cache (thanks to `_NT_SYMBOL_PATH`) it was acting almost like a proxy. But I think I can see the advantage of setting up a proper proxy. My biggest issue with _that_ is: IIS.

I had to work with IIS over a

[2018-08-10 17:00] EliotSeattle commented on #745
Just that one tiny letter? Got it!!
Thanks for the Issue, @csujedihy
@DOMARS just FYI.

[2018-08-10 17:00] #745 closed

[2018-08-10 17:10] DOMARS commented on #745
@EliotSeattle - Thanks!

[2018-08-10 19:50] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 20:02] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 20:10] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 20:12] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 20:20] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 20:29] tedhudek commented on #702
Hi @duncanmacmichael, thanks for opening this issue. @tedhudek, can you take a look?

[2018-08-10 20:32] #702 closed

[2018-08-10 23:10] duncanmacmichael opened #748 "Test issue for networking"
Test Testerson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15203e26-89c8-6899-1d87-489e250272b1
* Version Independent ID: 041fb44e-5a94-7a65-f4fc-ad0ef29cfbde
* Content: [Network Driver Design Guide](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/index)
* Content Source: [windows-driver-docs-pr/ne

[2018-08-10 23:10] tedhudek commented on #748
Hi @duncanmacmichael, thanks for opening this issue. @duncanmacmichael, can you take a look?

[2018-08-10 23:10] #748 closed

[2018-08-10 23:12] duncanmacmichael opened #749 "One more test issue"
Testing in a third content area, please ignore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbad219-645b-4478-e284-8136cb65f210
* Version Independent ID: b8628dca-0242-92c3-5830-b0c965c89438
* Content: [Universal Serial Bus (USB)](https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/)
* Content Source: [

[2018-08-10 23:12] tedhudek commented on #749
Hi @duncanmacmichael, thanks for opening this issue. @PageWriter-MSFT, can you take a look?

[2018-08-10 23:13] #749 closed

[2018-08-11 23:31] LarryK348 opened #751 "Document is incorrect"
HidRegisterMinidriver cannot be called from UMDF driver.
The call requires use of PDRIVER_OBJECT which is not defined in UMDF headers, only KDMF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ed427e-a01a-368b-7422-2dea0aec50a3
* Version Independent ID: 1730981a-bdca-ba26-b8a1-301473678bb2
* Content: [Minidrivers and

[2018-08-11 23:31] tedhudek commented on #751
Hi @LarryK348, thanks for opening this issue. @PageWriter-MSFT, can you take a look?

[2018-08-12 00:08] EliotSeattle commented on #740
Thanks, @RobertBernstein-MSFT
@DOMARS can you please add some beautiful reference links?

[2018-08-12 00:34] EliotSeattle commented on #696
The team found no history of any issue like you describe. Since I haven't head anything, I am assuming that this is resolved for you. Feel free to reopen this issue if that's incorrect. Thanks!

[2018-08-12 00:34] #696 closed

[2018-08-13 04:39] ahura24 opened #753 "Some mistake"
Hi and tanx for your good post, but i think exist several mistake on this post for example at the first of them written "Call FwpsRedirectHandleCreate0 to obtain a handle that can be used to redirect TCP connections. This handle should be cached and used for all redirections. (This step is omitted for Windows 7 and earlier.)" but this function doesn't exist on windows 7 according by https://docs.m

[2018-08-13 14:29] ClaytonCurtis1947 opened #756 "Broken or obsolete link(s)"
As of 2018-08-13 the link to "BCD Boot Options Reference" under "Related topics" on the page "Overview of Boot Options in Windows" takes the user to "Programming reference for Windows Driver Kit (WDK)", where there does not appear to be useful information on boot options.  I went down this trail trying to understand the fields / parameters in a Windows 10 Boot Loader

URL for "Overview of boot opt

[2018-08-13 14:29] tedhudek commented on #756
Hi @ClaytonCurtis1947, thanks for opening this issue. @EliotSeattle, can you take a look?

[2018-08-13 14:37] hansmbakker commented on #722
(changed my GitHub handle) Thank you!

[2018-08-13 16:46] EliotSeattle commented on #756
Thanks, @ClaytonCurtis1947
I fixed the link. The MSDN file had a title of **BCDEdit** Options Reference and a filename of devtest.**bcd_boot**_options_reference. Looks like someone got them munged a little. Should be live in a little while.

[2018-08-13 16:46] #756 closed

[2018-08-13 16:52] EliotSeattle commented on #753
Hi @ahura24
Thanks for reaching out to us. You used the general issues mechanism to send this, so we don't know which particular topic you're talking about. Can you tell us the URL and what other issues you see in the content?
Thanks so much!

[2018-08-13 17:28] tedhudek commented on #743
Thanks for the feedback @druske I've removed the reference to Difx.  The update will be live momentarily

[2018-08-13 17:28] #743 closed

[2018-08-13 19:27] duncanmacmichael commented on #753
Hi @ahura24 , is this the page you are saying has issues? [Using Bind or Connect Redirection](https://docs.microsoft.com/windows-hardware/drivers/network/using-bind-or-connect-redirection).

If so, the first issue you're pointing out is explained in the topic. You're correct in that [FwpsRedirectHandleCreate0](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/fwpsk/nf-fwpsk-fwp

[2018-08-13 19:27] #753 closed

[2018-08-13 22:40] charliearcuri opened #757 ""Installing WDTF runtime library" - neither option works"
The "Installing WDTF runtime library" outlines 2 processes for installing WDTF:
1) by configuring a remote computer -or-
2) manually

The instructions for configuring a remote computer contain a menu path that I cannot find: "Configure a remote computer for testing and deployment (Driver &gt; Test &gt; Configure computers...). "  Where should I see the Driver menu?  In Visual Studio?  In some othe

[2018-08-13 23:37] charliearcuri commented on #757
Oops - the first option does indeed make sense when you have the Visual Studio UI open after installing the WDK.

[2018-08-14 13:55] ClaytonCurtis1947 commented on #756
Verified fix. Thanks so much!!

[2018-08-14 21:56] csujedihy opened #758 "Wrong kd command"
!ed nt!Kd_DEFAULT_MASK  0xFFFFFFFF
=&gt;
ed nt!Kd_DEFAULT_MASK  0xFFFFFFFF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5abd01e-3c7e-11a8-a6c6-62bfba0ef8b6
* Version Independent ID: dceb81b3-b20f-91d1-85d0-fa68c762482b
* Content: [Debug Universal Drivers - Step-by-Step Lab (Echo Kernel Mode)](https://docs.microsoft.

[2018-08-15 03:36] ccdriver opened #759 "In this zoom method, how to define Step = 0.1 for 1x ~4x zoom"
I just want to give real zoom define to outside, for app. that make sense, I don't want to use Step = 1, make min, max range (1~40). because if use (1, 40), that seems 1x ~ 40x.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a80a168-cd22-2c27-01ae-b92223de254f
* Version Independent ID: 579ac632-398c-52e1-b181-4ff1ce8c

[2018-08-15 12:24] kozera2137 opened #760 "WinDbg Preview plugins support"

[2018-08-15 12:35] #760 closed

[2018-08-15 17:04] EliotSeattle commented on #722
I have heard of no issues from the team. Best of luck!

[2018-08-15 17:04] #722 closed

[2018-08-15 21:01] duncanmacmichael opened #762 "Testing with bot account"
Please ignore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a80a168-cd22-2c27-01ae-b92223de254f
* Version Independent ID: 579ac632-398c-52e1-b181-4ff1ce8c4063
* Content: [KSPROPERTY\_CAMERACONTROL\_EXTENDED\_ZOOM](https://docs.microsoft.com/en-us/windows-hardware/drivers/stream/ksproperty-cameracontrol-extended-zoom)

[2018-08-15 21:40] #762 closed

[2018-08-15 21:52] duncanmacmichael opened #763 "One more test"
Sorry for all the tests :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1786c649-e59c-fb54-fb14-7da19f126efb
* Version Independent ID: 84e03e95-3726-4383-a5d4-d6817a33c2ab
* Content: [Windows Hardware Error Architecture (WHEA) design guide](https://docs.microsoft.com/en-us/windows-hardware/drivers/whea/)
* Content So

[2018-08-15 21:52] #763 closed

[2018-08-15 22:42] chazste opened #764 "Developer Content?"
This page is labeled as "Developer Content" but only has general debugging. When I was debugging this STOP code none of the guidance on this page helped as it was wininit.exe that was dying during initialization.

Also according to !analyze -v the second parameter is defined (0 for process died and 1 for thread died.

This page should most likely list the small number of processes that Windows mar

[2018-08-16 00:44] EliotSeattle commented on #764
Thanks for the feedback and suggestoins, @chazste
@DOMARS please take a look at this and determine how this fits into your current workload.

[2018-08-16 00:46] EliotSeattle commented on #757
Thanks @charliearcuri for the feedback. Turns out a couple of topics were lost in the migration we performed a couple of months ago. I am working on replicating the content and posting it.

[2018-08-16 00:57] druske opened #765 "DIFx Recommended, But Deprecated"
There is this recommendation on the page: _"We recommend that you only use the DIFx tools to create driver uninstallers. Applications that use the DIFx tools to uninstall drivers are designed to work correctly with future versions of Windows."_

This seems contradicted by the deprecation of DIFx [here](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/difx-guidelines), where we rea

[2018-08-16 08:49] cjd22 opened #766 "code omitted in CfgMgr32.h and SetupApi.h"
Hi,

When I use the code above on a UWP it does not recognize HDEVINFO and other declarations because it is omitted in setupapi.h and CfgMgr32.h. I think it is the #if WINAPI_FAMILY_PARTITION(WINAPI_PARTITION_DESKTOP) and #if WINAPI_FAMILY_PARTITION(WINAPI_PARTITION_DESKTOP | WINAPI_PARTITION_SYSTEM) lines respectively that are causing this.

Please advise

---
#### Document Details

⚠ *Do not edi

[2018-08-16 11:00] LuigiBruno opened #768 "Error in examining then TDR_RECOVERY_CONTEXT structure."
The dt dxgkrnl!_TDR_RECOVERY_CONTEXT (with parameter 1) does not work: the output is

*************************************************************************
***                                                                   ***
***                                                                   ***
***    Either you specified an unqualified symbol, or your debugger   ***
***    doesn't hav

[2018-08-16 11:27] xxhatemxx opened #769 "xxhatemxx@gmail.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade10500-7d5b-8b93-aac8-25d31f4392a9
* Version Independent ID: 45c79efc-f024-7f8a-55ce-35e9bfa54b6a
* Content: [WinDbg Preview - Start a user mode session](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/windbg-user-mode-preview#lau

[2018-08-16 13:14] beemavishnu opened #770 "Wrong comment"
Currently:
-------------------
PHY statistics for two ports operating on the same port can be combined

To be:
------------
PHY statistics for two ports operating on the same channel can be combined.

Need to replace 'port' to 'channel'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f925f1-9b7f-8dc2-567c-74b5725302a

[2018-08-16 13:44] beemavishnu opened #771 "Spell mistake"
In the statement "Because the IHV repro mode log is much larget than the normal IHV "

larget to be changed to larger.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ef3333b-5dd1-8fd7-7dff-82899964f777
* Version Independent ID: 31c9aed1-b1f1-18a9-d623-8ffa5579b486
* Content: [Logging scenarios](https://docs.microsoft.

[2018-08-16 16:54] duncanmacmichael commented on #770
Thanks for pointing this out, @beemavishnu. I've made the change and the update should be live later today.

[2018-08-16 16:54] #770 closed

[2018-08-16 16:58] duncanmacmichael commented on #771
Oops, that was a typo. Good catch, @beemavishnu. I've corrected it and the change should be live later today. Also, for little changes like this, feel free to submit a pull request if you'd like and we can merge it in for you.

[2018-08-16 16:58] #771 closed

[2018-08-16 17:14] EliotSeattle commented on #769
No issue mentioned.

[2018-08-16 17:14] #769 closed

[2018-08-16 17:25] EliotSeattle commented on #766
Thanks, @cjd22
@tedhudek can you please take a look here and see if this is, indeed, a doc issue?

[2018-08-16 20:00] DOMARS commented on #676
Closing as it looks like the issue has been identified and a work around exists.

[2018-08-16 20:00] #676 closed

[2018-08-16 20:42] DOMARS commented on #733
@aluhrs13 - Can you determine if there is information that would be appropriate to provide?

[2018-08-16 21:58] tedhudek commented on #737
Hi @nwebers721 I've updated https://docs.microsoft.com/windows-hardware/drivers/install/kernel-mode-code-signing-policy--windows-vista-and-later-#signing-a-driver-for-client-versions-of-windows.  Vista is no longer supported so I can't help you there.

[2018-08-16 21:58] #737 closed

[2018-08-16 22:15] DOMARS commented on #734
Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forum, where other driver developers and Microsoft engineers can be found. The community there is quite responsive.
•

[2018-08-16 22:15] #734 closed

[2018-08-17 01:29] td47 opened #772 "Radar inbuilt memory leak detector"
I understand that RADAR is an in-built memory leak detector, and some documentation exists for Windows 7, but is present in Windows 10 as well. However, I cannot find any documentation on this feature or functionality, in the Microsoft DOCS areas. As I see a few RADAR_PRE_LEAK64 and similar 1001 events in the event viewer, I want to find more about these, if they are real or false detections, and

[2018-08-17 10:29] realtebo commented on #707
I am here again. Another driver, a wireless dongle, that HAS NOT ' Delete the driver software for this device' OPTION.

What to do in these cases?

[2018-08-17 17:56] DOMARS commented on #772
@td47 - Thanks for that input on adding information on the RADAR memory event entries. We use input like this to help set our priorities for the new docs work, when we have resources to do that work. As any new content would be sometime in the future, here are a few resources for your current work.

It is best to have the source code to look at how it allocates and cleans up memory. With the sourc

[2018-08-17 17:56] #772 closed

[2018-08-17 18:00] DOMARS commented on #740
@RobertBernstein-MSFT - I added a link to the DebugBreak function, thanks for the suggestion.
Feel free to use the pencil on the topic to submit a PR for fixes like this in the future.
Thanks again for your interest in improving the docs.

[2018-08-17 18:00] #740 closed

[2018-08-17 18:02] DOMARS commented on #741
@lextm - Thanks for the suggestion, I added information the command to reset the environment and a link to the gflags command options.
Feel free to use the pencil on the topic to submit a PR for fixes like this in the future.
Thanks again for your interest in improving the docs.

[2018-08-17 18:02] #741 closed

[2018-08-17 18:03] EliotSeattle commented on #759
@barrygolden Can you please triage this request and determine if this is a doc issue or if we should steer this fine developer to the forums?

[2018-08-17 18:08] DOMARS commented on #758
@csujedihy - Thanks for catching this. You may know that there is also a !ed extension command, but when I re-tested this step something seems to have changed with its behavior, so per your suggestion I changed it to use ed. I also added a step to display the memory using dd to confirm the flags is set. Thanks for your interest in improving the docs.

[2018-08-17 18:08] #758 closed

[2018-08-17 18:48] ekitagawa opened #773 "Mention about end point product"
This is Eiichi from Docker support.  It's not virus scan, but it may be worthwhile to mention about end point protection too.  Some vendors simply do not support container sometimes.  I documented it here.  https://success.docker.com/article/endpoint-security-for-windows-containers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-08-17 18:56] RobertBernstein commented on #740
Will do, @DOMARS .  Thanks!

[2018-08-17 19:33] EliotSeattle commented on #773
Thanks, @ekitagawa
I'll look into this.

[2018-08-17 20:07] DOMARS commented on #768
@LuigiBruno - It seems that you may not have symbols for the driver you are working with, as not all driver vendors or Microsoft provide public symbols for all of their code. To better clarify this scenario, I added *this text* to point this out.

Parameter 1 contains a pointer to the TDR_RECOVERY_CONTEXT. As shown in the !analyze output, *if you have symbols for the associated code*, you can use

[2018-08-17 20:07] #768 closed

[2018-08-17 20:54] DOMARS commented on #376
@endolith - Sorry for the long delay. The audio team is interested in learning more about the sample rate testing that you did in the entry above labeled "Related, but maybe for a separate Issue:".  Could you provide a Windows build version and the audio devices that are used in each case?

[2018-08-17 22:54] DOMARS commented on #660
@HeinziAT - I'm checking with the dev team to see if we can document this. Thanks for the interest in improving our docs!

[2018-08-17 22:56] DOMARS commented on #362
@HeinziAT - I'm following up with the dev team to see if we can document this. Thanks for the interest in improving our docs!

[2018-08-17 22:56] DOMARS commented on #716
@LuigiBruno - I'm checking with the dev team to see if we can document this. Thanks for the interest in improving our docs!

[2018-08-18 00:00] DOMARS commented on #652
@LuigiBruno - I'm checking with the dev team to see if we can provide more information here.

I did find a blog entry specific to VMWare on this stop code:
http://blog.jmay.us/2016/06/pfnsharecount-bsod-in-vmware-solved.html

[2018-08-18 00:07] endolith commented on #376
@DOMARS I develop USB audio devices at work, and tried altering the USB descriptors to those different configurations to see what Windows would do with them.  I can get the Windows build numbers in a few days.

(Ideally, there would be a way to prevent Windows from requesting different sample rates for input and output, but it seems Windows 10 does it by default now.  MacOS never requests differen

[2018-08-18 15:48] nonodev96 opened #774 "Hi my name is Nono and i have a big problem"
My computer crashes and restarts randomly, I followed a trace until I found the error

Kernel-Power ID 41 (63)

BugcheckCode 307 in hex is 59
Bug Check 0x159: HAL_ILLEGAL_IOMMU_PAGE_FAULT

and I do not know how to fix it
pls help me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80315c7c-2e03-137a-173c-0428ff5c6c79
* V

[2018-08-18 16:44] flatulation opened #775 "EDID blocks"
i'm trying to craft a custom driver to fix a monitor with a corrupted edid (wrong checksum, everything else looks fine though when i parse it) and i'm confused over what is meant by EDID blocks. does this mean the individual parts of the 128 byte edid1.3 block, or the whole 128 byte block? does it include the magic 8 bytes 00 ff ff ff ff ff 00 or not?

as an aside, when is this parsed? is it read

[2018-08-20 01:54] ccdriver commented on #759
BTW, in SensorSimulation.cpp,  avscamera sample:
 "m_ExtendedZoom.Step() = 1;   // This avoids the rounding issue." this Step should be 1 * 65536. if app want to use step 1 for zoom sildbar.
but when set this Step() = 0.1 * 65536,  app can't get this step.

[2018-08-20 02:09] haoyun-chaom commented on #734
Thanks @DOMARS, I will try Time Travel Debugging

[2018-08-20 13:47] endolith commented on #376
- Windows 7 Professional
  - Version 6.1 (Build 7601: Service Pack 1)
- Windows 10
  - Version 1803 (OS Build 17134.228)

[2018-08-20 17:01] EliotSeattle commented on #774
Hi @nonodev96
I'm sorry that you're having problems with your computer. Unfortunately, this documentation set is meant for driver developers and people testing drivers. Off the top of my head, it sounds as if you have either installed a bad driver recently, or one of your drivers has become corrupted. But I'm not a tech support person. While my team takes care of the documentation you found here,

[2018-08-20 17:01] #774 closed

[2018-08-20 17:27] DOMARS commented on #657
@LuigiBruno - I added a link to the NT Status Values exception code list to the BAD_SYSTEM_CONFIG_INFO topic. Thanks for your input on the stop code / bug check docs.

[2018-08-20 17:27] #657 closed

[2018-08-20 18:18] tedhudek commented on #765
Removed the whole node, which was still there in error.  Thanks for finding that @druske

[2018-08-20 18:18] #765 closed

[2018-08-20 19:20] bitcrazed opened #777 "Command List?"
It'd be great to have all the debugger commands listed here, each linked to their respective page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2e86f45-ca76-4b44-b5c9-f62c742e4dce
* Version Independent ID: 22ff867d-dac6-7876-4fad-57eb8ef3b378
* Content: [Commands](https://docs.microsoft.com/en-us/windows-hardware/dr

[2018-08-20 20:37] EliotSeattle commented on #777
Thanks, @bitcrazed
@DOMARS I think that this could be done easily by referencing the TOC file. Can you scope it out and prioritize the work?
@bitcrazed you could take a shot at it and create a commit if you're so inclined. :-)

[2018-08-20 21:15] DOMARS commented on #777
@bitcrazed - Thanks for the input. I'm going to check with the tools team to see if we can automate displaying the list of subtopics that are in the TOC to the left on this page.

[2018-08-20 21:26] bitcrazed commented on #777
Thanks @DOMARS - I think that'd be a much better solution vs. a point-fix.

[2018-08-21 06:10] lixiaogangkkk commented on #631
Dear MS Guys，
I got a new question about the extension INF that combined with my firmware upgrade UMDF driver.
   1. We have a customized device driver for my USB audio device
   2. I create an extension INF to extend a component node, I will install my firmware upgrade UMDF driver onto this node and driver will do firmware upgrade after device Plugin.
   Question:
   1. Should I have to pack the

[2018-08-21 13:48] ManuelSchenkel opened #779 "VHD vs. VHD file"
Regarding the part about UNMAP request:
What's the difference between VHD and VHD File? Isn't every VHD a VHD file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67b2f1c-add1-0e22-29d1-8fe933af13c9
* Version Independent ID: 0ae1ca0f-68c6-5324-277d-d9d141eba1d5
* Content: [Thin Provisioning](https://docs.microsoft.com

[2018-08-21 15:55] GabeSJones opened #780 "ProductName & productName in Request Body example"
The first example has both ProductName and productName fields.  I think only the latter should be there.  Also, TestHarness should probably be testHarness to match the documentation at https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-product-data#product-resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-08-21 16:05] GabeSJones opened #781 "Also, packageType and TestHarness"
Also,   "TestHarness": "Attestation" and   "packageType": "HLK".  Those two seem to be at odds with one another, and there is no "packageType" documented on the Product Resource page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24518ab0-bd10-1a04-f3a0-1ba754409841
* Version Independent ID: ad632005-a43b-8d81-c4ef-87

[2018-08-21 20:20] NabilFates commented on #631
Hey Steven,

You don't need to package the extension INF with the firmware upgrade INF. You can also publish them separately to WU. As a matter of fact, if this firmware upgrader driver behaves the same on all the pieces of hardware that it applies to, it is preferable to keep them separate, so that they're properly componentized. The extension INF and device driver can have separate versions, and

[2018-08-22 14:16] cjd22 commented on #766
Hi,
Has there been any progress with this issue.

[2018-08-22 16:57] karel-3d opened #782 "Page uses wikipedia content without sharing as CC"
This page seems to be copying parts of wikipedia article without acknowledging that and sharing as Creative Commons (WP is  Creative Commons Attribution-ShareAlike License), which is violation of Wikipedia copyright.

I have originally thought that Wikipedia copied this article, but it seems when looking at the history - https://en.wikipedia.org/w/index.php?title=Human_interface_device&diff=next&o

[2018-08-22 17:06] EliotSeattle commented on #782
Thanks, @karel-3d for bringing this to our attention. @PageWriter-MSFT will look into the topic and do the right thing.

[2018-08-22 17:28] tedhudek commented on #766
Hi @cjd22 sorry for the delay.

HDEVINFO is from setupapi and setupapi is desktop only.  It is intentionally only present in the desktop partition.  A UWP is supposed to run everywhere and if you are using setupapi, then you won't be able to run everywhere.  Which parts of cfgmgr don't work in UWP?  If writing a universal program, you might need to spell out the A or W versions of functions that h

[2018-08-22 17:44] PageWriter-MSFT commented on #782
Hi @karel-3d . Thanks for reporting this issue! We try to do our best. This was not it :( The description has been removed.

[2018-08-22 17:44] #782 closed

[2018-08-23 08:54] cjd22 commented on #766
Hi @tedhudek
Yes it is a Universal Program. I am including cfgmgr32.h and the cfrmgr32.lib. For example when try to use the struct CM_NOTIFY_FILTER in my UWP I get the error undeclared identifier because it is omitted in cfgmgr32.h. Please advise

[2018-08-23 14:36] LuigiBruno opened #783 "Exception codes list"
Please provide a more complete and exhaustive list of the exception codes that could be displayed as values for the parameter 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06210c17-833c-57fb-d0bf-e899cc9cc48c
* Version Independent ID: 05435dcd-4026-8423-cebd-4e60996253bf
* Content: [Bug Check 0x1E KMODE_EXCEPTION_N

[2018-08-23 16:30] EliotSeattle commented on #783
Thanks, @LuigiBruno for the request.
@DOMARS can you please triage and prioritize this in relation to your other work for our fine MVP friend?

[2018-08-23 20:37] DOMARS commented on #731
@wangmir - I have located the dev team and I'm checking to see what I can find out on ARM debugging with a serial COM port.

[2018-08-23 21:03] DOMARS commented on #601
@BenWestbrook - Kernel debugging is no longer supported in Visual Studio. We have added this text to the setup topics such as [Setting Up Kernel-Mode Debugging in Visual Studio](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/setting-up-kernel-mode-debugging-in-visual-studio).

*Important
This feature is not available in Windows 10, version 1507 and later versions of the WDK.*

[2018-08-23 21:03] #601 closed

[2018-08-23 21:52] DOMARS commented on #739
@jordanrh1 - Thanks for the input on adding additional information on the args for IRPs. As this becomes a complex topic, it is currently out of scope of the driver docs. We instead rely on outside books and resources. I added two that are helpful in working with IRPs to the topic.

- Developing Drivers with the Windows Driver Foundation Guy Smith and Penny Orwick
- Windows Internals by Mark E. Ru

[2018-08-23 21:52] #739 closed

[2018-08-23 22:16] tedhudek opened #784 "test"
test comment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7135c6e-0eef-a3f0-b667-74fa1d815986
* Version Independent ID: 248aecfc-b6d1-7e39-9fbf-300e2d4e98f8
* Content: [Using Self-Managed I/O](https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/using-self-managed-i-o)
* Content Source: [windows-driver-docs

[2018-08-23 22:28] DOMARS commented on #783
@LuigiBruno - Thanks for the request to add more information on the exception codes. I added a link to the NT Status Values topics that lists all of them. The changes should be live within 24 hours. Thanks for your ongoing interest in improving our stop code documentation.

[2018-08-23 22:28] #783 closed

[2018-08-23 22:38] tedhudek commented on #766
Hi @cjd22

What version of the SDK are you using?  If you update to https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewSDK I think this may be fixed

[2018-08-23 23:57] DOMARS commented on #764
@chazste - Thanks for this valid input, I will investigate if we can do the work to expand the developer content in this topic.

[2018-08-24 03:43] csm10495 opened #786 "Link Broken?"
I think the IOCTLs link (https://msdn.microsoft.com/library/windows/hardware/ff556290#wdkgloss-ioctl) isn't actually going to the correct place as it routes to a generic page instead of something on IOCTLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4076dd23-433e-2ec1-789a-e70b2e447fb7
* Version Independent ID: c9a

[2018-08-24 09:52] lixiaogangkkk commented on #631
Thanks, Nabil. All become clear to me.

[2018-08-24 21:48] EliotSeattle commented on #786
Fixed in source. Waiting for it to go live.

"Every driver whose device objects belong to a particular device type (see [Specifying Device Types](https://msdn.microsoft.com/library/windows/hardware/ff563821) is required to support this request in a [DispatchDeviceControl](https://msdn.microsoft.com/library/windows/hardware/ff543287) routine, if a set of system-defined I/O control codes (IOCTLs) ex

[2018-08-24 21:48] #786 closed

[2018-08-24 22:38] haephrati opened #788 "Generating the .cab files"
I used the method described in this article https://www.codeproject.com/Articles/1257731/Creating-a-cab-archive-from-one-or-more-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed287852-04b7-1569-fd51-2640cfa24f57
* Version Independent ID: a8ce732f-5b41-f1ce-e37d-a7c2794546a4
* Content: [Attestation signing a kern

[2018-08-25 00:11] EliotSeattle commented on #788
Hi @haephrati
Is there an issue about the documentation? I can't tell from what's captured in this form.
Thanks!

[2018-08-25 02:29] haephrati commented on #788
No. No issue at all. Only meant to comment.

On Sat, Aug 25, 2018 at 2:11 AM Eliot Graff <notifications@github.com>
wrote:

[2018-08-25 10:10] cjd22 commented on #766
Hi @tedhudek
When I install the WinSDK sent by yourself in the link. It get to the Installing Windows IP Over USB it then rolls back and will not install. Could you tell me what is happening. Thanks

[2018-08-27 02:37] EliotSeattle commented on #788
Well, then, thank you for the comment!

[2018-08-27 02:37] #788 closed

[2018-08-27 02:47] ghost opened #789 "FindExtensionNode Fail"
FindExtensionNode Fail，When the driver is loaded

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6767e28b-a1ec-00a8-da87-f70eb60c6384
* Version Independent ID: c43f6c76-5abe-8fd9-3bb8-2fb14a5419a3
* Content: [Sample Application for UVC Extension Units](https://docs.microsoft.com/zh-cn/windows-hardware/drivers/stream/sample-application-for-uvc-extension-units)
* Conte

[2018-08-27 15:21] LuigiBruno opened #790 "Troubleshooting and resolution steps needed"
Troubleshooting and resolution steps should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-ch

[2018-08-27 16:03] EliotSeattle commented on #790
Thanks, @LuigiBruno
@DOMARS please add this for consideration.

[2018-08-27 17:09] cjd22 commented on #766
Hi,
Any Advice

[2018-08-27 21:57] smadasam commented on #766
I tried it successfuly with the 17735 SDK.  It looks like the latest SDK is 17738, so that should also work.

Maybe you need to retarget your solution?

![image](https://user-images.githubusercontent.com/31748824/44688276-90c3a000-aa08-11e8-831f-a12e574c04ad.png)

[2018-08-28 07:38] assarbad opened #791 "Wrong location given for documentation"
The article gives this (emphasis mine):

Two issues here. In the modern Windows Kits the HTML file seems to be in a different location. I found two:

* `C:\Program Files (x86)\Windows Kits\10\bin\selfsign`
* `C:\Program Files (x86)\Windows Kits\10\bin\10.0.17134.0\selfsign`

However, this may be owed to the fact that I only have the older self-contained WDKs (and DDKs) alongside the 10.0.17134.0 o

[2018-08-28 10:57] cjd22 commented on #766
Hi Smadasam, Have you got a link to the 17735 SDK.

[2018-08-28 13:38] assarbad opened #792 "Wouldn't it be better to limit the test-signing certificate usage?"
Hi,

the example invocations of `makecert.exe` don't use the command line switch `-eku 1.3.6.1.5.5.7.3.3` to limit the usage of the resulting certificate to code-signing. Wouldn't it be better to recommend those certificates to be created with the bare minimum of EKUs necessary? As it stands the result is an all-purpose certificate.

And while I understand and appreciate that the certificate is on

[2018-08-28 17:06] EliotSeattle commented on #791
Wow, thanks, @assarbad for taking the time to go through this and provide this detailed feedback.
@tedhudek can you please take a look at this one?

[2018-08-29 08:40] laszloC opened #812 "Apostrophe not showing"
The apostrophe in "driver's" is shown coded, not rendered, as &#39; instead of '

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745bf994-7ea9-016c-c4f4-bab0173195eb
* Version Independent ID: a0c4a4d7-1001-949f-f9d2-22448938c219
* Content: [Specifying an Unload Function](https://docs.microsoft.com/en-us/windows-hardware

[2018-08-29 11:16] qin-HC commented on #789
搞定了，可以不需要安装驱动，直接在应用层就可以调用了。刚开始按照这个文档做，被带坑里了！(╥╯^╰╥)

[2018-08-29 11:28] dorsav commented on #737
1. Please fix bugs in documentation + HLK vs HCK confusion in most of the places.
2. Suggest proper ways of automating this procedure, because we had to workaround through a lot of things. Almost 2 months.

[2018-08-29 15:41] EliotSeattle commented on #789
Thank you @qin-HC
@barrygolden can you see if you can find someone to test the sample code?

[2018-08-29 15:56] EliotSeattle commented on #812
Hi @laszloC
Thanks for the feedback. I'm not sure what you're seeing, though. I see this, which looks correct. Am I missing your point?
![image](https://user-images.githubusercontent.com/3382964/44799683-60474780-ab69-11e8-9ba9-e20e78cb43b4.png)

[2018-08-29 16:31] EliotSeattle commented on #812
Oh yeah. That's ugly. I changed those instances and pushed to master. Will go live the next time we synch our internal repo with the live site. Thanks for catching that! In the future, feel free to make an edit and commit the change. Cheers!

[2018-08-29 16:31] #812 closed

[2018-08-29 21:56] #680 closed

[2018-08-29 21:57] #562 closed

[2018-08-29 22:06] mimisasouvanh commented on #704
Hi @danegraphics
Here is an article on how to override a monitor EDIDs with INF: https://docs.microsoft.com/en-us/windows-hardware/drivers/display/overriding-monitor-edids
I hope that helps!

[2018-08-30 23:11] DUCUREMO opened #816 "ducure"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d17152e7-6c21-f728-9868-a617b64888c0
* Version Independent ID: 1e7cac87-2d12-6682-a954-be22a1bcebb1
* Content: [Debugging Techniques](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugging-techniques)
* Content Source: [windows-d

[2018-08-30 23:13] DUCUREMO commented on #816
![img_0024](https://user-images.githubusercontent.com/32334785/44884245-8e846e80-acb2-11e8-80cb-07ff5f93bef1.JPG)
![img_0023](https://user-images.githubusercontent.com/32334785/44884246-8e846e80-acb2-11e8-8b04-5fa08e8d6797.JPG)
![img_0017](https://user-images.githubusercontent.com/32334785/44884247-8f1d0500-acb2-11e8-9c85-207e1bcbbd42.JPG)
![img_0016](https://user-images.githubusercontent.com/3233

[2018-08-30 23:13] #816 closed

[2018-08-31 06:09] sebas77 opened #817 ""Unable to read dynamic function table entry at" spam"
Can I disable "Unable to read dynamic function table entry at" in WinDbg Preview (windows 10)?
Its continuous spam is preventing me from debugging an application. I would like to know why it happens to and how to avoid it. I don't have control over the native code of the application, as it is generated by Unity Editor, but it could be also due to a native plugin I am using, so I would like to pin

[2018-08-31 08:35] cjd22 commented on #766
Hi @tedhudek,
I cannot update my SDK it keeps rolling back. Do you have any advice?

[2018-08-31 16:34] ahidaka opened #818 "Please fix "doesn't have any references to other projects and no projects were packaged." error."
I have several WDK development machines. And test to make simple WinUSB driver package as this way many times. Some machines are sometime / always fail to build WinUSB package.

There happens the same error as stackoverflow and OSR articles as below.

https://stackoverflow.com/questions/22574095/windows-usb-tutorial
https://www.osronline.com/showthread.cfm?link=273883

But my machines made fail as

[2018-08-31 16:38] ahidaka commented on #818
For your ref.

![vs1](https://user-images.githubusercontent.com/10113490/44924864-2f6b3c00-ad3c-11e8-86c4-509480de5b38.png)
![vs2](https://user-images.githubusercontent.com/10113490/44924865-2f6b3c00-ad3c-11e8-82b3-71ca9d4199d8.png)

[2018-08-31 16:43] ahidaka commented on #818
Version Information.

Visual Studio Enterprise 2017 Version 15.8.2
Windows Driver Kit - Windows 10.0.17134.1

[2018-08-31 16:50] EliotSeattle commented on #818
Thanks, @ahidaka for the feedback and info. @PageWriter-MSFT can you please triage this to see if this is a doc issue, product issue, or both?

[2018-08-31 17:14] EliotSeattle commented on #817
Thanks, @sebas77. Looking around, it seems like you are not the only one  wanting to be able to sidestep this. The first thing I'd say, and this is iterated on the various posts and discussions, is that this is a security feature. Toggle it at your own risk.
@DOMARS, can you please look into whether we should advise how to turn this off and how? And see if it rises in priority against your other d

[2018-09-03 12:53] LuigiBruno opened #819 "Causes and resolution steps"
Please provide a list of known causes as well as troubleshooting and resolution steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05c732ce-fd6c-98e4-19ca-f52c6dd3e7b5
* Version Independent ID: 868b8c46-2096-9d10-2f6b-f015e6a57003
* Content: [Bug Check 0x154 UNEXPECTED_STORE_EXCEPTION](https://docs.microsoft.com/en-

[2018-09-05 07:47] M4deman opened #822 "Missing entry for parameter 1 = 0x50565372"
Parameter 1 can be 0x0000000050565372, but it is not listed in the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT](https://docs.microsoft.com/en-us/windows-hardware/dri

[2018-09-06 09:47] janosvitok opened #823 "MBIM_MS_SET_NETWORK_BLACKLIST is not described anywhere."
As subject says.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199a05b2-82c8-ea4f-962a-f3c8e14d4703
* Version Independent ID: 6878502f-e58d-789d-5317-2f6b5332a548
* Content: [MB Network Blacklist Operations](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/mb-network-blacklist-operations)
* Content So

[2018-09-06 16:29] EliotSeattle commented on #823
Thanks, @janosvitok. @duncanmacmichael, can you please set priority for this request for details about MBIM_MS_SET_NETWORK_BLACKLIST against your other deliverables? Thanks.

[2018-09-06 17:30] DOMARS commented on #764
@chazste  - I have started the process of enhancing the content for this bug check and have drafted expanded content. It may take a while to catch up with the devs associated with this part of the Windows code for technical review, but this is a necessary step to make sure the guidance is accurate.

This blog post from Raymond Chen and an OSR thread have some related content.
https://blogs.msdn.mi

[2018-09-06 18:14] janosvitok opened #824 "Numeric values of CIDs are missing"
MBIM_CID_BASE_STATIONS_INFO
MBIM_CID_LOCATION_INFO_STATUS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ac7540-198a-9a9a-c8cd-1bb4eac81242
* Version Independent ID: 5223dc75-17e7-d9cd-94dd-d21704fa331c
* Content: [MB base stations information query support](https://docs.microsoft.com/en-us/windows-hardware/drivers/n

[2018-09-06 21:20] DOMARS commented on #819
@LuigiBruno - I have started the work to expand this guidance as well as see if we can document arg3. If you have a dmp file handy, I would be curious what values you have seen for arg3 in !anaylyze.

[2018-09-06 21:58] EliotSeattle commented on #824
Thanks, @janosvitok
@duncanmacmichael can you please look into this?

[2018-09-07 01:01] chazste commented on #764
@DOMARS - Thanks for the links. I had not seen the OSR post before. Very interesting. On the surface that one seems to describe a race where the user could have gotten some other kernel mode bugcheck instead. It also confirms what I suspected about this code. There are a lot of ways to get it. Especially since the list of modules that make up "critical" processes is not entirely under Microsoft's

[2018-09-07 02:32] CKroid opened #827 "How does this constraint work?"
The first sentence mentioned "Starting in Windows 10 version 1709, you can specify that a Universal Windows Platform (UWP) app should only load if a specific driver is present."
In a scenario where a new UWP app requires a new version of driver, but the system is having the old driver, this new UWP app will still be available though Windows Store, and after the user updated to this new UWP app, th

[2018-09-07 13:28] LuigiBruno opened #828 "Causes, analysis and resolution steps needed"
Add sections related to the possible reasons for this error, as well as analysis and resolution steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2df4737-5000-820c-37fe-62c6166c40b7
* Version Independent ID: 4b3c8192-e763-519e-d0ed-5f40227a7e00
* Content: [Bug Check 0x5C HAL_INITIALIZATION_FAILED](https://docs.mic

[2018-09-07 17:04] tedhudek commented on #713
Thanks for the feedback @adc68 and apologies for the delay.  We've updated the page in question, hopefully it's a bit clearer now.

[2018-09-07 17:04] #713 closed

[2018-09-07 17:15] tedhudek commented on #678
Thanks for the feedback @KulaGGin sorry for the delay getting to this one.  I've updated 3 relevant doc pages, so hopefully we can prevent people from having this confusion in the future.  Updates are here:

* https://docs.microsoft.com/windows-hardware/drivers/gettingstarted/writing-a-very-small-kmdf--driver#build-the-driver (see the tip)
* https://docs.microsoft.com/windows-hardware/drivers/devt

[2018-09-07 17:31] tedhudek commented on #766
Hi @cjd22 I'm really sorry, I don't have anything else to give you on this one.

I recommend trying [Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk)
or [ntdev forum](http://www.osronline.com/showlists.cfm?list=ntdev).

Best of luck with this issue!

[2018-09-07 17:31] #766 closed

[2018-09-07 17:48] EliotSeattle commented on #828
Thanks, again, @LuigiBruno. @DOMARS, add to the list, please.

[2018-09-07 18:18] tedhudek commented on #723
Thanks @cyren-oschneider for the feedback, apologies for the delay on this one.  What you did works fine.  Company or product name would also be unlikely to clash.  I added a sentence to https://docs.microsoft.com/windows-hardware/drivers/install/elam-driver-requirements with your proposed solution as an example.

Cheers!

[2018-09-07 18:18] #723 closed

[2018-09-07 20:59] tedhudek commented on #827
Hi @CKroid thanks for the feedback. I have added a sentence to https://docs.microsoft.com/windows-hardware/drivers/install/pairing-app-and-driver-versions to clarify this behavior.  Please see the second sentence on that page.

[2018-09-07 20:59] #827 closed

[2018-09-07 21:05] tedhudek commented on #791
Hi @assarbad, thanks for the feedback, and apologies for the delay. I have made some changes to the documentation to address your suggestions. Specifically:

 * updated  https://docs.microsoft.com/windows-hardware/drivers/install/creating-test-certificates with the correct Windows 10 path for the selfsign htm
 * removed the .cmd reference since it no longer exists
 * consolidated info that had bee

[2018-09-07 21:05] #791 closed

[2018-09-07 21:08] tedhudek commented on #792
Thanks @assarbad, for the suggestion.  You are correct, it is good practice to use the explicit list of ekus. I have updated https://docs.microsoft.com/windows-hardware/drivers/install/creating-test-certificates accordingly.  Please don't hesitate if you have additional doc feedback. Also note that you can click **Edit** from any page on docs.microsoft.com if you want to start a PR with your own p

[2018-09-07 21:08] #792 closed

[2018-09-07 21:09] #687 closed

[2018-09-07 21:28] tedhudek commented on #530
Thanks @BenWestbrook sorry this one fell between the cracks. I just updated the set of links on that page, fix will be live momentarily

[2018-09-07 21:28] #530 closed

[2018-09-07 22:19] DOMARS commented on #819
@LuigiBruno - I'm working with the dev team to expand this guidance.

[2018-09-08 11:07] kITerE opened #829 "Suggestion: convert table to paragraphs with heading (and anchors)"
This will make the link from outside to a specific macro.
Example:

[code]
And, for example, in [wdk-ddi-src/content/ntddk/nf-ntddk-psgetcurrentprocessid.md](https://github.com/MicrosoftDocs/windows-driver-docs-ddi/blob/staging/wdk-ddi-src/content/ntddk/nf-ntddk-psgetcurrentprocessid.md) can specify:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-09-10 10:33] sebas77 commented on #817
Hello, I am back in office, I noticed it has been marked as in-progress, what does it mean?

[2018-09-10 11:21] beemavishnu opened #830 "Mistake in documentation"
Hello,

1) Need to change "that is not in this list" to "that are in this list" in below statement.

WDI_TLV_DISALLOWED_BSSIDS_LIST X The list of BSSIDs that are not allowed to be used for association. If specified, the adapter must not associate to any AP that is not in this list.

2) It would be good if all TLVs are in table format. Something like below link
https://docs.microsoft.com/en-us/wind

[2018-09-10 16:34] EliotSeattle commented on #830
Thanks, @beemavishnu. @duncanmacmichael, looks like this was formatted as a table but something went wrong along the way to publishing. Can you make it purty? Might want to do a quick spot check of the other TLVs to see if it's more widespread than just the one.

[2018-09-10 22:19] tedhudek commented on #827
Hi @CKroid I'd recommend leaving up all versions of the app that anyone might be using with older driver versions.

[2018-09-10 23:43] duncanmacmichael commented on #823
Hi @janosvitok , good catch! After double-checking the spec, it seems that MBIM_MS_NETWORK_BLACKLIST_INFO is not actually the correct structure. MBIM_MS_NETWORK_BLACKLIST_INFO is used in both the Set InformationBuffer and in responses/unsolicited events. I've corrected the page and the change should be live later today or tomorrow. Thanks for your interest in the docs!

[2018-09-10 23:43] #823 closed

[2018-09-10 23:47] duncanmacmichael commented on #824
Hi @janosvitok , looks like the command codes for these CIDs are indeed missing. I'll see if I can track them down for you and will update the page when I have the correct answer from the feature team.

[2018-09-11 00:15] tedhudek commented on #681
Hi @psanyi thanks for the feedback.  Turns out that board is no longer supported.  Per your feedback, I've updated the doc page with a warning up top and a link to the current list.

[2018-09-11 00:15] #681 closed

[2018-09-11 00:40] duncanmacmichael commented on #830
Hi @beemavishnu , thanks for finding this. It looks like the table was garbled during a content migration we did a while back and ended up slipping through the cracks. We usually do have the TLV values in table form, and I confirmed that this is the only one I know of by doing a random spot check of a dozen+ other TLVs. I've made the fix and the change should be live later today or tomorrow. Thank

[2018-09-11 00:40] #830 closed

[2018-09-11 00:42] cbchan opened #831 "Inconsistent UUIDs defined for Basic Connectivity Extensions service"
According to different Microsoft documentation (see the list below), Microsoft has defined inconsistent UUIDs for the same Basic Connectivity Extensions service. Two variants are observed so far, where they differ only by a single nibble:
  3d01dcc5-fef5-4d05-[ 9 ]d3a-bef7058e9aaf
  3d01dcc5-fef5-4d05-[ 0 ]d3a-bef7058e9aaf

As neither UUID is listed on http://compliance.usb.org/mbim/, it's hard to

[2018-09-11 00:54] duncanmacmichael commented on #824
Hi @janosvitok , I've gotten a response from the feature team for the correct numeric values. I added them to the page, and the changes should be live tomorrow. One thing to note is that the MBIM_CID_LOCATION_INFO_STATUS CID is _defined_ starting in Windows 10, version 1709, but is not currently supported/handled by the OS.

Thanks again for your interest in the docs!

[2018-09-11 00:54] #824 closed

[2018-09-11 01:51] kouzhudong opened #832 "TraceView BUG"
在Windows 2003 的64位操作系统上，用TraceView打开PDB文件，TraceView闪退。

TraceView可以是任何版本的。
PDB可以是任何编译器生成的。

https://correy.webs.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce0e2d68-b7a9-9bcd-92c1-0e7c40ed6b72
* Version Independent ID: ad275cd3-f168-ba9d-385d-b1a9e69df296
* Content: [TraceView](https://docs.microsoft.com/en-us/

[2018-09-11 08:34] janosvitok opened #833 "Should this be called Protocol Configuration Options?"
TS 24.008 does not mention any Protocol Configuration Operations, but mentions Protocol Configuration Options pretty often.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6d93fd2-1e34-19a2-c0cb-598723199c4c
* Version Independent ID: 22ec6503-7f14-1319-db82-cda1ccab0754
* Content: [MB Protocol Configuration Operations

[2018-09-11 08:44] janosvitok commented on #833
Perhaps only the first sentence should be changed:

[2018-09-11 10:08] aleksander0m commented on #831
For reference, the Qualcomm-based Dell/Foxconn DW5821e uses 0d3a, while the Intel based Fibocom L850-GL uses 9d3a.

[2018-09-11 15:59] jakeoshins opened #834 "Need more links"
In sentences like "The given value-entry-name and/or value is of the registry type REG_EXPAND_SZ." there should be a link to the definition of REG_EXPAND_SZ.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acdc91cd-c89e-684c-c48b-5d66d098fa9c
* Version Independent ID: 4865d5a4-df22-1c26-f993-a661882194a7
* Content: [INF

[2018-09-11 16:57] EliotSeattle commented on #834
Thanks, @jakeoshins. I added links to https://docs.microsoft.com/en-us/windows/desktop/SysInfo/registry-value-types for info about the unexplained types.

[2018-09-11 16:57] #834 closed

[2018-09-11 18:39] duncanmacmichael commented on #833
Hi @janosvitok , good catch. Looks like you're correct; PCO does stand for Protocol Configuration Options, but the title is about operations with PCO so I probably switched those words in my head. I'll change the title to "MB Protocol Configuration Options (PCO) operations," which is more accurate. Thanks for helping to clarify this! The changes should be live later today.

[2018-09-11 18:39] #833 closed

[2018-09-11 18:50] duncanmacmichael commented on #831
Hi @cbchan , thanks for the question. I'm not sure about the exact answer, so I'll ask the mobile broadband feature team what we should say here.

[2018-09-11 20:35] tedhudek commented on #834
@jakeoshins do you think it would be useful to update all refs to REG_* to link to https://docs.microsoft.com/en-us/windows/desktop/SysInfo/registry-value-types?

[2018-09-11 22:08] duncanmacmichael commented on #831
Hi @cbchan , I've gotten a response from the feature team for you. The UUID with a 9 in that nibble is in fact incorrect, as the UUID for the Basic Connectivity Extensions service is 3d01dcc5-fef5-4d05-0d3a-bef7058e9aaf. I'll correct the two pages with the typo on them, and the changes should be live later today. Thanks for helping to improve the docs!

[2018-09-11 22:08] #831 closed

[2018-09-11 22:33] englishb opened #835 "Broken links"
All six of the articles about Multiplane Overlay Support linked to from this page are broken links that redirect to the top-level page "Programming reference for Windows Driver Kit (WDK)" at https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/index
I cannot find these articles through MSDN search, bing, google, or anything else.

---
#### Document Details

⚠ *Do not edit this sec

[2018-09-11 22:42] EliotSeattle commented on #835
Thanks, @englishb
@mimisasouvanh these look to be OVW pages in WDCML that did not get migrated. Can you please take a look? Thanks!

[2018-09-12 07:53] AkshayUsha opened #836 "on access scanner need"
on access scanner need microsoft can help me pls....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6eece4e-03de-80b6-dba7-e475c0f0e575
* Version Independent ID: 682f3431-07d6-b9c1-5b2d-71dfe92859e7
* Content: [File System Minifilter Drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/file-system-mi

[2018-09-12 17:55] EliotSeattle commented on #836
Hi @AkshayUsha. Are you asking about an antivirus scanner? I'm unclear about the issue you are reporting.

[2018-09-12 17:58] EliotSeattle commented on #832
Hi @kouzhudong. I don't understand what your issue is with the documentation. Can you  explain a little more?

[2018-09-13 01:47] kouzhudong commented on #832
in windows server 2003, if traceview.exe open an pdb file, it must be quickly exit.

[2018-09-13 04:11] NileshMali1 opened #839 "Please update/correct the Commit Status values list"
Hi There,

The documentation is not updated and misleading at some places, which causes a lot jumping here and there in the doc pages and try outs while coding to get to correct information. I would highly appreciate if the doc gets revised and updated to reflect correct information.

Also, when do you get the Commit Received state? I understand it must be right after Commit Pending state once use

[2018-09-13 04:22] NileshMali1 opened #840 "Update required for response body section in this doc"
Hello,

The API returns empty response body with response code 202 (accepted). Would be good if API returns response body as { "commitStatus": "commitReceived" }.  Also, update the doc to reflect commitReceived instead of commitStarted if API gests modified to return commitStatus JSON.

Thanks,
NM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-09-13 06:57] AkshayUsha commented on #836
yes i m asking about antivirus scanner

On Wed, Sep 12, 2018 at 11:25 PM Eliot Graff <notifications@github.com>
wrote:

--
Regard
Akshay Gupta
(Asp.Net Developer)
Contact :- +91-8890512969 (Whatsapp & Call), +91-7014511902 (call)
E-mail:- akshaygupta.gupta9@gmail.com

[2018-09-13 07:06] AkshayUsha commented on #836
yes

[2018-09-13 17:05] EliotSeattle commented on #840
Thanks, @NileshMali1, for filing this issue. I'll sync up with the product team and look into these.

[2018-09-13 18:03] EliotSeattle commented on #832
Hi @kouzhudong.
Are you asking that we add a comment to that effect? I'm so sorry, but I am still not clear. Something like, "If you use traceview.exe to open a pdb file running on Windows Server 2003, then you must _____________." Are you saying the tester must exit traceview quickly, close the pdb file quickly, or something else? What do you mean by quickly? And what is the behavior if you don't

[2018-09-13 18:07] EliotSeattle commented on #836
Thank you, @AkshayUsha. What exactly are you asking about? Is this about the documentation in this section?
Or is this a question about using an access scanner? If about usage, the best place to get a response would be in the [WDK forum](https://social.msdn.microsoft.com/Forums/windowshardware/en-US/home?forum=wdk). If it's about the documentation, I can help.

[2018-09-13 23:57] DOMARS commented on #362
@TruePikachu and @Anonymous-W - I worked with the dev team to add an entry for 41793. Thanks for the request and your interest in improving our docs!

[2018-09-13 23:57] #362 closed

[2018-09-14 00:03] DOMARS commented on #660
@HeinziAT - I worked with the dev team to add an entry for 0x1236. Thanks for the request and your interest in improving our docs!

[2018-09-14 00:40] DOMARS commented on #716
@LuigiBruno - I worked with the dev team to add an entry for 0x3f. Thanks for the request and your interest in improving our docs!

[2018-09-14 00:44] #660 closed

[2018-09-14 00:44] #716 closed

[2018-09-14 01:27] kouzhudong commented on #832
in windows server 2003, if traceview.exe open an pdb file, it automatic exits.

微软的一群低级弱智智能儿。

[2018-09-14 09:08] assarbad commented on #792
Oh, alright, I'll probably give those pull requests a chance next time around. Thanks for your stellar work in keeping things polished!

[2018-09-14 18:12] DOMARS commented on #822
@M4deman - I'm not able to validate the memory parameter 1 for this stop code you describe:   0x50565372
Could you double check that number and confirm this is with Windows 10?
If you have a dmp file handy and can paste in the output from (!analyze)[https://docs.microsoft.com/windows-hardware/drivers/debugger/-analyze] that would be helpful. Thanks for sharing your experience and your interest in

[2018-09-14 18:47] EliotSeattle commented on #840
Hi @NileshMali1. The product team has asked if you can supply the ProductIId & SubmissionId for the submission, as this could have a number of different causes. Feel free to send them to me at eliotgra @ microsoft . com if you're willing. Thank you.

[2018-09-14 19:18] DOMARS commented on #493
@Soogbad - Thanks for this input on expanding the guidance we provide for call stacks in Visual Studio.
As this feature is not available in Windows 10, version 1507 and later versions of the WDK, we will not be able to prioritize this request, so that we can invest that time in currently supported features and products. Thanks for your interest in our documentation and for your feedback on this to

[2018-09-14 19:18] #493 closed

[2018-09-14 19:20] tedhudek commented on #834
Hi @jakeoshins I added some links per your request. There are actually a bunch of edge cases involved doing this programmatically across two repos that I don't have time to comb through at the moment. The ones I added will be live in a few minutes.  Thx for the suggestion!

[2018-09-14 19:27] DOMARS commented on #731
@wangmir - Thanks for the question, so far we are not supporting the use of serial com ports for debugging on ARM on VM environments such as QEMU. I passed your input on to the product team and they use input like this to guide future product work. But for now, this is not a supported debugger transport scenario.

[2018-09-14 19:27] #731 closed

[2018-09-14 19:41] EliotSeattle commented on #832
Thanks for being patient with me, @kouzhudong. I added a note in [Creating a Trace Session with a PDB File](https://docs.microsoft.com/windows-hardware/drivers/devtest/creating-a-trace-session-with-a-pdb-file):  "If you use TraceView to open a PDB file on a computer running Windows Server 2003, TraceView automatically exits." It should be live later today.

[2018-09-14 19:41] #832 closed

[2018-09-14 20:38] DOMARS commented on #383
@endolith - Our dev team has created an internal work item to investigate creating this content for UAC1. This request will of course need to be balanced against other feature/bug work. Having this information documented would be useful, so thanks for the request and thank you for the interest in improving our audio driver documentation

[2018-09-14 20:40] DOMARS commented on #382
@endolith - Like issue 383, our dev team has created an internal work item to investigate creating this content for UAC1. This request will of course need to be balanced against other feature/bug work. Having this information documented would be useful, so thanks for the request and thank you for the interest in improving our audio driver documentation

[2018-09-14 20:46] DOMARS commented on #381
@endolith - The dev team is investigating this code behavior, that work will take some additional time.

[2018-09-14 20:50] DOMARS commented on #376
@endolith - Thanks for the build numbers. The dev team is looking at this issue and was wondering if the hardware that you develop is publically available? They may be able to replicate with out the specific hardware, but any addtional information that you can publically share would be helpful, if that is possible.

[2018-09-15 00:10] DOMARS commented on #652
@LuigiBruno - I checked with the development team and they confirmed that this stop code has not been used by the Windows operating system itself for a very long time. Because of this I'm not able to provide any additional information on what this failure means or specific the use of the parameters.  In this case the stop code is in use by VMWare as described in this blog.
http://blog.jmay.us/2016

[2018-09-15 00:10] #652 closed

[2018-09-15 00:39] DOMARS commented on #817
@sebas77 - Typically "in-progress" means that I have spent some time looking at this issue.

As you may have seen, one solution is to disable the security feature that keeps the debugger from only using known stack walkers as discussed in this link.
https://stackoverflow.com/questions/39255930/can-i-disable-the-unable-to-read-dynamic-function-table-entry-message-in-windb

But be aware that the tur

[2018-09-15 00:39] #817 closed

[2018-09-15 01:53] kouzhudong commented on #832
This is the end.
Not modified.
Doesn't support 2003?

[2018-09-15 09:17] sebas77 commented on #817
Thanks for the reply and the clue you gave, it can be useful. I just want to add that the stackoverflow solution didn't work for me on windbg preview, I actually would love to know if I am right or I did something wrong. I didn't try to change the registry though.

[2018-09-16 12:59] caseysmithrc opened #842 "Broken Link to whitepaper"
The following link needs to be updated. the reference to  Digital Signatures for Kernel Modules on Systems Running Windows Vista =&gt;  http://go.microsoft.com/fwlink/p/?linkid=184997 no longer resolves.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5ca4e93-a34c-abbc-0ebc-9b5195378b20
* Version Independent ID: f2e19c

[2018-09-16 13:15] M4deman commented on #822
Hi, the code is correct but it was Windows 7. Sorry, I can't find any clue on this page, that it's only Windows 10 related.

[2018-09-17 16:10] EliotSeattle commented on #832
I am afraid not, @kouzhudong. Support for Windows Server 2003 ended in 2015. See https://www.microsoft.com/en-us/cloud-platform/windows-server-2003.

[2018-09-17 16:24] dotMorten opened #843 "How do I get symchk?"
Where do I find it and how do download it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac689426-48f2-94f4-b2f1-d4936f162db0
* Version Independent ID: 6e2ca765-d0a2-1a69-a183-e43c6c3f85f4
* Content: [Using SymChk](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/using-symchk)
* Content Source: [wind

[2018-09-17 17:34] tedhudek opened #844 "test"
test issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0706bf23-aa1a-e71f-0e20-c98639d2e0f6
* Version Independent ID: ea71830e-18f6-51d9-b13d-d28079f7b411
* Content: [Creating a Driver Package](https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/creating-a-driver-package)
* Content Source: [windows-dri

[2018-09-17 17:35] #844 closed

[2018-09-17 18:27] DOMARS commented on #822
@M4deman - As mainstream support for Windows 7 ended in 2015, and we have limited resources to update the stop code documentation I won't be able to research and add information on the  0x50565372 parameter for  the 0X1A stop code. Good luck in your troubleshooting and thanks for the interest in our docs.

[2018-09-17 18:27] #822 closed

[2018-09-18 09:13] rena2019 opened #845 "chkINF not found"
there is no Tools\chkinf subdirectory in the current WDK anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311fd11a-8230-cd6b-1c52-761cfc56e86b
* Version Independent ID: f9e6d391-3a91-a24f-cc1b-540216d29c66
* Content: [ChkINF](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/chkinf)
* Content Sour

[2018-09-18 14:37] LuigiBruno opened #846 "DRIVER_PNP_WATCHDOG information missing"
Add a page to describe the DRIVER_PNP_WATCHDOG bug check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc632b2-f4e1-b784-dd1e-878feac077f9
* Version Independent ID: 7a6866f4-3333-f2d1-86d7-dbb3d00925e0
* Content: [Bug Check Code Reference](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-

[2018-09-18 15:45] EliotSeattle commented on #845
Thanks. Looking into this.

[2018-09-19 00:37] EliotSeattle commented on #845
Right you are, @rena2019. ChkINF no longer ships with the WDK. I will take down the documentation. Thank you so much for pointing this out!

[2018-09-19 10:04] rodwiddowson opened #847 "Missing link to difficult to find "Microsoft Windows SDK documentation""
"For more information about opportunistic locks and about the FSCTL_REQUEST_OPLOCK control code, see the Microsoft Windows SDK documentation."

A hyperlink here might be useful since putting FSCTL_REQUEST_OPLOCK or "Microsoft Windows SDK documentation" into the search bar doesn't produce anything

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-09-19 10:20] jjbengo opened #848 "Typo in windbg command?"
The backslash in commands "x notepad!\*" and "x notepad!*main\*" makes them produce no output. I think the proper commands should not contain "\": "x notepad!*" and "x notepad!*main*"

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 142adea7-b7b8-4a5a-5e19-83a202ab04b2
* Version Independent ID: 489c0c22-908

[2018-09-19 16:28] GGabc opened #849 "Need Info Between {}"
Nice article, but it lacks how to determine the GUID for use between the {} on the BCDedit commandline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b8e80b1-789d-942c-d2ea-f7b3af8df312
* Version Independent ID: b93ffbfc-b7a2-5f23-c5aa-0b56eea5b7a9
* Content: [Boot Parameters to Manipulate Memory](https://docs.micros

[2018-09-19 18:06] DOMARS commented on #848
@jjbengo - I will take a look and see. This may take a bit as we are working on docs for the rs5 release in the next few weeks, but thanks for haring your experience with this lab.

[2018-09-19 18:18] DOMARS commented on #843
@dotMorten - symchk and the other debugger tools ship as part of the debugger. See this topic for information on that:

[Download Debugging Tools for Windows](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools)

Once that is installed it is available in this directory for 64 bit Windows.

C:\Program Files (x86)\Windows Kits\10\Debuggers\x64

I will work to a

[2018-09-19 20:39] EliotSeattle commented on #847
Thanks for pointing this out, @rodwiddowson. I changed the paragraph to:

For more information about opportunistic locks, see [Opportunistic Locks](https://docs.microsoft.com/windows/desktop/FileIO/opportunistic-locks) in the Windows Desktop documentation. For more information about user mode OPLOCK controls, see [File Management Control Codes](https://docs.microsoft.com/windows/desktop/FileIO/fil

[2018-09-19 20:39] #847 closed

[2018-09-19 23:00] DOMARS commented on #764
@chazste - I published expanded content that is better targeted to a dev. The topic now includes a description of parameter 2, which was a gap.  The dev team indicated that many times a user dump is also created before the system bugchecks. If that is available, it may be a better dmp to look at instead of the kernel dump, so I added that information as well. Thanks again for your input on this to

[2018-09-19 23:00] #764 closed

[2018-09-20 20:50] EliotSeattle commented on #849
Hi @GGabc.
Did you take a look at [BCDEdit /set](https://docs.microsoft.com/windows-hardware/drivers/devtest/bcdedit--set)? Is this the kind of thing you're looking for:

Parameters
[{ID}]
The {ID} is the GUID that is associated with the boot entry. If you do not specify an {ID}, the command modifies the current operating system boot entry. If a boot entry is specified, the GUID associated with th

[2018-09-20 21:09] tedhudek commented on #842
Thanks @caseysmithrc I've updated the link.  Updates should be live in a few minutes.

[2018-09-20 21:09] #842 closed

[2018-09-21 00:13] tedhudek commented on #845
Thanks @rena2019 you are correct, InfVerif has replaced the old ChkINF tool.  I've redirected the ChkINF doc pages to go to https://docs.microsoft.com/windows-hardware/drivers/devtest/infverif.

[2018-09-21 00:13] #845 closed

[2018-09-21 20:40] TimTheITGuy opened #850 "Tracking the Lock"
How do we view what vendor software (PID/image path/service name/etc.) has locked the TWAIN/WIA drivers so we can manually terminate the process or take steps to prevent its launching?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781fa6d5-2787-118e-376d-5472e49546e2
* Version Independent ID: 8d186097-e566-0741-dbf2-1

[2018-09-22 21:52] bityob opened #851 "Broken links - Get SDK/WDK Insider Preview"
Both two links leads to a not found page.

Get SDK Insider Preview
https://www.microsoft.com/software-download/windowsinsiderpreviewWDK

Get WDK Insider Preview
https://www.microsoft.com/software-download/windowsinsiderpreviewWDK

Yes, this is the the same link.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2018-09-23 11:32] kyanha opened #852 "Section "Should You Always Write a WDM Driver?""
The information in this section appears to conflict with at least some of the information in "Choosing a Driver Model" at https://docs.microsoft.com/en-us/windows-hardware/drivers/gettingstarted/choosing-a-driver-model (in the "Choosing a Driver Model for a Software Driver" section).  At this time, from what I can see from that other documentation, most kernel-mode drivers should be using KMDF unl

[2018-09-24 21:44] GreenReaper opened #854 "Display-Only Display Devices can use UMDF"
"display drivers ... cannot be UMDF drivers." should be clarified to explain that it refers to "Full" display devices not "Display-Only" (per DXDiag Device Type) as DisplayLink USB-based displays (dlidusb.dll, dlidusb2.dll) are UMDF.

This is equivalent to or a subset of the "Indirect Display driver model" which states it is implemented via UMDF:
https://docs.microsoft.com/en-us/windows-hardware/d

[2018-09-24 23:51] Ron-Hu opened #855 "Sr Dev Support Escalation Eng"
User-mode applications or kernel-mode drivers can access a top-level collection by opening its PDO and using the HIDClass support routines and the HID class driver IOCTLs.

Two URLs or links are in the above sentence on the page.  They don't go to their respective spots but to the top generic WDK page.  This is not helpful for me in MS reviewing the documentation or I would think others.

---
####

[2018-09-25 07:21] ChrisSchaller opened #856 "AcpiGenFx was built against the ".NETFramework,Version=v4.6" framework."
Please update the content to reflect that the current WDK requires .Net 4.6, or at least to mention that the target framework of your console project needs to match the framework that AcpiGenFx was compiled against. The wording in this document is just very strong suggesting that it will fail if you do not select 4.5 as the target.

This is the warning message when I run with 4.5 (yes it is obviou

[2018-09-25 16:09] EliotSeattle commented on #856
Thanks, @ChrisSchaller. @barrygolden, can you please rectify this as soon as you have time?  Thanks!

[2018-09-25 23:58] mimisasouvanh commented on #835
Hi @englishb
I have inserted links to relevant DDIs for this topic. They'll be published in the next 24 hours.
Thanks,
Mimi

[2018-09-25 23:58] #835 closed

[2018-09-25 23:58] #704 closed

[2018-09-26 00:03] EliotSeattle commented on #855
Thanks, Ron.
In the MSDN authoring environment, we had many pages that we added that gave short descriptions of groups of DDIs. In the DOCS system, we cannot mix conceptual topics in with the structured ref topics, so we moved those conceptual pages into the parent topics for the technologies, like [HID Minidriver IOCTLs](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/_hid/#

[2018-09-26 00:03] #855 closed

[2018-09-26 08:36] tobgyeltashi opened #857 "problem regarding Printing files to the WSD sample"
Hello,

I’m having problem in printing files to the WSD sample. As per the procedure given in the guidelines, I installed the driver and sample app. I used 3D builder to built a model and wanted to print it. But I couldn’t find the files sent to the printer from the 3D builder gone to the C:\Windows\Temp folder which is suppose to be the zip files.

What will be the reason for not getting the zip

[2018-09-26 17:19] mimisasouvanh commented on #775
Hello @flatulation ,

Please look in the "EDID format" section of the article [Overriding Monitor EDIDs with an INF](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/overriding-monitor-edids), this paragraph answers your first question:
"_To update EDID info, the manufacturer’s INF specifies the number of the block to be updated and provides 128 bytes of EDID data to replace the o

[2018-09-26 17:19] #775 closed

[2018-09-27 09:26] tobgyeltashi opened #859 "Install the driver on a Windows 10 machine"
Hello,
I am using Velleman K8200 compatible 3D printer. To install the print driver included in the 3D printing SDK, from where can I access to the driver's .inf file for the printer that I'm using to install the driver which is compatible to Velleman K8200 printer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd30

[2018-09-27 15:06] gonzalre opened #860 "Global Admin credentials"
Please note that the term Global Admin credentials it is no about Azure AD Global Admin, but to the developer portal Global Admin account, that at the end, are to different things. Please address this as this could mislead our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b50e13d-f920-d392-6be0-c792bceac73

[2018-09-27 15:08] kITerE opened #861 "HTML <title>contains extra escaping"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20a64a62-c8b8-d3f7-942a-145b8d8907c9
* Version Independent ID: 3ecdda0f-ef9b-5bde-431e-81a7af013f64
* Content: [FLT\_PARAMETERS for IRP\_MJ\_ACQUIRE\_FOR\_SECTION\_SYNCHRONIZATION union](https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/flt-parameters-fo

[2018-09-27 16:06] kITerE commented on #861
PR #862 (fix)

[2018-09-27 16:35] EliotSeattle commented on #860
Thanks, @gonzalre. I've edited the opening of the topic to differentiate the two account credentials. Should be live later today.

[2018-09-27 16:35] #860 closed

[2018-09-27 16:36] gonzalre commented on #860
Great! Thanks!

Gonzalo Reyna (GONZ)
Support Escalation Engineer
Microsoft Azure Rapid Response
Office: +1 (469)-775-2554
gonzalre@microsoft.com<mailto:gonzalre@microsoft.com>
M-F 8:00-17:00 CST
[cid:image001.jpg@01D45420.D7BAD7A0]
﻿
If you have any feedback about my work, please let either me or my manager Harry Storey know at harryst@microsoft.com<mailto:harryst@microsoft.com>

From: Eliot Graff

[2018-09-27 19:00] tedhudek commented on #861
PR is merged.  Thanks!

[2018-09-27 19:00] #861 closed

[2018-09-28 06:48] niderost opened #864 "Broken links in content"
Links in this content are broken. E.g. the link "class installers", "co-installers" and "device installataion applications" link to pages on MSDN (https://msdn.microsoft.com/library/windows/hardware/ff556274, https://msdn.microsoft.com/library/windows/hardware/ff556277) that don't exist any longer. Instead they should link to pages on DOCS (https://docs.microsoft.com/en-us/windows-hardware/drivers

[2018-09-28 09:35] TimvdLooy commented on #458
This option in combination with secure print can cause the Windows 10 print app to not work correctly.

[2018-09-28 16:03] kITerE commented on #836
@AkshayUsha, https://github.com/Microsoft/Windows-driver-samples/tree/master/filesys/miniFilter/avscan

[2018-09-29 09:43] LuigiBruno commented on #819
@DOMARS Thank you.

[2018-09-29 15:26] davidgiven opened #865 "Written documentation?"
Videos are really slow and difficult to use. Can we have some written documentation for this, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b034fd72-470b-76e3-e080-46cb688242db
* Version Independent ID: 3fde5448-65db-8332-2194-c3b301d0d4d5
* Content: [Capture and view USB traces with Microsoft Message Analyzer

[2018-09-29 18:13] LuigiBruno commented on #846
@DOMARS - Yes, it looks like: I've never seen DRIVER_PNP_WATCHDOG bug check before. Thank you.

[2018-09-29 18:50] LuigiBruno commented on #783
Thanks @EliotSeattle and @DOMARS.

[2018-09-29 18:52] LuigiBruno commented on #657
Thank you @DOMARS.

[2018-09-30 20:55] kyanha opened #866 ""enumerator" doesn't go anywhere useful"
The link to "enumerator" goes to the Windows Driver Kit root, not to the glossary.  This probably means that the glossary page isn't actually where this document has linked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d12a22f-cf0a-53e1-e276-ac12ad5e0da9
* Version Independent ID: d42e71ea-3561-bbb3-5041-3d69136540fb

[2018-10-01 11:36] cengizIO opened #867 "Clearly explained"
Thanks for the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e17d9b3-9e6b-df00-e249-38a0cd5e1099
* Version Independent ID: 83d9bce2-8b16-812f-d587-61527d4eba50
* Content: [System Sleeping States](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/system-sleeping-states)
* Content Source: [windo

[2018-10-01 16:33] EliotSeattle commented on #867
Thanks, @cengizIO. Glad we could help!

[2018-10-01 16:33] #867 closed

[2018-10-01 16:58] EliotSeattle commented on #866
Thanks, @kyanha
I added the definition from the retired glossary page. should be live later today.

[2018-10-01 16:58] #866 closed

[2018-10-02 01:59] tobgyeltashi commented on #859
Hello,
I’m having a problem in printing files to the WSD sample. As per the procedure is given in the guidelines, I installed the driver and sample app. I used 3D builder to build a model and wanted to print it. But I couldn’t find the files sent to the printer from the 3D builder gone to the C:\Windows\Temp folder which is supposed to be the zip files.
What could be the reason for not getting it

[2018-10-03 08:41] katdti opened #868 "pheap-buggy.* download"
Where can I download pheap-buggy.* so I could reproduce the streps described in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bce662c-3008-33e2-1c20-6e4cc7c3ccf9
* Version Independent ID: 0a88c1af-129e-cf79-acd1-8c14a81e4ce3
* Content: [Example 12 Using Page Heap Verification to Find a Bug](https:/

[2018-10-03 14:55] knobula opened #869 "Documentation Error."
The link to "Windows HLK Getting Started Guide." at the top of this page is pointing to the HCK documentation, not HLK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16149520-06cf-5257-0e53-0aeda1719b2a
* Version Independent ID: 63b8a418-0c66-c9f9-321f-f954543ec452
* Content: [Create a new hardware submission](https:/

[2018-10-04 20:56] SolarGranola opened #870 "Table Numbers"
In Table 1, the table title should say 1803 not 1809

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c30c68-d0cb-7a62-f154-e6ab40c0119e
* Version Independent ID: 4dec63f5-fc8f-b8ea-117f-ddeed34bfc31
* Content: [What's new in driver development](https://docs.microsoft.com/en-us/windows-hardware/drivers/what-s-new-in-dr

[2018-10-04 23:01] EliotSeattle commented on #870
Thanks, @SolarGranola for catching this. I made the fix in the source. Should be live later today.

[2018-10-04 23:01] #870 closed

[2018-10-05 07:59] johnsmith2679 opened #872 "Drivers for Windows"
I want to update my drivers of Windows 7 I need 64-bit supportable drivers. My older driver is not compatible with Microsoft Office soI want to replace this newer one. IS there any way to replace the driver package without uninstalling or deleting the other software.  Anyone have a query related to their Microsoft Office and other Microsoft plugins like installation guide, not responding, slow spe

[2018-10-05 21:39] BrianCatlin opened #874 "Links to EDID structures broken"
The two links to the EDID structure don't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e21e48-58df-e60c-e125-644a41e7fb6f
* Version Independent ID: 13071a05-b0d4-4e93-0ddd-e9b7ddc492b7
* Content: [Monitor Class Function Driver](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/monitor-class-fun

[2018-10-05 21:49] BrianCatlin opened #875 "Content useless"
Monitor filter drivers are supported, but where is the description of how the monitor class driver works? Where is the list of IRPs that the class function driver supports? Without either of those, there is no way to write a monitor filter driver! Most of the links on this page are broken. Is there a sample monitor filter driver in the WDK?

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-05 21:51] BrianCatlin opened #876 "Useless!"
So, how EXACTLY does someone write a monitor filter driver? There is nothing here that provides any information other than that monitor filter drivers are supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce19b390-c50f-5a79-a483-ff5de162ac91
* Version Independent ID: 5d0265b5-9492-ace8-84c9-466ecbc48c9a
* Conten

[2018-10-05 22:03] EliotSeattle commented on #874
Hi @BrianCatlin.
I've updated the topic. The links were to the glossary that we retired, so I incorporated the text from the glossary into the topic. I suspect that it might be less that you're looking for, though, as it tell what an EDID is and how to find one, but does not offer instructive advice on using an EDID. I'll leave this issue open and let @mimisasouvanh think about next steps. Here's

[2018-10-05 22:30] spayne opened #878 "Download WDK for Windows 10, version 1809 link is broken"
The link to the wdk: Download WDK for Windows 10, version 1809 https://go.microsoft.com/fwlink/?linkid=2026156 is broken for me.

I expect that clicking on it take me to a download, but instead it takes me to a generic/top levlel Microsoft site (https://www.microsoft.com/en-us/).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-05 22:49] EliotSeattle commented on #878
Holy cow, thanks, @spayne
Not sure what's going on with our tooling. Am looking into it. In the meantime, the direct link is [http://download.microsoft.com/download/1/4/0/140EBDB7-F631-4191-9DC0-31C8ECB8A11F/wdk/wdksetup.exe](http://download.microsoft.com/download/1/4/0/140EBDB7-F631-4191-9DC0-31C8ECB8A11F/wdk/wdksetup.exe). Let me know if that doesn't work for you.

[2018-10-05 22:50] markyoung143 opened #879 "Diagnostic quandary"
What does 1&08 mean? I want to decide it and other variants as I sometimes need to the associate a devicepath with a ctrl's PCI bus/dev/fund or to associate or find a drives slot or port.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5c7b52-24c3-5eb2-bd5e-ebb639590c48
* Version Independent ID: c1670409-850f-86d0-03a

[2018-10-05 23:17] EliotSeattle commented on #878
Back to normal. Thanks for the heads up!

[2018-10-05 23:17] #878 closed

[2018-10-06 00:08] #851 closed

[2018-10-06 06:04] gplayer123 opened #880 "Geo"
on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d77677a1-6187-f77b-57ac-e67bb1f76fa2
* Version Independent ID: 8e9b5002-a835-bf3c-0ad1-c1313f2dfc84
* Content: [Driver Packages](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/driver-packages)
* Content Source: [windows-driver-docs-pr/install/driver-p

[2018-10-06 15:01] AlanAtWork opened #881 "Bad link"
Under the heading 'The Core Host Interface: IDebugHost', the link to GetHostDefinedInterface is missing the h in https.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7434e280-8fc4-1482-d0c8-5cba59bdc529
* Version Independent ID: cf176950-915a-e86b-ff74-76b02c3374d4
* Content: [Debugger Data Model C++ Interfaces](https

[2018-10-06 17:27] EliotSeattle commented on #880
Hi @gplayer123.
I don't see a doc issue reported here, so I'm going to close this issue. If you meant to type more than "on" or there's something else to report, please reopen this or create a new issue. Thanks!

[2018-10-06 17:27] #880 closed

[2018-10-06 19:19] EliotSeattle commented on #836
@barrygolden can you look into this question regarding the sample?

[2018-10-06 19:33] EliotSeattle commented on #840
Closing for lack of a response. If this is in error, @NileshMali1, please reopen. Thanks!

[2018-10-06 19:33] #840 closed

[2018-10-08 07:19] lijie34 opened #882 "Using public symbol can not resolve the address of memory leak through verifier 3 Command"
Because public symbol does not have 2 special structures required by the !verifier 3 command, Using public symbol can not resolve the address of memory leak through the command.Public symbol should provide such a structure to help developer locate memory leaks problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581

[2018-10-08 10:28] thkaw opened #883 "Missing link"
Missing link in USB and Network devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ed803f-575f-b513-b210-ab308cab3eed
* Version Independent ID: e4a318a0-1490-bc72-4228-1768cd9bed9e
* Content: [Device and Driver Technologies](https://docs.microsoft.com/en-us/windows-hardware/drivers/device-and-driver-technologies

[2018-10-08 10:29] thkaw opened #884 "Missing link"
Missing link Device and driver technologies
Is correct link @ https://docs.microsoft.com/en-us/windows-hardware/drivers/device-and-driver-technologies ?

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 9dcfd3e9-3d43-1140-cc8c-fe5f9e915a9d
* Version Independent ID: 4f665db9-d2bf-3720-f7a0-4176f796438a
* Content: [Choosing a driver model](https://docs.microsoft.com/zh-t

[2018-10-08 12:36] robert1859 opened #885 "NDIS_SRIOV_CAPABILITIES"
Hi,
You mention that MaxNumVPorts and MaxNumVFs are members of NDIS_SRIOV_CAPABILITIES structure but I think that is not correct and bit misleading. Did you mean NDIS_NIC_SWITCH_CAPABILITIES?

Regards,
Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e9e77cf-56e5-9eab-f449-e60ef2c97f0e
* Version Independent ID: 2

[2018-10-08 14:45] LuigiBruno opened #886 "Examples missing"
Provide an usage example for each command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91700cd5-babb-708a-1aa3-04a9ced5661e
* Version Independent ID: 693a536c-6243-2486-310d-2aefd1a97467
* Content: [dds, dps, dqs (Display Words and Symbols)](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/dds--dps

[2018-10-08 16:00] EliotSeattle commented on #884
Fixed in source. Thanks, @thkaw!

[2018-10-08 16:00] #884 closed

[2018-10-08 18:28] tedhudek commented on #883
Thanks for spotting this @thkaw, the fix will be live in a few minutes.

[2018-10-08 18:28] #883 closed

[2018-10-08 21:39] duncanmacmichael commented on #885
Hi @robert1859 , it looks like you're right. The preceding paragraph did talk about registering SR-IOV capabilities, but then the text switched tracks to talk about NDIS_NIC_SWITCH_CAPABILITIES members. I've corrected links to the correct structure and the changes should be live later today. Thanks for pointing this out!

[2018-10-08 21:39] #885 closed

[2018-10-09 00:52] DOMARS commented on #872
Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation. Best of luck with this issue.

[2018-10-09 00:52] #872 closed

[2018-10-09 14:01] rodwiddowson commented on #872
As an outside I'd add that you might want to pop in to the [NTDEV](https://community.osr.com/categories/ntdev) list

[2018-10-09 16:47] tedhudek commented on #879
Hi @markyoung143, this value is essentially random. If you need to find a specific bus location, you can query [DEVPKEY_Device_LocationInfo](https://docs.microsoft.com/windows-hardware/drivers/install/devpkey-device-locationinfo
) or [DEVPKEY_Device_LocationPaths](https://docs.microsoft.com/windows-hardware/drivers/install/devpkey-device-locationpaths).