[2019-02-11 19:28] DOMARS commented on #1315
@csvital - Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite re

[2019-02-11 19:28] #1315 closed

[2019-02-11 23:00] minhyuk opened #1319 "need update?"
Hello, I am confused about process attestation with this document.
because it does not sync the current GUI of the partner center.
and you mentioned attestation process don't need CAT(catalog file), but it failed when submitting without CAT.
would you please update?

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: ed287852-04b7-1569-fd51-2640cfa24f57
* Versi

[2019-02-13 17:40] rgough71 opened #1321 "Missing ASL compiler download"
It would be nice if you could include a link whereby the MS ASL compiler can be downloaded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 146c2e57-a40b-33e0-c108-37f7555eda8a
* Version Independent ID: 81b0b392-c18a-f083-17fa-7e6dca629a52
* Content: [Microsoft ASL compiler - Windows drivers](https://docs.microsoft.com/

[2019-02-13 23:33] tedhudek commented on #1222
Thanks @SDWenzel I've updated the links. The change will prop to the live site overnight tonight Redmond time. See 1160253a94fe82c12d34aa3a3330455a0a1231fc for the changes

[2019-02-13 23:33] #1222 closed

[2019-02-14 00:13] tedhudek commented on #1261
Thanks @rbroker for the thoughtful suggestions.  I've just updated the .md source in b16e16350, this will refresh on the live site overnight tonight PST

[2019-02-14 00:13] #1261 closed

[2019-02-14 00:20] tedhudek commented on #1283
Thanks @EddieLotter for the suggestion.  I just updated the .md source in 9594cd56f59127fb0a795f9a4ba431b7203e67a3.  This change will be reflected on the live site during our next overnight refresh PST

[2019-02-14 00:20] #1283 closed

[2019-02-14 00:23] tedhudek commented on #1108
Hi @BrianCatlin sorry to take a while on this one.  Turns out we can't drop your code in the doc without testing, which we don't have bandwidth to do currently.  However, even when closed, this issue will remain linked at the bottom of the page on docs.ms, so people will be able to see your proposed code without leaving the page.  Best I can do at the moment!

[2019-02-14 00:23] #1108 closed

[2019-02-14 05:40] salgilbarana opened #1322 "not work on vmware (set windbg in guest)"
as you know most use serial port way on vmware  but  i cant find ethernet way

so i try to do however not work

i want ask for dont have set windbg ethernet on vmware

how to solve to not work on vmware

[2019-02-14 15:21] swinston opened #1324 "Call out that 'attestation signatures' are valid for S mode"
Append 'Valid signatures can be obtained by either Hardware Certification or Attestation.' to first bullet under 'Driver Requirements'. The text comes from the note here: https://docs.microsoft.com/en-us/windows-hardware/drivers/install/kernel-mode-code-signing-requirements--windows-vista-and-later-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-14 16:20] JonAxtell opened #1325 "More info on the "other switches""
Currently says "other switches
Configures Inf2Cat to add a DRM level catalog attribute or a PE catalog attribute to files, or to add page hashes to files. For more information, use the /? switch."

Would be more useful if this documentation details and describes the usages of the other switches and the consequences of using them. Just the basic that /drm and /pe are deprecated would save having to

[2019-02-14 19:50] tedhudek commented on #1143
Sorry @tzimmer1 I was unable to find anything else for you on this one.

[2019-02-14 19:50] #1143 closed

[2019-02-14 20:01] tedhudek commented on #1204
Thanks for the report @h28669 and apologies for the delay.  I just updated the doc source.  The change will appear on docs.ms within the hour

[2019-02-14 20:01] #1204 closed

[2019-02-14 20:04] tedhudek commented on #1235
Thanks @eliyasy check out the new links at https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/sample-kernel-mode-drivers

[2019-02-14 20:04] #1235 closed

[2019-02-14 20:14] EliotSeattle commented on #1325
Thank you, @JonAxtell, for pointing this out. I've added three switches that were not documented and removed the vague note about "other switches". It should go live later today. Appreciate that you took the time to let me know.

[2019-02-14 20:14] #1325 closed

[2019-02-14 20:22] tedhudek commented on #1231
Thanks for the tip @I-gor-C see the change in the above commit.  Should be live soon

[2019-02-14 20:22] #1231 closed

[2019-02-14 20:28] tedhudek commented on #1284
Thanks for the report @ericleigh007.  Apologies for the delay - do you recall which step on the doc page specifically caused the popup?

[2019-02-14 21:21] rbroker commented on #1261
Looks, great, thank you!

[2019-02-15 00:21] russbearl opened #1329 "Benefits of single-tier vs. two-tier"
Is there a performance benefit of having symbol store as a single-tier vs. two-tier structure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 330a3dee-501f-0ded-1757-425031a5f4a7
* Version Independent ID: cf39d189-5c63-951f-4215-42bbf0a04bfa
* Content: [Symbol Store Folder Tree - Windows drivers](https://docs.microsoft

[2019-02-15 02:41] aluhrs13 opened #1330 "Document "the client is not using same version of remoting protocol as the server" error message for WinDbg"

[2019-02-15 02:42] aluhrs13 commented on #1330
@DOMARS I have a rough write-up of this internally I'll share with you.

[2019-02-15 14:24] RAJU2529 opened #1331 "Great Content"
Thanks for the hidden secrets , I hope these regsitry keys  will help to the windows users. Thanks to all authors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32122b55-0ed3-e2df-4bc4-f37c52d5af65
* Version Independent ID: d24d5892-5cb7-05aa-f54a-db06d4f3b7d9
* Content: [USB Device Registry Entries - Windows drivers](

[2019-02-15 17:49] sarman1998 opened #1332 "Installing a Universal Windows Driver link is broken"
The link in the See Also section takes me to https://docs.microsoft.com/en-us/windows-hardware/drivers/
I looked for the correct link but i couldn't find it here.  I did see it in someones old fork of the docs on GitHub so i suspect that section was renamed during some rewrite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-02-15 17:51] DOMARS commented on #1330
@aluhrs13 - Feel free to send a PR.

[2019-02-15 23:32] duncanmacmichael commented on #1331
Thanks, @RAJU2529! Although these registry keys are detailed for USB driver developers, I'm glad you got some good knowledge out of the doc. :)

[2019-02-15 23:32] #1331 closed

[2019-02-16 11:28] hunger1 opened #1334 "Possible missing parameter 1 value"
I see the following event in the Event Viewer of my Windows 10 Pro 1803 system:

The computer has rebooted from a bugcheck.  The bugcheck was: 0x000000e6 (0x0000000000000026, 0xffffd08bb1435060, 0x0000000000000040, 0x0000000000000006).

The first parameter, 0x26, is not shown in the list above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-02-16 21:17] donmac2 commented on #1334
I have the same problem. In case it's not linked, the webpage he's referring to is at https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-0xe6--driver-verifier-dma-violation

[2019-02-18 01:20] CKroid opened #1335 "Example 3: Using an extension INF to install a filter driver"
We submitted a driver based on "Example 3: Using an extension INF to install a filter driver" but the creation of the shipping label was rejected by MS with the following error:

"Bad Submission data: Bad driver INF configuration VSO bugId: 20385599. Comment: Extensions should not contain sys, dll or exe files. Contains: .cat: 1, .inf: 1, .sys: 2"

So is Example 3 a valid driver? Are we allow to i

[2019-02-19 12:44] kevincrans opened #1336 "adding boot entry tutorial only specifies how to add a newer os than windows vista"
I want to add an older os to my boot entry than windows vista in my virtual machine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e888de-16af-86ce-3844-b55b519aea27
* Version Independent ID: 97cbb0fb-8c60-afe6-5170-0bfcc75a8613
* Content: [Adding Boot Entries - Windows drivers](https://docs.microsoft.com/en-us/wind

[2019-02-19 14:00] ocitrev commented on #676
I had the same problem and it was caused by NVIDIA GeForce Experience.  I uninstalled and WinDbg Preview works fine now.

[2019-02-19 20:41] tedhudek commented on #1335
Thank you @CKroid for reporting this!  This was a mistake on the Microsoft side.  It was fixed this morning Redmond time.  Filter driver Extension packages should now pass through validation as expected.

[2019-02-19 20:41] #1335 closed

[2019-02-20 11:19] GernotB commented on #819
@LuigiBruno I think the Component Store is different from the store component. Component Store is for management of [side-by-side assemblies](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/assemblies-and-side-by-side-execution) and I'd suppose the store component is a functional unit in the kernel. Otherwise it's hard to imagine it can throw a bug check.

[2019-02-20 21:54] DOMARS commented on #1316
@Oschly - Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found.
•	[Windows Hardware WDK and Driv

[2019-02-20 21:54] #1316 closed

[2019-02-20 21:57] #1289 closed

[2019-02-20 22:00] DOMARS commented on #1322
@salgilbarana - Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found.
•	[Windows Hardware WDK an

[2019-02-20 22:00] #1322 closed

[2019-02-20 22:08] DOMARS commented on #1329
@russbearl - I would say the difference in file system access would be minimal with either single or two tier structure, but have not tested this and of course factors such as using a SSD would change your results. If you want to investigate this further, the you may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The

[2019-02-20 22:08] #1329 closed

[2019-02-20 23:20] DOMARS commented on #1330
Following up on this with Andy.

[2019-02-20 23:45] DOMARS commented on #1336
@kevincrans - Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite

[2019-02-20 23:45] #1336 closed

[2019-02-21 01:14] DOMARS commented on #1300
@blabberer - Thanks for reaching out to the Windows Driver Developer Documentation team. My assembly is pretty rusty and I think you are raising a number of issues here that I may not be tracking very well.  I have added someone with debugger team here - Andy for their awareness. It looks like your first sample output is from 32 bit Windows and your second sample is from 64 bit Windows?

This old

[2019-02-21 01:17] DOMARS commented on #1318
@csvital - Thanks for pointing this out. I downloaded the sample and the UI project does indeed seem to be missing. I'm checking with the dev team to see what I can find out about this.

[2019-02-21 02:45] DOMARS commented on #1311
@bendono - The search command has some subtle/complex behaviors with compound parameters and it is always good to validate that the command is working as intended as you are doing. As people have gotten used to those behaviors, it is normally a matter of finding a pattern that works for you. The docs do not cover all of the permutations that are possible with the search command.

By the way, a gre

[2019-02-21 19:01] DOMARS commented on #1311
@bendono - I updated the wording to clarify when quotes could be used. The changes should be live in a day or so.

[2019-02-21 20:04] tzimmer1 commented on #1143
Not a problem.  Thanks for checking.

[2019-02-21 21:57] blabberer commented on #1300
@DOMARS
1) no they are all in 32 bit
2) I am Aware that Assemble command Does not support  64 bit mnemonics
3) I am Aware of osr's windbg list

[2019-02-22 18:15] Amaroq-Clearwater opened #1340 "Feature Request: Joint Memory Dump, and other features"
First off: I sincerely apologize for putting my request in the documentation section, but I couldn't find any other Microsoft Github repositories involving crash dumps, and I don't have access to the Feedback Hub from my current device (runs iOS)... So, really sorry about that. If you could somehow move these to the appropriate section, I'd appreciate that.

Without further ado...

# Summary of th

[2019-02-22 20:51] tedhudek commented on #1324
Hi @swinston we'd actually prefer that folks not do this on Windows 10 in S Mode, but I really appreciate the suggestion.  Thanks for caring about the docs!

[2019-02-22 20:51] #1324 closed

[2019-02-23 08:30] xslattery commented on #676
I can confirm, uninstalling NVIDIA GeForce Experience, fixes it for me.

[2019-02-23 13:51] craniumrat commented on #676
Can confirm. I just uninstalled NVIDIA GeForce Experience. Windbg Review fired right back up.

[2019-02-23 17:11] gilgm12 opened #1342 "WDK forces /Qspectre for new projects. Uninstall of extension prevents VS2017 uninstall or repair!"
![d51a3b863bb445a97905c44dc3d24c64](https://user-images.githubusercontent.com/622590/53289455-59357680-3753-11e9-9606-be41edbd87ba.png)
![3444487fd3bdd8f6a21830c703aa87a8](https://user-images.githubusercontent.com/622590/53289458-5c306700-3753-11e9-9a29-64d9e72226e5.png)

My VS2017 workspaces are hosed now. :(

[2019-02-24 00:14] nospamsam2011 commented on #365
Why is inf2cat not included with the Win10 SDK?  If it is, where is it located?

[2019-02-25 11:16] LuigiBruno opened #1343 "Possible values for parameter 1 and other parameters meaning"
Are there other possible values for parameter 1? I've sen an example of this bug check submitted by one user in TechNet forums having the value "0xffffffffc0000005" (which resembles the NT code for memory access violation).
Also, what is the meaning of the other 3 parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-02-25 20:40] goodandrewsoft opened #1348 "Incorrect autodetection and set the target bitness if params of exe file are using"
Example:
`WinDbgX.exe C:\Windows\SysWOW64\notepad.exe`
task manager:
![image](https://user-images.githubusercontent.com/2471892/53367294-6cf8fc80-394e-11e9-951e-cec730a83fbf.png)
EngHost.exe - is 32 bit (good)

Example:
`WinDbgX.exe C:\Windows\SysWOW64\notepad.exe someparam`
task manager:
![image](https://user-images.githubusercontent.com/2471892/53367349-97e35080-394e-11e9-807d-a0d089a70aaa.png)

[2019-02-25 22:20] designdust opened #1349 "The driver kepps coming back after restart"
This is annoying as I want to get rid of the faulty drivers. The problem the drivers just keep coming back after restart. Tried the pnputil but said drivers didn't exist. Anyone? Solution? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963a0877-81d6-57b1-2922-459c9077c76c
* Version Independent ID: 49998df1-e

[2019-02-25 23:17] EliotSeattle commented on #1342
Hi @gilgm12
Sorry that you're having this happen. I have not seen this occur before. Do you have any more repo details?
Also, my team handles feedback about the documentation. Is there an error in the docs? If this is really about the product, you'll have better success submitting feedback through Feedback Hub (Click **Start**, and then type **Feedback Hub**).

[2019-02-26 10:46] Ammarhassan48 opened #1351 "OS Version for Both Host and Target Machines"
Is it necessary to have exactly same to same OS on both Host and Target machine.
Like I'm running Windows 10 on both machines but Host running Windows 10 ( Build 1809 ) and Target running Windows 10 ( Build 1803 )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce050ea3-d61e-830c-3038-f725eb4c29e1
* Version Independent

[2019-02-26 16:32] psifertex opened #1352 "unclear whether EV certs are required for partner center or not"
I'm having trouble using a standard certificate (that validates with `signtool verify /pa`) for the Windows 10 desktop application partner page: https://partner.microsoft.com/en-US/dashboard/Account/CertificateUpload

The documentation on this page is ambiguous on the topic. First, it says:

`The Partner Center will enforce mandatory EV certificates for submissions later this year.`

But right bel

[2019-02-26 19:18] EliotSeattle commented on #1352
Thanks, @psifertex, for bringing this up. That doc needed updating. We've made changes, and it will go live later today. In short, desktop Win32 application signing is no longer done. See [Win32 logo certification deprecation](https://blogs.msdn.microsoft.com/windows_hardware_certification/2018/04/19/win32-logo-certification-deprecation/) for the summary, until the updated page loads.

[2019-02-26 19:18] #1352 closed

[2019-02-26 20:16] psifertex commented on #1352
I'm not sure that answers my question -- the link is talking about Pre Windows 10 32bit applications if I read it correctly. I'm interested in telemetry and signing for a 64bit Win10 desktop application. Or am I misunderstanding?

[2019-02-26 20:20] psifertex commented on #1352
Specifically, I'm looking for crash dumps from users of my software that is a 64bit PE signed with a Comodo reseller cert.

I believe this used to be available on sysdev and was under the impression the new link above was the place to go for it but I've never used sysdev myself, just from what I can read online.

[2019-02-26 23:58] EliotSeattle commented on #1352
Oh, sorry, @psifertex. I misunderstood your request.

Our docs are specifically about the hardware and driver certification process. I think you will find what you need on the [Windows Desktop Application Program](https://docs.microsoft.com/en-us/windows/desktop/appxpkg/windows-desktop-application-program)

First, you'll need a Partner Center Account (I'm not positive if you need an EV cert for th

[2019-02-27 01:51] EliotSeattle commented on #1351
Hi @Ammarhassan48.
From my perspective, you should try to match versions as closely as possible. If the versions are different, they *might* work, but they might not. It really kind of depends on the differences between them. For a little more detail about setting up the environment, see [Preparing a Computer for Manual Driver Deployment](https://docs.microsoft.com/windows-hardware/drivers/develop

[2019-02-27 01:51] #1351 closed

[2019-02-27 10:29] winter3angle opened #1355 "Missing parameter 1 value = 0x5010"
Corresponding bugcheck was hit during WHQL "Trim Test" on Windows 7 with enabled verifier on our own drivers, ataport.sys, msahci.sys and msahci_hvt.sys

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Chec

[2019-02-27 10:40] LuigiBruno opened #1356 "Exception code "0x80000003""
The list of NTSTATUS values states that "0x80000003" stands for "{EXCEPTION} Breakpoint A breakpoint has been reached.", but I've analyzed a memory dump file where WinDbg reported the below information

EXCEPTION_CODE: (HRESULT) 0x80000003 (2147483651) - One or more arguments are invalid

Which is the correct value for that status code?

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-02-27 11:49] lovdov commented on #676
It seems that recent nvidia update fucked windows up.
Nice job Nvidia as always

[2019-02-27 14:14] WeaselDev commented on #1334
Same issue here with Windows 10.
The bugcheck was: 0x000000e6 (00000000`00000026, ffff950d`53459060, 00000000`00000027, 00000000`00000006).

[2019-02-27 16:54] psifertex commented on #1352
Thanks @EliotSeattle, sorry for confusing the two pages.

Yes, that's the process I'm following now that's broken. I don't see a link on that page however to point out a problem with the documentation -- specifically the broken link on the error message along with a lack of any actual information about which CAs are required. I have a Partner Center Account (the account itself required no EV cert)

[2019-02-27 21:23] chjone opened #1358 "Broken link"
The URL at the bottom 'https://docs.microsoft.com/ewindows/desktop/Services/protecting-anti-malware-services-' does not resolve.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cb04a99-d20e-4b9b-9c25-bbeaaed52b8d
* Version Independent ID: 80858d16-aa19-4992-1767-4c1bc365f297
* Content: [Early Launch AntiMalware - Windo

[2019-02-27 23:27] EliotSeattle commented on #1358
Thanks, @chjone, for catching this. I've made the fix (just removed the "e" in front of windows in the url. Should be published later today.

[2019-02-27 23:27] #1358 closed

[2019-02-28 05:55] TanakaYasen opened #1359 "A mistaken statement"
"The driver can register an InterruptService routine to handle line-based or message-signaled interrupts. (This is the only type available prior to Windows Vista.) "

According to the statement above, an InterruptService routine is only to handle line-based interrupts rather than the message-signaled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-02-28 15:46] garysheppardjr commented on #1334
Mine is almost identical to the others posted:

`0x000000e6 (0x0000000000000026, 0xffffd48b9ae8d060, 0x0000000000000024, 0x0000000000000006)`

[2019-02-28 19:16] RobG-MSFT opened #1360 "Can you post also the Microsoft Code Verification Root certificate."
I have a customer that does not have the ability to get the Microsoft Code Verification Root certificate via the Root Update program (if it is even available via that method).   They do not allow systems to access the internet.  I would be helpful to have the Root CA certificate available to be downloaded just as you have made the intermediate Cross CA Certificates available from 3rd parties here.

[2019-02-28 19:56] HoShiMin opened #1361 "Broken links for SDK/WDK preview"
SDK and WDK link is the same and broken: https://www.microsoft.com/software-download/windowsinsiderpreviewWDK

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 34d06a09-bca8-3177-00fd-2195f56c4fb9
* Version Independent ID: 5328b553-ad08-4808-0b14-9720484040ce
* Content: [Installing previ

[2019-02-28 21:11] druske opened #1362 "NDIS interface provider providing NDIS interface services..."
The words "interface" and "provider" and "service" are used so frequently in any given sentence that it becomes difficult to tease out the specific meaning, at least to someone trying to become familiar with the material. "NDIS" and "NDISIF" and "NDIS IF" may also appear multiple times in a sentence. Maybe it's just me, but it seems like this page could benefit from a writer armed with a thesaurus

[2019-02-28 21:23] EliotSeattle commented on #1361
Hi @HoShiMin.
Thanks for reaching out. I tried every link on [Installing preview versions of the Windows Driver Kit (WDK) - Windows drivers](https://docs.microsoft.com/windows-hardware/drivers/installing-preview-versions-wdk), and they all seem to work for me. Yes, the link is the same for the WDK and the SDK, for both downloads are found on the same destination page. But I find no broken links. C

[2019-02-28 21:27] HoShiMin commented on #1361
Sure, but I've check it in Russian localization, and I already found an en-us version that works fine.
https://www.microsoft.com/ru-ru/software-download/windowsinsiderpreviewWDK

[2019-03-01 00:18] DOMARS commented on #1356
@LuigiBruno - I believe NTSTATUS values are different from HRESULT values. See the protocol docs:
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-erref/705fb797-2175-4a90-b5a3-3918024b10b8

[2019-03-01 00:21] DOMARS commented on #1355
@winter3angle - This doesn't seem to be feedback on the docs, so closing this issue. For community comments see the forums, for example:
•	[Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk)

[2019-03-01 00:21] #1355 closed

[2019-03-01 00:35] DOMARS commented on #1348
@goodandrewsoft - As described in this topic, you can use the debugArch param to specify bitness.

-debugArch x86 -or- amd64 | Override the autodetect behavior and set the target bitness for the debugger.
-- | --

For product behavior input follow this link to file product feedback using the Windows Feedback Hub:
http://aka.ms/dexex
The Feedback Hub allows customers to file and up vote product iss

[2019-03-01 00:35] #1348 closed

[2019-03-01 01:27] duncanmacmichael commented on #1362
Hi @druske, thanks for the feedback. I can see how this might be a bit confusing for someone learning the material, so I've made some minor style and organizational changes to help emphasize clearer meaning Unfortunately, I can't change the wording too much since the definitions are what they are, but hopefully this helps. Those changes should be live later today, Redmond time.

If you're new to N

[2019-03-01 01:27] #1362 closed

[2019-03-01 08:04] arilou opened #1364 "Missing entry for 0x3453"
Arg 1 for this bugcheck can be `0x3453`, but it is not listed in the table. Anyone know what it means?

Arg2 seems to be the EPROCESS
Arg3 seems to be a PFN index?

[2019-03-01 11:23] winter3angle commented on #1355
@DOMARS could you please kindly clarify why this isn't related to the docs? I saw a couple of similar issues that were addressed (eg. #660). The issue is not about the bugcheck itself, but about the undocumented parameter 1 value.

[2019-03-01 12:04] acontrario52 opened #1365 "could missing drivers be uploaded"
I had to do a clean install after W10 1809 update on a Sony Vaio laptop (defunct brand), fully functional i7 SSD 1TB.  Only 2 drivers missing.
I had to search. I had in store the 2 drivers, immediately recognised. Others may not have them. Could I upload them somewhere? (1. Finger scanner  AuthenTec Inc. AES1660 ATSwpWDF.sys
& 2. Extension parser on LTC controller ACPI\SNY5001 SFEP.sys). Nothings

[2019-03-01 14:18] KalleOlaviNiemitalo opened #1366 "Document symchk /ov"
`symchk /?` describes:

[code]

Please document the `/ov` option here.

In symchk.exe version 10.0.10240.16384, `/ov` used to display the FILEVERSION of each file. In symchk.exe version 10.0.17763.132, it now displays the PRODUCTVERSION instead. This seems worth documenting, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-03-01 17:36] EliotSeattle commented on #1365
Hi @acontrario52.
Sorry to hear that you went through that trouble.
The registered owner for the drivers would have to upload the them to the Partner Center. As you mention, both are available on Sony's website.
Thanks for reaching out.
@EliotSeattle

[2019-03-01 17:36] #1365 closed

[2019-03-01 20:25] LuigiBruno commented on #1356
Thanks @DOMARS.

[2019-03-02 08:40] lwahonen commented on #676
WinDBG only works if vmware tools are uninstalled, which makes for a pretty sad user experience.

[2019-03-02 10:13] jurva opened #1368 "Link to Certification Test Reference works but target is obsolete"
The link is to:
https://docs.microsoft.com/en-us/previous-versions/windows/hardware/hck/hh998741(v=vs.85)
which says:

"We're no longer updating this content regularly. Check the Microsoft Product Lifecycle for information about how this product, service, technology, or API is supported.". The link on the target page contains a "Recommended Version" link to a top-level, very generic page. I sugges

[2019-03-02 10:43] jurva opened #1369 "The link to "test categories" does not work"
In addition, the link to Hardware Certification Kit (HCK) points to an outdated page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db0c1e7f-3231-e9d5-be1d-0053815ee006
* Version Independent ID: 730bbc6f-afa2-1876-a466-14c0931b56a1
* Content: [PnP Device Installation Signing Requirements - Windows drivers](https://doc

[2019-03-03 13:47] ChrisMaddock opened #1370 "Incorrect character escaping in code samples"
It looks like a number of HTML characters have been incorrectly escaped in code samples in this repository.

For example: apostrophe's showing as `&#39;` in the code comments here:
https://docs.microsoft.com/en-us/windows-hardware/drivers/install/checking-for-in-progress-installations

And `&quot;` in the code samples here:
https://github.com/MicrosoftDocs/windows-driver-docs/blob/b9be32d9e5217219

[2019-03-03 14:15] jurva opened #1371 "Link broken"
Microsoft Cross-Certificates for Windows Vista Kernel Mode Code Signing link is broken. Points here:
https://www.microsoft.com/whdc/winlogo/drvsign/crosscert.mspx
"We are sorry, the page you requested cannot be found."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1729cb-4c11-c658-7c0b-c7d19e3e0340
* Version Indepen

[2019-03-04 02:10] huagj opened #1373 "Driver-updatable device FW,"
As storage device can update their FW in windows OS,
How can we release storage device FW through WU and update their FW in windows OS but not need UEFI support?
Driver-updatable device firmware.

This device firmware can be updated by the device driver during the normal Windows OS runtime. Updating device firmware using normal Windows OS drivers is not covered by this paper.

---
#### 文档详细信息

⚠ *

[2019-03-04 19:05] EliotSeattle commented on #1370
Thanks, @ChrisMaddock.
I avow, once more, that I never met a migration tool I didn't like.
Got these. They'll be live shortly.  In the future, please feel free to create a pull request if you see anything like this.
Cheers,
Eliot

[2019-03-04 20:13] ChrisMaddock commented on #1370
Hey @EliotSeattle - sorry, my bug report wasn't clear.

The above were just two examples - this same problem happens in 100s of places across this repo. That's one of the reasons I didn't pull request, was more than I was able to commit to.

Would you be able to reopen this issue, for the remaining problems? Here's a search showing problems with the apostrophe escaping - the same can be found for

[2019-03-04 21:09] EliotSeattle commented on #1370
Oh, you mean like real work? Got it. :-(
Do you happen to have a list of the other escape characters you've seen? It'd be helpful. If not, we can come up with some regular expression searches.

[2019-03-04 21:17] ChrisMaddock commented on #1370
Ikr. 😞

I can see pretty broken cases of much everything common... `&amp; &gt; &lt; &quot;` etc. I haven't searched much for other numeric escapes.

[2019-03-04 21:30] snowkoan opened #1374 "Missing documentation for parameter 1 = 0x3453"
Another undocumented stop code...

MEMORY_MANAGEMENT (1a)
    # Any other values for parameter 1 must be individually examined.
Arguments:
Arg1: 0000000000003453, The subtype of the bugcheck.
Arg2: ffffac0a88f49080
Arg3: 0000000000008500
Arg4: 0000000000000003

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfb

[2019-03-05 00:30] ralish commented on #1334
For what it's worth WinDbg maps `0x26` to the following description: *IOMMU detected DMA violation*.

Here's the header of a bugcheck analysis with the same bugcheck code and first argument:
[code]

[2019-03-05 00:46] ryan-roberts opened #1375 "staticContentClear.xml missing closing </appcmd> element"
Without the closing "&lt;/appcmd&gt;" in "staticContentClear.xml" the following is seen during installation script execution: "ERROR ( hresult:80004005, message:Failed to obtain input for command: Unspecified error"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0f38fcd-06ec-37b1-3503-d4e8484b6147
* Version Independen

[2019-03-05 12:43] jurva opened #1376 "A link is broken"
The link to "Microsoft Cross-Certificates for Windows Vista Kernel Mode Code Signing" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b82e43ef-8477-f0cf-a15b-393d13bd99a7
* Version Independent ID: c8c45d60-5f06-519f-77d1-ee5a522a396b
* Content: [Software Publisher Certificate - Windows drivers](https://docs.m

[2019-03-05 12:59] jurva opened #1377 "Unhelpful link"
Link in "see Test Signing a Driver" goes to the top level document (https://docs.microsoft.com/en-us/windows-hardware/drivers/), which is not very useful, considering the written topic of the link. It is almost as useless as linking to "goole.com" to search for ore info about different types of fruit flies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-03-05 13:13] jurva opened #1378 "The list of Codes"
A link to a relevant list of error codes as shown in the arcticle's screenshot in "Code 39" might be handy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b3139a-27f1-d868-b971-2255ffe4dcc2
* Version Independent ID: 2ba8b67a-ee31-2fce-7143-48df43bfc3ce
* Content: [Detecting Driver Load Errors - Windows drivers](https

[2019-03-05 16:18] druske opened #1379 "Broken Links"
Links to details about the IOCTLs IOCTL_SPB_EXECUTE_SEQUENCE, IOCTL_SPB_LOCK_CONTROLLER, and IOCTL_SPB_UNLOCK_CONTROLLER are dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30bbb5eb-e38a-d1ce-4522-bfb3b098e087
* Version Independent ID: aee67d84-4d63-4966-7484-3e63c36d48f2
* Content: [Using the SPB I/O Request Inte

[2019-03-05 18:01] EliotSeattle commented on #1379
Thanks, @druske
A small artifact of a content migration we went through. I've made these updates, and they'll be live later today.

[2019-03-05 18:01] #1379 closed

[2019-03-05 19:21] ryan-roberts opened #1380 "SymProxy requires trusted root certificates for upstream providers like msdl.microsoft.com/download/symbols"
Please amend the SymProxy documentation with this pretty large prerequisite.

I found out the hard way that SymProxy silently fails debugger requests with 404 if the upstream provider uses HTTPS/TLS and the root certificate for the endpoint isn't in the Trusted Root store on the machine where SymProxy is running. Our servers are configured to only install a small set of root certificates and this

[2019-03-05 21:15] ryan-roberts opened #1381 "FailureTimeout and similar settings deprecated in latest Win10 SDK releases?"
It seems symproxy, starting with version 10.0.18317.1000 and through to the current release of 10.0.18342.1, no longer reads keys: FailureTimeout, FailureCount, FailurePeriod, and FailureBlackout. Is that still a supported feature in the newest releases?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a95a56a-d534-9fe7

[2019-03-05 21:25] ryan-roberts commented on #1381
These settings appear to also be no longer read with the latest releases: LogLevel, MissFileCache, and MissFileThreads

Put another way, these appear to be the only settings read on startup: NoInternetProxy
NoLongerIndexedAuthoritive
NoFilePointers
NoUncompress
NoCache
MissTimeout
MissAgeTimeout
MissAgeCheck
RequestTimeout
RetryAppHang
UriFilter
UriTiers

[2019-03-05 21:42] acclivity2 opened #1382 "For my issue involving graphics timeout, you recommend increasing the value of TdrDelay in my registry. however no such entry exists in my registry (Windows 7)"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 652e03eb-a834-6c30-44c1-e9c917a94926
* Version Independent ID: bca54aa8-2da8-e389-aa74-f66bf3ab65ab
* Content: [Timeout Detection and Recovery (TDR) Registry Keys - Windows drivers](https://docs.microsoft.com/en-gb/windows-hardware/drivers/display/tdr

[2019-03-05 21:53] ryan-roberts commented on #1381
That also means the following settings aren't described here:
NoLongerIndexedAuthoritive
MissAgeTimeout
RequestTimeout
RetryAppHang
UriFilter
UriTiers

[2019-03-06 03:52] wangyanhui0614 opened #1383 "How can I call _DSM method in a UMDF USB driver?"
I want to call _DSM method in a USB driver(UMDF driver),  but I set  UMDFDispatcher = WinUSB in inf file, when I call _DSM method, the program crashed.   If I delete UMDFDispatcher = WinUSB,  call _DSM method is successful.   Is there a way call _DSM method in a USB driver with UMDFDispatcher = WinUSB ???

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8c3650d3-b014-

[2019-03-06 05:58] OzBob commented on #1010
The 'Comodo' link has been tampered with!

The ["Microsoft link"](https://go.microsoft.com/fwlink/?linkid=863208) currently points to InstantSSL "https://www.instantssl.com/code-signing-certificates"

instead of the new owners of Comodo: https://sectigo.com/products/signing-certificates/code-signing

I would create a pull request myself and correct the Docs, but do not know how to create a new Mic

[2019-03-06 06:01] OzBob opened #1384 "get-a-code-signing-certificate Comodo link points to InstantSSL"
The 'Comodo' link has been tampered with!

The ["Microsoft link"](https://go.microsoft.com/fwlink/?linkid=863208) currently points to InstantSSL "https://www.instantssl.com/code-signing-certificates"

instead of the new owners of Comodo, Sectigo: https://sectigo.com/products/signing-certificates/code-signing

I would create a pull request myself and correct the Docs, but do not know how to create

[2019-03-06 12:30] LuigiBruno commented on #1299
Thank you, @DOMARS. I'll do that.

[2019-03-06 12:32] LuigiBruno commented on #1298
Thank you @DOMARS. I'll do that.

[2019-03-06 17:05] EliotSeattle commented on #1384
@SillyKeith, can you please look at this and Issue #1010

[2019-03-06 17:05] EliotSeattle commented on #1010
@SillyKeith, can you please look at this and Issue #1384

[2019-03-06 18:40] EliotSeattle commented on #1361
Looked into this more, @HoShiMin,
![ru-ru locale target](https://user-images.githubusercontent.com/3382964/53904932-1a79a900-3ffc-11e9-899e-e485b3698751.png)
 but I can't reproduce any error. When I set my browser to ru-ru locale, the links to the windowsinsiderpreviewWDK download work fine, though they don't specify a locale for the download. We do this on purpose, to guard against trying to go t

[2019-03-06 18:40] #1361 closed

[2019-03-06 18:46] EliotSeattle commented on #1342
Closing without a response to question and b/c this is product feedback.

[2019-03-06 18:46] #1342 closed

[2019-03-06 18:51] EliotSeattle commented on #1219
@BretSagan, sorry I didn't see this issue logged.
@SillyKeith
I cannot see if this submission has been resolved. Can you please look?
Thanks,
Eliot

[2019-03-06 19:07] EliotSeattle commented on #1077
I'm sorry to say this, but I am unable to contact the person who reproduced the error, and nobody else has been able to do so.

[2019-03-06 19:08] #1036 closed

[2019-03-06 19:16] EliotSeattle commented on #914
After extensive enquiry, I am afraid I can only say that we don't currently have this.

[2019-03-06 19:16] #914 closed

[2019-03-06 19:18] EliotSeattle commented on #889
Doing a little housework. I completed this request in December.

[2019-03-06 19:18] #889 closed

[2019-03-06 19:19] EliotSeattle commented on #849
Closing without any reply back.

[2019-03-06 19:19] #849 closed

[2019-03-06 19:22] EliotSeattle commented on #839
@NileshMali1 Sorry for the delay on this.
@balapv can you answer these questions?

[2019-03-06 19:25] EliotSeattle commented on #836
Closing because of inactivity.

[2019-03-06 19:25] #836 closed

[2019-03-06 19:38] EliotSeattle commented on #729
Note to self: Close Git Issues that were completed 6 months prior. Ugh.

[2019-03-06 19:38] #729 closed

[2019-03-06 23:18] EliotSeattle commented on #1377
Fixed in source. Should be live shortly.

[2019-03-06 23:18] #1377 closed

[2019-03-06 23:31] EliotSeattle commented on #1376
Fixed this in the source. That text now points to https://docs.microsoft.com/windows-hardware/drivers/install/cross-certificates-for-kernel-mode-code-signing. Should be live later today.

[2019-03-06 23:31] #1376 closed

[2019-03-07 02:24] BretSagan commented on #1219
@EliotSeattle @SillyKeith This issue has been resolved, thank you.

[2019-03-07 15:22] rubu opened #1385 "Unsupported driver architecture AMD64 found in driver"
There seem to be changes in the attestation process which is not described here. We have a driver which signed successfully until October 2017, but now fails (only the x64 version). Everything was done according to this documentation. The "UniversalLog" contains the line "Unsupported driver architecture AMD64 found in driver" even though we have not changed anything. For the previously signed buil

[2019-03-07 19:55] #1219 closed

[2019-03-08 00:57] spbrogan opened #1386 "List of valid /os parameters is out of date"
Newer tool versions show values like: 10_RS4_X64  The list here is out of date

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0afbc04b-349a-57ed-eeb0-3d2cd28e359c
* Version Independent ID: de61f684-31d7-2de5-d66c-a3319f5198d9
* Content: [Inf2Cat - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drive

[2019-03-08 04:27] metata0201 opened #1387 "Missing documentation for parameter 1=0x15001"
MEMORY_MANAGEMENT (1a)
    # Any other values for parameter 1 must be individually examined.
Arguments:
Arg1: 0000000000015001, The subtype of the bugcheck.
Arg2: ffffbd0a1da2aa80
Arg3: ffffbd0a1e98e440
Arg4: 0000000000000000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version

[2019-03-08 07:31] stozk commented on #1334
Same problem here with parameter 1 26 since 2 or 3 days. Seems like some driver or update broke something.

[2019-03-08 18:58] GabeSJones opened #1389 "Windows 10 1808 is not a thing"
Windows 10 1808 =&gt; Windows 10 1809

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d3f097-d81b-66c2-4835-d63758687d34
* Version Independent ID: fe9d1cdd-966e-89b5-c66b-60531b0ec655
* Content: [Get a code signing certificate - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-a

[2019-03-08 19:03] EliotSeattle commented on #1389
YIKES!
Thanks, @GabeSJones. I fixed it in the source, and it should go live shortly.

[2019-03-08 19:03] #1389 closed

[2019-03-08 19:31] GabeSJones commented on #1319
I disagree that CAT files are required.  We never put CAT files in our CABs for attested signing.  We just dump in the .SYS and .INF files and everything works fine.

[2019-03-09 01:09] EliotSeattle commented on #1385
Hi @rubu.

Sorry you're having problems with this. Please:
1.	Sign into your hardware dev center account.
2.	Then, open a Hardware Dev Center support case for investigation via the support link you'll find at
[https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/hardware-dashboard-faq](https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/hardware-dashboard-faq). It's

[2019-03-09 01:09] #1385 closed

[2019-03-10 03:12] bgianfo opened #1391 "How to set Verifier Start / Verifier End isn't mentioned?"
The article talks about what Verifier Start / Verifier End does, but it doesn't mention how to set the different values.
I don't see it mentioned in the command line or the UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c78a51ad-e10b-0e20-5eca-35795b78c3e0
* Version Independent ID: 5c48aefd-ba8b-c3cc-8c3e-ff00f53ba

[2019-03-10 04:29] RAJU2529 commented on #1382
hello sir , normally  those  regsitry may or not esists , so you add it manually
here is the registry keys , that i have added and  applied to windows 10 .
Before  modifying the registry keys , take a backup of registry.
copy and paste all the lines in notepad  save as  TDRFIX.reg  and then merge

Windows Registry Editor Version 5.00

; fix video time detected by nvidia
[HKEY_LOCAL_MACHINE\SYSTEM\

[2019-03-10 12:27] Ch40zz commented on #676
Simple fix application without any error checking.
Feel free to add error handling yourself:

[code]

What does this code do?
It starts Windbg Preview in suspended state, then injects dbghelp.dll before any other software such as GeForce Experience can inject their dll to load the wrong dbghelp from System32.
Lets hope this gets fixed some day without the need of using DLL injection lol

[2019-03-11 06:44] noishiza opened #1392 "Update Content Request: DHCU guidance is for in-box driver, not for add-on device."
**Description of this request**
I request to update a document about universal windows driver because it is not specified the target device type in the document. This guidance is for in-box driver.

The document is this:
  Getting Started with Universal Windows drivers
  <https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/getting-started-with-universal-drivers>

**Draft Content**
Th

[2019-03-11 08:50] noishiza commented on #1392
I has close this issue because I send pull request.

[2019-03-11 08:50] #1392 closed

[2019-03-11 16:25] GabeSJones opened #1394 "License for the C# sample?"
I'd like to base some code on the C# sample linked from this page, but it does not seem to include any licensing information.  Could you update it to include a license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead14b61-61e5-d45f-d5c9-d3d4c0bcf93d
* Version Independent ID: 31c51703-a968-0a6a-bba0-bdb47619b018
* Co

[2019-03-11 16:50] EliotSeattle commented on #1394
Hi @GabeSJones.
Each of the C# sample foles contains the following statement:

// Sample Code is provided for the purpose of illustration only and is not intended to be used in a production environment.
// THIS SAMPLE CODE AND ANY RELATED INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
// EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABI

[2019-03-11 16:53] #1247 closed

[2019-03-11 16:53] #1240 closed

[2019-03-11 16:54] #1243 closed

[2019-03-11 17:09] compenguy commented on #1394
This license amounts to a non-license.  It essentially says "you can't use this, write your own".

MIT would be just fine, and it's the license that's attached to the [hpc-api project](https://aka.ms/hpc_async_api_samples) linked from [the same page](https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/dashboard-api#code-examples).

[2019-03-11 17:12] EliotSeattle commented on #1394
Thanks, @compenguy. I'll look into it.

[2019-03-11 21:55] DOMARS commented on #1356
@LuigiBruno - Your welcome.

[2019-03-11 21:55] #1356 closed

[2019-03-11 23:13] DOMARS commented on #1298
@LuigiBruno - Reopening this issue to see if I can gather any information from the dev team on why there are two versions of  MANUALLY_INITIATED_CRASHx.

[2019-03-11 23:41] DOMARS commented on #1298
@LuigiBruno - Two ways to manually initiate 0xE2 crash dumps according to these topics. I have not tested this.

[Forcing a System Crash from the Keyboard](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/forcing-a-system-crash-from-the-keyboard)
[Forcing a System Crash from the Debugger](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/forcing-a-system-crash-fr

[2019-03-11 23:44] DOMARS commented on #1381
@ryan-roberts - Thanks for passing on what you are seeing. How are you checking to see what entries are valid for symproxy?

[2019-03-12 09:04] FrankHeimes opened #1396 "Second sentence is incorrect."
The second sentence states that only 'add' and 'delete' are allowed. But the code block beneath that sentence shows that 'query' (and /? for that matter) are allowed, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 561f2c34-2b98-1b84-a94a-8e580133a96e
* Version Independent ID: ae25edff-62f7-8659-40a1-4ff6f3e842f6
*

[2019-03-12 09:41] n4r1b opened #1397 "Windows internals 7 says extension !pcr is deprecated"
In chapter 2 of Windows Internals 7 they mention !pcr extension is deprecated and shows incorrect data, while the documentation doesn't mention anything about it.
Maybe it should be added as a remark.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f182853e-a14f-a8bf-b974-a280435c2676
* Version Independent ID: a46ba80b-

[2019-03-12 09:49] wayyt opened #1398 "x srv!SrvComputerName cannot work in Windows 10."
x srv!SrvComputerName cannot work in Windows 10. But I found a great article by SNoone to fix this issue. It introduces "r @$t0 = @@masm(mrxsmb!SmbCeContext); dx (nt!_UNICODE_STRING[4])(@$t0)" or "dpu mrxsmb!SmbCeContext" to get computer name.

The original article is here:
https://www.osr.com/blog/2018/06/22/finding-computer-name-crash-dump-2018-edition/
---
#### Document Details

⚠ *Do not edit

[2019-03-12 09:49] FrankHeimes opened #1399 "/query command is not implemented?"
Made a silly mistake. Will close this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 561f2c34-2b98-1b84-a94a-8e580133a96e
* Version Independent ID: ae25edff-62f7-8659-40a1-4ff6f3e842f6
* Content: [SymStore Command-Line Options - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/

[2019-03-12 09:52] #1399 closed

[2019-03-12 11:28] aplocher opened #1400 "NewInterfaceUsage"
Can you please include information about what `NewInterfaceUsage` is exactly?

Also, what is `SkipBOSDescriptorQuery` and `SkipContainerIdQuery` and are they still valid?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32122b55-0ed3-e2df-4bc4-f37c52d5af65
* Version Independent ID: d24d5892-5cb7-05aa-f54a-db06

[2019-03-12 18:36] GabeSJones commented on #839
I have a similar set of questions.  The current page shows "commitReceived," "commitCompleted," and "commitFailed" as possible values of "commitStatus."  The page at https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/commit-a-product-submission only lists "commitStarted" as a possible value.  The page at https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-produ

[2019-03-12 18:53] GabeSJones opened #1402 ""Cross-signed using a SHA-1 certificate issued prior to July 29, 2015""
In the OS Support Summary table, under the "Cross-signed using a SHA-1 certificate issued prior to July 29, 2015" column and the "Windows 10" row, the entry is "No (as of Windows 10 1809)."  I have installed our entire 2015 driver stack on a clean, non-upgrade install of Windows 10 1809 x64 with Secure Boot enabled.  These drivers were all cross-signed with a SHA-1 certificate issued in 2013.  The

[2019-03-12 20:32] DOMARS commented on #1381
@ryan-roberts - I'm seeing the changes in places such as the included reg file and I'm working on updates.

[2019-03-12 20:58] DOMARS commented on #1375
@ryan-roberts - The sample should show well formed XML including the closing </appcmd>.
A fix is on the way. Thanks for seeing this error.

[2019-03-12 22:40] DOMARS commented on #1380
@ryan-roberts - This looks similar to this issue https://support.microsoft.com/en-us/help/3187516/configuration-manager-service-connection-point-doesn-t-download-update

Can you confirm my assumption that the default Server 2016 IIS would contain the "Baltimore CyberTrust Root"? In your environment, you removed those default certs, so as to reduce your exposure?

I'm happy to add a note to this to

[2019-03-12 23:21] DOMARS commented on #1396
@FrankHeimes - Thanks for pointing out this error. A fix is on the way.

[2019-03-12 23:39] DOMARS commented on #1397
@n4r1b - I will take a look. It does seem to be present in current day WinDbg.

[code]

[2019-03-13 01:29] duncanmacmichael commented on #1400
Hi @aplocher, thanks for the question. Let me see what I can find out about those for you.

[2019-03-13 02:02] duncanmacmichael commented on #1301
Hi @TheS1ngularity, I've gotten some clarification on this for you. According to the project manager for this feature, COSA only kicks in when the physical SIM or eSIM equivalent changes, or when the device reboots. So, the doc is in fact complete since the ICCID is identifier for the physical SIM/eSIM profile. Hope this helps.

[2019-03-13 02:03] #1301 closed

[2019-03-13 02:11] duncanmacmichael commented on #1400
@aplocher Could you be more specific about where you got these registry keys? I'm trying to ask the USB team about them but they need more information first.

[2019-03-13 10:28] n4r1b commented on #1397
Yes, I also realized results seem to be correct, maybe they fixed since the release of the book. In that case the Issue may be closed.

But I'm still a little bit skeptical because the book clearly states:
![photo_2019-03-13 11 23 06](https://user-images.githubusercontent.com/7025964/54271939-dd289480-4582-11e9-984a-01e6416169a7.jpeg)

[2019-03-13 17:36] GabeSJones opened #1404 "What does a "NotSet" Submission Status represent?"
It would be nice to have an explanation of Submission Status.  Particularly, I see "NotSet" in the field for drivers uploaded via the dashboard API, even after the signing process has been completed.  What does "NotSet" mean?  I never see it when uploading drivers via the web dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-03-13 19:42] DOMARS commented on #1397
@n4r1b - Thanks for the clarification. I see the note on page 77 and will check with the dev team.

[2019-03-13 20:18] DOMARS commented on #1340
@Amaroq-Clearwater - I'd recommend taking this input and using the Product Feedback button on the left side on the bottom of the page.
As another option you can use this link on a Windows PC: http://aka.ms/dexex to open the debugger teams input page in the feedback hub app.  I looks like we do require this to come from a PC running Windows. So you may need to borrow one to send your input. You mig

[2019-03-13 20:18] #1340 closed

[2019-03-13 20:31] DOMARS commented on #1398
@wayyt - Thanks for the pointer to Scott's article. Looks like this topic needs updating.
In my limited testing, with Windows desktop 1809, I was able to display mrxsmb!SmbCeContext, but it did not contain any of the expected information - just empty strings, so wondering if this tip is still valid. Is there a pre-requisite step or specific type of dump that this is valid with? Do you need to be i

[2019-03-13 20:43] berger4son opened #1406 "updated?"
Is this still the current process/tools that are used to publish a driver in Windows Update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f1feac8-9136-7152-6e06-4b7f0576c79c
* Version Independent ID: 218a3f87-5632-8327-cb7a-44345095db75
* Content: [Manage driver distribution with shipping labels - Windows drivers](h

[2019-03-13 22:17] EliotSeattle commented on #1156
Thanks, @BenWestbrook
This one took a while. Got them. I think I got them all. Let me know if you see anything amiss.
@EliotSeattle

[2019-03-13 22:17] #1156 closed

[2019-03-13 22:42] DOMARS commented on #1366
@KalleOlaviNiemitalo - Thanks for pointing out this omission. I added /ov and also /ol. Updates should be live in a day or two.

[2019-03-14 00:39] DOMARS commented on #1387
@metata0201 - Checking with the dev team to see if we can document this.

[2019-03-14 00:41] DOMARS commented on #1374
@snowkoan - This param does seem to occur, so I'm checking with the dev team to see if we can document this. Thanks for passing on what you are seeing with 0x1A.

[2019-03-14 01:04] DOMARS commented on #1334
@hunger1 - I will check with the dev team to work on updates here.
In the meantime don't forget the use of !analyze to display bug check information, like this:

[code]

[2019-03-14 06:58] KalleOlaviNiemitalo commented on #1366
How about documenting the change from FILEVERSION to PRODUCTVERSION?

[2019-03-14 07:50] stozk commented on #1334
In my case the ASMedia driver caused this. The latest driver introduced some new setting:

HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Services\asmtxhci\Parameters
"DmaRemappingCompatible"

Uninstalling the driver doesn't help because the key will stay in the registry.
Deleting the key fixed the bluescreens.

BR

[2019-03-14 22:10] rahul-ramadas opened #1409 "The sequence is missing EvtDeviceSelfManagedIoFlush and purging of power-managed queues"
After EvtDeviceReleaseHardware and before EvtIoStop for non-power-managed queues, I believe there should be a call to EvtDeviceSelfManagedIoFlush and purging of power-managed queueues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3367207-d31a-2c58-332c-8e50cb89f73b
* Version Independent ID: 42d8fee2-41ce-b9db-99a4-c

[2019-03-15 10:57] sun-xm commented on #789
怎么搞定得？能给个sample瞅瞅不？谢了 @qin-HC

[2019-03-16 06:50] RAJU2529 opened #1411 "Optimizing registry keys"
This article is particularly for  windows driver developer, But i am end user , If possible  please give optimizing registry keys.
Thanks to  authors  for this article with clear explanation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08f32f67-6763-c51a-a20f-6077303faae5
* Version Independent ID: 9cfbf7d8-178f-669e-

[2019-03-16 08:18] tchklmxx opened #1412 "How can I use pykd in windbg preview？"
I can copy  pykd.dll to Debuggers\x86\winext  directory to use pykd in older version
But how to do it now？to type
.load c:\xxx\xxx\xxx\xxx\pykd.dll
every time is not a good idea......

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8353dbe7-846a-f902-0f6c-f7e75ad846d8
* Version Independent ID: 6ec7d01f-69f9-5f7b-582b-0d63d9c40a06
* Content: [WinDbg Preview - Command

[2019-03-16 09:09] RAJU2529 opened #1413 "Why driver test done on remote computer"
I use  standardalone computer , is it possible  to test drivers  which are  already  installed by me?  . drivers  inf files  are located in C:\Windows\INF\  and  system .sys  files  are located in
C:\Windows\System32\Drivers\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4847662f-f333-d230-2a3a-192400d7ee0a
* Version

[2019-03-16 09:13] RAJU2529 opened #1414 "Allow the users to download Video demonstations .mp4 format"
I watched  that video , voice  in video is  excellent and  author explained only one test .
I am requesting all the authors , if  possible  add  the  all most  all videos in .mp4 format.

Thanks for the article . Good luck to all authors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4847662f-f333-d230-2a3a-192400d7ee0

[2019-03-16 09:27] RAJU2529 opened #1415 "great ariticle"
i want to add  another example  PCl hardware ids. Thanks  to the authors for  article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e29e581e-02a0-dab0-83db-25ae1ca1aebb
* Version Independent ID: 21141809-e821-8e58-dcf2-be1d1bb9be87
* Content: [Step 1 The New Device is Identified - Windows drivers](https://docs.microso

[2019-03-16 10:04] RAJU2529 commented on #1415
For example, thePCI graphics  card Hardware id ( INTEL )
1. PCI\VEN_8086&DEV_5916&SUBSYS_1A001043&REV_02

VID_8086 is the identifier of the vendor intel
DEV_5916 is the intel HD graphics  620
REV_02 is the revision identifier of the device.

For example, thePCI graphics  card Hardware id ( NVIDIA )
2
![cap1](https://user-images.githubusercontent.com/3296790/54473664-cf804280-4800-11e9-95cb-011a1a9

[2019-03-18 17:48] DOMARS commented on #1404
@EliotSeattle - Looks like dashboard, so assigning to you.
The bot may need to be updated to assign dashboard.

[2019-03-18 17:58] DOMARS commented on #1366
@KalleOlaviNiemitalo - Fixes are live. For now I think I will parallel the general description of the version information that is displayed in the /?, but thanks for the suggestion.

[2019-03-18 17:58] #1366 closed

[2019-03-18 18:01] DOMARS commented on #1364
@arilou - Can you open this issue against a specific topic or a content area?

[2019-03-18 18:04] DOMARS commented on #1330
@aluhrs13 - The new troubleshooting step about the version mismatch is now live. So closing this issue.

[2019-03-18 18:04] #1330 closed

[2019-03-18 18:07] DOMARS commented on #1396
@FrankHeimes - Fixes to second sentence are now live. Thanks for pointing out this issue.

[2019-03-18 18:07] #1396 closed

[2019-03-18 23:26] WeaponizedMeme commented on #676
It is now 2019 and this bug is STILL not fixed. People now need to debug Microsoft's debugger? Is that really what this has come to?

[2019-03-18 23:45] DOMARS commented on #1212
@jakeoshins - I'm checking with the dev team to see if we can document the 6194A parameter 1.

[2019-03-18 23:47] DOMARS commented on #1151
@cf5146 - I'm checking with the dev team to see if we can document the 9696 parameter 1.

[2019-03-18 23:48] DOMARS commented on #1375
@ryan-roberts - The fix to add the include the closing "</appcmd>" is now live. Thanks again for seeing this error in our docs.

[2019-03-18 23:48] #1375 closed

[2019-03-20 09:55] tinus-github commented on #1119
Note that this kind of non-documentation is worse than useless. If you don’t have resources to add documentation for 100s of defined bug checks, don’t define 100s of bug checks.

[2019-03-20 13:05] goabout2 commented on #676
It is now 2019 and this bug is STILL not fixed. People now need to debug Microsoft's debugger? Is that really what this has come to?

[2019-03-21 09:02] hatasum opened #1417 "Create shipping label get error."
https://docs.microsoft.com/zh-tw/windows-hardware/drivers/dashboard/create-a-new-shipping-label
We cannot create shipping label by API.
Return error : readOnlyProduct, Not allowed to create the shipping labels on a read only product.
But the product's permission is "Publisher", not "Read-only".

How to create shipping label which product's permission is "Publisher"?
Thanks for your help.

[2019-03-21 16:56] EliotSeattle commented on #1417
Hi @hatasum.
I am sorry that you're having this problem. While I handle documentation issues, I do know the folks who can give you support with the tools. To get some help:

1.	Sign into your hardware dev center account, and **_then_**
2.	Open a Hardware Dev Center support case for investigation. On the support link, [https://docs.microsoft.com/windows-hardware/drivers/dashboard/hardware-dashboard

[2019-03-21 16:56] #1417 closed

[2019-03-21 21:36] EliotSeattle commented on #1404
Thanks, @GabeSJones
Working on getting accurate descriptions for you.

[2019-03-22 17:55] JensMertelmeyer opened #1420 "Incorrect claim that Express edition of VS can be used"
This document states

I believe this is not true, you can not develop for UWP with Visual Studio **Express**.

https://visualstudio.microsoft.com/de/vs/express/
clearly states:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a424abf-1112-f9dc-1973-a35363d261ee
* Version Independent ID: 523c8d5b-114c-a916-3992-0e364187d

[2019-03-22 18:19] EliotSeattle commented on #1420
Thanks @JensMertelmeyer
Looks like someone made a general upgrade edit changing 2015-->2017. That didn't apply in this case. I've made the correction.

[2019-03-22 18:19] #1420 closed

[2019-03-22 20:32] alexanderhwhite commented on #819
@DOMARS, any update on known causes, troubleshooting, and resolution guidance yet?

[2019-03-24 09:57] JemmyLoveJenny commented on #1360
You can download it from [www.microsoft.com](http://www.microsoft.com/pki/certs/MicrosoftCodeVerifRoot.crt) or [crt.sh](https://crt.sh/?id=162461728) (Press "Download Certificate: PEM" in the left column)

[2019-03-24 19:16] eraser2021999 commented on #676
2019 here and we still have this issue. :( My workaround was to disable Gamestream from Nvidia GeForce Experience.

[2019-03-25 12:19] jammgit opened #1422 "1A bugcheck ,paramter 1=0x3f"
An inpage operation failed with a CRC error. Parameter 2 contains the pagefile offset. Parameter 3 contains the page CRC value. Parameter 4 contains the expected CRC value.

The question is:

Does the Parameter 2 indicate byte or sector? offset from MBR or DBR or file header ?

[2019-03-25 15:32] snowkoan opened #1424 "PsGetCurrentProcess link is broken"
Hello,

There are two links to PsGetCurrentProcess on this page, and both are broken.

Broken link:
https://msdn.microsoft.com/library/windows/hardware/ff559933

Working link (from other pages):
https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/mm-bad-pointer#psgetcurrentprocess

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-03-26 03:46] kouzhudong commented on #387
为何在DriverUnload里调用了WPP_CLEANUP，还是会出现：
DRIVER_VERIFIER_DETECTED_VIOLATION (c4)
A device driver attempting to corrupt the system has been caught.  This is
because the driver was specified in the registry as being suspect (by the
administrator) and the kernel has enabled substantial checking of this driver.
If the driver attempts to corrupt the system, bugchecks 0xC4, 0xC1 and 0xA will
be among the m

[2019-03-26 03:46] kouzhudong commented on #387
@duncanmacmichael

[2019-03-26 03:49] kouzhudong opened #1425 "WPP_CLEANUP的问题"
在开启驱动程序校验器的情况下，在驱动入口加载驱动失败而没有调用WPP_CLEANUP，反而说是在驱动卸载的时候没有调用WPP_CLEANUP。

这个说法有点坑人啊！

[2019-03-26 11:25] jammgit commented on #1422
Is anybody there ?

[2019-03-26 17:03] Shyamal-V opened #1427 ""COMPort Database Support Routines." link is broken"
"COMPort Database Support Routines." link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d90238f-192a-9b79-996d-78c15adee0ec
* Version Independent ID: 7199df26-ea66-cff5-1487-db0263d207dc
* Content: [COM Port Database - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/serports/com-p

[2019-03-26 18:19] EliotSeattle commented on #1427
Thanks, @Shyamal-V
This is fixed in PR #97, Added COMPort database support routines, per Issue #1427

[2019-03-26 18:19] #1427 closed

[2019-03-26 23:58] duncanmacmichael commented on #387
Hi @kouzhudong,

I'm sorry you're having an issue but unfortunately we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.

You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite responsive.

• [Windows Hardware WD

[2019-03-27 00:43] EliotSeattle commented on #1406
Hi @berger4son
Yes, the documentation is current.  If you are experiencing failures on specific Shipping Labels during publishing, the Hardware Dev Center Support folks can help investigate.
1. **First**, sign into your hardware dev center account, and then
2. Open a Hardware Dev Center support case for investigation.
3. Go to
[https://docs.microsoft.com/windows-hardware/drivers/dashboard/hardware

[2019-03-27 00:43] #1406 closed

[2019-03-27 05:50] CodeAbyss opened #1428 "How and where to log from ELAM module?"
I want to log some information from the ELAM at run-time. The easiest way I could think is logging into vendor's name subkey under `\\Registry\\Machine\\ELAM\\VendorName`.

The issue is when I do `ZwSetValueKey`, it returns `NT_SUCCESS `& `ZwQueryValueKey `too finds the `Value `successfully. Now when I load the ELAM hive from user mode, it don't contain my `Value `written to it. Kindly explain the

[2019-03-27 19:06] raghavmishra opened #1430 "Sentence is repeated"
In section firewall and debuggers first sentence should be corrected as it contains repeated line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5abd01e-3c7e-11a8-a6c6-62bfba0ef8b6
* Version Independent ID: dceb81b3-b20f-91d1-85d0-fa68c762482b
* Content: [Debug Universal Drivers - Step-by-Step Lab (Echo Kernel Mode)

[2019-03-28 22:26] giblet37 commented on #1242
I'm not sure if things have changed, but that link does not help - it simply refers back to the same MS Docs page for the download.  Trying to install the entire Win7 SDK just for a single executable tool seems excessive (not to mention that the install keeps failing...)

Providing a link to the actual tool, rather than directing us in a circular reference, would be much more helpful!

[2019-03-28 23:36] DOMARS commented on #1430
@raghavmishra - Thanks for pointing this out - fix is on the way.

[2019-03-28 23:46] DOMARS commented on #1422
@jammgit - Sorry you are having this issue. Can you open this issue against a specific docs topic?

[2019-03-28 23:49] DOMARS commented on #1412
@aluhrs13 - Do we provide the ablity to load extension DLLs in Windbg Preview in an apps directory? Let me know if there is a Debuggers\x86\winext directory for Windbg Preview that I should document.

[2019-03-29 11:21] broughammer opened #1434 "feedback"
nice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf044688-70f6-fb35-b787-dfc2eff1f256
* Version Independent ID: be66e130-a586-1270-6c9b-6a1fbd3e1563
* Content: [Overview of Storage Virtual Miniport Drivers - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/storage/overview-of-storage-virtua

[2019-03-29 15:33] aluhrs13 commented on #1412
See https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/loading-debugger-extension-dlls

The options are:

1. Set _NT_DEBUGGER_EXTENSION_PATH to include the folder that contains your extension.
2. Run ".extpath" to see the default extension path and copy your extension to any of those locations.
3. Fully qualify the path of the binary when running ".load".

@DOMARS to answer your ex

[2019-03-29 16:37] EliotSeattle commented on #1434
Thanks, @broughammer!

What was there in particular that was helpful to you?

Eliot

[2019-03-29 17:25] DOMARS commented on #1412
@tchklmxx - See the three options listed above.
As another venue for questions like this, [Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk) can be a good resource.

[2019-03-29 17:25] #1412 closed

[2019-03-29 20:38] #1422 closed

[2019-03-31 22:58] SterlingRunion commented on #342
I'm having issues too. Went thru the steps and the Wizard did not create a c++ project file.

[2019-04-01 02:11] Innotia opened #1435 "Fail to download Windows Driver Kit 10.0.17763.1"
I was trying to install WDK10 on my Windows, but every time when it came to "acquiring Windows Driver Kit Visual Studio Dev15 Content", the download just stopped and tell me that "Unable to verify the integrity of downloaded content. It might be corrupted. Please check your network connection and try again". (I'm sure that there's nothing wrong with my network. )

---
#### Document Details

⚠ *Do

[2019-04-01 03:16] #1435 closed

[2019-04-01 03:18] Innotia commented on #1435
My roommate downloaded this for me. Well, maybe it was caused by the dawn GFW .

[2019-04-01 09:15] wanglei1355 opened #1436 "How to start the GpioClx driver?"
Since I failed to run the sample drivers in "simgpio" project on Win10, I examined the drivers already loaded in to kernel. But I cannot find the GpioClx driver "msgpioclx.sys" in the running kernel. I suppose there would be some configurations for GpioClx. So how to start the GpioClx? Could anyone give me some suggestions?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-04-01 09:18] CodeAbyss commented on #1428
No comments?

[2019-04-01 14:56] ChrisBlood opened #1437 "Missing atls.lib when building V4 printer driver"
Following the instructions to build the V4 Printer Driver and it fails to link because it cannot open atls.lib. I have updated Visual Studio, re-installed it but it still fails to fins the file. The file does exist in the install directory but the liker cannot locate it

[2019-04-02 01:14] hatasum opened #1438 "Is "update a shipping label" API working now?"
I am not sure if I can ask the following question here:
https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/update-a-shipping-label

Is "update a shipping label" API working now?
I try the api, it always return StatusCode: 422

I am sorry if this has caused you any inconvenience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-02 09:02] hatasum commented on #1438
In JSON request body,  not "targetingInfo", correct is "Targeting".

[2019-04-02 14:24] dpmm99 opened #1439 "HID specification link broken"
Maybe it should point to https://www.usb.org/hid rather than directly to a PDF, but the PDF's URL is https://www.usb.org/sites/default/files/documents/hid1_11.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36318bc-76cd-c372-d676-4a0c20b60dcf
* Version Independent ID: b02eaae7-3cb2-25d1-6dc4-d90e99385ebb
* Content:

[2019-04-02 15:49] rickfleischer opened #1440 "link to referenced videos"
This video mentions at least two other videos covering specific topics.  I don't see any links to them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09a03ab-3e37-3bcb-9727-b300ae82c15e
* Version Independent ID: b7142a24-32b2-166d-3427-b87a8c69c0e3
* Content: [Developing, Testing, and Deploying Drivers - Windows driv

[2019-04-02 16:31] EliotSeattle commented on #1439
Thanks, @dpmm99.
I changed the link to usb.org rather than the specific spec. Should be live later today.
In the future, it'd be great if you make the change and submit a PR for it. ;-)
I appreciate your help and interest in the docs!!
Eliot

[2019-04-02 16:31] #1439 closed

[2019-04-02 17:05] EliotSeattle commented on #1438
Thank you, @hatasum.

Yes, the API should be working now.

Error 422 - Unprocessable Entity means that there are Validation failures. See [Error Codes](https://docs.microsoft.com/windows-hardware/drivers/dashboard/get-product-data#error-codes) in **Get product data**.

If you have issues with your specific submission, you can reach out for support.
1. **First**, sign into your hardware dev center

[2019-04-02 19:58] EliotSeattle commented on #1438
And in the source, I see that  "targetingInfo" is correct, as are the values associated with it: "chids", "hardwareIds", "restrictedToAudiences", and "businessJustification".
Thanks!

[2019-04-02 19:58] #1438 closed

[2019-04-02 23:41] EliotSeattle commented on #1436
Hi @wanglei1355

Have you looked at [Driver Support Methods in the GpioClx DDI](https://docs.microsoft.com/windows-hardware/drivers/gpio/driver-support-methods-in-the-gpioclx-ddi)? I think what you're looking for may be in that topic.
Eliot

[2019-04-02 23:41] #1436 closed

[2019-04-03 01:44] hatasum commented on #1438
http://download.microsoft.com/download/C/F/4/CF404E53-87A0-4204-BA13-A64B09A237C1/HardwareApiCSharpSample.zip
the sample's mark says:use Targeting instead of TargetingInfo
Indead, "Targeting" is working...
whatever, thanks your reply.

[2019-04-03 12:10] piotrbocian opened #1442 "WDM or WDF?"
Is WDF based Crash Dump Filter Driver supported? From debug I can see that WDF based driver crashes on FxDriverEntry, before DriverEntry being called.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8ee2a9b-4f66-0249-0905-4300663e68ab
* Version Independent ID: 7f1e8031-000d-07cf-2494-24eda04795ca
* Content: [Cr

[2019-04-03 13:22] ladislav-zezula opened #1443 "Older WinDbg symbols available?"
Is there a way to download older symbols and original binaries from MS symbol server?
Like the ones from Windows XP?

Thanks in advance.

**More info**
It seems that some time ago (not exactly sure when), Microsoft decided to cleanup the symbol server store. Since then, older symbols seem to be no more there and the files have changed names, because they are no longer compressed (or they seem to b

[2019-04-03 16:00] rodwiddowson commented on #1443
+1 for @ladislav-zezula 's question.

IMHO: The documentation [here](https://github.com/MicrosoftDocs/windows-driver-docs/blob/staging/windows-driver-docs-pr/debugger/microsoft-public-symbols.md) would be the place to put the information....

[2019-04-03 17:51] EliotSeattle commented on #1013
Hi @GreatFireWall
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. Unfortunately, we have not been able to allocate a writer to follow up on this during

[2019-04-03 17:51] #1013 closed

[2019-04-03 18:50] DOMARS commented on #1443
@ladislav-zezula - I'm not sure what we have for older Windows XP symbols on the symbol server and what format they are provided on the symbols server. Perhaps @aluhrs13 can comment on that.

[2019-04-03 19:12] GreatFireWall commented on #1013
So, settle a matter by leaving it unsettled ?

[2019-04-03 19:35] EliotSeattle commented on #1013
I wish we had the staff to track down every question. Since we haven't been able to get to this particular Issue in a long time, I think it's better to be honest than to have you think someone is researching this at this time.
I am truly sorry. I really wish we could accomodate all questions.
Eliot

[2019-04-03 20:45] aluhrs13 commented on #1443
This portion of that page should be updated. The symbol server was migrated to different back-end that uses HTTP compression instead of CAB compression. This transition should be seamless for any debugger since there's logic in symsrv that check for both compressed and uncompressed symbols.

For @ladislav-zezula 's original question, `http://msdl.microsoft.com/download/symbols/calc.exe/3B7D84101F0

[2019-04-03 21:14] Furqan136 opened #1444 "Cannot install WDK extension"
It says my currently installed applications are unsupported. I have Visual Studio 2019. It should be supported by now since its the stable version. Is there a workaround or I need to remove my VS 2019 and go back to VS 2017?

[2019-04-04 07:33] ladislav-zezula commented on #1443
Thank you for the response.

[2019-04-04 07:33] #1443 closed

[2019-04-04 20:34] justinmcbride opened #1445 "OS Descriptors Specification Links"
The links to the descriptor specifications lead to legacy pages that don't allow downloading of the actual specifications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e53fc82f-4f50-7564-a5dd-c1ad8df5cd77
* Version Independent ID: f21decfc-caec-36cf-d7f7-186f7a244e28
* Content: [Microsoft OS Descriptors for USB Devic

[2019-04-04 23:29] duncanmacmichael commented on #1445
Hi @justinmcbride, thanks for finding this. Some brief searching around didn't turn up anything as to where those downloads went, so let me look further and see if I can track them down.

[2019-04-05 13:17] RAJU2529 opened #1446 "Thanks for regisky key"
Today i came to know the secret key. thanks to all authors. I also heard some Windows 10 users get
  Clock_WatchDog_Timeout  and  Watchdog Violation, even though users are installed only certified  graphics drivers from the manufacturer site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b91c538-8141-3ddb-efea-a3947a6

[2019-04-09 03:41] Deon-Hung opened #1451 "Need to Update by Type-C SuperMUTT for WHLK 1809, right?"
hello,
USB Type-C ConnEx can be test in WHLK 1803, but fail in WHLK 1809.
The fail content show "no MUTT device connected".
I found  Type-C SuperMUTT ( https://mcci.com/usb/dev-tools/3501-type-c-supermutt/ ), but the page didn't update yet. If WHLK 1809 need "Type-C SuperMUTT", please update the page!!
Thank a lot!!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-04-09 23:30] EliotSeattle commented on #1444
Hi @Furqan136,
Yes, VS 2019 is stable and works well, but there are some braking changes in the IDE in regard to working with the WDK. VS 2019 works well with the WDK for Windows 10 version 1903 (releasing soon) but not with earlier versions. See the blog post, [Windows Driver Kit (WDK) to support Visual Studio 2019](https://social.msdn.microsoft.com/Forums/en-US/b116571d-d5b2-4c1c-a43e-4b57171c8c

[2019-04-09 23:30] #1444 closed

[2019-04-09 23:50] duncanmacmichael commented on #1451
Hi @Deon-Hung, thanks for opening this issue. I don't have specific details to share right now about a Type-C SuperMUTT doc, but I'll investigate this for you. Stay tuned.

[2019-04-10 01:01] #1360 closed

[2019-04-10 18:59] kenr opened #1453 "Broken links"
There are lot of broken links on this page. It would be good to update the links.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbad219-645b-4478-e284-8136cb65f210
* Version Independent ID: b8628dca-0242-92c3-5830-b0c965c89438
* Content: [Universal Serial Bus (USB) - Windows drivers](https://docs.microsoft.com/en-gb/

[2019-04-10 19:02] jrb9249 opened #1454 "Please add a how-to-download/where-to-find section"
It would be very useful for me if I could quickly see where to find the pvk2pfx.exe tool; e.g., a download link and/or install instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aed1ae0-9fc2-38fe-5879-9db361f574dd
* Version Independent ID: a23498bc-c1fd-4ed7-171c-09d42216fc10
* Content: [Pvk2Pfx - Windows dr

[2019-04-10 19:19] BKlamik-MSFT opened #1455 "Please fix the date on this page"
This content arrived about a week ago, not on 4-19-2017. I'm away from the ability to sign-in & update this. Let's work on a better pull-request process that highlights such an inaccuracy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46117d19-5003-f697-e266-9404754fc134
* Version Independent ID: b6be0cc8-dd53-fc7a-0f

[2019-04-10 21:06] EliotSeattle commented on #1455
Date changfed to 4/3/19

[2019-04-10 21:06] #1455 closed

[2019-04-10 21:23] duncanmacmichael commented on #1453
Hi @kenr, thanks for pointing this out. It looks like some of those links might have pointed to older pages that got swept up in a content migration we did, so I'll take a look at fixing them.

[2019-04-10 21:32] EliotSeattle commented on #1454
Hi @jrb9249.
The topic has this info: "A 32-bit version of the Pvk2Pfx tool is located in the bin\x86 folder of the WDK. A 64-bit version of the tool is located in the bin\x64 of the WDK. For example, on an x64-based computer running Windows 10, the path is C:\Program Files (x86)\Windows Kits\10\bin\x64."
On my computer, with multiple versions of the WDK, I see the tool in:
        C:\Program File

[2019-04-10 21:32] #1454 closed

[2019-04-11 00:38] EliotSeattle commented on #1424
Fixed in the source. Will be live shortly.
Thanks for the catch, @snowkoan!!

[2019-04-11 00:38] #1424 closed

[2019-04-11 14:53] bslava opened #1456 "Incorrect documentation for devcon dp_delete command"
From my experience "devcon dp_delete -f inf" won't work. The correct command is:
devcon -f dp_delete inf

-f parameter must be placed before dp_delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9f37b92-708c-e826-fcf4-e663d35759d3
* Version Independent ID: 0cf2a07f-f355-08bf-d912-d7ace4be3d75
* Content: [DevCon Dp_

[2019-04-11 19:22] jkunkee opened #1457 "Instructions needed for multi-arch driver submissions"
If each folder needs to support the same set of architectures, how does one folder support multiple architectures? It seems from the examples here that each folder can only have one INF and one SYS in it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed287852-04b7-1569-fd51-2640cfa24f57
* Version Independent ID: a8ce7

[2019-04-11 21:58] DOMARS commented on #1456
@EliotSeattle - This PR looks good, the flag comes first as shown in the syntax block and online help.
[code]

[2019-04-11 22:37] EliotSeattle commented on #1456
Thanks, @DOMARS, for the review. And thank you, @bslava, for the PR!!

[2019-04-11 23:11] EliotSeattle commented on #1456
Fixed in source. Will be live shortly

[2019-04-11 23:11] #1456 closed

[2019-04-12 11:30] malcolms opened #1460 "Typo: "Highlightighting""
Looks like a stray "tight" has crept into "Highlighting" in the section title for https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugging-using-windbg-preview#highlightighting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e093f9-7df0-17ab-71ae-8af9003ee041
* Version Independent ID: 55ed6fd3-a7a6

[2019-04-12 15:31] EliotSeattle commented on #1460
Thanks, @malcolms
Highlightighting is a new feature in which the dominant color is reinforced by water mark and washed in a batik pattern.
Just kidding. Thanks for the catch. I've made the change. Should be live shortly. We're examining if we should scrap our spellchecker for a newer model. </ok-end-humor>
But it's really fixed. Thanks!
Eliot

[2019-04-12 15:31] #1460 closed

[2019-04-13 03:24] duncanmacmichael commented on #1453
OK @kenr, I've fixed these links and they should be live in a few minutes. Thanks again for finding these!

[2019-04-13 03:24] #1453 closed

[2019-04-13 03:51] billziss-gh opened #1461 "WDK download and VS2019"
The WDK download [page](https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk) still points to Visual Studio 2017. This page needs to be updated to point to latest WDK with Visual Studio 2019 support.

(VS2019 has been out for well over a week now.)

[2019-04-13 10:10] garnid opened #1462 "this registry works for windows10 RS3?"
Will this registry key works on latest revisions like windows 10 RS3? Whats the default VSync idle time-out value in widows 10 RS3?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d60189d-749b-77dc-cbde-39e1caa28fb5
* Version Independent ID: 2729358b-09f1-14f6-b9b0-362073433afd
* Content: [Saving Energy with VSync Cont

[2019-04-13 21:34] 0x43434343 commented on #676
Apr 13th , still has the same problem, any update for that?

[2019-04-14 06:20] bslava commented on #1456
Thanks for the fix! I think it is necessary to fix the "Sample Usage" section as well.

[2019-04-14 11:33] bslava opened #1463 "devcon dp_enum command does not supply enough data to detect device"
I need your help. For my device "devcon dp_enum" command prints the following:

oem4.inf
    Provider: Intel
    Class: Universal Serial Bus controllers

The supplied data does not allow detection the device unambiguously. There can be several different devices that share the same provider and class. What should I do to get the correct oem*.inf name?

By the way, "devcon dp_enum" does not print "D

[2019-04-14 13:47] metalpizza123 opened #1464 "Needs more information regarding drivers and detection"
Default APO doesn't have documentation about whether it only applies to stereo ONLY output i.e. if I listen to 5.1 output with speaker fill, does the speaker fill matrix also work on that? What if I'm listening to multiple sources, from mono to stereo to 5.1? Since most consumer PCs use Realtek drivers, prerequisite software links would helpful, as well as backwards support for older motherboard m

[2019-04-15 07:25] sun-xm opened #1465 "Could you please finish the get_PropertyRange() function?"
Could you please finish the get_PropertyRange() function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f66b118d-0ac1-19cf-7287-627a40246f47
* Version Independent ID: aba19245-f30c-3593-f086-2e14ced65e6d
* Content: [Sample Extension Unit Plug-in DLL - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/

[2019-04-15 17:07] EliotSeattle commented on #1461
Hi @billziss-gh.
Thanks for the feedback. The changes are part of the [insider build versions](https://docs.microsoft.com/windows-hardware/drivers/installing-preview-versions-wdk) and will be incorporated into the page for the released versions very soon.
Eliot

[2019-04-15 17:07] #1461 closed

[2019-04-15 18:23] DOMARS commented on #1387
@metata0201 - 0x15001 is now documented. Thank you for providing input on the bug check documentation.

[2019-04-15 18:23] #1387 closed

[2019-04-15 18:25] DOMARS commented on #1374
@snowkoan - 0x3453 is now documented. Thanks for providing input on the bug check docs.

[2019-04-15 18:25] #1374 closed

[2019-04-15 18:29] DOMARS commented on #1334
@hunger1 - The topic now includes an updated list of parameters. Thanks for your input on this stop code.

[2019-04-15 18:29] #1334 closed

[2019-04-15 18:32] DOMARS commented on #1151
@cf5146 - I worked with the dev team to document 9696. Thanks for your input on the bug check topics.

[2019-04-15 18:32] #1151 closed

[2019-04-16 16:44] alfaunits opened #1469 "0xC000007B description is missing"
Reported by WinDBG on a Windows 10 sys.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc632b2-f4e1-b784-dd1e-878feac077f9
* Version Independent ID: 7a6866f4-3333-f2d1-86d7-dbb3d00925e0
* Content: [Bug Check Code Reference - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-

[2019-04-17 06:44] RAJU2529 opened #1470 "I have little confusion"
I  don't know  whats  the  image  and  image path .
I don't  have  image

I have  symbolpath   C:\Symbols
I have  dump file path   D:\dump\memory.dmp
But I could not  find  the image path , and I don't know where to download  image .

Please  guide  me in this  case .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3d0

[2019-04-17 18:22] rusinghmsft opened #1471 "Typo"
The miniport driver routines explained has a typo. HW_UNIT_CONTRO should be HW_UNIT_CONTROL.

https://docs.microsoft.com/en-us/windows-hardware/drivers/storage/storport-driver-miniport-routines

[2019-04-17 22:04] arfyness opened #1472 "Where is it shown in a running server which build type is running?"
This article omits any information about determining what build type is running.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1712291-4cb2-7a3f-1298-9c68cb05625d
* Version Independent ID: 41defd10-d145-c65c-1145-b936bc10913a
* Content: [Checked and Free Build Differences - Windows drivers](https://docs.microsoft.com

[2019-04-17 23:36] BrianCatlin opened #1473 "Uninstall with INF file?"
How, EXACTLY is a minifilter's DefaultUninstall section called? Right-clicking on an INF in Explorer does NOT provide an Uninstall option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae58da8-5649-102b-5241-cd247f48e310
* Version Independent ID: 051d9945-7e4b-1d88-f043-73d9a67b8352
* Content: [Creating an INF File fo

[2019-04-18 00:26] wjk opened #1474 "Can't download insider WDK"
Whenever I click the link to download the insider WDK, I get a spinning wait screen for ~10 seconds, then the following message:

This has been occurring for at least several months now. This occurs with both the "regular" (installed) and Enterprise WDKs. I would appreciate it if whatever problem is causing this error could be fixed. Thanks!

---
#### Document Details

⚠ *Do not edit this section.

[2019-04-18 16:01] EliotSeattle commented on #1474
Thanks, @wjk, for filing the issue. We are looking into this. So far, though, we are unable to reproduce this. Would you mind telling me about the computer you see this issue on? OS, processor, do you have other WDK builds already installed, etc?
Thanks,
Eliot

[2019-04-18 16:37] wjk commented on #1474
My OS is Windows 10, build 17763.437. My processor (per msinfo32) is "Intel(R) Core(TM) i5-6400T CPU @ 2.20GHz, 2208 Mhz, 4 Core(s), 4 Logical Processor(s)". I am using Edge Insider Preview (dev) version 74.1.96.24, although this issue happened with the UWP-based "old" Edge as well. The only WDK build I have installed is Enterprise WDK 1809, although I don't see how that would affect the browser-b

[2019-04-18 21:50] EliotSeattle commented on #1474
Got it, @wjk.
It looks like there was some behavior that triggered a block on downloads. I believe that the team has identified the cause and reset the mechanism. Can you try to download the kit again? You should be good to go.
Eliot

[2019-04-18 22:20] wjk commented on #1474
Downloading now. Thanks so much!

[2019-04-18 22:20] #1474 closed

[2019-04-18 22:57] gpotter2 opened #1476 "What does "Netmon will not be carried" imply ?"
Hello,

[Features not carried over in WDI](https://github.com/MicrosoftDocs/windows-driver-docs/blob/05ab17d20257649dd445ce964e2128de24a89c05/windows-driver-docs-pr/network/wdi-features-not-carried-over-in-wdi.md) says that `NetMon` will not be carried over to WDI. There is very little information available on what this means exactly.

Does this mean that it won't be possible to, let's say, perfor

[2019-04-18 23:13] EliotSeattle commented on #1474
Excellent!!! Thanks for bringing this to our attention.

[2019-04-18 23:15] duncanmacmichael commented on #1476
Hi @gpotter2, great question! I'm not sure as to the full answer on this, but I'll check with the Wi-Fi team and see what they have to say. Stay tuned. :)

[2019-04-19 07:24] LiaoMichelle opened #1477 "Extension driver inf targets on Windows update for Windows 10 in S mode. But extension driver inf can be downloaded on non-Win10 S OS."

[2019-04-19 07:34] LiaoMichelle commented on #1477
Base and Extension driver inf are target on Windows update for Windows 10 in S mode.
But only extension driver inf can be downloaded on non-Win10 S OS.
Is that behavior correct?

[2019-04-19 20:44] alfaunits opened #1478 "0x3300 subtype missing"
for ARg1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-0x1a--memory-managemen

[2019-04-20 01:02] BrianCatlin opened #1479 "Broken link"
The link under Applications and Services is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 121aa225-1cb9-deec-58c0-48dcb226edfe
* Version Independent ID: 8f308c6b-52b5-08b8-6ea1-b29b6d343aa7
* Content: [USB device-side drivers in Windows - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/driver

[2019-04-20 01:06] BrianCatlin opened #1480 "Unclear on what this is"
I've taught and written USB drivers for 20 years, and this page is completely unclear on what UFX is. Just stating that UFX is a "function controller driver" is meaningless, because all those words are heavily overloaded. What is really needed is an end-to-end diagram showing a standard Windows host DevStack communicating over USB to a "device" (running Windows) with a UFX driver.

---
#### Docume

[2019-04-20 01:33] BrianCatlin opened #1481 "Nearly useless"
This is pretty much useless for writing an application that uses GenericUSBFn. There are more than a dozen IOCTLs for GenericUSBFn. Why aren't they covered? Why isn't there a sample application that implements a simple device function? Should some of these IOCTLs be sent synchronously? Some asynchronously?

Why should the application writer have to flail about to figure out how this works?

---
##

[2019-04-21 20:33] kyanha commented on #1321
The parent to this page states:

[code]

I agree, it would be nice to have a secondary statement on this page that it can be downloaded as part of that kit.  Is it also part of WDK 10?

[2019-04-22 09:10] gpotter2 commented on #1476
Thanks for the support, I'll be looking forward to it :-)

[2019-04-22 23:12] tedhudek commented on #852
Hi @kyanha thanks so much for the feedback, and my apologies that we didn't get to you until now.  That's great feedback about the Intro to WDM page.  I just revised the page to reflect the modern guidance.  As you correctly surmised, KMDF is the preferred way to go.

While I was looking at https://docs.microsoft.com/en-us/windows-hardware/drivers/gettingstarted/choosing-a-driver-model per your me

[2019-04-22 23:12] #852 closed

[2019-04-23 22:35] adrianvmsft opened #1482 "Windbg .foreach command should specify that initialSkipNumber is in Hex"
Windbg .foreach command should specify that initialSkipNumber is in Hex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84d76278-1ba1-07e8-bada-6f66484f9330
* Version Independent ID: db7baa82-2eed-80a6-8b01-8134d5553744
* Content: [.foreach - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/deb

[2019-04-24 03:49] tesonwang opened #1483 "drivers must be signed by the Windows Hardware Dev Center Dashboard"
Does it mean we need to submit the driver to be signed every time if we rebuild the driver or release new version of the driver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5ca4e93-a34c-abbc-0ebc-9b5195378b20
* Version Independent ID: f2e19c4f-44cf-e0d4-2143-1e2129c582c9
* Content: [Driver Signing - Windows drivers

[2019-04-24 05:14] GreatFireWall opened #1484 "The example of [Strings] section is wrong."
![image](https://user-images.githubusercontent.com/4510984/56633982-e7b26f80-6692-11e9-9677-20500129f9ab.png)

**If I remove the `%` around the string, it build success.**

![image](https://user-images.githubusercontent.com/4510984/56634077-2e07ce80-6693-11e9-8ea1-a3f852e358af.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-04-24 12:58] alfaunits opened #1485 "ResourceToRelease is not to be released here"
IIRC, this is a pointer to a variable that will receive a pointer to the ERESOURCE structure, that should be passed in RELEASE_FOR_MOD_WRITE (not by the minifilter itself, but the caller).
The resource is not released in this call!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dba5be64-293b-e562-0839-7dc4d3790908
* Ve

[2019-04-24 13:13] rodwiddowson commented on #1485
FWIW:

I have the scars that it absolutely *MUST* be set to something if you return FLT_COMPLETE.  Trust me, you'll not regret it

I have a vague memory that in the world without filter managers the resource *IS* release iff you do not specify the MJ_PRE_RELEASE_FOR_MODWRITER.  Something (FAT, or maybe PINBALL) did exactly that...

[2019-04-24 14:55] ryan-roberts commented on #1381
Sorry seeing your question late-- I gathered the settings differences largely from Process Monitor events captured during SymProxy startup.

[2019-04-24 17:22] alfaunits opened #1486 "Availabilty of checked builds"
Not an issue with the documentation, but since I have found no kernel dev who was able to install Windows 10 CHecked build from the MSDN, it is prudent to provide help during installation.

Or fix the installation :D

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c654fb8a-3fed-aa30-7535-62059b6a6a39
* Version Independe

[2019-04-24 18:48] Shyamal-V commented on #1480
The "Architecture of UFX" section of the page provides a link to the architectural block diagram and components of the function stack. @duncanmacmichael  it may help to add a short introduction to clarify what UFx means/enables and a note under "Architecture of UFX" that an architectural block diagram is available at https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/usb-device-side-

[2019-04-24 21:33] xavierajith opened #1487 "Advantage of using IoMmu over GpuMmu"
I understand IoMmu shares page table but GpuMmu has its own page tables. Is there any other advantage of one virtual model over other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 202d9023-34b6-cad5-9be6-84a686847d12
* Version Independent ID: e344ce52-7f36-605d-6208-25c1a2627854
* Content: [Per-process GPU virtual ad

[2019-04-25 00:36] lorihollasch commented on #630
@ghost, I am going to close this issue. Please email fsfcomm@microsoft.com if you still need to update your altitude information!

[2019-04-25 00:36] #630 closed

[2019-04-25 01:40] vrbear opened #1488 "16425"
16425 should mean %SystemRoot%\SysWOW64
16426 should mean %ProgramFiles(x86)%
16428 should mean %ProgramFiles(x86)%\Common

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26eb7202-d5c4-fb53-a652-6f2c320e3463
* Version Independent ID: ec9ba408-ffea-e0d2-bbca-067cadbd433d
* Content: [Using Dirids - Windows drivers](https:

[2019-04-25 04:44] haicon232 opened #1489 "Problem with certificate's CA root cert (Comodo) is not in the approved list of root certs"
Hi there, I want to register your Hardware Program for our drivers.
However, when submitting our certificate on your system, I received the error : "Your certificate's CA root cert is not in the approved list of root certs
Your code signing certificate's CA is not in the approved list of root certs. Please get a certificate from one of the certificate authorities listed on the code signing registr

[2019-04-25 05:47] andychenami opened #1490 "BugCheck(139) parameter 1= 0x1e , what does it mean?"
[Enter feedback here]
I got a BugCheck(139) random happend during platform cold boot or warm boot
The parameter 1 is 1e, but I can not get his description from list.
May I ask what does it mean?
The attached is the minidump message.

Many thanks.
Andy Chen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1073c44-369a-93

[2019-04-25 06:18] bahuwang opened #1491 "Parameter error for Locals"
When I use  WinDbg Preview ,the locals show information parameter error 0x80070057.
os : win10 home 17763.437
debugger client version :1.0.1902.07001
debugger engine version :10.0.18317.1001

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e093f9-7df0-17ab-71ae-8af9003ee041
* Version Independent ID: 55ed6fd3-a7a6-f7d5-

[2019-04-25 11:37] garnid commented on #1462
where can I check for the answer?  answer will be posted here itself?

[2019-04-25 15:24] EliotSeattle commented on #1489
Hi @haicon232.

Sorry that you're having trouble with your certificate. The Hardware Dev Center Support folks can help you investigate the cause.

1. **First**, sign into your hardware dev center account, and then
2. Open a Hardware Dev Center support case for investigation.
3. Go to
[https://docs.microsoft.com/windows-hardware/drivers/dashboard/hardware-dashboard-faq](https://docs.microsoft.com/w

[2019-04-25 15:24] #1489 closed

[2019-04-25 16:47] dollerbill commented on #1371
Issue remains 4/25/19

[2019-04-25 21:16] EliotSeattle commented on #1471
Fixed and live. Thanks, @rusinghmsft

[2019-04-25 21:16] #1471 closed

[2019-04-25 21:17] rusinghmsft commented on #1471
No problem. Lori showed us how to create a PR ourselves. I'll do that the nest time.

[2019-04-25 21:41] tedhudek commented on #1369
The link should point to [Windows Hardware Lab Kit](https://docs.microsoft.com/windows-hardware/test/hlk/).  @billlattimer can you please update?

[2019-04-25 22:53] tedhudek commented on #751
Hi @LarryK348 thanks for the feedback, apologies for the delay getting back to you.  I had a quick look at the page you reference.  Can you be more specific which sentence of the page you're referencing?  Also note that if you have a specific change to propose, you can click the Edit button on the page and open a PR

[2019-04-25 23:17] billlattimer commented on #1369
Updated and should go live shortly - thanks, @jurva !

[2019-04-25 23:17] #1369 closed

[2019-04-26 00:12] lorihollasch commented on #1434
@broughammer, thanks for your feedback. :)

[2019-04-26 00:12] #1434 closed

[2019-04-26 21:03] EliotSeattle commented on #1127
@lorihollasch, can you please look at this?

[2019-04-26 21:40] tzimmer1 opened #1495 "Add documentation regarding PCI Express root port and endpoint device power state behavior"
Looking to see if there is any documentation in flight about PCI Express root port and endpoint device power state (Dx) behavior.
My understanding is that Microsoft has given a commitment to Intel that this will be done in the very near future.
aadake@microsoft.com may have more current information.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-04-27 00:28] EliotSeattle commented on #703
Hi @abhijeet085
Thanks for the question, but as of right now we do not have any plans to create a PCI export driver.
All the best.
Eliot

[2019-04-27 00:28] #703 closed

[2019-04-27 00:47] EliotSeattle commented on #498
Hi @MarcinJanczara.
I see that your question was answered in the [WDK forum](https://social.msdn.microsoft.com/Forums/vstudio/en-US/d1c8ae48-6eac-4131-a9a8-dfc3152965ca/enabling-ifr-log-for-wdm-driver?forum=wdk), so I am going to close this Issue.
Thanks so much,
Eliot

[2019-04-27 00:47] #498 closed

[2019-04-27 04:24] qin-HC commented on #789
You can refer to https://github.com/3dtof/voxelsdk/blob/master/Voxel/UVCXU.cpp

[2019-04-27 09:15] clouds56 opened #1496 "syntax error in example"
* missing comma in parameter list
* missing definition of config

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3929d57-7b4a-998e-a208-8c6deacbb7be
* Version Independent ID: d78360b6-4be2-7c8f-8f28-b8d7f49f5830
* Content: [Porting DriverEntry - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers

[2019-04-28 09:56] suirsuss commented on #1321
No joke man. Without a link and trying to troubleshoot my dear and brand new eGPU, I have little patience for reading! Thanks to kyanha for answering. Now I know.

[2019-04-28 10:35] sun-xm commented on #789
非常感谢！

[2019-04-29 10:12] puffelyang opened #1497 "Review UI for assign hardware roles to Azure AD app"
This document is already misalign with the portal. The procedure, screenshot... are not correct anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead14b61-61e5-d45f-d5c9-d3d4c0bcf93d
* Version Independent ID: 31c51703-a968-0a6a-bba0-bdb47619b018
* Content: [Hardware dashboard API - Windows drivers](https://docs.m

[2019-04-29 15:50] EliotSeattle commented on #1394
Hi All.
The license states the following:

Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to perm

[2019-04-29 15:50] #1394 closed

[2019-04-29 15:50] guyharris commented on #1476
I'm the maintainer in question, and I added support to libpcap for turning monitor mode on and off; it's supported on several UN\*Xes (although some UN\*Xes have the annoying habit of changing the way it's done, so the Linux and FreeBSD support need to be updated).

It's used by, for example, tcpdump and Wireshark for doing passive sniffing on 802.11 networks.

[2019-04-29 16:09] EliotSeattle commented on #1497
Thanks, @puffelyang.
I'll look into the discrepancies and update. If you could let me know of any in particular, that'd be very helpful.

[2019-04-29 16:59] Sparkx120 opened #1499 "Missing Parameter 0x6001"
I hit a 0x6001 while doing my usual work in Windows 10. Here is the Event Log

- &lt;Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"&gt;
- &lt;System&gt;
  &lt;Provider Name="Microsoft-Windows-Kernel-Power" Guid="{331c3b3a-2005-44c2-ac5e-77220c37d6b4}" /&gt;
  &lt;EventID&gt;41&lt;/EventID&gt;
  &lt;Version&gt;6&lt;/Version&gt;
  &lt;Level&gt;1&lt;/Level&gt;
  &lt;Task&gt;63&lt

[2019-04-29 18:35] LuigiBruno opened #1500 "Additional stop code number"
This kind of bugcheck is often recorded in the Windows Event Viewer with the code 278, as per example below
&lt;EventData&gt;
    &lt;Data Name="BugcheckCode"&gt;278&lt;/Data&gt;
    &lt;Data Name="BugcheckParameter1"&gt;0xffffc4828b4d6010&lt;/Data&gt;
    &lt;Data Name="BugcheckParameter2"&gt;0x0&lt;/Data&gt;
    &lt;Data Name="BugcheckParameter3"&gt;0x0&lt;/Data&gt;
    &lt;Data Name="BugcheckPa

[2019-04-29 22:18] englishb opened #1501 "More parameter 1 codes?"
The article says that parameter 1 identifies the exact violation, but only codes 0x1 - 0x4 are listed.  I have run into a bugcheck 0x119 with parameter 1 set to 0x400.  What does this code mean?  I believe it could be related to our video driver, but the lack of documentation on this value doesn't really give me any leads.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-04-30 09:01] puffelyang commented on #1497
Thank you for your reply, Eliot.

I’ve experienced trouble to locate the user setting since the setting “menu” is clearly changed, and you’ll need to goes into the “Developer settings” to do the rest of the settings for user. However, this is just my experience, and I didn’t follow the document step by step, so there could also be something get skipped or ignored. In that sense, I’d suggest that y

[2019-04-30 11:37] puffelyang opened #1502 "This document is already old and mis-align with the new Azure portal now."
As subject.

Now, in the "App registration (Legacy)", and some settings are not able to be found anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd5fde9f-4ce1-d962-1b65-241f2fbb3fd3
* Version Independent ID: fb559713-fd60-4f32-e09b-f34c77ecc5de
* Content: [Enable secure data sharing - Windows drivers](https://d

[2019-04-30 13:20] CKroid opened #1503 "Driver Attestation Signing failure"
We tried to submit our extension driver for Attestation Signing but hit into the following error:
InfVerif failed for Driver. Partial Log:Error 1384 in XXX.inf, line 557 : Cannot specify filters with registry or property in extension INFs, use [DDInstall.Filters] section

The error led me to this article.
If I understand this article correctly, the change will involve both base driver and extensio

[2019-04-30 13:30] hyoshioka0128 opened #1504 "[LOC] "アプリ & 機能" needs to be replaced with "アプリと機能""
https://docs.microsoft.com/ja-jp/windows-hardware/drivers/debugger/debugger-download-tools

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162fe2fe-9216-f4c5-9f91-3df8776bb99e
* Version Independent ID: 013dbf6b-0790-9c11-24f4-dbf24d64401e
* Content: [Download Debugging Tools for Windows - WinDbg - Windows drivers](https

[2019-04-30 15:02] helgeklein commented on #1501
I just got this with parameter 1 set to the value 5.

[2019-04-30 17:47] EliotSeattle commented on #1502
Similar to Issue #1497

[2019-04-30 17:47] EliotSeattle commented on #1497
Thanks for taking the time to let me know about this, Weishan. It seems like some things have changed in the Partner Center dashboard UI for submissions that I wasn't aware of. I will get together as soon as possible with the PM for the Partner Center to walk through and update our content. We normally do walk through each page to make sure the docs and the portal are the same. Obviously, we got o

[2019-04-30 18:57] tedhudek commented on #1503
Hi @CKroid yes, you'll need to make changes to both Extension and Base INF.  Base INF needs to specify what to do with the levels.

See info at the bottom of the doc page for the older ("legacy") Windows versions.  Use that method to target version of Windows before 1903.

cc @selerner

[2019-04-30 18:57] #1503 closed

[2019-04-30 20:05] rosamariaramirez opened #1507 "Example response body has duplicated key"
The given example of response body has duplicated "productName" key

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24518ab0-bd10-1a04-f3a0-1ba754409841
* Version Independent ID: ad632005-a43b-8d81-c4ef-8730d59b4363
* Content: [Create a new product - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/dri

[2019-04-30 22:55] #1364 closed

[2019-04-30 22:56] tedhudek commented on #1364
Please reopen if still needed and provide a URL of the page where you are seeing the problem.

[2019-04-30 23:08] tedhudek commented on #1284
Closing out, please reopen with the step that was causing the problem if you like

[2019-04-30 23:08] #1284 closed

[2019-04-30 23:12] tedhudek commented on #1332
@billlattimer please update the first link in the See Also

[2019-04-30 23:54] tedhudek commented on #1317
@DOMARS any idea why a `.load` on a valid path would fail?

[2019-05-01 00:52] DOMARS commented on #1317
As you might imagine, extensions may not load for a number of reasons. A few ideas:
- wdfkd should be in the default path so I would try the load command without the path like this:

` .load   wdfkd.dll`
Use the .chain command to see which extensions are already loaded.
`.chain`
When it loads OK, no message is displayed.
Use the !wdfkd.help command to validate that it is loaded.

If you are starti

[2019-05-01 00:54] DOMARS commented on #1317
If you are starting out with the debugger you may want to post to one of the forums.
[Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk)

[2019-05-01 00:58] DOMARS commented on #1317
I'm running WinDbg  Preview so my paths are in the Apps dir, but the output of .chain shows the extension being loaded. WinDbg Preview also offers a logging window that can be useful for debugging.
[code]

[2019-05-01 13:28] tyszja opened #1511 "Unable to install WDK with VisualStudio 20019"
According to the [instructions](https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk#feedback) it should be enough to install VS2019 with C++ support for Windows desktop apps before installing the WDK, but the installer refuses to continue due to missing compatible SDK and points me to the SDK installer. Visual Studio installer shows that I already have the Windows 10 SDK ins

[2019-05-01 16:37] tedhudek commented on #1317
Thanks @domars

[2019-05-01 16:37] #1317 closed

[2019-05-01 16:50] tedhudek commented on #1371
Thanks @jurva I've made the fix but due to some internal issues this won't appear on the live site until Monday.  In the meantime, the link that you want is [Cross-Certificates for Kernel Mode Code Signing](https://docs.microsoft.com/windows-hardware/drivers/install/cross-certificates-for-kernel-mode-code-signing).

[2019-05-01 16:50] #1371 closed

[2019-05-01 22:20] richardhendricks opened #1513 "Incorrect information"
Update Rate is by default 5 seconds and cannot be updated.

But you can force an immediate update by pressing some keys. This can be a problem since it means you can't screenclip just the window - ALT forces an update, but PrintScreen does not. If you defocus the screen first, it does work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-05-01 23:48] EliotSeattle commented on #1513
Thanks, @richardhendricks, for the info.
I'll update the topic today, and the change will be live on Monday.

[2019-05-01 23:48] #1513 closed

[2019-05-02 02:51] moolwalk opened #1517 "Requesting filter option"
Since getting all products results in huge amount of the items, why don't we have a filtering feature by querying like

~/v1.0/my/hardware/products/?$filter=productName eq ContosoGraphics

I was recently inspired by OData query option in the link below.

- Supporting OData Query Options in ASP.NET Web API 2
https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/su

[2019-05-02 15:37] EliotSeattle commented on #1517
Hi @moolwalk.
Thanks for the feedback. This particular feedback channel is for *documentation* feedback rather than *product* feedback. In the future, for ideas or suggestions (or complaints) about the actual product, click **Send feedback about: This product** at the bottom of the page, rather than **Send feedback about: This page**, and you'll be redirected to the [Windows developer feedback sit

[2019-05-02 15:37] #1517 closed

[2019-05-02 18:13] DOMARS commented on #1430
@raghavmishra - The fix to remove the duplicate sentence is live. Thanks for pointing out this issue.

[2019-05-02 18:13] #1430 closed

[2019-05-02 18:14] DOMARS commented on #1504
@EliotSeattle - I think this is a localization issue. Can you provide guidance on how to best direct this request if we are setup to handle this?

[2019-05-02 18:20] DOMARS commented on #1491
Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite responsive.
•

[2019-05-02 18:20] #1491 closed

[2019-05-02 18:32] DOMARS commented on #1470
@RAJU2529 - Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite r

[2019-05-02 18:32] #1470 closed

[2019-05-02 18:39] DOMARS commented on #1413
@RAJU2529 - Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite r

[2019-05-02 18:39] #1413 closed

[2019-05-02 18:43] DOMARS commented on #1482
@adrianvmsft - Could you provide an example usage of .foreach where hex is used? I'm wondering if for certain commands, another numbering system would be used.

[2019-05-02 19:46] EliotSeattle commented on #1504
Reached out to the loc team to see how we handle this process. We have steps in place for the loc team to reach out to the core doc team, but not the other way around. Will add comments as I learn more.

[2019-05-02 22:33] adrianvmsft commented on #1482
I used it in combination with DumpArray. Here is an example:
https://chris.eldredge.io/blog/2014/03/05/windbg-dump-entries-in-array/

That /pS 16 is in Hex. So it skips 22 (decimal) initial tokens.

I tried it using
.foreach /pS 16 (addr {!DumpArray /d 301d6910}) {.printf "${addr}\n"}

I specified various values starting with 0, 1, ... 9 to confirm the starting token. When you jump from 9 to 10 it

[2019-05-03 00:41] BrianCatlin opened #1518 "IoT supported?"
Are dual-role stacks supported on Win IoT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f9a763d-3e64-04a6-c3a1-8e353106d0d6
* Version Independent ID: d95fe8df-f3c5-eebd-c324-7940a12fe954
* Content: [USB Dual Role Driver Stack Architecture - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/u

[2019-05-03 00:50] #1446 closed

[2019-05-03 00:51] #1382 closed

[2019-05-03 00:56] EliotSeattle commented on #592
@lorihollasch, this Issue somehow fell through the cracks. Can you please put this in your queue?

[2019-05-03 00:58] EliotSeattle commented on #560
@lorihollasch, please add this one to your queue. I missed reassigning it when the writer of record left the team.

[2019-05-03 01:10] duncanmacmichael commented on #1518
Good question, @BrianCatlin. I believe that the APIs involved with dual-role stacks are Universal, implying they would work on an IoT device, but let me get confirmation from the USB team on that.

[2019-05-03 02:10] BrianCatlin opened #1519 "Needs LOTS more detail"
1. Please explain why a WDFDEVICE and a UFXDEVICE is needed?
2. When I create a WDFDEVICE is it the FDO, or a filter? The docs (https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/developing-windows-drivers-for-usb-function-controllers) indicate that Ufx010000.sys creates the FDO.
3. Please describe the rationale for having a UFXDEVICE and a WDFDEVICE, and what data would typically be

[2019-05-03 16:19] GreatFireWall opened #1520 "*.msu not found, the doc description incorrect"
No any `.msu`

![image](https://user-images.githubusercontent.com/4510984/57150923-2c13dd00-6e02-11e9-9536-2fc5db3c0d0e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad07ea10-b00f-48cd-534d-b1ad1bfaa44b
* Version Independent ID: 41c511f9-54b4-07df-d0a5-c2f547fdf293
* Content: [Redistributable Framework Components

[2019-05-03 19:30] GabeSJones commented on #1394
Thank you for the clarification.  Is it possible to include this license in the source code archive at <http://download.microsoft.com/download/C/F/4/CF404E53-87A0-4204-BA13-A64B09A237C1/HardwareApiCSharpSample.zip>?

[2019-05-03 23:41] EliotSeattle commented on #1394
Hi @GabeSJones.
I see that the .cs files in the downloadable sample have a more stringent license than the ones on GitHub. I don't have the authority to make a change to that, but I will reach out to the team that created the sample and see if something can't be done. I assume there were reasons for the different license, but I don't know what they are yet. I'll look into it.

Sorry that I'm not m

[2019-05-05 19:29] Bartolomeus-649 opened #1523 "What/where is the "checked build distribution medium"?"
Where/how do you get the "checked build distribution medium"?
Perhaps it's included in the WDK, but there's nothing that indicate that at all, instead, referring to a "checked build distribution medium" indicates almost like it's a physical medium you should get from somewhere.

Also, if it is in the WDK, then there really need to be some more info on how to actually install the checked build.
Do

[2019-05-06 01:57] BrianCatlin opened #1524 "Not helpful"
1. If these values are required, why doesn't the .INF for the sample UfxClientSample driver set them?
2. This is far too complex and has too many possible interpretations. It desperately needs several examples!
3. Why are there "&lt;strong&gt;" tags in the text?
4. How do we know whether we need the various values put in the registry? There isn't anything that describes the decision making process

[2019-05-06 02:10] BrianCatlin opened #1525 "Class Driver Notification?"
This page is ostensibly about writing a UFX client driver. What exactly is the section Class Driver Notification about? It doesn't make any sense in its current location. What "class driver" is it describing? How does this relate to the client driver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4458225b-56bb-77f0-23

[2019-05-06 02:12] BrianCatlin opened #1526 "Device Enumeration"
Under the Device Enumeration section, it reads that enumeration begins when the client driver calls UfxDeviceNotifyReset. The docs on UfxDeviceNotifyReset do not mention enumeration at all, and read that this routine should only be called when the USB is reset. This contradicts what is in the Device Enumeration section. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-05-06 02:17] BrianCatlin opened #1527 "Standard Control Transfers"
This section does not fully describe how the client driver is supposed to process setup packets. It reads "If there is data associated with the control transfer, UFX reads from and writes to the default control endpoint as appropriate." How exactly is this done? What must the client driver do to implement this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-05-06 02:18] BrianCatlin opened #1528 "Non-Standard control transfers"
How does the client driver indicate non-standard control transfers to UFX?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4458225b-56bb-77f0-2378-97e8dd442ef9
* Version Independent ID: a5ed7881-cace-9b0e-ff8c-b356e8969feb
* Content: [Write a function controller client driver - Windows drivers](https://docs.microsoft.co

[2019-05-06 02:21] BrianCatlin opened #1529 "Isochronous transfers"
When will isochronous transfers be supported? This doc was last updated 2 years ago. Are isochronous transfers still not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4458225b-56bb-77f0-2378-97e8dd442ef9
* Version Independent ID: a5ed7881-cace-9b0e-ff8c-b356e8969feb
* Content: [Write a function controller c

[2019-05-06 10:44] LuigiBruno opened #1531 "Resolution steps needed"
Add analysis and resolution steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb94bb71-2a31-b7e6-8313-f387ebfd3c53
* Version Independent ID: 95dafa9f-2dda-dc1d-b905-84a87488f708
* Content: [Bug Check 0x193 VIDEO_DXGKRNL_LIVEDUMP - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/b

[2019-05-06 15:54] LuigiBruno opened #1533 "Alternative name for this bug check"
I've just analyzed a dump file using WinDbg and the bug check reported the below information

WINLOGON_FATAL_ERROR (c000021a)
The Winlogon process terminated unexpectedly.

Is it the same bug check or a different one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71180522-76ca-a5bf-e355-319b17a2b4d2
* Version Independ

[2019-05-06 16:02] LuigiBruno opened #1534 "Alternative name for bug check 0xc000021a"
I've just analyzed a dump file using WinDbg and the bug check reported the below information

WINLOGON_FATAL_ERROR (c000021a)
The Winlogon process terminated unexpectedly.

Is it the same bug check or a different one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc632b2-f4e1-b784-dd1e-878feac077f9
* Version Independ

[2019-05-07 14:41] NeoBeum opened #1535 "18362.1 WDK sesnsordiagnostic.exe Deprecated"
WDK SensorDiagnosticTool.exe Deprecated.
[https://docs.microsoft.com/en-us/windows-hardware/drivers/sensors/test-your-universal-sensor-driver](https://docs.microsoft.com/en-us/windows-hardware/drivers/sensors/test-your-universal-sensor-driver)

18362.1 WDK executable does not create test window.
Tool replaced by the following Microsoft Store Appx as per linked page above.
[SensorInfo.appx](https:/

[2019-05-07 21:46] eliyasy opened #1537 "Link is broken"
https://msdn.microsoft.com/windows-drivers/develop/how_to_select_and_configure_the_device_fundamental_tests

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a158d639-25d2-9722-6862-abec4a682806
* Version Independent ID: cebe2e66-1f3c-ca20-82d5-387a08779225
* Content: [PnP Tests (Device Fundamentals) - Windows drivers](ht

[2019-05-07 23:25] EliotSeattle commented on #1537
Fixed. Now points to https://docs.microsoft.com/windows-hardware/drivers/develop/how-to-select-and-configure-the-device-fundamental-tests. Should be live in a few minutes.

[2019-05-07 23:25] #1537 closed

[2019-05-08 04:26] eliyasy commented on #1537
Thank you

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Eliot Graff <notifications@github.com>
Sent: Tuesday, May 7, 2019 4:25:46 PM
To: MicrosoftDocs/windows-driver-docs
Cc: Eliyas Yakub; Author
Subject: Re: [MicrosoftDocs/windows-driver-docs] Link is broken (#1537)

Fixed. Now points to https://docs.microsoft.com/windows-hardware/drivers/develop/how-to-select

[2019-05-08 15:38] MitchellBot opened #1540 "Missing 0x61948"
Your bugcheck codes skip from 0x61946 to 0x061949 but I'm looking at a memory dump now for a 0x61948. I'm not sure what that is or where else I could find it. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2

[2019-05-08 20:40] EliotSeattle commented on #1394
Hi @GabeSJones
Well, I have another example of why I am not a lawyer.
There is no *license* attached to the HardwareApiCSharpSample.zip files and the code in them. There is a *disclaimer* at the top of each file, though. You should look over the disclaimer and determine for yourself how comfortable you are using the sample, and for what purpose, but there is no particular license or agreement.
We

[2019-05-09 01:08] DOMARS commented on #1482
@adrianvmsft - This may be related to your base number system (radix). You can use the n command to display and change the current system wide radix.

[code]

Also relevant here are the topics related to numbering such as [MASM Numbers and Operators] (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/masm-numbers-and-operators) describes how to prefix with 0x for hex and 0n to for

[2019-05-09 08:57] LuigiBruno opened #1541 "Resolution steps needed"
Add resolution steps for this bug check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19fad7bf-53b1-857f-4075-d302947f4c4d
* Version Independent ID: d7142778-d650-1fb9-a251-ae0f64198ec5
* Content: [Bug Check 0x9C MACHINE_CHECK_EXCEPTION - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/debu

[2019-05-09 19:02] ghost opened #1542 "Cannot find Printer Driver V4 in Visual Studio 2019"
When I click "Create a new project" and search for "printer", I didn't any result coming up. Do I need to install any extra packages? You earliest respond is much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227ceb38-396a-aa19-6304-be3df9b0ca08
* Version Independent ID: 2f34593f-aa20-384a-b1bb-c8a962ec47

[2019-05-10 07:41] jgyngell commented on #987
Any movement on this?

[2019-05-10 07:43] jgyngell opened #1544 "Missing parameter 0x41201"
Arg1

[2019-05-10 07:44] jgyngell commented on #1544
MEMORY_MANAGEMENT Bugcheck (For some reason this didn't go to the correct place)

[2019-05-10 07:46] #1544 closed

[2019-05-10 07:46] jgyngell opened #1545 "Missing Arg1=0x41201"
MEMORY_MANAGEMENT (1a)
    # Any other values for parameter 1 must be individually examined.
Arguments:
Arg1: 0000000000041201, The subtype of the bugcheck.
Arg2: ffffd28000087c98
Arg3: 0000001000000001
Arg4: ffffad033a39db30

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version

[2019-05-10 21:38] justinmcbride commented on #1445
Hey, using archive.org, we found the document link to be as follows: download.microsoft.com/download/9/c/5/9c5b2167-8017-4bae-9fde-d599bac8184a/OS_Desc_Ext_Prop.zip

[2019-05-10 21:38] #1445 closed

[2019-05-10 22:54] BrianCatlin opened #1546 "Hardware for an emulated device?"
I could be dead wrong, but isn't the point of emulating a device when there isn't any device hardware? This page doesn't make sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a8677d-125b-fc2c-df08-94ade960fe90
* Version Independent ID: 1d6760fd-8f1e-cc09-651b-55134062e423
* Content: [Architecture of USB Device Em

[2019-05-10 22:58] BrianCatlin opened #1547 "What is "client driver" in this context?"
Is a client driver a USBFX driver? Is that the only "client driver"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 306c96f2-d5cc-7327-b422-550b36be6d4a
* Version Independent ID: 3aabd82c-b4e3-fac6-6b98-b0220d7ee9c2
* Content: [USB client driver verifier - Windows drivers](https://docs.microsoft.com/en-us/windows-hardw

[2019-05-11 16:48] eswarpabolu opened #1548 "Latest details"
Please provide link for the latest details... For win10 plus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5084d582-2aa6-6f44-5124-6138e41033d4
* Version Independent ID: f6a17419-252f-1e7f-1a77-853ca8013d9b
* Content: [Monitor Hot Plug Detection - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/driv

[2019-05-13 22:22] duncanmacmichael commented on #1445
Hi @justinmcbride, sorry for the delay on this. That should work for the v1.0 spec. Here's a link to the [v2.0 spec](http://download.microsoft.com/download/3/5/6/3563ED4A-F318-4B66-A181-AB1D8F6FD42D/MS_OS_2_0_desc.docx) as well, if you need it. I have an internal work item to get these download pages back up, but it's in my backlog at the moment. I hope these links help you in the meantime.

[2019-05-15 13:34] soul4soul opened #1549 "Step 4 Can't Add Key due to error "Please enter a unique URI no greater than 256 characters.""
I am unable to complete step 4 which is to "Add new key". When I pressed "Add New Key" an error pops up under the "App ID URI" field that reads "Please enter a unique URI no greater than 256 characters."

I used the same "App ID URI"  for step 3 since it was needed to create the Azure AD App user.

In general this article was fairly confusing. I only have basic familiarity with Azure. It wasn't un

[2019-05-15 14:56] soul4soul opened #1550 "Add information to mention SDK and WDK must be the same version"
VS2019 installer doesn't necessarily give a version of the SDK which is the same version as the WDK. I just went though the install process. VS2019 installer defaulted to give me version 10.0.17763.132. The WDK download link on this page provides version 10.0.18362.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5930

[2019-05-15 16:05] lordjeb opened #1551 "InputBufferLength references incorrect sizes"
In the description for the InputBufferLength parameter, the two sizes listed are referenced incorrectly. REPARSE_GUID_DATA_BUFFER_HEADER_SIZE and REPARSE_DATA_BUFFER_HEADER_SIZE are already sizes, and should not be referenced with the sizeof() call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6ddfe7d-b51a-56de-4cf4

[2019-05-15 16:06] lordjeb opened #1552 "InputBufferLength description incorrect"
In the description for the InputBufferLength parameter, the two sizes listed are referenced incorrectly. REPARSE_GUID_DATA_BUFFER_HEADER_SIZE and REPARSE_DATA_BUFFER_HEADER_SIZE are already sizes, and should not be referenced with the sizeof() call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 288b9968-82e5-84af-211a

[2019-05-15 16:07] lordjeb opened #1553 "OutputBufferLength description incorrect"
In the description for the OutputBufferLength parameter, the two sizes listed are referenced incorrectly. REPARSE_GUID_DATA_BUFFER_HEADER_SIZE and REPARSE_DATA_BUFFER_HEADER_SIZE are already sizes, and should not be referenced with the sizeof() call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8294672c-240e-39ba-bc0

[2019-05-15 16:42] EliotSeattle commented on #1549
Hi @soul4soul
For the failures you're experiencing, the Hardware Dev Center Support folks can help investigate.
1. **First**, sign into your hardware dev center account, and then
2. Open a Hardware Dev Center support case for investigation.
3. Go to
[https://docs.microsoft.com/windows-hardware/drivers/dashboard/hardware-dashboard-faq](https://docs.microsoft.com/windows-hardware/drivers/dashboard/h

[2019-05-15 16:42] #1549 closed

[2019-05-15 17:33] #1551 closed

[2019-05-15 17:33] #1552 closed

[2019-05-15 17:33] #1553 closed

[2019-05-15 22:38] duncanmacmichael commented on #1480
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:38] #1480 closed

[2019-05-15 22:39] duncanmacmichael commented on #1481
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:39] #1481 closed

[2019-05-15 22:39] duncanmacmichael commented on #1518
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:39] #1518 closed

[2019-05-15 22:39] duncanmacmichael commented on #1519
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:39] #1519 closed

[2019-05-15 22:40] duncanmacmichael commented on #1524
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1524 closed

[2019-05-15 22:40] duncanmacmichael commented on #1525
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1525 closed

[2019-05-15 22:40] duncanmacmichael commented on #1526
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1526 closed

[2019-05-15 22:40] duncanmacmichael commented on #1527
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1527 closed

[2019-05-15 22:40] duncanmacmichael commented on #1528
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1528 closed

[2019-05-15 22:40] duncanmacmichael commented on #1529
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1529 closed

[2019-05-15 22:40] duncanmacmichael commented on #1546
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1546 closed

[2019-05-15 22:40] duncanmacmichael commented on #1547
Hi @BrianCatlin,

I’ve created an internal work item for myself to investigate this with the USB team, and I’ll make a note here when I complete the changes. In the meantime, I’m closing the GitHub issue while it’s tracked in the bug. Thanks again for helping to improve the docs.

[2019-05-15 22:40] #1547 closed

[2019-05-16 18:21] tedhudek commented on #1496
Thanks for the suggestion @clouds56 this will be updated within a few minutes.  Next time note that you can click Edit on the original doc page and propose a PR, if you like

[2019-05-16 18:21] #1496 closed

[2019-05-16 19:19] tedhudek commented on #1440
Thanks for the feedback, @rickfleischer, and apologies for the delay.  I watched the video and heard two, code analysis w drivers and provisioning a target computer.  But my searches did not turn up video for these two.

I did, however, go ahead and create a list of the other 7 pages in the driver docs that *do* contain videos, and I added the list in 6651107e86ddbbdeffe085ed6c5edd93ded65812.  You

[2019-05-16 19:19] #1440 closed

[2019-05-17 13:59] puffelyang opened #1555 "WINDOWS_v100_SERVER_X64_RS5_FULL for signing request will casuing problem of submission"
It seems like the "WINDOWS_v100_SERVER_X64_RS5_FULL" is either not supported for "requestedSignatures" field yet, or at least not for attestation signing. When it was included, the commit will be received, but always fail, and even cause the driver information page on the portal been messed up (check 1152921504607696719 for example).

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-05-17 16:15] shivaprasadh commented on #1463
Having the same question.  Can someone help to answer this question?

[2019-05-17 21:12] tedhudek commented on #1483
Thanks for the feedback @tesonwang, apologies for the delay.  To release a new version of your driver, yes, you need to get the new version signed.  For testing, you can use test signing, as described on https://docs.microsoft.com/en-us/windows-hardware/drivers/install/how-to-test-sign-a-driver-package.

[2019-05-17 21:12] #1483 closed

[2019-05-17 21:18] tedhudek commented on #1477
Hi @LiaoMichelle thanks for the feedback and apologies for the delay.

Can you please clarify your question?  You have a base INF and extension INF, both targeting Windows 10 in S mode.  Are you asking if the extension INF will be installed on 10 S machines?

[2019-05-17 21:44] tedhudek commented on #1488
Thanks for the suggestion @vrbear and apologies for the delay.  This will be updated within a few minutes. Next time note that you can click Edit on the original doc page and propose a PR, if you like.

[2019-05-17 21:44] #1488 closed

[2019-05-17 23:59] tedhudek commented on #1520
Hi @GreatFireWall thanks for the feedback and apologies for the delay.  Your question caused us to revise two doc pages significantly, to include the info you request, and to clarify other versioning scenarios.  So thank you for starting this process!

Please see the updates here:

https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/installation-components-for-kmdf-drivers

https://docs.

[2019-05-17 23:59] #1520 closed

[2019-05-19 02:36] rajnishc8 opened #1556 "Path of devcon.exe is incorrect"
at following link
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debug-universal-drivers---step-by-step-lab--echo-kernel-mode-

change  C:\Program Files (x86)\Windows Kits\10.0\Tools\x64\devcon.exe
to          C:\Program Files (x86)\Windows Kits\10\Tools\x64\devcon.exe

Thanks,
--Rajnish

[2019-05-19 03:00] BrianCatlin opened #1557 "Member not documented"
When will SyncType be SyncTypeCreateSection, and when will it be SyncTypeOther? What are the implications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20a64a62-c8b8-d3f7-942a-145b8d8907c9
* Version Independent ID: 3ecdda0f-ef9b-5bde-431e-81a7af013f64
* Content: [FLT_PARAMETERS for IRP_MJ_ACQUIRE_FOR_SECTION_SYNCHRON

[2019-05-19 03:01] BrianCatlin opened #1558 "PageProtection"
If PageProtection is PAGE_EXECUTE, does that include all the various types of executable pages, such as PAGE_EXECUTE_WRITE, PAGE_EXECUTE_READ, etc.? If I want to detect all sections mapped with any form of EXECUTE, then do I need to test them all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20a64a62-c8b8-d3f7-942a-1

[2019-05-19 17:22] yang980 opened #1559 "ทำให้ให้ใหม่เลย"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 2b9ee674-39b1-659a-fd60-8f60e8e6f660
* Version Independent ID: 2d1cb1cf-538a-27a9-19a5-0795bf28943b
* Content: [INF File Sections and Directives - Windows drivers](https://docs.microsoft.com/th-th/windows-hardware/drivers/install/inf-file-sections-and-directive

[2019-05-20 01:02] LiaoMichelle commented on #1477
Hi Ted,
I am asking why extension INF was installed  on "Non" win10 S machines?
Thanks

[2019-05-20 09:16] moolwalk opened #1560 "The reportdata API doesn't work correctly."
The actual output is as below. What document says looks the output is a text file but it actually looks like a gz compressed file.

{
    "data": [
        {
            "ReportDatetime": "2019-05-20T08:00:00",
            "ReportStatus": "Success",
            "ReportLocation": "https://hardwareanalyticsprod.blob.core.windows.net/driver-reports-30038840/30038840_925_43334_201905200800.gz"

[2019-05-20 16:18] RonaldAi opened #1561 "dual signature?"
I checked driver signature on Windows 1903 and can only find SHA2 signature. Could you clarify which Windows versions use dual signatures and which build started using only SHA2 signatures?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5ca4e93-a34c-abbc-0ebc-9b5195378b20
* Version Independent ID: f2e19c4f-44cf-e0d4-2

[2019-05-20 17:07] tedhudek commented on #1559
Sorry, at this time, we can only process requests in English.

[2019-05-20 17:07] #1559 closed

[2019-05-20 17:58] tedhudek commented on #1477
So you are targeting Windows 10 S, and base and extension INF are installed on 10 S successfully, and in addition, extension INF (but not base INF) is installed on Win10 desktop?

[2019-05-20 20:44] cristiangiagante commented on #1454
Please add the version where this tool can be downloaded it not exist in all win sdk versions.
Please upload it !

[2019-05-20 21:36] BrianCatlin opened #1562 "Needs more detail"
Needs a link to where a hardware profile is described. What values in this tree would be accessed by a driver? (IoOpenDeviceRegistryKey allows this to be opened here, so there must be fields of interest to drivers)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da8ea7d6-362e-5e91-4ce8-f08e72547d48
* Version Independent

[2019-05-20 23:00] EliotSeattle commented on #1556
Got it! Thanks, @rajnishc8 !!

[2019-05-20 23:00] #1556 closed

[2019-05-21 00:52] LiaoMichelle commented on #1477
Yes, in addition, extension INF (but not base INF) is installed on Win10 desktop.

[2019-05-21 15:14] LuigiBruno opened #1563 "Additional values for parameter 4"
I've just analyzed a memory dump file having "0" as value for parameter 4: which is the meaning of such a value for that parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f81b449-5ccf-0633-bb19-f391d612476e
* Version Independent ID: 59109407-b187-25e3-9b0f-392ac0370c86
* Content: [Bug Check 0x50 PAGE_FAULT_IN_

[2019-05-21 17:52] olegvs opened #1564 "Git merge text present in article body"
The article contains text "&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD" and other which is remnants of left over bad merge resolve..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a05e45-339b-d94e-f337-e802afd56b79
* Version Independent ID: 8db6253e-eb0c-e88b-bf1e-7270a56096ca
* Content: [Bug Check 0x9F DRIVER_POWER_STATE_FAIL

[2019-05-21 20:02] AlexSmith268 opened #1565 "Add hyperkbd to list of service options for forcing Bug Check Code"
For users that might need to force a bug check, crash dump, or BSOD on a Hyper-V based VM, you can add a DWORD of CrashOnCtrlScroll with a vaule of 0x01 to the Parameters subkey of the hyperkbd service.

Current Doc: https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/forcing-a-system-crash-from-the-keyboard

[2019-05-21 20:17] AlexSmith268 commented on #1565
If it helps, here is what you could add to to this doc to cover this...

Add the following to the beginning list:
Hyper-V keyboards

Add a forth item to the list that states the following:
4. With Hyper-V keyboards, you must enable the keyboard-initiated crash in the registry. In the registry key HKEY_LOCAL_MACHINE\System\CurrentControlSet\Services\hyperkbd\Parameters, create a value named CrashOn

[2019-05-22 06:39] metathinker opened #1567 "2 duplicate doc pages describing AppVerifier"
The doc page this issue is filed against, [Windows Hardware / Windows Drivers / Windows Debugging Tools / ... / Application Verifier](https://docs.microsoft.com/windows-hardware/drivers/debugger/application-verifier) ([source](https://github.com/MicrosoftDocs/windows-driver-docs/blob/staging/windows-driver-docs-pr/debugger/application-verifier.md)) appears to be nearly a duplicate of another doc p

[2019-05-22 07:51] 474172261 commented on #1197
Has it been fixed?? I'm tired of this bug. :(

[2019-05-22 08:46] rodwiddowson commented on #1197
+1 to that.

Also the link that @DOMARS provided above isn't working for me and an attempt to go to the root just throws me into a twisty little maze Azure-AD passages, all different.

[2019-05-22 15:30] Ocasio-J opened #1570 "Supporting Direct3D Version 12"
Documentation for Direct3D 12 is missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8543272-7482-e484-3294-292cbf6aab90
* Version Independent ID: 43074bab-879d-218b-7e8d-991dc6905f87
* Content: [User-Mode Display Drivers - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/user-mod

[2019-05-22 15:45] Ocasio-J opened #1571 "Unclear which DDI version document refers to."
For example, similar pages exists for D3d10 and D3d11:
https://docs.microsoft.com/en-us/windows-hardware/drivers/display/initializing-communication-with-the-direct3d-version-10-ddi
https://docs.microsoft.com/en-us/windows-hardware/drivers/display/initializing-communication-with-the-direct3d-version-11-ddi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-05-22 15:55] eliyasy opened #1572 "Code integrity check"
Decimal id is incorrect. It's 26 - not 22.

22 is NDIS/WIFI verification (**)

              3 - Randomized low resources simulation
                  10 - Force pending I/O requests (*)
                  11 - IRP logging (*)
                  14 - Invariant MDL checking for stack (*)
                  15 - Invariant MDL checking for driver (*)
                  16 - Power framework delay fuzzing

[2019-05-22 17:02] EliotSeattle commented on #1572
All done. Will be live in a few minutes. Thanks, @eliyasy

[2019-05-22 17:02] #1572 closed

[2019-05-22 17:24] DOMARS commented on #1197
@rodwiddowson - You likely need to be logged in.

Here is another place that you can provide product input, if the feedback tool is not working for you:

https://github.com/microsoftfeedback/WinDbg-Feedback

[2019-05-22 20:41] hansmbakker opened #1573 "Explain how to use DMF on this page"
Since [DMF](https://github.com/Microsoft/DMF) is meant to make writing drivers simpler (by reducing the amount of code that developers need to write), it would be nice if this page could explain how to get started with it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 287160ad-f2a5-789a-2d7d-ff336514c11e
* Version Ind

[2019-05-23 02:02] duncanmacmichael opened #1574 "Test for repo name logging"
If you can read this, you don't need glasses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15203e26-89c8-6899-1d87-489e250272b1
* Version Independent ID: 041fb44e-5a94-7a65-f4fc-ad0ef29cfbde
* Content: [Network Driver Design Guide - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/in

[2019-05-23 02:02] duncanmacmichael commented on #1574
Yup it works :D

[2019-05-23 02:02] #1574 closed

[2019-05-23 11:09] puffelyang opened #1575 "Is there a way to cancel a submission/product/commit?"
When testing, I noticed that for some unsuccessful submission,  it seems like the product will not show up in the portal. However, after a successful submission, the previously unsuccessful submission will also show up in the portal together with the successful one. Although, it seems like the commit request to specify the product id and submission id. It seems to be a bug to me, or a Cancel API f

[2019-05-23 14:35] ablaylock opened #1576 "Many escape meanings reference "Windows SDK documentation" that cannot be found"
Many of the escape codes meaning column reference "the Windows SDK documentation" but when I search the documentation I cannot find any reference other than this page that discuss the escape code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38dfac08-3699-5396-f4aa-29a3a488d591
* Version Independent ID: 57cd2706-a965

[2019-05-23 16:35] SillyKeith commented on #1575
In the current design, the main starting "search" page is refreshed every 10 mins or so.   To view all results as they are created, you must use the top link named "Driver List Page (all)".   That page does take a bit to process and load if you have a lot of submissions, but the unsuccessful submission should show up in that ALL list.

[2019-05-23 17:12] EliotSeattle commented on #1575
Added a note to the topic explaining this behavior. Should be live shortly.
Thanks, @puffelyang for the issue and  @SillyKeith for the response.
Eliot

[2019-05-23 17:12] #1575 closed

[2019-05-24 04:56] chentiangemalc commented on #819
I’ve seen this a few times now on Windows 10 machines would love to see more guidance in this especially as I’m not getting any memory dump generated when it occurs.

[2019-05-24 08:29] KalleOlaviNiemitalo opened #1577 "Document dx -id"
When I clicked a hyperlink in the output of `dt Wdf01000!_FX_DRIVER_GLOBALS 0xffff8c8876831de0`, WinDbg 10.0.17763.132 ran the following command:

[code]

This command uses the `-id` option, which is not documented. Please document it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35974886-fcd8-e30b-2bcb-48ac4c32753d

[2019-05-24 09:26] puffelyang commented on #1560
Hey Jesse,

This is normal.

I had experience with this one, and the URL that you've got here will simply not work in browser, due to the concern of security. The return error 404 is just to avoid leaking any private information that might risk the security.

So, this is by design of the Azure blob resource downloading. Since there's no security token in the URL, you'll need to supply authorizatio

[2019-05-24 17:48] tedhudek commented on #1477
What is your desired result?  Do you want both base and extension installed on Win10 desktop?  Or neither?

[2019-05-24 23:26] tedhudek commented on #1477
@LiaoMichelle I've added two sections to https://docs.microsoft.com/en-us/windows-hardware/drivers/install/windows10sdriverrequirements that should help with your problem.  Please see **Installation** and **Troubleshooting installation** on that page.  Closing the issue for now, please reopen if needed.

[2019-05-24 23:26] #1477 closed

[2019-05-25 00:52] jagdishgopalakrishnan opened #1578 "Any comments on the processing overhead ? "Assigning queues, and queuing additional DPCs requires additional processing overhead.""
Interested to see if there are any additional time bounds that can be incurred based on the additional processing overhead needed for assigning queues and queueing additional DPCs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b976194-de35-a0ee-7ea3-c7c1b1bf2e1f
* Version Independent ID: 081748f7-b9e4-2929-9619-da94e

[2019-05-29 13:53] RAJU2529 opened #1580 "Thanks for nice great information"
I thought of updating firmware using by setup.exe and  other third party provided by the OEM .
But after reading this article , i wondered how the windows os  updates particular unique  firmware to respective unique device . I am totally  wondered how the windows was designed to update the uefi firmware. Last 25-05-2017 , i received  bios uefi firmware via device manager , this windows 10 updated

[2019-05-29 13:55] RAJU2529 commented on #1373
I  think this  article states that UEFI  firmware. But updating other device driver or firmwares for like  harddisks or ssd or camera or tpm or dvd rom .
Those device needs special type  firmwares in the form of  .bin or .dat or .exe files

[2019-05-29 14:05] RAJU2529 opened #1581 "same thing i experienced"
On 25-05-2019 , i experienced same  exp while updating system uefi firmware .
We must follow certains steps or conditions before  updating or checking new firmwares.
01. Close all running applications
02. Disable otr turn off  windows defender
03. Disable or turn off windows firewall
04. Disable any other third party antiviruses softwares and firewalls
05. Connect the AC power adapter to the lapto

[2019-05-29 14:10] RAJU2529 opened #1582 "Whether End user can able to modify ?"
I am using asus vivobook 15 r542uq-dm153 with bios x542uq.307  .
I was trying to modify the bios with .307 format . Its more complicated to modify , Because  codes and other things are  beyond my knowledge .
Then how can oem can modify the bios firmware.
Is there any common tools to modify bios as per customer needs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-05-29 14:10] desowin commented on #1400
@duncanmacmichael I noticed `NewInterfaceUsage` under some of the keys listed in HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\usbflags

Example key under which the `NewInterfaceUsage` REG_DWORD appears is HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\usbflags\046DC52F2200

I would like to know what it means as well as the original poster.

[2019-05-29 14:16] RAJU2529 opened #1583 "I have read the contains of the .inf files"
I totally  wondered how  the  normal  text file becames  valid  driver in the form of .inf extension.
I wish the  notepad  development team for awesome  tool.
I would  request to microcoft , dont  remove  notepad  in coming  windows os .
Add more  features   must be added to notepad software.

Thanks to all the authors who are all contributed their knowledge to this article

---
#### Document Deta

[2019-05-29 17:41] tedhudek commented on #1228
Hi @jakeoshins sorry for the delay on this one.  I just added a table to the bottom of https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/using-framework-work-items that has this info.

[2019-05-29 17:41] #1228 closed

[2019-05-29 18:19] kkoeman opened #1585 "Links broken"
The links for the HID parser APIs are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bf1b7f1-a59a-d9ef-7c8e-b994946afb32
* Version Independent ID: 3fcf10e3-c148-702e-9d9e-01bd87136d61
* Content: [Introduction to HID Concepts - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/intro

[2019-05-29 19:38] studleylee opened #1587 "Is this still relevant to windows 10 1809 x64 and newer?"
Is this still relevant to windows 10 1809 x64 and newer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aeb487d-b749-4f6e-9ff5-71be68bf7a09
* Version Independent ID: 44418645-8c6e-7387-ba3e-02f478816961
* Content: [Installing an Unsigned Driver during Development and Test - Windows drivers](https://docs.microsoft.com/

[2019-05-30 13:20] tzimmer1 opened #1590 "Suggested addition for "Testing" section on this page"
Intel has discovered while implementing DFx on non-WDF drivers that several drivers perform incorrect PoFx D-State accounting across S4 transitions.
I would suggest a line item in the "Testing" section to strongly suggest testing DFx after an S4 transition has been performed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-30 17:49] tedhudek commented on #751
Closing due to inaction.  Feel free to reactivate as needed.  Thanks!

[2019-05-30 17:49] #751 closed

[2019-05-30 18:01] tedhudek commented on #962
I just updated the page, fix will be live in a few moments.  Thanks for the suggestion, and apologies for the delay.

[2019-05-30 18:01] #962 closed

[2019-05-30 18:04] tedhudek commented on #1227
Hi @jakeoshins, apologies but I have been unable to get an answer from the feature team on this one, despite multiple queries.  I will still make a doc update if an answer comes in after this point, but I'm going to close this out for now.  We always appreciate your interest in the docs :)

[2019-05-30 18:04] #1227 closed

[2019-05-30 18:07] #714 closed

[2019-05-30 18:13] tedhudek commented on #1384
Feedback applies to the Sectigo link on https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-a-code-signing-certificate

[2019-05-30 18:13] tedhudek commented on #1384
Issue if fixed

[2019-05-30 18:13] #1384 closed

[2019-05-30 19:03] tedhudek commented on #1511
Feedback pertains to https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk#feedback.

[2019-05-30 19:04] SillyKeith commented on #1010
The link was fixed back in March - in OzBob's comment, the "Microsoft Link" takes me to Sectigo.

[2019-05-30 22:32] charliearcuri opened #1591 "LiveKernelReports should be documented/referenced."
LiveKernelReports are a form a memory dump that don't involve a crash.  They can be analyzed in a substantially similar way to understand why a subsystem (audio, Wi-Fi or USB) was reset by the Windows kernel or executive subsystem.  Please add links to "live dumps" which should (IMO) be called by the name of the folder they appear in by default: LiveKernelReports.

---
#### Document Details

⚠ *Do

[2019-05-30 22:36] SillyKeith commented on #1010
Yes, it's ok to use Comodo (now Sectigo) EV code signing for UEFI submissions.

[2019-05-30 22:41] tedhudek commented on #1010
Thanks @SillyKeith!

[2019-05-30 22:41] #1010 closed

[2019-05-30 23:02] duncanmacmichael commented on #1451
Hi @Deon-Hung, sorry it's been a while since I've checked in. The USB teams are currently heads down developing for the next release of Windows, so I don't have a concrete answer as to when these docs might get published. So, I'm going to go ahead and close this issue.

In the meantime, we do have this Channel 9 video: [Power Delivery Testing with the USB Type C SuperMUTT](https://channel9.msdn.co

[2019-05-30 23:02] #1451 closed

[2019-05-30 23:50] duncanmacmichael commented on #1578
Good question @jagdishgopalakrishnan, let me ask the NDIS team to see what they think.

[2019-05-31 00:48] duncanmacmichael commented on #1400
Thanks for adding on @desowin. I confirmed the presence of `NewInterfaceUsage` and `SkipContainerIdQuery` on my own PC, so I've refreshed the thread I had going with the USB team to see what I can find out.

[2019-05-31 01:08] duncanmacmichael commented on #1585
Hi @kkoeman, thanks for bringing this to my attention. I've confirmed that there is a bug in our reference system that is preventing the entire Hidpi.h header from rendering, so I've reached out to get that fixed. Stay tuned.

[2019-05-31 02:40] duncanmacmichael commented on #1400
Hi everyone, here's a summary of my findings on this issue.

These flags are among the many, many registry keys/values in the OS that are undocumented by design. They are not developer-facing knobs or settings, and developers and end-users are not meant to modify them. Thus, the better question is what problem are you trying to solve? If you are experiencing an issue during driver development, cha

[2019-05-31 02:40] #1400 closed

[2019-05-31 04:40] desowin commented on #1400
@duncanmacmichael I was thinking the NewInterfaceUsage somehow related to MS OS descriptors. I have noticed that HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\usbflags\046DC52F2200\osvc value is 0x0000. However, the URB_FUNCTION_GET_MS_FEATURE_DESCRIPTOR is being issued to this device. I would like to know why?

[2019-05-31 08:26] jagdishgopalakrishnan commented on #1578
Thanks, appreciate your help.

Sent from my iPhone

On May 30, 2019, at 4:50 PM, Duncan MacMichael <notifications@github.com<mailto:notifications@github.com>> wrote:

Good question @jagdishgopalakrishnan<https://github.com/jagdishgopalakrishnan>, let me ask the NDIS team to see what they think.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<ht

[2019-05-31 18:13] tedhudek commented on #1227
Thanks for the feedback @jakeoshins.  This is now updated in https://docs.microsoft.com/en-us/windows-hardware/drivers/wdf/using-framework-work-items.

[2019-05-31 18:14] jtippet commented on #1578
The docs say:

This remark means that RSS doesn't magically make things faster.  Actually, RSS only adds overhead, since now you're paying for the overhead (ISRs, DPCs, function calls, etc) on multiple processors.

The purpose of RSS is to spread load across multiple CPUs, when 1 CPU isn't able to handle all the workload.  The docs are saying that, if 1 CPU is enough to handle your workload, then

[2019-05-31 18:50] jagdishgopalakrishnan commented on #1578
Thanks, understood your comment about RSS purpose and the workload spread.

I had a slightly different question about "Assigning queues, and queuing additional DPCs requires additional processing overhead" which I will try and rephrase.

It sounds like there are 3 different approaches according to my understanding:

1) RSS with single HW queue: Main ISR spawns off DPC, This reassigns buffers to CP

[2019-05-31 18:55] crobinso commented on #1386
This can be closed, it was fixed by https://github.com/MicrosoftDocs/windows-driver-docs/commit/50b7b4b674aaecd2a3eaaf113e85660d5c1a1dc3

[2019-05-31 19:38] #1386 closed

[2019-05-31 22:05] tedhudek commented on #1313
Thanks @szalkerous and apologies for the delay.  I've just checked in this fix, and it should appear on the live site within half an hour.

[2019-05-31 22:05] #1313 closed

[2019-06-01 00:40] duncanmacmichael commented on #1400
@desowin Given that these flags are undocumented for internal use, I can't say exactly how or why the OS would issue that to a particular device. All osvc means is that the OS queried the device for a proprietary Microsoft-defined USB descriptor but it doesn't explain the reason. See [Microsoft OS Descriptors for USB Devices](https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/microso

[2019-06-02 09:24] gpotter2 commented on #1476
Hi @duncanmacmichael & sorry for the ping.

Did you have a chance to ask the Wi-Fi team about this ?

Thanks !!

[2019-06-03 08:23] Bartolomeus-649 opened #1594 "broken link"
The link to changes in driver signing for Windows 10 is broken.
The intended page is:
https://blogs.msdn.microsoft.com/windows_hardware_certification/2016/07/26/driver-signing-changes-in-windows-10-version-1607/

But you end up here:
https://techcommunity.microsoft.com/t5/Windows-Hardware-Certification/bg-p/WindowsHardwareCertification

You really should stop referring to blogs, especially Microso

[2019-06-03 15:30] PBrawn commented on #448
I'm in the same boat. I had to run a recovery on a Surface 3 tablet (downloaded and ran the recommended 1511 USB installer), and from there, I attempted to upgrade to a supported release (namely 1809) from config manager. Sadly, I get an error that (from what I've read) means there are conflicting updates, but I cannot find out which one is conflicting because I cannot decode the log files. It has

[2019-06-03 15:34] PBrawn commented on #448
p.s. I've not included the wrigmarole of trying to figure out the 0x80240fff error with regards to conflicting updates. MS have nothing on this, yet they deem a 1511 USB recovery release to be adequate for their own product (surface 3)?

[2019-06-03 19:29] jtippet commented on #1578
Ah, gotcha.  First, your taxonomy is correct: those are the 3 different ways a NIC driver can do RSS.  (You could add an "approach 0" to your taxonomy: a NIC that only provides the RSS hash alongside each packet, but doesn't support any queues or multiple interrupts.)  Your conclusion is also correct: approach 3 is the most desirable for the OS.  (And between the first two, approach 2 is more desi

[2019-06-03 23:43] duncanmacmichael commented on #1476
No worries @gpotter2; I do apologize that this slipped under my radar recently. I did get an answer from a Wi-Fi team member but mentally filed it away thinking I was waiting for further info when in fact the answer was there. Sorry about that!

Netmon was not carried over to WDI as it did not fall into the category of required functionality when the Wi-Fi driver team was making design decisions f

[2019-06-03 23:43] #1476 closed

[2019-06-04 16:59] jagdishgopalakrishnan commented on #1578
Thank you very much for a very detailed response,

For more specific questions on approach 3, I think its probably better if we can directly correspond with you (NDIS Driver Team) (jagdish.gopalakrishnan@intel.com). It would be great if we can internally facilitate a discussion.

Thanks in advance.

[2019-06-04 22:04] duncanmacmichael commented on #1578
Great, thanks @jtippet for the great info. @jagdishgopalakrishnan I'll go ahead and close this issue since you are taking this offline with the NDIS team. Thanks!

[2019-06-04 22:04] #1578 closed

[2019-06-04 22:21] jagdishgopalakrishnan commented on #1578
Hello Duncan,

I know you closed this issue, but would appreciate contact info for direct correspondence (jagdish.gopalakrishnan@intel.com) with jtippet or other NDIS driver team members for further offline discussion on option 3.

[2019-06-05 00:03] duncanmacmichael commented on #1578
Hi @jagdishgopalakrishnan,

I'm not a member of the NDIS team, but I'll forward your request to them for further discussion here.

Thanks!

[2019-06-05 02:23] tzimmer1 commented on #1495
Closing.   We have filed this as a workitem between Intel and Microsoft in a Partner Area.
Supposedly it is coming soon from aadake@microsoft.com.

We will see...

[2019-06-05 02:52] duncanmacmichael commented on #448
@PBrawn Sorry you're having that issue. You should be able to run the [Get-WindowsUpdateLog](https://docs.microsoft.com/en-us/powershell/module/windowsupdate/get-windowsupdatelog) PowerShell command, which will dump the WindowsUpdate.log text file to the desktop. That file is a simple text file that should open in NotePad. For more info about reading that file, see [Windows Update Logs](https://do

[2019-06-05 03:00] duncanmacmichael commented on #448
Please note that the documentation page on which this thread was created is specifically aimed at downloading symbols for debugging Windows drivers. It is for driver developers and is not aimed at troubleshooting Windows update logs or any other situation that involves logs or symbols.

[2019-06-05 08:36] PBrawn commented on #448
Apologies Duncan, it wasn't aimed at all you hard working developers! I'm just really frustrated by this issue. The get-windowsupdatelog result is unreadable, despite pointing it to the online symbol repository, or a locally stored one (which is the result of the downloaded one anyway). I think it's simply a case of MS not proividing the correct symbols for this particular OS build.

[2019-06-05 10:42] johnmroberts commented on #448
Understood.  I realise you are getting the flack for a different team integrating with your code intended for another purpose.

It's a issue for operation IT staff - they can't troubleshoot Windows Update problems any longer on some clients. It might say "all versions of Windows 10", but for machines running older versions of Windows 10 (which were still in extended support when I originally poste

[2019-06-05 17:42] DOMARS commented on #1550
@soul4soul - We have added information about having to select the WDK supported version of the SDK as part of the VS 2019 installation. Thank you for highlighting this issue that you were seeing.

[2019-06-05 17:42] #1550 closed

[2019-06-05 17:45] DOMARS commented on #1577
@KalleOlaviNiemitalo - I worked with the dev team to document the -id option. It is used to support the rendering of links in command output.

dx {-id}
Microsoft internal use only. Used to follow data model links in command output.

Thanks for making this request, and good luck using the dx command and the debugger.

[2019-06-05 17:45] #1577 closed

[2019-06-05 18:40] jagdishgopalakrishnan commented on #1578
Thanks very much.

From: Duncan MacMichael [mailto:notifications@github.com]
Sent: Tuesday, June 4, 2019 5:04 PM
To: MicrosoftDocs/windows-driver-docs <windows-driver-docs@noreply.github.com>
Cc: Gopalakrishnan, Jagdish <jagdish.gopalakrishnan@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-driver-docs] Any comments on the processing overhead ? "Assigning queue

[2019-06-05 20:20] billlattimer commented on #1479
@BrianCatlin, thank you for catching this; links corrected.

[2019-06-05 20:20] #1479 closed

[2019-06-05 22:27] DOMARS commented on #383
@endolith - As the dev team is following up on this and has an internal tracking item, closing this issue.

[2019-06-05 22:27] #383 closed

[2019-06-05 22:28] DOMARS commented on #376
@endolith - As the dev team is following up on this and has an internal tracking item, closing this issue.

[2019-06-05 22:28] #376 closed

[2019-06-05 22:33] DOMARS commented on #538
@emuzychenko - I have not been able to gain clarity on the buffer situation that you describe in your code with the dev team.  As another resource you might present your issue to the OSR driver forum to see if anyone else has run into the issue with buffering in audio drivers that you describe.

[OSR's ntdev List](https://community.osr.com/categories/ntdev)

Good luck in your development efforts a

[2019-06-05 22:33] #538 closed

[2019-06-05 22:36] DOMARS commented on #382
@lixiaogangkkk - On your other questions, unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite responsive.
Windows Hardware WDK and Driver Dev

[2019-06-05 22:36] #382 closed

[2019-06-05 22:38] DOMARS commented on #381
@endolith - As the dev team is following up on this and has an internal tracking item, closing this issue.

[2019-06-05 22:38] #381 closed

[2019-06-05 22:49] DOMARS commented on #1482
@adrianvmsft - I believe this behavior is related to the base number system (radix) as described in the comment above. For that reason, I don't plan on updating the topic to describe this behavior right now. Thank you for passing on what you are seeing with the .foreach command and hex numbering.

[2019-06-05 22:49] #1482 closed

[2019-06-05 22:56] DOMARS commented on #1197
@rodwiddowson - As this product issue is being tracked in https://github.com/microsoftfeedback/WinDbg-Feedback/issues/3
I'm closing the docs issue. Thanks for your interest in the debugger and working with the product team on this issue with !pool.

[2019-06-05 22:56] #1197 closed

[2019-06-05 23:08] DOMARS commented on #1464
@metalpizza123 - The docs team is limited in size, so at this point we do not have the resources to describe more detail about the default APO that is shipped in the different versions of Windows.

If you have product feedback on the changes to the audio UI, use the product feedback tool ("Feedback Hub" in apps) in Windows to provide input there.

Thank you for your interest in the Windows audio d

[2019-06-05 23:08] #1464 closed

[2019-06-05 23:36] DOMARS commented on #790
@LuigiBruno - This topic now describes the helpful !analyze utility and the Windows Memory diagnostics. There is more that could be done, but those tools and the specific error guidance for the sub type of memory error along with the general guidance that we provide on stop codes, is a reasonable start. We will use data to determine if there is more that we should document on this stop code in the

[2019-06-05 23:36] #790 closed

[2019-06-06 02:54] duncanmacmichael commented on #448
No worries @PBrawn and @johnmroberts. Your situations are understandable. I'm actually not a developer for Windows, though; I'm part of the Windows Driver Kit documentation team, and our team's focus is on providing accurate docs for the intended driver developer audience by working with feature teams to document the various driver technologies and tools.

But, as you have pointed out, this is a s

[2019-06-06 20:35] RonaldAi opened #1599 "Links don't work"
The links in this page point to something like https://msdn.microsoft.com/library/windows/desktop/ms683580, which get redirected to https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-interlockeddecrement, which is the wrong location for the content. It actually is at https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/wdm/nf-wdm-interlockeddecrement
Looks lik

[2019-06-06 20:59] EliotSeattle commented on #1504
@v-nidolc
Can you please route this to the right person?

[2019-06-07 17:38] DOMARS commented on #1258
@blabberer - As the debugger team is tracking this, I will close this docs issue.

 For product input follow this link to file product feedback using the Windows Feedback Hub:
http://aka.ms/dexex
The Feedback Hub allows customers to file and up vote product issues. The link automatically sets the product category to Debugging Tools for Windows.
Thanks again for reaching out to the Windows Driver D

[2019-06-07 17:38] #1258 closed

[2019-06-07 17:42] DOMARS commented on #1311
@bendono - Changes/updates are live so closing this issue.

[2019-06-07 17:42] #1311 closed

[2019-06-07 17:47] DOMARS commented on #1137
@vijairaj - As the page you mentioned is already linked from this topic, I will close this issue.  Thanks for reaching out to the Windows Driver Developer Documentation team.

[2019-06-07 17:47] #1137 closed

[2019-06-07 19:52] DOMARS commented on #1380
@ryan-roberts - Can you confirm my assumption that the default Server 2016 IIS would contain the "Baltimore CyberTrust Root"? In your environment, you removed those default certs, so as to reduce your exposure?

[2019-06-07 21:46] leo-zspace opened #1601 "need better explanations of IGNORE_SHORT_PACKETS and SHORT_PACKET_TERMINATE policies"
See discussions here:
http://libusbk.sourceforge.net/UsbK3/usbk_pipe_management.html
https://community.osr.com/discussion/181538/winusb-and-transaction-termination

The evidence suggests that IGNORE_SHORT_PACKETS is applicable to [out] bulk endpoints (with reversed semantics) but w/o access to WinUSB source code it is impossible to tell for sure.

It would be nice if documentation can explain it i

[2019-06-08 01:51] duncanmacmichael commented on #742
Hi @LarryK348, apologies for the delay on this. I've updated this topic and its sibling KMDF topic for Visual Studio 2019; look for those changes shortly after I post this. Thanks for helping to improve the docs!

[2019-06-08 01:51] #742 closed

[2019-06-08 03:01] duncanmacmichael commented on #1601
Hi @leo-zspace, thanks for the thoughtful feedback. I'll check into this with the USB team; stay tuned.

[2019-06-08 12:57] alfaunits opened #1602 "Minor misinformation"
"User-mode deadlocks arise when multiple threads of one application have blocked each others' access to the same resources"
User mode code can access global resources, e.g. memory mapping or event objects. These can be shared between applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd7823f-e9bd-27e0-5490-6

[2019-06-08 18:10] DOMARS commented on #1567
@metathinker - In the driver realm, the primary use of app verifier is to help validate UMDF drivers. So the devtest version that mentions that is retained and the other version in debugger is being removed. Thanks for pointing this out.

[2019-06-08 18:12] DOMARS commented on #1564
@olegvs - The merge text should not be left in a topic, thanks for catching this! The merge text is removed. You are always welcome to create PRs for doc fixes.

[2019-06-08 18:12] #1564 closed

[2019-06-08 18:58] DOMARS commented on #1602
@alfaunits - Can you clarify what you think the improved wording should be? Is it stating what the resource could be - global resources such as memory mapping or event objects? Or is it that this can happen within a single applications use of global resources?

[2019-06-08 19:00] DOMARS commented on #1591
@charliearcuri - Thanks for this suggestion. I can add it to the backlog, but if you are able to create a PR with what you think this should be, that would accelerate this work.

[2019-06-08 19:01] #1567 closed

[2019-06-08 19:41] DOMARS commented on #1565
@AlexSmith268 - Thanks for this sugestion. Will need to check with the devteam to confirm this is a supported method.

[2019-06-08 20:18] DOMARS commented on #1220
@bendono - I see the value of updating this topic to 64 bit, but as the topic is currently correct, and illustrates the general workflow, it will be difficult to schedule that work for this enhancement. On the symbols, I also see how you could add additional commands to show how to take advantage of public symbols, when those are available. There are advantages to seeing how to work with out symbo

[2019-06-08 20:18] #1220 closed

[2019-06-08 20:27] DOMARS commented on #1276
@BrianCatlin - Thanks for this interesting question. I don't know if there is a way to do this programmatically. As that would be more of a general kernel programming technique, you might see if someone on the OSR forums has determined a good way to do this.
[OSR's ntdev List](https://community.osr.com/categories/ntdev)
Thanks again for reaching out to the docs team.

[2019-06-08 20:27] #1276 closed

[2019-06-08 20:44] alfaunits commented on #1602
"multiple threads of one application" is incorrect. It can be if multiple applications as well.
Just as in kernel mode.

[2019-06-08 21:14] DOMARS commented on #1602
@alfaunits - Thanks for the clarification, I see what you are saying. How does this updated wording sound?

"User-mode deadlocks arise when multiple threads have blocked each others' access to the same resources"

[2019-06-09 14:23] alfaunits commented on #1602
As it can happen in both cases (within threads of a single application and even between threads of different apps), my suggestion is something along the lines of:
"User-mode deadlocks arise when multiple threads, usually of a single application, have blocked each other's access to the same resource". Perhaps add "However, multiple threads of multiple applications can also block each other's access

[2019-06-09 19:51] ryan-roberts commented on #1380
Sorry for missing your first response Don. I believe starting with Windows Server 2012 previously-available root certificates were removed from WSUS ([see this SF thread for similar discussion](https://serverfault.com/questions/541922/where-to-get-root-ca-certificates-for-windows-server-now-that-microsoft-no-longe)). So it's not a matter of the certificates being removed but no Windows Server inst

[2019-06-10 15:36] gpotter2 commented on #1476
Thanks for the answer !

[2019-06-10 17:49] DOMARS commented on #1380
@ryan-roberts - Thanks for that clarification.  Here is the proposed wording.

Note that the certificates store that contains the access to symproxy needs to be up to date. Certificates that are normally installed with IIS and Windows server such as the "Baltimore CyberTrust Root" are used for HTTPS/TLS communication to the upstream provider, and they need to be in the Trusted Root store on the ma

[2019-06-10 17:52] DOMARS commented on #1380
Adding @aluhrs13 for review of wording to describe required certs for symbol server https access.

Can you confirm the use of the "Baltimore CyberTrust Root"? Is there another way we should describe the cert requirments and how we chain up?

[2019-06-10 18:06] EliotSeattle commented on #1560
Hi @moolwalk (Jesse).
It's not clear why you're having this issue, as this account was previously onboarded. The support teams asks that you please go ahead and open a support case from [https://support.microsoft.com/en-us/supportrequestform/83cdfd8d-c24a-fbe4-fb2a-3fead30613a9](https://support.microsoft.com/en-us/supportrequestform/83cdfd8d-c24a-fbe4-fb2a-3fead30613a9).

Thanks,

Eliot

[2019-06-10 18:06] #1560 closed

[2019-06-10 19:15] DOMARS commented on #1602
@alfaunits - Thanks for the help in better describing the causes of user mode deadlocks. The updates are live.

[2019-06-10 19:15] #1602 closed

[2019-06-10 23:24] aluhrs13 commented on #1380
I'm not the right person to answer that... Andrew or Scott might know more.

[2019-06-10 23:28] DOMARS commented on #1380
@aluhrs13 - Thanks, I will follow up with Andrew.

[2019-06-11 02:03] BrianCatlin opened #1604 "Out of date"
Building drivers with the  BUILD tool is no longer supported, yet there is still a need for export drivers. How do we create an Export Driver using Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d33e947-6ef6-456f-784c-6635929151f9
* Version Independent ID: c784fe86-b359-9805-30a3-37ae986b1bef
* Content:

[2019-06-11 23:14] EliotSeattle commented on #1573
Thanks, @hansmbakker
Great idea. I added a section in the topic here as well as in the one for KMDF based on a template.
Cheers,
Eliot

[2019-06-11 23:14] #1573 closed

[2019-06-12 14:53] alexfeinman opened #1608 "Undocumented error code"
I am seeing ACPI_BIOS_ERROR with Paramter 1 set to 0x1000D. This specific value is not documented here. Can it be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e709d9c-e611-ab5b-232f-1c53f1c3c4e8
* Version Independent ID: 366cae43-1103-8f11-3fac-ad25d799e508
* Content: [Bug Check 0xA5 ACPI_BIOS_ERROR - Windows

[2019-06-12 19:11] hansmbakker commented on #1573
Thank you!

[2019-06-12 20:14] tzimmer1 opened #1609 "Add WDM based PoFx samples (including DFx)"
Can WDM-based PoFx and DFx implementation details be added to this source base?
Intel has some driver using a WDM-based PoFx approach due to some Microsoft port drivers not implementing PoFx.

Can DFx information (via https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/introduction-to-the-directed-power-management-framework) be added to the WDM (non-WDF) based PoFx samples?
Particular

[2019-06-12 22:33] tedhudek commented on #1349
Thanks for the feedback, @designdust, and apologies for the delay getting back to you.  That type of issue can happen for a variety of reasons that aren't within the scope of this documentation to cover (these docs are aimed at commercial driver developers).

If it's still a problem, you may have success posting your question in the following forums, where other driver developers and Microsoft eng

[2019-06-12 22:33] #1349 closed

[2019-06-12 22:50] tedhudek commented on #1368
Thanks for the feedback, @jurva, and apologies for the delay getting back to you.  The correct link is https://docs.microsoft.com/en-us/windows-hardware/test/hlk/api/hlk-api-reference.  I've just updated the doc page with that link, and the fix should be live within 15 min.  Thanks again!

[2019-06-12 22:50] #1368 closed

[2019-06-12 23:00] tedhudek commented on #1378
Again, thanks @jurva for the suggestion and apologies it took us a while.  The link you want is https://docs.microsoft.com/en-us/windows-hardware/drivers/install/device-manager-error-messages.  I've added that to the doc page above, fix should be live in 15 min or so

[2019-06-12 23:00] #1378 closed

[2019-06-12 23:09] tedhudek commented on #1411
Thanks for the question @RAJU2529 and apologies for the delay.

This documentation is for commercial driver devs and people who are deploying drivers. For consumer driver issues, your best bet is to look at the Microsoft Help topics that are on support.microsoft.com.

Sorry that I can’t offer you something more specific than that.  Best of luck with your issue.

[2019-06-12 23:09] #1411 closed

[2019-06-12 23:11] tedhudek commented on #1414
Thanks for the suggestion @RAJU2529 but we don't currently have resources to modify or transcode these videos.

[2019-06-12 23:11] #1414 closed

[2019-06-12 23:49] tedhudek commented on #1359
Thanks for the feedback, @TanakaYasen, and apologies for the delay.  The documentation is correct, but is missing some info that is elsewhere.  Specifically, the InterruptService routine can be used for both line-based or message-signaled, depending on how it was connected. See point 3 on this page::

https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/introduction-to-message-signaled

[2019-06-12 23:49] #1359 closed

[2019-06-12 23:53] duncanmacmichael commented on #1585
Still working on getting an answer for where the content for this header went; thanks for your patience.

[2019-06-13 00:27] EliotSeattle commented on #1511
We've updated the download process to avoid troubles like this. Sorry about the delay.

[2019-06-13 00:27] #1511 closed

[2019-06-13 11:22] theevilbit commented on #676
Workaround is not a fix, please reopen.

[2019-06-13 15:46] aluhrs13 commented on #676
This repo is for tracking documentation issues, not product issues. The correct GitHub issue tracking this is at - https://github.com/microsoftfeedback/WinDbg-Feedback/issues/2#issuecomment-495297591

[2019-06-13 18:34] agvardha opened #1611 "Give some examples for the .load command"
Ok I did .load C:\Windows\system32\abcd.dll. Nothing happened. Then you say we can force it by doing !DLLName.ExtensionCommand syntax. Couple of example would have been useful.

Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5f87e7c-87f4-ac0a-e6a2-4076f43e64a5
* Version Independent ID: 862

[2019-06-13 18:45] lorihollasch commented on #1199
@csm10495 , glad you find this page useful. To answer your question, SANITIZE/CRYPTO is only supported on WinPE like SECURE ERASE. I've edited the page to make this more clear. Apologies for our slow response!

[2019-06-13 18:45] #1199 closed

[2019-06-14 00:21] lorihollasch commented on #1127
@mfstanton, sorry for the slow response to this - hope you have moved past your error situation by now. The details of how proprietary storage miniport drivers work aren't documented - this includes stornvme. I did update the [Storport Event Log Extensions](https://docs.microsoft.com/en-us/windows-hardware/drivers/storage/storport-event-log-extensions) page to point out where Storport logs events.

[2019-06-14 00:21] #1127 closed

[2019-06-14 01:00] mfstanton commented on #1127
Well I have stopped using them on one machine. The design has a major flaw in it and there is a failure on timeouts to correctly process the reset of a PCIe Bus that is bifurcated by a bridge. You can’t just document your way out of this problem. Reliability  is something people count on.  I spent a lot of time fixing similar issues for my device driver on an enterprise Linux system  I would be ha

[2019-06-14 01:41] lorihollasch commented on #1442
@piotrbocian , I reached out to the WDF dev team and got the following response. Hope this info helps (although I'm guessing you've already figured this out since you hit the issue in April - sorry for the slow response).

"The standard NT kernel driver, for which WDF provides support, exports a DriverEntry callback with a DriverObject and RegistryPath parameters. However, this crash dump filter d

[2019-06-14 01:41] #1442 closed

[2019-06-14 11:58] tonysepia opened #1612 "File Version vs Product Version"
In section 'Loading mscordacwks.dll and sos.dll (live debugging)' it is worth noting that 'CLR version' is NOT referring to File Version, but to Product Version:
    File version:     4.6.1590.0
    Product version:  4.0.30319.0

It can be confusing, as SOS.dll 4.0.30319.0 is apparently used to debug .NET Framework 4.6 application

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-06-14 19:34] druske opened #1613 "OID data details omitted"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf31e680-3d78-7dd3-d9c7-8b9e4d606fa6
* Version Independent ID: 1de60554-fb57-ffec-21e0-b5f25c9a01da
* Content: [OID_GEN_VENDOR_DESCRIPTION - Windows drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/oid-gen-vendor-description)

[2019-06-14 19:35] RAJU2529 opened #1614 "I have updated uefi"
I trust microsoft windows os  for delivered correct firmware to my asus  laptop. No problems while updated . BIOs=UEFI firmware/
Thanks for the article with  diagrams . It clearly explains  everything with hidden knowledge .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d25e12-2213-9c84-2fe9-ee2f32e82a27
* Version I

[2019-06-14 19:35] druske commented on #1613
Specifics about OID data is lacking on this and other pages. Here, I was left wondering whether the vendor string needed to be ASCII, UTF-8, UTF-16, etc. On other OID pages, documentation fails to describe whether the data is a 32-bit value, a 64-bit value, or even an array of 32-bit values (for OID_GEN_SUPPORTED_LIST, for instance). Information can be found be searching through sample drivers, bu