[2016-08-01 21:24] PeterGV opened #1 "What makes "Lid" Special?"
A small issue:

There are a significant number of "standard" devices shared between Windows and the ACPI BIOS (as noted in the first section on this page).  A few devices are called-out here for special treatment.  What makes them special?  Why is "Lid" listed here, and Battery, but not the Ambient Light Sensor device (for example)?

RE: https://github.com/Microsoft/windows-driver-docs/blob/master

[2016-08-02 16:59] tedhudek commented on #1
@barrygolden do you have any insight on this one?

[2016-08-02 19:18] barrygolden commented on #1
I’ll follow up with the ACPI PMs to see if we have additional specs or reference available on ambient light sensors.

[2016-08-02 19:32] PeterGV commented on #1
First… let me be entirely clear:  While this issue is a legitimate (if trivial) one, I entered it primarily as a way to test how issues filed on GitHub will be handled by the doc team, on behalf of the 3rd party driver development community.  So, my day-to-day business isn’t exactly impacted by the need to clarify this topic.
But… addressing the issue: To be clear… the question isn’t about “Ambien

[2016-08-03 18:29] barrygolden commented on #1
Created VSO task:
Task 8375831: ACPI: ACPI-defined devices (rewrite topic per MVP input)

[2016-08-08 21:39] tedhudek commented on #1
This is tracked internally by the above, so closing out this issue.  Thanks, Peter, for pointing this out.

[2016-08-08 21:39] #1 closed

[2016-09-22 08:00] I-gor-C opened #23 "Incorrect data in the Offloading the Segmentation of Large TCP Packets doc"
Link: https://github.com/Microsoft/windows-driver-docs/blob/staging/windows-driver-docs-pr/network/offloading-the-segmentation-of-large-tcp-packets.md

Last paragraph states:

"Not set the **UserData** member of the NDIS_TCP_LARGE_SEND_OFFLOAD_NET_BUFFER_LIST_INFO structure when a send operation is complete. Instead, the miniport driver must set the LsoV2TransmitComplete.Reserved member to zero an

[2016-09-28 19:14] #23 closed

[2016-10-18 23:41] EliotSeattle opened #27 "TestTestTest"
Just playing with the issue tool.

audio/allocator.md

[2016-10-18 23:44] EliotSeattle commented on #27
Done playing.

[2016-10-18 23:44] #27 closed

[2016-11-20 09:21] shauleiz opened #36 "Loading file wdfkd.dll"
Here is the correct command (SDK 10, target x64)
.load "C:\\Program Files (x86)\\Windows Kits\\10\\Debuggers\\x64\\winext\\wdfkd.dll"

[2016-11-21 18:21] tedhudek commented on #36
Thanks @shauleiz.  Is there a specific URL you're referencing?

[2016-11-21 19:09] shauleiz commented on #36
Sorry for being unclear.
The URL is https://msdn.microsoft.com/en-us/windows/hardware/drivers/wdf/using-the-framework-s-event-logger?f=255&MSPPError=-2147217396

Please search for the 2nd ".load" in the page

[2016-11-21 23:34] tedhudek commented on #36
Thanks @shauleiz I have updated the page in question.  Please note that you can also submit pull requests here.  Whichever way is easier for you.  Thanks again for your suggestion!

[2016-11-21 23:34] #36 closed

[2016-12-01 17:04] rpavlik opened #39 "External link to text file rather than internal link to MSDN"
This page: https://github.com/Microsoft/windows-driver-docs/blob/staging/windows-driver-docs-pr/install/writing-a-device-installation-application.md contains the following link:

[code]

At this time, that fwlink rather unexpectedly goes to a presumably-unofficial third party site with a text file: http://ipl001.free.fr/LaboWeb/Download/MSDN-AutoRun.txt

It would appear that the internal equivalen

[2016-12-01 17:10] rpavlik opened #40 "Formatting error on ordered list nested in unordered list"
Seen here: https://msdn.microsoft.com/en-us/windows/hardware/drivers/install/accessing-device-properties

[2016-12-01 20:57] tedhudek commented on #39
Thanks @rpavlik for spotting this and providing the correct link.  I've updated the page accordingly.

[2016-12-01 20:57] #39 closed

[2016-12-01 20:58] tedhudek commented on #40
Thanks again @rpavlik, this is another good find.  I've updated the page in question.  If you like, consider a pull request next time.  Whatever's easier...  Thanks again for caring about the driver docs!

[2016-12-01 20:58] #40 closed

[2016-12-01 23:26] rpavlik commented on #40
No problem - I didn't know if this was a rendering tool issue or a source/input issue (nesting those two kinds of lists in Markdown is something I usually don't dare attempt). I was really just trying to use the docs :D and don't know the recommended dev workflow here for testing a fix (Looks like the hidden powershell script does do something, though something that takes a long time), so I figure

[2016-12-01 23:38] tedhudek commented on #40
Excellent point, Ryan!  I was not thinking about the rendering issue, which does indeed come from an oddity on our side.  You might have noticed that GitHub handled those extra line breaks with no problem.  So you're absolutely right, no way for you to test our internal rendering engine :)

[2016-12-02 18:12] rpavlik commented on #40
(well, the build script kind of works, but the generated files... leave a lot to be desired.)

[2016-12-02 19:22] tedhudek commented on #40
Is there anything in particular you are trying to accomplish?  Do you just want the docs as local HTML?

[2016-12-19 09:29] I-gor-C opened #45 "Contradiction in network interface provider documentation"
[Registering as interface provider](https://msdn.microsoft.com/windows/hardware/drivers/network/registering-as-an-interface-provider) explicitly states that any network driver type can serve as an interface provider:

On the other hand, [OID_GEN_ADMIN_STATUS](https://msdn.microsoft.com/en-us/library/windows/hardware/ff569437(v=vs.85).aspx) documentation states the opposite:

Actually, seems like t

[2016-12-22 01:05] tedhudek commented on #45
Investigating...

[2016-12-26 18:36] jtippet commented on #45
The first quote means:  A driver (.sys file) that is an NDIS miniport driver can also register as an interface provider.  In that case, the .sys file is both a miniport and an interface provider.

The second quote means that `OID_GEN_ADMIN_STATUS` (and similar OIDs) are not part of the contract for miniport drivers.  Your `MiniportOidRequest` handler will never receive `OID_GEN_ADMIN_STATUS`.  How

[2016-12-26 19:00] I-gor-C commented on #45
Thank you Jeffrey. I think it's worth adding this clarification to the documentation to avoid confusion.

One thing still isn't clear to me, though - what is the meaning on "interface" in this context? Is registering an interface is something like installing a new adapter which appears in the network connections (such as the loopback adapter)? I haven't found any guide about interaction with the r

[2016-12-26 19:16] jtippet commented on #45
An "interface" is meant to correspond to [RFC 2863](https://tools.ietf.org/html/rfc2863).

NDIS has a built-in interface provider that automatically provides interfaces for:

- Every miniport driver
- Every filter (LWF) module
- The loopback interface

Interfaces show up in APIs like GetIfTable2Ex.  If you write your own interface provider, you can add entries to the table returned by GetIfTable2E

[2016-12-26 19:26] I-gor-C commented on #45
So if I want to add a virtual network interface via an existing miniport driver, this is not the way to go, right?
Adding a dedicated IM driver seems like a lot of effort and overhead... Can I add the IM flag to the miniport registration attributes to achieve similar effect?

(Sorry if I go out of scope to the original question...)

[2017-02-01 19:53] jtippet commented on #45
The interfaces that come via an interface provider don't have a datapath, don't bind to TCPIP, and won't show up in many GUIs.  So while you can use them to add another interface to your miniport, you'll probably be disappointed with the limited capabilities of this secondary interface.

[2017-02-02 21:47] #45 closed

[2017-03-21 16:16] dheater opened #64 "Add directions for supporting building windows 7 drivers with Enterprise WDK"
I've been trying to use the Enterprise WDK to build drivers and libraries that need to run on both Windows 10 and 7. I have my TargetPlatform set to 8.1.

I get errors that the 8.1 SDK is not installed. I've tried overlaying an install of SDK 8.1 on top of the EWDK, but haven't gotten success yet.

[2017-03-21 17:32] tedhudek commented on #64
Thank you for reaching out to us. Unfortunately, we do not have the capability to provide help with your project. For that type of help, please see the resources that we list on our [Community](https://developer.microsoft.com/en-us/windows/hardware/support) page, where you will find a number of community-based and support options.

[2017-03-21 17:32] #64 closed

[2017-03-22 05:44] I-gor-C opened #66 "Clarification on the LSO data"
[Accessing TCP/IP Offload NET_BUFFER_LIST Information](https://msdn.microsoft.com/en-us/windows/hardware/drivers/network/accessing-tcp-ip-offload-net-buffer-list-information) mentions **TcpHeaderOffset** field in the **NDIS_TCP_LARGE_SEND_OFFLOAD_NET_BUFFER_LIST_INFO** structure - this field identifies the location of the TCP header offset to avoid the need to perform packet parsing (and avoid the

[2017-03-22 22:48] jtippet commented on #66
The statement is on [another page](https://msdn.microsoft.com/en-us/windows/hardware/drivers/network/sending-ethernet-frames):

In short, only the L2 header is guaranteed to be contiguous.  I can see how this makes things complicated if you're doing LSO or even checksum offload.  We'll investigate what we can do to make headers contiguous more often.

Unfortunately, because NDIS 6 did not require

[2017-03-22 23:06] I-gor-C commented on #66
Thanks for the clarification, Jeffrey.
That's very unfortunate...
Regarding LSO - I haven't seen L3/L4 headers being split to a different MDL ever if LSO is enabled. Can this be enforced (maybe implicitly) by some upper layer module for LSO scenario, such as TCP/IP driver?

BTW, why would keeping the TCP header in the first MDL be problematic for 3rd-party protocol drivers? This is a valid scenari

[2017-03-22 23:17] jtippet commented on #66
We definitely continue to improve to Microsoft's TCPIP driver, and there's still more room for more MDL-combining optimizations.  But even if our TCPIP driver could always perfectly allocate enough headroom for all possible types of packets -- that's still not good enough to make a guarantee to the NIC driver.  Consider for example, a 3rd party virtual switch driver (which looks like a MUX driver

[2017-04-10 01:50] lordcheeto opened #75 "Typo on IRP Page"
There is a typo on the [I/O Request Packets page](https://github.com/Microsoft/windows-driver-docs/blob/staging/windows-driver-docs-pr/gettingstarted/i-o-request-packets.md).

At the bottom of the page, there is a section that says I/0 (zero).

[2017-04-10 02:02] lordcheeto commented on #75
Proposed fix in #76.

[2017-04-13 02:03] lordcheeto commented on #75
Fixed in #76.

[2017-04-13 02:03] #75 closed

[2017-05-10 18:26] SillyKeith opened #103 "The Link on this sentence is incorrect"
The HTTPS portion of the link in this sentence is munged with the word account so that it trys to open a Store app rather than the correct web page.

For more information on how to Create a Windows Store developer account, see **Opening a developer account.**

The link should be: https://docs.microsoft.com/en-us/windows/uwp/publish/opening-a-developer-account

But instead its: **accounts**https://

[2017-05-10 19:12] tedhudek commented on #103
Thanks @SillyKeith for spotting this.  I made the fix, should appear on the live site momentarily.

[2017-05-10 19:12] #103 closed

[2017-05-29 19:14] metathinker opened #130 "Pages for !ppm.* debugger extn. command are empty placeholders (and some pages are missing altogether)"
The following documentation pages for Debugging Tools for Windows debugger extension commands look like merely placeholders (entire page content: "The !blahblah command"). They should be filled in:

- `!ppmidle`: [debugger/-ppmidle.md](https://github.com/MicrosoftDocs/windows-driver-docs/blob/staging/windows-driver-docs-pr/debugger/-ppmidle.md)
- `!ppmperf`: [debugger/-ppmperf.md](https://github.c

[2017-05-30 17:18] tedhudek commented on #130
@DOMARS please take a look

[2017-05-30 18:01] DOMARS commented on #130
I will contact the dev team and see if we can expand the documentation for these topics. Thanks for pointing out that they are missing content.

[2017-06-06 15:34] thomasw-mitutoyo-ctl opened #140 "Documentation of || (System Syntax)"
The documentation of || (System Syntax) hardly explains how a new system is created or attached to. Even the topic "Debugging Multiple Targets" does not give an example.

One way of creating a new system is the `.opendump` command. Maybe this could be mentioned at least.

Using `.opendump` in a live debugging session has some consequences [I described on StackOverflow](https://stackoverflow.com/qu

[2017-06-06 16:15] tedhudek commented on #140
@DOMARS please take a look

[2017-06-09 21:21] DOMARS commented on #130
I added some interim updates to provide very basic information on the commands. I will investigate to see if we can add more information. Thanks for pointing this out this gap in our documentation.

https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-ppmidle
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-ppmstate
https://docs.microsoft.com/en-us/windows-hardwar

[2017-06-09 21:22] DOMARS commented on #130
I added some interim updates to provide very basic information on the commands. I will investigate to see if we can add more information. Thanks for pointing this out this gap in our documentation.

[2017-06-10 00:30] DOMARS commented on #140
Thanks for this input. I will take a look at the topics and do some testing with WinDbg multiple targets.

[2017-06-13 17:34] DOMARS commented on #140
I updated these topics to include more information.
- || (System Syntax)
- ||s (Set Current System)
- Debugging Multiple Targets
As I worked on this, I see how not running the go command can lead to a confusing situation, so I worked to highlight that.
I added a simple example to the "Debugging Multiple Targets".
Thanks again for the input.

[2017-06-14 06:15] thomasw-mitutoyo-ctl commented on #140
Thanks for the updated documentation. I appreciate this new way of providing feedback via Github. I was not informed about the progress of the emails I sent to wsddocfb@microsoft.com. This way is so transparent.

[2017-06-14 15:53] tedhudek commented on #140
So glad! We really like it too, it's great to hear from everyone and know what people care about

[2017-06-14 23:16] DOMARS commented on #140
Closing issue, thanks again for the input.

[2017-06-14 23:16] #140 closed

[2017-06-15 00:29] DOMARS commented on #130
Thanks again for this input. I hope the basic command information that was added is helpful.

[2017-06-15 00:29] #130 closed

[2017-06-15 00:33] metathinker commented on #130
Thanks, this should be good for the short term. Hope to see more info later on if and when you get the same from the product team.

[2017-06-16 07:33] SachinDKulkarni opened #156 "Table in wdi-transmit-operations-and-offloads page needs formatting"
The table in the "**TX Encapsulation: Population of 802.11 TX Frame Headers**" section in the following link:
https://docs.microsoft.com/en-us/windows-hardware/drivers/network/wdi-transmit-operations-and-offloads

(at the bottom of the page) needs formatting. Pasting the table content here for reference:

_Field name Subfield name Target-implemented encryption mode Host-implemented FIPS mode Set b

[2017-06-16 17:16] tedhudek commented on #156
Thanks @SachinDKulkarni.  @duncanmacmichael can help with this one when he returns on Monday

[2017-06-20 20:50] duncanmacmichael commented on #156
Hi @SachinDKulkarni, I saw this yesterday and will get it taken care of as soon as I can. I'll let you know when the table is fixed. Thanks for your patience!

[2017-06-21 06:39] SachinDKulkarni commented on #156
Thanks for the ack @duncanmacmichael. Will wait for the fix.

[2017-06-21 19:46] duncanmacmichael commented on #156
No problem @SachinDKulkarni . The fix has been pushed out and should go live within 24 hours. Thanks for finding this for us.

[2017-06-21 19:46] #156 closed

[2017-07-05 15:14] DarkDaskin opened #174 "Typo and possibly outdated info for Bug Check 0x12B"
[The corresponding docs page](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-0x12b---faulty-hardware-corrupted-page).

The header says that the bug check code is 0x12B, but the content says 0x00000128.

Also I got this bug check recently and all 4 parameters were non-zero while documentation says the last 2 are reserved and should be zero. Possibly the documentation w

[2017-07-05 16:26] barrygolden commented on #174
Thanks for filing the issue @DarkDaskin we'll review the information you've provided

[2017-07-05 20:54] barrygolden commented on #174
@DarkDaskin the topic has been updated. Thanks for filing the issue.

[2017-07-05 20:54] #174 closed

[2017-07-11 15:57] chaitu-tk opened #180 "WDI: RX decap expectations unclear"
https://docs.microsoft.com/en-us/windows-hardware/drivers/network/wdi-receive-operations-and-offloads

"Rx decap | Replace the 802.3 header with a generic 802.11 header."

In the Rx side we receive a 802.11 packet, decap means converting it to 802.3 header before submitting to the WDI. The above statement is confusing, the statement should be

a) if WDI is expecting 802.3: Replace the 802.11 heade

[2017-07-11 17:07] barrygolden commented on #180
Thanks for filing this issue @chaitu-tk, we're reviewing your suggested changes.

[2017-07-11 20:41] duncanmacmichael commented on #180
Hi @chaitu-tk , thanks for pointing out that ambiguity with WDI expectations. The doc has been clarified and the changes will go live soon.

[2017-07-13 00:28] BrianCatlin opened #183 "https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-engine-and-extension-apis"
The Build tool hasn't been used or distributed with the WDK for many years. Everything must be built using Visual Studio

[2017-07-13 09:11] chaitu-tk commented on #180
Thanks, i am able to see the updates, but my intention was to document WDI expectations, the new updates make a conditional statement. Can you please check with WDI team as to expectations on RX header and then document?

[2017-07-13 15:54] tedhudek commented on #183
@DOMARS please review

[2017-07-13 16:05] tedhudek commented on #180
@duncanmacmichael please investigate

[2017-07-13 17:29] duncanmacmichael commented on #180
Ah, sorry if I misunderstood what you were trying to say, @chaitu-tk . I'll contact the WDI team and get their advice on the issue.

[2017-07-13 19:05] chaitu-tk commented on #180
No probs @duncanmacmichael will await your response.

[2017-07-13 22:45] DOMARS commented on #183
I will investigate.

[2017-07-14 23:29] DOMARS commented on #183
I have a docs fix on the way. Thanks for catching this.

[2017-07-17 17:55] DOMARS commented on #183
Docs fix was posted, thanks again for calling out this issue.

[2017-07-17 17:55] #183 closed

[2017-07-19 00:43] duncanmacmichael commented on #180
Hi @chaitu-tk , I talked to the WDI team who proposed using an updated description with the original note. What do you think of this?
"Rx Decap | Replace non-initial A-MSDU subframe headers with generic 802.11 headers. | Target/TAL | During A-MSDU deaggregation, the non-initial MSDUs of the A-MSDU need their 802.3 header replaced by a generic 802.11 header. |

[2017-07-19 06:49] chaitu-tk commented on #180
Ok so basically WDI always expects 802.11 frames for both MSDU and A-MSDU's. May be we can explicitly add that statement it makes things more clear.

[2017-07-19 09:01] chaitu-tk commented on #180
Also it would be good to document the 802.11 generic header fields to be filled, similar to TX.

[2017-07-19 18:12] duncanmacmichael commented on #180
Good callout, let me check! :-)

[2017-07-19 19:55] duncanmacmichael commented on #180
OK, after re-checking with the WDI team, I've appended the statement that WDI always expects 802.11 headers to the note to make it clearer. As for documenting the 802.11 generic header fields on the Rx page, we don't have a specific table for that right now but I did amend the description to that effect as a solution for the time being. Thanks for your observations in improving the docs! The chang

[2017-07-19 19:55] #180 closed

[2017-07-20 03:18] kiazhi opened #186 "Fix symbol-path.md style formatting markdown issue"
Multiple markdown rendering issue on inline syntax highlighting that is using ( \* ) asterisk symbol instead of using ( \` ) grave accent symbol causing readability issue.

[2017-07-21 08:10] kiazhi commented on #186
#185 has been merged. Its live now @ https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/symbol-path and a lot easier to read now. Thanks for merging to live, @tedhudek. Closing this issue now.

[2017-07-21 08:10] #186 closed

[2017-07-21 08:24] chaitu-tk commented on #180
Thanks Duncan, i see the update.

[2017-07-21 16:23] nitoyon opened #190 "Convert \_ to _ in title and description metadata"
There are many `\_` in title and description metadata. They should be `_`.

### Example1: both title and description are broken

source code: [windows-driver-docs-pr/acpi/sending-an-ioctl-acpi-enum-children-request.md](https://github.com/MicrosoftDocs/windows-driver-docs/blob/2a2c6f25fa09542c04f48f3c9920ce67c7c8a812/windows-driver-docs-pr/acpi/sending-an-ioctl-acpi-enum-children-request.md)

[code

[2017-07-21 16:33] tedhudek commented on #190
Thank for bringing this to our attention @nitoyon, I will investigate.

[2017-07-21 18:59] tedhudek commented on #190
Hi @nitoyon thanks again for opening this issue.  I just fixed it in cbf172e1ecc315d03d067cde8eaba16f5b604c46.

[2017-07-21 18:59] #190 closed

[2017-07-22 14:33] nitoyon commented on #190
Thank you for your quick fix!!!

[2017-09-06 22:28] I-gor-C opened #221 "Checksum offload disabling for a specific received packet"
https://msdn.microsoft.com/library/windows/hardware/ff567877 states the following:

_Before indicating up a receive TCP/IP packet on which it performs checksum tasks, a miniport driver sets the appropriate XxxChecksumFailed or XxxChecksumSucceeded flags in the NDIS_TCP_IP_CHECKSUM_NET_BUFFER_LIST_INFO structure._

Does it mean that the miniport driver must perform checksum task on every received p

[2017-09-07 18:04] duncanmacmichael commented on #221
@jtippet Would you be able to elaborate? Thanks!

[2017-09-08 21:38] jtippet commented on #221
Checksum offload is disabled until the miniport receives OID_OFFLOAD_ENCAPSULATION.  At that point, the miniport is permitted to start validating the checksums on some received packets.  The miniport is not required to validate the checksum on every packet; if both the `ChecksumFailed` and `ChecksumSucceeded` flags are clear, then the OS will fall back to validating the checksum in software.

[2017-09-08 21:41] I-gor-C commented on #221
That clarifies it! Would it be possible to update the documentation?

[2017-09-08 21:46] duncanmacmichael commented on #221
Definitely. I can update the documentation for that and have it published next week. Thanks, @jtippet!

[2017-09-08 21:46] #221 closed

[2017-09-23 15:36] nitoyon opened #236 "!pool page is corrupted"
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-pool

YAML Front matter is not parsed.

![image](https://user-images.githubusercontent.com/39562/30774610-4dac3ab8-a0c0-11e7-89e6-0f9a80c889bb.png)

[2017-09-25 18:05] tedhudek commented on #236
Thanks again, @nitoyon, for your eagle eye.  This is fixed, and we have identified ~10 other instances of this problem that will be fixed soon.

[2017-09-25 18:05] #236 closed

[2017-09-26 14:40] nitoyon commented on #236
Thank you for the quick fix!

[2017-10-02 15:27] nitoyon opened #245 "\_ in title"
example: https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/irp-mn-cancel-remove-device

![image](https://user-images.githubusercontent.com/39562/31084650-ec896c4e-a7cf-11e7-8b89-65ad48cd4725.png)

Over 500 pages have this problem.

[code]

[2017-10-02 18:00] tedhudek commented on #245
Thank you again @nitoyon this should be fixed now!

[2017-10-02 18:00] #245 closed

[2017-10-03 02:35] nitoyon commented on #245
thx! 😄

[2017-10-17 07:18] I-gor-C opened #254 "Contradiction in *JumboPacket registry key definition"
There are two contradicting definitions of *JumboPacket registry key in different parts of the documentation:

1.  Defined as Int with minimal and default values equal to 1514 and IHV-defined maximum - https://docs.microsoft.com/en-us/windows-hardware/drivers/network/keywords-that-can-be-edited

2. Defined as Enum with supported values being 1514, 4088, and 9014 - subsection Device.Network.LAN.MTU

[2017-10-17 19:59] duncanmacmichael commented on #254
Hi @I-gor-C , looking into this now. Thanks for pointing out the discrepancy.

[2017-10-18 19:26] duncanmacmichael commented on #254
Hey @I-gor-C, thanks for waiting. I worked with one of the NDIS developers to get clarification on this and submitted a PR on the latter page to fix the wording there. The "Keywords That Can Be Edited" page is technically correct in how to define the *JumboPackets keyword, so we changed the wording on the "Device.Network.LAN" page to explain how that keyword is defined by miniport drivers and how

[2017-10-24 06:33] I-gor-C opened #260 "Valid input for KeLowerIrql"
KeLowerIrql documentation (https://msdn.microsoft.com/en-us/library/windows/hardware/ff552968(v=vs.85).aspx) currently describes the input parameter in this way:

NewIrql [in]
Specifies the IRQL that was returned from [KeRaiseIrql](https://msdn.microsoft.com/en-us/library/windows/hardware/ff553079(v=vs.85).aspx)

While it actually should be:

NewIrql [in]
Specifies the IRQL that was returned from

[2017-10-24 16:03] tedhudek commented on #260
Thanks @I-gor-C there might be a slight delay on this one because the owner is on vacation until next week

[2017-10-24 16:09] I-gor-C commented on #254
Still unchanged...

[2017-10-24 18:59] duncanmacmichael commented on #254
Hmm, sorry about that. I'll see what's happening with the PR I submitted.

[2017-10-25 18:48] duncanmacmichael commented on #254
Thanks again for your patience, @I-gor-C . I've followed up and the PR on the Device.Network.LAN page has been completed. Look for the changes soon. :)

[2017-10-25 19:52] I-gor-C commented on #254
Hi Duncan, thanks for your efforts, I see the new wording now. However, it's somewhat puzzling now:

...

Not sure I understand the relation to LSO in this statement. Jumbo packet is a network-level definition for large MTUs, while LSO allows to locally transfer an aggregation of multiple MTU-sized segments from the host to the NIC  - the data must still be chopped to MTU-sized buffers before phys

[2017-10-26 00:42] duncanmacmichael commented on #254
Ah, ok. I see what you're saying. I think we misunderstood your question and thought you were asking in relation to LSO because the Device.Network.LAN.MTUSize section is a sub-section under the Device.Network.LAN.LargeSendOffload section. Since you're just asking whether *JumboPacket should be an Int, as defined on the first page, or an enum, as defined on the second page, we'll look into that for

[2017-10-27 19:17] duncanmacmichael commented on #254
Hey @I-gor-C, so I did some more looking into this and came to the realization that both pages could be correct, but the "Keywords That Can Be Edited" page could be clarified a bit more. I believe *JumboPacket IS an enum, but its particular value is still an int because technically speaking enum values _are_ integers. Further up on the page, it is described that the "Int" type in the table simply

[2017-10-27 19:41] I-gor-C commented on #254
Hi Duncan, thanks again.
The *JumboPacket registry is defined explicitly by each vendor. So in case your vendor has defined it in inf file to accept only 1514, 4088, and 9014 values (Intel NIC, I presume?), that's how it will be and different settings will be rejected by the registry service itself. Isn't it so? Another vendor might define it differently and in that case Set-NetAdapterAdvancedProp

[2017-10-27 22:16] duncanmacmichael commented on #254
Sure thing. You are correct in that it is an Intel NIC. :)

After asking more questions, I have this for you. Basically, *JumboPacket can be either an int or an enum. The Windows code doesn't care. Some vendors let you set any int value between the minimum and the maximum, while others provide an enum list of possible values (like Intel in my example). I believe JumboPacket is defined as an Int (n

[2017-10-27 23:46] I-gor-C commented on #254
Indeed, that's the answer I needed. I think your phrasing can be put as is in the documentations. And regarding the compatibility page, what's the process of opening a new issue about it?

[2017-10-28 00:06] duncanmacmichael commented on #254
Awesome, glad I could help. Your patience and tenacity are great. I just merged the edit into the master branch, so it should go live soon.

As for the other page, I would recommend opening up a new issue just like you did here on the repo level. The repo you're looking for is MicrosoftDocs/commercialization-public, as the page is located under the design section. I let the page owner know that he

[2017-10-28 00:06] #254 closed

[2017-11-07 12:13] I-gor-C commented on #66
Hi,

I'm reopening this issue since it looks that there is a piece of documentation that somewhat contradicts Jeffrey's statements above regarding headers splitting. This is a quote from the [Offloading the Segmentation of Large TCP Packets](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/offloading-the-segmentation-of-large-tcp-packets) page:

jtippet@, can you please address th

[2017-11-07 19:50] duncanmacmichael commented on #66
Hi @I-gor-C , sorry for the confusion. I edited your comment just to fix the @ symbol in your reference, just FYI. If it is a documentation error I'll be happy to take care of it once we get some clarification. Thanks!

[2017-11-09 11:25] I-gor-C opened #273 "Typo in the NdisGetDataBuffer documentation"
In the https://msdn.microsoft.com/en-us/library/windows/hardware/ff562631(v=vs.85).aspx

Instead of:

it should be:

[2017-11-09 22:54] duncanmacmichael commented on #273
Thanks @I-gor-C , I've updated the wording. This should go live a week from today when the network driver reference gets published next.

[2017-11-09 22:54] #273 closed

[2017-11-14 15:36] ChrisMaddock opened #277 "Raw markdown on "Update a code sigining certificate""
Some raw markdown has slipped through half way down the page. Sorry, I'd submit a PR to fix myself, but I'm not familiar with what the formatting should be.

https://docs.microsoft.com/en-gb/windows-hardware/drivers/dashboard/update-a-code-signing-certificate
![image](https://user-images.githubusercontent.com/4837132/32788593-8eab1b2e-c951-11e7-842e-27b3479d0052.png)

[2017-11-14 18:08] EliotSeattle commented on #277
Thanks for bringing this to our attention, Chris.

I made the fix and committed it to master. It will go live later today.

Eliot

From: Chris Maddock [mailto:notifications@github.com]
Sent: Tuesday, November 14, 2017 7:37 AM
To: MicrosoftDocs/windows-driver-docs <windows-driver-docs@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [MicrosoftDocs/windows-driver-docs] Raw

[2017-11-14 18:45] ChrisMaddock commented on #277
Great - thanks for the speedy fix!

[2017-11-14 19:45] jtippet commented on #66
That statement is correct *when the TCPIP stack enables LSO*.  So in general, you can't assume that IP headers are in the same MDL as Ethernet headers.  But if LSO is enabled, you can make that assumption.

I don't think my earlier reply was particularly good, since I didn't mention this exception.  Sorry about that.

[2017-11-14 19:48] duncanmacmichael commented on #66
Thanks, @jtippet. I'll update the LSO doc to make it clearer. Also, thanks again for paying such close attention, @I-gor-C. Always good to help clarify the docs.

[2017-11-14 19:48] #66 closed

[2017-11-14 19:49] I-gor-C commented on #66
Thanks! Since I'm  mostly interested in LSO from the miniport driver perspective, it's helpful to know that the header will be contiguous if packet OOB states that LSO is on.

[2017-11-14 20:05] duncanmacmichael commented on #66
Definitely. The change has been made and should be live within 24 hours. :)

[2017-11-15 00:27] computeronix opened #279 "Invalid Link - Driver Development Page"
On page: https://github.com/MicrosoftDocs/windows-driver-docs/edit/staging/windows-driver-docs-pr/what-s-new-in-driver-development.md

There is an invalid link: https://msdn.microsoft.com/en-us/library/windows/desktop/mt826481

I am not entirely sure what the correct link should be

[2017-11-15 00:54] tedhudek commented on #279
Assigning to @PageWriter-MSFT.  Verified that the link in line 318 fails:
An app can send requests to the controller driver by sending [PWM IOCTLs](https://msdn.microsoft.com/en-us/library/windows/desktop/mt826481) requests.

[2017-11-15 12:32] #277 closed

[2017-11-16 12:42] I-gor-C opened #281 "Unclear NDIS offload encapsulation configuration"
There several items not well-defined in the description of [NDIS offload encapsulation](https://msdn.microsoft.com/library/windows/hardware/ff566702) (additional documentation here - https://docs.microsoft.com/en-us/windows-hardware/drivers/network/oid-offload-encapsulation):

When receiving this OID in the underlying miniport driver, I see that in addition to NDIS_OFFLOAD_SET_ON and NDIS_OFFLOAD_

[2017-11-16 21:16] duncanmacmichael commented on #281
Hi @I-gor-C, thanks for the question. Let me see if I can dig into this for you a bit and find an answer. I can then update one or both of the pages, depending on which one should be clarified.

[2017-11-22 20:49] duncanmacmichael commented on #281
Hey Igor, just letting you know I'm still working on this for you. Sorry, the dev who is the best candidate to answer this has been pretty busy.

[2017-11-28 17:10] tedhudek commented on #279
Thanks @computeronix this is fixed now.

[2017-11-28 17:10] #279 closed

[2017-11-28 18:13] tedhudek commented on #260
Thanks for the note, @I-gor-C.  I've actually made the change to the doc source.  We're working on some internal publishing improvements right now that are blocking immediate republishing of the page, however.  Hoping to push it live by the end of the year.

[2017-11-28 18:13] #260 closed

[2017-11-28 23:19] duncanmacmichael commented on #281
Still getting an answer for you, thanks for your patience. I talked to him yesterday and it's on his list.

[2017-12-01 00:25] duncanmacmichael commented on #281
Alright @I-gor-C , I got an answer from the dev. He was quite detailed, so I'll give you his summary. First, the enums are defined as:

0 – NDIS_OFFLOAD_SET_NO_CHANGE
1 – NDIS_OFFLOAD_SET_ON
2 – NDIS_OFFLOAD_SET_OFF

So, he wanted to check if your "weird behavior" was a numerical value of 0 rather than 2? He thinks the OID_OFFLOAD_ENCAPSULATION sent to your miniport when turning LSO off was probab

[2017-12-01 00:35] I-gor-C commented on #281
Thanks, Duncan. That definitely helps. Regarding the value of NDIS_OFFLOAD_SET_OFF - I'm 95% sure that I saw it as a result of LSO being turned off. Yes, it was equal to 2, I made a typo above. In any case, I will verify this in a few days to be entirely confident.

The explanation of the OID_OFFLOAD_ENCAPSULATION is indeed very helpful and I'm glad it confirms my assumptions. I'd suggest to put i

[2017-12-01 02:11] duncanmacmichael commented on #281
Great! I'll update the two OID pages to add some clarification on the differences. Since NDIS_OFFLOAD_ENCAPSULATION specifies that it sets the Enabled member to NDIS_OFFLOAD_SET_ON in the case of LSOv1, LSOv2, or checksum, and sets it to NDIS_OFFLOAD_NO_CHANGE for everything else, it would follow that NDIS_OFFLOAD_SET_OFF would be used when the OID is sent to disable everything. I think. Let me kn

[2017-12-01 02:11] #281 closed

[2017-12-03 09:01] I-gor-C commented on #281
Hi,

I've rechecked and indeed there is a weird behavior observed:

Once I disable LSO offloads in the driver properties and reenable the driver, I get OID_OFFLOAD_ENCAPSULATION oid with NDIS_OFFLOAD_SET_OFF value (== 2), thus effectively disabling all the offloads, not just LSO. This seems like unexpected behavior to me.

[2017-12-03 19:22] fridalisa commented on #281
Good evening. I understand that what you find looks strange, it does it for us to, that I can promise you. I try to understand how he manage to succeed all of his actions (especially the most criminal ones) around the clock day after day. Except when I sleep every third night, I realize that after 5 months I have just scratched the surface.

I'm very keen on what exactly the action you reported me

[2017-12-05 01:18] duncanmacmichael commented on #281
So what you're saying is that when you disable LSO and see that OID come to your driver with NDIS_OFFLOAD_SET_OFF, all the offloads are disabled? That is correct according to the explanation I was given:

"This OID is used to activate all configured or enabled offloads, or deactivate all offloads (in other words, the hardware starts to perform the offloads). It does not provide fine control over i

[2017-12-05 05:51] I-gor-C commented on #281
Hi Duncan,

Yes, you're correct. I wouldn't expect to see this OID with 'off' value when I've requested to disable only the LSO offload. In fact, the LSO offload is already disabled upon init since the configuration is being read from the registry. Thus sending the encapsulation OID doesn't provide any added value and only harms the performance (unexpected by the user!).

As a side note - it would

[2017-12-05 19:03] duncanmacmichael commented on #281
Okay, good to know. Let me see what I can find out for you.

[2017-12-28 23:41] jnrbo opened #301 "Visual Studio Community Compatibility"
I'm trying to follow the sample tutorial, but It's deprecated - some menus and options dosn't exist .

I'm using:

[code]

[2017-12-29 17:57] tedhudek commented on #301
Hi @jnrbo what's the URL of the sample tutorial you were trying to follow, and is there a particular steps or set of steps where you found that the menus and options weren't available?

[2017-12-29 18:17] jnrbo commented on #301
Hi @tedhudek

I'm following this [tutorial](https://docs.microsoft.com/en-us/windows-hardware/drivers/print/building-a-basic-v4-printer-driver).

All menus inside **Property Pages window** are deprecated!

Thank you!

[2017-12-29 19:37] tedhudek commented on #301
Thanks @jnrbo I've assigned this issue to @barrygolden, who is out for the holidays, but can address this when he returns.  Apologies for the discrepancies, that's frustrating when you're trying to follow a tutorial.

[2018-01-03 22:09] barrygolden commented on #301
Investigating issue with deprecated menus and options. Working with print driver devs to replicate.

[2018-01-16 17:50] rahul-ramadas opened #309 "I don't know what "DCHU" stands for"
The term "DCHU" is used in multiple places but I have no idea what it stands for. There isn't a single place on docs.microsoft.com where the abbreviation is expanded.

[2018-01-16 19:06] tedhudek commented on #309
Thanks @rahul-ramadas for the tip. https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/getting-started-with-universal-drivers is where we lay out the 4 principles, but you are correct that we didn't actually spell out the acronym.  I've added a sentence to the page, right below the 4 bullet points, that should be live momentarily.

[2018-01-16 19:06] #309 closed

[2018-01-17 10:45] I-gor-C opened #310 "Outdated NDIS_OFFLOAD structure documentation"
The [documentation](https://msdn.microsoft.com/en-us/library/windows/hardware/ff566599(v=vs.85).aspx) relates only to NDIS versions up to 6.3.

[code]

A paragraph for NDIS 6.5 and later should be added:
[code]

And the wording

 should be changed to

Additionally, there is no mentioning nor documentation of the members that were added in NDIS 6.50:

[code]

[2018-01-17 10:55] I-gor-C commented on #281
Hi Duncan,

Sorry to bring this up again, I see that https://msdn.microsoft.com/library/windows/hardware/ff566702 is still not updated (e.g., there is no mentioning of NDIS_OFFLOAD_SET_OFF).

[2018-01-17 20:30] duncanmacmichael commented on #310
Hey @I-gor-C, thanks for the heads up. I'll work on getting this updated with the newest info available.

[2018-01-17 20:32] duncanmacmichael commented on #281
Hey @I-gor-C, no worries. :) If anything, I should be the one saying sorry for letting this slip. I'll see about updating the page to mention NDIS_OFFLOAD_SET_OFF per our discussion.

[2018-01-18 20:16] duncanmacmichael commented on #310
OK, I have an update for you my friend. I asked Jeffrey about these new members, and the other new one that got added in NDIS 6.70. He told me what they were (VXLAN for the 6.50 additions and 464XLAT for the 6.70 addition). Basically, VXLAN offload is the same as NVGRE offload, but with a different protocol. 464XLAT is a feature related to mobile broadband that is for converting between IPv4 and I

[2018-01-18 21:53] duncanmacmichael commented on #281
Okay, how's this:

A ULONG value that enables IPv4 encapsulation. A protocol driver sets Enabled to NDIS_OFFLOAD_SET_ON if it is enabling IPv4 large send offload version 1 (LSOV1), large send offload version 2 (LSOV2), or checksum offloads. If a protocol driver is deactivating all offloads, it sets Enabled to NDIS_OFFLOAD_SET_OFF. Otherwise, the protocol driver sets Enabled to NDIS_OFFLOAD_SET_NO_

[2018-01-18 23:32] I-gor-C commented on #281
Sounds good!

[2018-01-18 23:56] duncanmacmichael commented on #310
Yeah, absolutely. You're right - newer versions of the structure should be indeed be used in newer versions of Windows if possible. Thanks for bringing this to my attention! I'll let you know when I make the changes.

[2018-01-18 23:56] #310 closed

[2018-01-25 07:45] nanji2018 opened #316 "about SUPL?"
Hello:

i am an engineer in spreadtrum,which is a chip company.
about gnss driver,i have some questions.

firstly,about supl,from your gnss-driver-architecture,supl is provided by IHV designed.
will supl  be designed in windows or our chip os?

thanks

[2018-01-29 01:54] nanji2018 commented on #316
hello barrygolden:

now we want to use MBB style to design GNSS model,but we are not sure about supl.
should we realize supl in windows？because in android，supl exist in framework，so we want to know whether windows also support supl now？

thanks

[2018-01-29 03:38] computeronix opened #319 "Broken Link"
On page https://github.com/MicrosoftDocs/windows-driver-docs/blob/staging/windows-driver-docs-pr/develop/building-a-driver.md

CTRPP link points to https://perf.ctrpp  which currently does not resolve

I am not sure where this should point to, if that page is incorrect, but ran across this and wanted to point it out

[2018-01-30 19:13] jnrbo opened #323 "Deprecated - Samples not found"
Some docs are deprecated, for example, the drivers - Sample GPD Files article says that **Samples are located in the \src\print\mini subdirectory of the directory tree that contains the WDK**

Article: [Sample GPD Files](https://docs.microsoft.com/en-us/windows-hardware/drivers/print/sample-gpd-files)

I believe that the folder is [this one](https://github.com/Microsoft/Windows-driver-samples/tree

[2018-02-01 00:27] barrygolden commented on #323
Added a list of print samples on GitHub to the [Sample GPD Files ](https://docs.microsoft.com/en-us/windows-hardware/drivers/print/sample-gpd-files) topic that illustrate the use of GPD files, including:

-   [OEM printer customization plug-in samples](https://go.microsoft.com/fwlink/?linkid=862105)
-   [Print auto-configuration sample](http://go.microsoft.com/fwlink/p/?LinkId=617938)
-   [USB hos

[2018-02-01 00:27] #323 closed

[2018-02-01 16:48] tedhudek commented on #319
Thanks @computeronix this is now fixed on https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/building-a-driver

[2018-02-01 16:48] #319 closed

[2018-02-06 05:26] I-gor-C opened #326 "Missing documentation for RSS indirection table setting"
Hi,

The [OID_GEN_RECEIVE_SCALE_CAPABILITIES](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/oid-gen-receive-scale-capabilities) documentation misses any description of the set operaton, which is valid according to https://docs.microsoft.com/en-us/windows-hardware/drivers/network/rss-configuration .

[2018-02-06 18:32] I-gor-C commented on #326
Looks like I confused OID_GEN_RECEIVE_SCALE_PARAMETERS with OID_GEN_RECEIVE_SCALE_CAPABILITIES.

[2018-02-06 18:32] #326 closed

[2018-02-06 19:05] duncanmacmichael commented on #326
No worries @I-gor-C , thanks for keeping an eye out!

[2018-02-07 19:06] barrygolden commented on #316
Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.
I assume you’ve looked through the two GNSS driver topics that discuss SUPL:
-   [GNSS driver architecture](https://docs.microsoft.com/en-us/windows-hardware/drivers/gnss/gnss-dr

[2018-02-07 19:06] #316 closed

[2018-02-07 23:53] barrygolden commented on #301
@MFenelon, can you take a look at this issue?

[2018-02-11 10:02] Keavon opened #331 "Driver Installation instructions says to "Create a new port" of type "3D Port" which doesn't exist"
On https://docs.microsoft.com/en-us/windows-hardware/drivers/3dprint/driver-installation I have followed all the instructions up to step 10, at which point it says

On this screen in Windows 10, I am only presented with the options "Local Port" and "Standard TCP/IP Port", but "3D Port" does not show up. How can I proceed with installing this?

[2018-02-12 17:55] barrygolden commented on #331
Investigating missing "3D Port" issue.

[2018-02-12 18:26] barrygolden commented on #331
@Keavon, have you installed the applicable generic 3D printer driver from the Microsoft Update Catalog?

http://www.catalog.update.microsoft.com/Search.aspx?q=USB%5CMS_COMP_3DPRINT

[2018-02-13 10:30] Keavon commented on #331
@barrygolden could you please clarify which one of those I should install, and how to install it? I followed [these instructions](https://winaero.com/blog/how-to-install-cab-and-msu-updates-in-windows-10/) and tried every `.cab` file from the download page you linked, but each gave this error:

[code]

I also tried extracting the `MS3DPrintUSB.inf` file from inside the `.cab` then right-clicking a

[2018-02-13 18:57] barrygolden commented on #331
Thanks for providing the detailed description above. Unfortunately, the Windows Driver Developer Documentation team doesn't have the resources to offer specific individual technical advice to the broad array of customers who use the driver documentation.

You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The comm

[2018-02-13 18:57] #331 closed

[2018-02-13 19:38] #301 closed

[2018-02-14 06:59] ocdtrekkie opened #335 "Instructions for getting USBView with VS2017 are incorrect"
This is a rats nest for getting a single simple EXE, and Microsoft should mostly be ashamed for how hard they have made this. (Seriously, why not publish it in the Microsoft Store?)

Fixing this docs circle could help, but there is so much more wrong here than just the Docs.

**Microsoft Docs chain of shame**

Anyways, there are several new Docs pages I went to as part of this, and all of them are

[2018-02-22 21:12] DOMARS commented on #335
Thanks for this input. I will work to make provide more detail in the directions on how to download and locate the USBVIEW Utility.

[2018-02-28 00:44] binarycrusader opened #341 "need more examples on filtering and displaying parameters"
A common task when debugging multi-threaded issues is to get a particular field from a parameter value for every thread that has a specific function in its callstack; after hours of experimentation I finally managed to discover the syntax I needed for my particular case:

dx @$curprocess.Threads.Where(t => t.Stack.Frames.Any(f => f.ToDisplayString().Contains("::Finalize "))).Select(t => t.Stack.Fr

[2018-02-28 04:21] sicklittlemonkey opened #342 "v4 Printer Driver template wizard instructions don't match VS 2017"
Instructions:
Add the Pipeline Config file to the driver package
...
3. Expand Driver Install, then click Package Files. Do the following in the right pane:
- Navigate to the project directory.

Me:
Where? You mean click <Edit...>? Clicking "..." on the path browser takes me to C:\Windows\System32, then browsing to my project gives a fully qualified path for the file, and nothing for the path. It

[2018-02-28 04:34] sicklittlemonkey commented on #342
Not sure whether to file separate issues for things on the same page, so I'll add here for now.

Instructions:
6. Add PrinterDriverID to the INF file
...
And then after the comma, paste the GUID that you copied in the preceding step. The completed [Standard.NT$ARCH$] section should look like the following:
"Fabrikam 1234"=DriverInstall, {GUID}
"Fabrikam 1234"=DriverInstall, USBPRINT\Fabrikam1234
"

[2018-02-28 17:50] DOMARS commented on #335
I have provided more detail on how to download and locate USBView and updated related download links. Thanks for the input.

[2018-02-28 17:50] #335 closed

[2018-02-28 18:02] DOMARS commented on #341
Thanks for this input, I will take a look at this example, seems like it would be useful for others.

[2018-02-28 18:57] ocdtrekkie commented on #335
Thank you! I definitely confirmed despite selecting the various roles I was told contained this in Visual Studio, I did not have the Debuggers folder until I installed the EXE download version. The document is now unambiguous on what the best way to get this is, and I've found it now!

Thanks!

[2018-03-01 00:49] efalk opened #344 "It would be nice to know how to deactivate remote debugging"
Maybe I just have to quit out of windbg, but if there's a command to "undo" the .server command, it would be nice to know about it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cfcfd39-550e-9eab-5873-ec677b2537eb
* Version Independent ID: 92f78106-388e-a61b-dd42-9bfe433f72e6
* [Content](https://docs.microsoft.com/en

[2018-03-01 00:51] barrygolden commented on #342
Hi @sicklittlemonkey
Thanks for providing the detailed description of your experience using the [Building a Basic v4 Printer Driver](https://docs.microsoft.com/en-us/windows-hardware/drivers/print/building-a-basic-v4-printer-driver) instructions in VS 2017. We've opened an internal task to investigate the issues you encountered. We'll work with the print driver devs to replicate these issues and u

[2018-03-01 04:17] asilverman opened #345 "First paragraph requires extra details, it is very confusing"
I assume that this documentation is targeting beginner developers in the device and driver installation process. The first paragraph of this document starts off with a very convoluted and confusing sentence. I would have expected that the documentation explain in detail what is the definition of "components to install devices";. The word component is too general and lacks meaning in the context of

[2018-03-01 23:12] sahikon opened #346 "Empty article"
In the past, it was part of API reserved for internal use.
https://msdn.microsoft.com/en-us/library/windows/hardware/ff549753(v=vs.85).aspx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88432141-902e-3fc5-64ed-3ee403aace53
* Version Independent ID: 73bb9eae-c60d-6615-9e31-9f4da4599caa
* [Content](https://docs.microsof

[2018-03-02 10:13] dvescovi1 opened #347 "what abot IoT Core?"
talk about IoT Core requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1fe9907-f850-a8ae-112b-30d154468fe1
* Version Independent ID: b1f64595-9c3c-61ce-4c51-84c642371af4
* [Content](https://docs.microsoft.com/en-us/windows-hardware/drivers/bringup/minimum-uefi-requirements-for-windows-on-soc-platforms)
* [Con

[2018-03-02 16:38] barrygolden commented on #347
Self-assigned @barrygolden for investigation.

[2018-03-02 20:19] DOMARS commented on #344
@efalk I added links to these topics. I believe those should be helpful. Those changes should be live shortly.
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/controlling-a-remote-debugging-session
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-endsrv--end-debugging-server-
Thanks for the input.

[2018-03-02 22:02] DOMARS commented on #341
Per our offline discussion, I will close this issue as we work to come up with a usable sample.

[2018-03-02 22:02] #341 closed

[2018-03-02 22:45] barrygolden commented on #347
Initiated contact with IoT Core team resources for information on UEFI requirements for IoT Core.

[2018-03-06 22:51] jithinjosepkl opened #352 "Add registry paths as well?"
Really great info, and well written. Can you add the registry location for the dump type configuration as well?
(Same request for user-mode dump files).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a6515f5-f476-5c1f-5c9b-0f4bc489bfb3
* Version Independent ID: e875b4a7-3499-0ea1-0889-fbb0a5288ba8
* Content: [Active M

[2018-03-06 22:54] EliotSeattle commented on #352
Thanks, Jithin. The writer for the debugger content is out this week, but he'll address this when he returns.

[2018-03-07 10:59] brazierd opened #353 "Bluetooth Mesh"
Hi

Is support for Bluetooth Mesh (https://www.bluetooth.com/bluetooth-technology/topology-options/le-mesh) planned?  We have a use case where an IoT Core device is a gateway for low power devices, though it would be appropriate to Windows in general.

Regards

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84966

[2018-03-08 01:56] lindexi opened #354 "How to find the symproxy.dll"
As this document that I cant find the symproxy.dll,symsrv.dll and I never find any way to say where they are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94cca664-53c7-ee65-5975-3d7a8e56bb07
* Version Independent ID: 2b130c88-3228-1ea1-c57a-20469cc6525b
* Content: [Installing SymProxy | Microsoft Docs](https://docs.

[2018-03-08 17:27] eacc3525 opened #355 "The Download Visual Studio Enterprise and Professional had their URL switch"
"Download Visual Studio Enterprise 2017" URL is Professional and "Download Visual Studio Professional 2017" URL is Enterprise. I would not touch the URL and just change the descriptions to keep an order of functionality in the Visual Studio packages.

[2018-03-08 18:53] EliotSeattle commented on #355
Oops! Thank you, @eacc3525 for pointing this out. I've made the change in the source. It should be live today. Appreciate the heads up.

[2018-03-08 18:53] #355 closed

[2018-03-09 00:56] PageWriter-MSFT commented on #353
Hello David

Thanks for the query. In the current release, we do not support Bluetooth Mesh. Do keep an eye on our  [BT profile support tracker ](https://docs.microsoft.com/en-us/windows-hardware/drivers/bluetooth/general-bluetooth-support-in-windows) or [feature update](https://docs.microsoft.com/en-us/windows-hardware/design/component-guidelines/bluetooth) pages for the most up-to-date info abou

[2018-03-09 00:57] #353 closed

[2018-03-09 17:30] ImAbdollahzadeh opened #356 "Looking for files"
Is there a way I can find those files referenced in this article from Windows Driver Kit (WDK) through the Windows 7 edition (Version 7600)?

I don't have this version of WDK on my computer, but would like to have a look at the sample mirror driver files including mirror.inf.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-03-09 17:39] EliotSeattle commented on #356
Hi @ImAbdollahzadeh. Windows 7 and earlier samples and documentation were included in the Windows Driver Kit (WDK) or Driver Development Kit (DDK). You can start the download for the Windows 7.1 WDK at https://www.microsoft.com/download/confirmation.aspx?id=11800. Hope this helps.

[2018-03-09 17:40] #356 closed

[2018-03-10 09:48] MKaslan1 opened #357 "outlook.com"
MKaslan1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb998ed7-5e26-2bd5-d1d6-ac69c01ceb07
* Version Independent ID: c48280db-92ed-3e44-3f84-d5ae3f3be4bb
* Content: [Overview of System Battery Management | Microsoft Docs](https://docs.microsoft.com/en-us/windows-hardware/drivers/battery/overview-of-system-battery-man

[2018-03-10 23:30] amiratne opened #358 "nokia lumia 1520"
Maigre mon appareil a jour

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: d77677a1-6187-f77b-57ac-e67bb1f76fa2
* Version Independent ID: 8e9b5002-a835-bf3c-0ad1-c1313f2dfc84
* Content: [Driver Packages | Microsoft Docs](https://docs.microsoft.com/fr-fr/windows-hardware/drivers/install/driver-package

[2018-03-11 14:45] DonBurn opened #359 "Errors in Choosing a driver model"
You have Choosing a driver model for a file system driver and it then refers to File System Minifilter Drivers.  A minifilter is not a file system driver!   The link to minifilters should be under Choosing a driver model for a file system filter driver and the Choosing a driver model for a file system driver should point out the samples for file system drivers, perhaps with a warning that these ar

[2018-03-12 15:53] tedhudek commented on #358
Hi, thanks for contacting us, but I'm not sure what you're requesting.  Please re=open with specific feedback if you like.  Thanks!

[2018-03-12 15:53] #358 closed

[2018-03-12 15:54] #357 closed

[2018-03-12 16:04] tedhudek commented on #346
Hi @sahikon could you be more specific?  I'm not sure what change you are requesting to the documentation.  Thanks!

[2018-03-12 16:18] EliotSeattle commented on #359
Thanks for the feedback, @DonBurn! Added a link for file system drivers and a warning that they can be complex. Should be live within 24 hours.

[2018-03-12 16:18] #359 closed

[2018-03-12 19:56] weignv opened #361 "Could you fix font error?"
Noticed that there are multiple arenâ€™t, which should be aren't. This error is shown in multiple web browsers and please take look at it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49099536-c363-e94d-ce10-44454344a8cd
* Version Independent ID: 4b143eee-1dd7-d523-dd2f-df506d592314
* Content: [Tile resources | Micro

[2018-03-12 20:05] EliotSeattle commented on #361
Thanks, @weignv. I got the instances in this topic. @tedhudek, can you scan for other occurrences and  log a bug to me?

[2018-03-12 20:58] sahikon commented on #346
Hello @tedhudek ,

Let me clarify request.

My headline "Empty article" means that [this](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/cm-open-devnode-key-ex) is empty and does not provide any information about CM_Open_DevNode_Key_Ex:

![image](https://user-images.githubusercontent.com/15780532/37308730-25943244-25fc-11e8-9e5d-89e003bd9315.png)

CM_Open_DevNode_Key_Ex is marke

[2018-03-12 22:03] DOMARS commented on #344
The new links listed above are live, thanks for the input.

[2018-03-12 22:03] #344 closed

[2018-03-12 23:59] tedhudek commented on #345
Hi @asilverman thanks for the feedback.  The sentence on components is referring to subsections below this page in the table of contents.  There are links to those pages in the link block on https://docs.microsoft.com/en-us/windows-hardware/drivers/install/overview-of-device-and-driver-installation, but I went ahead and added the same link up top in the first para.  That change will be live moment

[2018-03-12 23:59] #345 closed

[2018-03-13 18:23] tedhudek commented on #346
Thanks @sahikon it's a good point. I've added a sentence to the pages, for example https://docs.microsoft.com/en-us/windows-hardware/drivers/install/cm-create-devnode.

[2018-03-13 18:23] #346 closed

[2018-03-13 20:10] DOMARS commented on #352
I'm checking with the dev team on this request.

[2018-03-13 22:19] DOMARS commented on #354
This information is in the topic that describes where to locate symproxy.dll and symsrv.dll.

The SymProxy files are included in the Debuggers directory of the Windows Driver Kit. For example this is the location of the 64 bit files for Windows 10 kit. C:\Program Files (x86)\Windows Kits\10\Debuggers\x64\symproxy.

To install SymProxy on the server, copy symproxy.dll, symsrv.dll and symproxy.man t

[2018-03-13 22:19] #354 closed

[2018-03-14 00:08] TruePikachu opened #362 "Missing entry for 0x41793"
Parameter 1 for this bugcheck can be `0x41793`, but it is not listed in the table. Anyone know what it means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT | Microsoft Docs](

[2018-03-14 05:48] Drigax opened #364 "Article is a stub"
Some additional information such as sample logs, the formatting of log entries, and links to tools used for log viewing would be very helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b59527c-6f99-59a1-d6e8-d5f38acca554
* Version Independent ID: d7c8d44e-8b7d-e974-3022-167d39405868
* Content: [Trace Log | Micros

[2018-03-14 08:10] sureshkumarct opened #365 "OS version"
It would be better if you could add the OS version for Win 10 also

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0afbc04b-349a-57ed-eeb0-3d2cd28e359c
* Version Independent ID: de61f684-31d7-2de5-d66c-a3319f5198d9
* Content: [Inf2Cat | Microsoft Docs](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/in

[2018-03-14 17:13] StefanoAmbrogi opened #366 "RSS availability in Windows Server 2012 R2"
Is RSS available in Windows server 2012 R2? As per https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh997036(v%3dws.11) the availability of this feature is limited to Windows Server 2012 and previous release.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.co

[2018-03-14 17:50] duncanmacmichael commented on #366
Hi @StefanoAmbrogi , thanks for the question. RSS is a currently supported feature and is available in Windows Server 2012 R2 and Windows Server 2016. I believe that the Previous Versions document to which you linked discusses what was new for RSS in WS 2012, but it was not meant to convey that RSS was not supported past WS 2012. Sorry for the confusion.

[2018-03-14 17:50] #366 closed

[2018-03-14 19:15] maitreyotta opened #367 "Good page but!"
In X64 calling convention i want find more explanation of r10-r15 register, thank you for you already work. sorry for my bad english i am french...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc07ad07-7d1c-e42d-506d-de67e4a02494
* Version Independent ID: ed140094-1331-1502-6618-158307cd73f3
* Content: [x64 Architect

[2018-03-14 21:50] jcbottorff opened #369 "Docs incorrect on allowed hybrid drivers SDV works on"
The docs say: The driver does not combine driver models (for example, KMDF with WDM, or KMDF and NDIS). SDV does work with two way hybrid drivers, but not three way hybrids.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5fd6a7f-6aab-f9b0-e4ab-ea54383adc80
* Version Independent ID: b3bd9ec2-cc7e-98c6-b445-045f2ac4a481

[2018-03-15 21:44] EliotSeattle commented on #364
Thanks, @Drigax, fort he suggestions. The topic that this links to, **Trace Session** (https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/trace-session) contains more information about the log and its format, but I can see where there is room for the additional content, too. I'm logging a work item for this, and we'll weigh our ability to get to the changes based on our other priori

[2018-03-15 21:44] #364 closed

[2018-03-16 17:38] #342 closed

[2018-03-16 21:33] DOMARS commented on #362
In the next update cycle for the stop codes I will see if it is possible to include additional information, such as for the requested parameter 1 value.

[2018-03-19 18:04] DonotRight opened #372 "Build Solution Error"
I add USB device capability to the app manifest like this article's sample
<Capabilities>
    <DeviceCapability Name="usb" />

    <Device Id = "vidpid:03F0 0C54">

      <Function Type ="name:vendorSpecific"/>
    </Device>
  </Capabilities>

then Build Solution, there is 1 Error comes out like below

Error		Validation error. error C00CE014: App manifest validation error: The app manifest must be

[2018-03-19 19:01] Marc-Albrecht opened #373 "Helpful videos, but ..."
... it would be even more helpful if you would omit the nerve-wracking background music (that is just too loud anyway). Remember that not everyone watching these videos is a native English speaker, so (almost) overpowering narration by computer-made music can be a real distraction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-03-19 19:10] EliotSeattle commented on #373
Hi @Marc-Albrecht.

Thanks for taking the time to provide feedback. I have passed this on to our video team. Appreciate the viewpoint an the music v. narration.

Eliot

[2018-03-19 19:10] #373 closed

[2018-03-19 19:13] StingyJack opened #374 "A link to where to download the tool would be useful."
More useful than scouring the internet for it, anyway.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c066ba05-c44b-60d2-0910-22de78448bc5
* Version Independent ID: 3aa09560-626c-874b-9f2c-363790c4987d
* Content: [SymStore](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/symstore)
* Content Source: [

[2018-03-19 20:37] PageWriter-MSFT commented on #372
Hello:

Thanks for reaching out. Please provide your app manifest as it is difficult to detect the error is without looking at it.

Page Writer

[2018-03-19 20:44] endolith opened #376 "Default sample rates for USB devices"
This doesn't seem true for USB Audio devices, which default to 16-bit 44.1 kHz even if the hardware supports 24-bit 48 kHz.  Is this documented somewhere else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7582a35-f0e0-d7e5-b730-5925106afe45
* Version Independent ID: ee4e58e0-c9e5-265e-1c47-f064769abbbb
* Content: [P

[2018-03-19 21:02] armstrong-charles opened #377 "Question about Driver Requirements"
If a driver package includes an *.exe, zip, *.msi, or *.cab that extracts signed binaries, is it ok? (assume that driver package satisfies other requirements too)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 138a9602-43a6-1b8a-7159-dc3cd7e62f5a
* Version Independent ID: dbf5e2e6-51e1-a43b-becb-3919dc51cde3
* Content:

[2018-03-19 21:51] endolith commented on #376
Actually, now that I test more carefully, this is different in Windows 10 vs previous versions, but still not consistent.

If a device supports

- Playback
  - 2 ch, 16-bit
    - 8000, 11025, 16000, 22050, 32000, 44100, 48000
- Recording
  - 1 ch, 16-bit
    - 8000, 11025, 16000, 22050, 32000, 44100, 48000

Then
- Windows 7 and 8.1 choose 44100 for both input and output
- Windows 10 chooses 44100

[2018-03-19 22:41] EliotSeattle commented on #361
The fix is in a commit for 22 files. Will update when this goes live.

[2018-03-19 23:28] EliotSeattle commented on #369
Don, can you take a look at this feedback for Static Driver Verifier and correct content if it's true?

[2018-03-19 23:57] keysightedwarda opened #378 "Missing error descriptions"
This article contains only a small subset of errors from InfVerif, and there are no other resources for InfVerif errors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48275f87-4086-1ca5-a190-c741f29ad348
* Version Independent ID: 5481885d-3063-527b-a85e-6a898dbcb990
* Content: [INF Validation Errors and Warnings](http

[2018-03-20 14:03] LuigiBruno opened #379 "Troubleshooting procedures"
A section providing troubleshooting procedure for this bugcheck is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d21ffb80-ac65-c23f-2820-e346aa113503
* Version Independent ID: 1243e734-9c5d-10f5-cf94-253acd56c577
* Content: [Bug Check 0xAB SESSION_HAS_VALID_POOL_ON_EXIT](https://docs.microsoft.com/en-us/window

[2018-03-20 14:35] endolith opened #380 "Dead links"
Link to "[Audio Device Technologies for Windows](https://www.microsoft.com/whdc/device/audio/default.mspx)" is dead.  "We are sorry, the page you requested cannot be found."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31d404be-d32a-fa94-3670-3586230b730c
* Version Independent ID: 5d7e6fef-e833-46c3-07f0-fc4187d7c48a

[2018-03-20 14:38] endolith commented on #380
as are links to

https://www.microsoft.com/whdc/device/input/default.mspx
https://www.microsoft.com/whdc/device/stillimage/default.mspx
https://www.microsoft.com/whdc/device/print/default.mspx
https://www.microsoft.com/whdc/device/storage/default.mspx
etc

[2018-03-20 15:17] endolith opened #381 "How to prevent Windows from requesting conflicting sample rates?"
Is there any way to indicate this constraint to Windows for USB Audio devices?  [Different versions of Windows have different rules for default sample rates](https://github.com/MicrosoftDocs/windows-driver-docs/issues/376#issuecomment-374393318), which leads to conflicting input/output rates and garbled audio by default.

If conflicting rates are requested, we can STALL the second request, as per

[2018-03-20 15:43] endolith opened #382 "Similar document for USB Audio 1.0?"
Is there a similar document that lists the capabilities of the USB Audio 1.0 driver?  A table of supported formats, restrictions on topology, table of supported control requests, "does not support implicit feedback", etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc8e063-bf45-422a-5918-b5dafc707542
* Version Inde

[2018-03-20 15:49] endolith opened #383 "More information about capabilities and restrictions"
Can this be expanded to include more information about restrictions on topology, table of supported control requests, supported isochronous types, implicit feedback, etc.?  Similar to https://docs.microsoft.com/en-us/windows-hardware/drivers/audio/usb-2-0-audio-drivers  https://github.com/MicrosoftDocs/windows-driver-docs/issues/382

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-03-20 18:25] EliotSeattle commented on #369
@aahill please verify this request and add it if appropriate. Thanks, E.

[2018-03-20 18:25] DonotRight opened #384 "error message at Package.appxmanifest"
<Capabilities>

      <m2:DeviceCapability Name="usb">

          <m2:Device Id="vidpid:045E 0611">

              <m2:Function Type="name:vendorSpecific"/>
          </m2:Device>
      </m2:DeviceCapability>
  </Capabilities>

is not accepted by Visual Studio 2017,  the output will pump  Namespace prefix 'm2' is not defined

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

[2018-03-20 21:28] maperr opened #385 "missing pic"
Picture is missing for #9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81568a12-c39e-a18f-8f33-c54545f14bac
* Version Independent ID: 73217b22-1795-b5d0-65cb-1984f38dc661
* Content: [Write a universal Hello World driver (KMDF)](https://docs.microsoft.com/en-us/windows-hardware/drivers/gettingstarted/writing-a-very-sm

[2018-03-20 21:52] endolith commented on #376
Related, but maybe for a separate Issue:

- If it supports 1 channel in, 16 | 24-bit, 32 | 44.1 | 48 kHz, Windows 7 and 8.1 will not show the 24-bit options at all.
- If it supports 1 channel in, 24-bit, 32 | 44.1 | 48 kHz, Windows 7 and 8.1 will only show the 48 kHz option and not allow anything else to be selected.
- No Windows version ever displays 24-bit 32 kHz as an option even if it's suppor

[2018-03-21 00:31] EliotSeattle commented on #385
Thanks, @maperr! Just a couple of extra blank lines causing mischief. I've made the change and merged to the staging branch. Should be live by the morning.

[2018-03-21 00:32] EliotSeattle commented on #385
Merged to staging

[2018-03-21 00:32] #385 closed

[2018-03-21 00:34] EliotSeattle commented on #361
These were merged to master. Thanks, @weignv, for pointing this out.

[2018-03-21 00:34] #361 closed

[2018-03-21 00:49] weignv commented on #361
Thanks for fixing it.

[2018-03-21 14:35] DonotRight commented on #372
Thank for your reply.
I think it is my fault to direct copy the sample on this article to my Package.appxmanifest
like this
<Capabilities>

      <m2:DeviceCapability Name="usb">

          <m2:Device Id="vidpid:0547 1002">
              <m2:Function Type="classId:ff * *"/>

          </m2:Device>

          <m2:Device Id="vidpid:045E 0611">

              <m2:Function Type="name:vendorSpecific"/>

[2018-03-21 19:17] tedhudek commented on #365
This is fixed, thanks @sureshkumarct for the suggestion.

[2018-03-21 19:17] #365 closed

[2018-03-21 22:17] tedhudek commented on #378
Thanks for the suggestion @keysightedwarda are there specific error codes you're curious about?  There's nothing secret about these, but our existing resources don't allow us to craft an individual description for each one.  Happy to try and help if there are a few that are puzzling you.

[2018-03-21 22:19] tedhudek commented on #377
Sorry, @armstrong-charles but the Dev Center can't accept compressed/archived binaries.  This prevents application of the WHQL signature

[2018-03-21 22:19] #377 closed

[2018-03-21 22:30] keysightedwarda commented on #378
In a AddProperty section for a ClassInstall32 section, I'm getting the following error:
ERROR 1081: AddProperty directive has invalid property name "DeviceIcon".

"DeviceIcon" appears as a valid property in https://docs.microsoft.com/en-us/windows-hardware/drivers/install/inf-addproperty-directive

[2018-03-22 22:51] ayodejiige opened #387 "Issue with Example of a kernel-mode driver using WPP_CLEANUP"
What it contains:
    WPP_CLEANUP(WdfDriverWdmGetDriverObject(DriverObject));
What I think it should be:
    WPP_CLEANUP(DriverObject);

Is DriverObject not already a PDRIVER_OBJECT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5d3d49a-28cd-231f-d58e-743cd6bc02f5
* Version Independent ID: 7adf2d54-13be-6458-77d6-280

[2018-03-22 23:29] duncanmacmichael commented on #387
Hi @ayodejiige , thanks for pointing out this issue. Technically, the WPP_CLEANUP call is correct because that macro requires a WDM driver object. The root of the confusion is that the previous DriverEntry example worked with a WDF-based driver (as it called WdfDriverCreate), but the context cleanup example doesn't make it clear that this is a cleanup for a WDF driver object. So, the driver contex

[2018-03-22 23:43] duncanmacmichael commented on #387
I've updated the example for you to hopefully make this clearer. The changes should be live soon. Thanks again for the sharp eye.

[2018-03-22 23:43] #387 closed

[2018-03-24 14:13] Shorrer opened #389 "No writing takes place whatsoever"
Hello there.
Short story: I came here to get some knowledge about writing drivers for Windows. Prerequisites for this "Getting started with Windows drivers" was C/C++ knowledge and, obviously, some experience with actual programming, because you, obviously, can't write drivers if you don't understand a thing about programming. So, I've expected this "Write your first driver" to be actual tutorial

[2018-03-24 20:50] peterwie opened #390 "Related topics links are bad"
The Kernel-Mode Driver Framework link goes to a general WDK page, not to the KMDF material

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dcfd3e9-3d43-1140-cc8c-fe5f9e915a9d
* Version Independent ID: 4f665db9-d2bf-3720-f7a0-4176f796438a
* Content: [Choosing a driver model](https://docs.microsoft.com/en-us/windows-hard

[2018-03-24 20:54] peterwie opened #391 "Related topics link is invalid"
The Kernel-Mode Driver Framework link on this page goes to the generic hardware page.  This is the second bad link I've found today.  My guess is that all of the KMDF links in this document set are stale or incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f307c67c-8d56-845a-9f0a-ba43af6004bf
* Version Independ

[2018-03-25 21:17] EliotSeattle commented on #390
Thanks for this, Peter. I've opened Bug 16565699, to track this work item.

[2018-03-25 21:17] #390 closed

[2018-03-25 21:18] EliotSeattle commented on #391
Thanks for this, Peter. I've opened Bug 16565699, to track this work item.

[2018-03-25 21:18] #391 closed

[2018-03-25 21:25] EliotSeattle commented on #389
Thanks for the feedback, @Shorrer.

I'll take a look at how we can either rename these topics to be more transparently correct and to point to what it really means to write your first driver, which may mean writing a book...

Thank you so much for taking the tiome to respond.

[2018-03-26 08:42] GabrieleGiuseppini opened #393 "Broken link"
The link to the Windows Symbols Web site for "XP or later" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81766d8e-917c-bc0a-a210-14c373c36afe
* Version Independent ID: 88c6b1d8-063c-8e14-3b78-37469b541012
* Content: [Installing Windows Symbol Files](https://docs.microsoft.com/en-us/windows-hardware/drivers/

[2018-03-26 15:54] EliotSeattle commented on #393
Thank you, @GabrieleGiuseppini. We'll get on that today.

[2018-03-27 00:02] DOMARS commented on #393
@GabrieleGiuseppini, I updated this page and fixed the broken link. Thanks for pointing this out.

[2018-03-27 00:02] #393 closed

[2018-03-27 01:06] DOMARS commented on #380
The broken links have been repaired. @endolith, thanks for pointing this out.

[2018-03-27 01:06] #380 closed

[2018-03-27 04:25] aruntom55 opened #395 "Probable bug in code snippet in this log post"
{
    ULONG index = 0;
    seq.List.Transfers[index] = SPB_TRANSFER_LIST_ENTRY_INIT_SIMPLE(
        SpbTransferDirectionToDevice,
        0,
        pWriteBuffer,
        writeBufferLength);

    seq.List.Transfers[index + 1] = SPB_TRANSFER_LIST_ENTRY_INIT_SIMPLE(
        SpbTransferDirectionFromDevice,
        0,
        pReadBuffer,
        readBufferLength);
}

the seq.List would be an point to

[2018-03-27 12:13] Marc-Albrecht opened #396 "2018 - but docs talk about Win98?"
I am a bit puzzled: I was sent here through a "recent" installation of the windows driver development kit. Wanting to "learn more", as the installation tool put it, I clicked on the most probable links - and land on a page that tells me about what to use when developing for Windows 98 or XP. No word about what to use and where to go from here for Windows 10 ...
Maybe this page - like most other MS

[2018-03-27 15:30] fpl9000 opened #397 "Need info on how to find the "legal agreements" mentioned on this page."
A bullet on this page says "Sign the required hardware developer legal agreements", but there is no info provided on where to find those legal agreements. I think this page should either include that info or provide a link to a page that provides that info. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2daf70e

[2018-03-27 16:12] EliotSeattle commented on #397
Thanks, @fpl9000 for the feedback. @aahill, can you make the statement clearer that the legal agreements are in the tool?

[2018-03-27 17:27] randomascii opened #398 "Needs clarification of UNICODE_STRING versus Unicode string, and link to du"
A search (bing or Google) for "windbg print unicode string" will find this topic, rather than the du topic which is probably what is wanted. It takes a careful reading of the dS documentation to realize that "The memory address where the string begins." means "The memory address where the UNICODE_STRING object is stored."

And, even if a reader figures out that dS is the wrong function, they are s

[2018-03-27 18:07] DOMARS commented on #367
@maitreyotta, thanks for this input. I added links in a new see also to these resources in a new see also section:
X86-64 Wikipedia
AMD 64 Developer Resources
Refer to these resources for more information about the registers.

[2018-03-27 18:07] #367 closed

[2018-03-27 18:24] DOMARS commented on #376
I’m checking with the dev team to see if it is possible to provide this information. Thanks for your interest in improving these pages.

[2018-03-27 18:24] DOMARS commented on #383
I’m checking with the dev team to see if it is possible to provide this information. Thanks for your interest in improving these pages.

[2018-03-27 18:25] DOMARS commented on #382
I’m checking with the dev team to see if it is possible to provide this information. Thanks for your interest in improving these pages.

[2018-03-28 03:25] saumyajyoti opened #399 "Lack of details on New DDIs on Windows RS2"
The new DDis like QueryConnectionChange, SetTimingsFromVidpn are not grouped in the DDI synchronization levels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518ba786-7bda-cf0c-4aa0-0dc08a1fe68c
* Version Independent ID: 32db11aa-26d4-b64c-c370-ad593b7f88b3
* Content: [Child I/O Class](https://docs.microsoft.com/en-us

[2018-03-28 16:05] imbaczek opened #400 "What is it for?"
There's no example scenario described where I should consider using this mode. E.g. does it help with large latency connections between the remote and the host?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef88406-b08d-ce9a-effb-b3de12d1b124
* Version Independent ID: 8d27e79c-4009-ffe7-f3f4-3153d9cdf3c6
* Content: [

[2018-03-28 16:50] Shorrer commented on #389
Maybe these can be moved from "Programming guides" section (I refer to sections at this page https://docs.microsoft.com/en-us/windows-hardware/drivers/index) to "Code samples". Actual name can be something like "Compile your first drive", so people wouldn't expect from them a full-blown explanation on how to write your own drivers. It is really a problem of slightly deceiving naming because, as yo

[2018-03-29 15:54] hansel163 opened #401 "Forget include generated .rc file to project"
You should mention include generated .rc file to visual studio project. Otherwise, it will report "resources could not be found or are not accessible" when install the manifest file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f93c1d9-ccc3-bc8a-14d9-7b23df2773c0
* Version Independent ID: 50326231-07f4-0f95-3dec-76f

[2018-03-29 19:49] fpl9000 opened #402 "Page needs more details on "Download the provided signable file""
Step #3 in the "Registration steps" section says: "Download the provided signable file", but there is no link to do that download, and there is no prose saying where to go to download the "signable file".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2daf70ed-7391-5783-583b-fcd99f1c222a
* Version Independent ID: 679bd

[2018-03-29 21:15] EliotSeattle commented on #401
Thanks, @hansel163. This should be live shortly.

[2018-03-30 09:55] vnvsrikanth opened #403 "Mention references wrt Kernel Mode Display-Only Driver (KMDOD)"
Please mention references (structures and functions) wrt Kernel Mode Display-Only Driver (KMDOD).
Eg:
DxgkInitializeDisplayOnlyDriver  is the function to be called when it is KMDOD, instead of DxgkInitialize.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed0bd42b-61a6-4448-5c48-fade01bf878c
* Version Independent ID: 6

[2018-03-30 15:12] aahill commented on #397
Hi @fpl9000, I've just updated the documentation to clarify where you can find the required legal agreements, with screenshots. You can see it on the page you accessed: https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/register-for-the-hardware-program

Hopefully this makes things less confusing. Thanks for reaching out!

[2018-03-30 15:12] #397 closed

[2018-04-02 23:03] zlockard commented on #378
@keysightedwarda This error indicates that we couldn't identify the property you were trying to set.  DeviceIcon is a well-known property which I was able to set in my testing, so I suspect that there might be something else going on.  Can you share more of the INF?  At least the AddProperty section would be a good start

[2018-04-02 23:26] mimisasouvanh commented on #399
@saumyajyoti  Thank you for bringing this to our attention. I will confirm the right synchronization levels for the DDIs and insert them in the proper location.

[2018-04-03 00:17] keysightedwarda commented on #378
Here's the  ClassInstall32 section and it's child sections:

`[ClassInstall32]`
`AddReg = AgClassAddReg`
`AddProperty = AgClassAddProperty`

`[AgClassAddReg]`
`HKR,,,,%AgClassName%`
`HKR,,EnumPropPages32,,"AgM9290AResources.dll"`
`HKR,,Icon,,"101"`

`[AgClassAddProperty]`
`DeviceIcon,,,,"AgM9290AResources.dll,-102"`

Now that I look at this, it seems the team that produced this may be setting the

[2018-04-03 01:10] zlockard commented on #378
Sorry I missed this earlier, DeviceIcon is a device property, and can only be set via a DDInstall.  I don't believe there's a way to set the DeviceIcon for all devices that are a member of the class, just the class icon.

[2018-04-03 01:34] keysightedwarda commented on #378
I believe that the intention is to set the device class icon. I'd fix the property name, but I can't seem to find documentation for what that property is.

[2018-04-03 01:41] zlockard commented on #378
It's being set here:  HKR,,Icon,,"101"
You can also use the property syntax you were using before, where it's just "Icon"

[2018-04-03 01:59] isdqwq opened #408 "Where is the example about 64bit windows for API MmGetPhysicalAddress"
Dear sir.
  how to write code to get the Physical Address on User-Space for 64BIT ioctl driver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f6e4cc7-700c-4969-802a-d73252424cf1
* Version Independent ID: 62a4529b-68e1-67c0-41e9-b918b559f1a1
* Content: [Performing DMA in 64-Bit Windows](https://docs.microsoft.com/en-u

[2018-04-03 06:38] MichaelSun123 opened #409 "AddSoftware directive"
I used AddSoftware directive and assign the SoftwareType=1.
After I install the extension inf and then install the component inf.
The binary I assigned by SoftwareBinary doesn't run.
Then I try to use the DCHU example on GitHub. It still didn't work.
Does anyone can help explain how this directive work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-04-03 13:59] lihas opened #410 "Getting rid of a linking error"
Also include initguid.h.
#include <initguid.h>.
Otherwise I was getting "unresolved external symbol _GUID_DEVINTERFACE_USB_DEVICE"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc07324f-bf4f-8857-2ea3-3539a586fb27
* Version Independent ID: 63179fd5-2bd5-ef2c-b180-419340116d29
* Content: [GUID_DEVINTERFACE_USB_DEVICE](

[2018-04-03 14:47] LuigiBruno opened #411 "Resolution steps"
Missing suggested troubleshooting/resolution steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6700412d-d8a4-205a-84e2-363966271ab3
* Version Independent ID: 8674faac-f00d-f3c5-214a-0275b1b2ac88
* Content: [Bug Check 0xEC SESSION_HAS_VALID_SPECIAL_POOL_ON_EXIT](https://docs.microsoft.com/en-us/windows-hardware/driv

[2018-04-03 14:51] LuigiBruno opened #412 "Add a "Resolution" section"
Missing a troubleshooting and resolution list of steps.
One way to try fixing this problem is using the System Recovery options and execute the "chkdsk /r" command to check the integrity of the boot volume.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d2aa14-6256-865d-b5c8-0e5c69c7224a
* Version Independent ID: c59

[2018-04-03 15:53] tedhudek commented on #409
@NabilFates can you help?

[2018-04-04 13:19] liaowuping opened #414 "Device Configuration failed"
Installing necessary components...
Copying required files
    Task "Copying required files" completed successfully
Configuring WDK Remote User Account
    Task "Configuring WDK Remote User Account" completed successfully
Installing .NET Framework (possible reboot)
    Task "Installing .NET Framework (possible reboot)" completed successfully
Installing VC Redist (x64)
    Task "Installing VC Redist

[2018-04-04 17:14] mimisasouvanh commented on #403
Thank you @vnvsrikanth for bringing this to our attention. I have update the topic to include information about kernel mode display-only (KMOD) DDIs: https://docs.microsoft.com/en-us/windows-hardware/drivers/display/driverentry-of-display-miniport-driver
I am closing this issue. Feel free to open it back up or contribute if needed.

[2018-04-04 17:14] #403 closed

[2018-04-05 02:09] wes-b opened #415 "ServiceName appears to be limited in length to 31 characters."
ServiceName appears to be limited in length to 31 characters. Anything longer and the device will fail installation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bd0d4c0-7cfd-278b-12e4-a6532269db54
* Version Independent ID: 660209eb-539f-6ad5-dc93-7879d84308a1
* Content: [Specifying WDF Directives in INF Files](http

[2018-04-05 21:01] rohitdubey12 opened #416 "Broken link to ACPIGen folder"
The link to ACPIGen folder directs to the Windows-driver-samples repository on github. Where can I find the ACPIGenFx.dll file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16299ebf-80ed-f09f-d0c0-4cda742f579e
* Version Independent ID: 8e45d880-93f8-4c85-81e6-b1d5dbe78ab6
* Content: [Generate ACPI tables by using Acp

[2018-04-05 21:47] barrygolden commented on #416
@rohitdubey12, thanks for pointing out this broken link.

AcpiGenFx and associated samples are available in the **Tools** folder of the WDK.

In the **Tools** directory, navigate to the target architecture folder, then to the **AcpiGenFx** folder.

For example, the x86 version is located in **C:\Program Files (x86)\Windows Kits\10\Tools\x86\ACPIGenFx**.

I'll update the topic with this information

[2018-04-05 21:54] evgeniylevakhin opened #417 "link is broken."
link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8707ae7-74c9-9bd5-b317-e8b06d9836bb
* Version Independent ID: fd8d7bf6-89fa-9c33-5ca4-613141e0513b
* Content: [UserDump](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/userdump)
* Content Source: [windows-driver-docs-pr/debugger/userdum

[2018-04-05 22:25] EliotSeattle commented on #417
Thanks for finding this, @evgeniylevakhin . I've updated the link to the current support site (https://support.microsoft.com/en-us/help/241215/how-to-use-the-userdump-exe-tool-to-create-a-dump-file ) and added an extra reference to the .dump command, too. Changes should be live later today.
@DOMARS, FYI.

[2018-04-05 22:25] #417 closed

[2018-04-07 04:43] Anonymous-W commented on #362
I met same problem too,looking forward to the information

[2018-04-09 18:03] mimisasouvanh commented on #399
@saumyajyoti  I've fixed the docs to include:

- DxgkDdiSettimingsFromVidPn, which is same as DxgkDdiCommitVidPn, in [Threading and Synchronization Second Level](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/threading-and-synchronization-second-level).
- DxgkDdiQueryConnectionChange, which is same as DxgkDdiQueryChildStatus, and DxgkDdiDisplayDetectControl, in [Child I/O Class]

[2018-04-09 18:03] #399 closed

[2018-04-10 05:58] rhyspaterson opened #420 "Hypervisor Firewalls"
If you're using a thrid party hypervisor, such as VMware ESXi, also ensure the hypervisor layer firewall allows these connectivity for VM to VM communication. Our ESXi firewall was blocking this which cuased headaches for many days:

https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.vm_admin.doc/GUID-09086DBC-FC86-4589-9B58-3310B2FB47A8.html

---
#### Document Details

⚠ *Do not edi

[2018-04-10 19:47] toughengineer opened #421 "fix repetition"
This section describes _how to how to_ use the scripting support in the WinDbg Preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4b22c2c-71cb-2da2-6a5e-987d9bfd893d
* Version Independent ID: b748a50c-2019-55b0-8faf-a8de863a129f
* Content: [WinDbg Preview - Scripting Menu](https://docs.microsoft.com/en-us/windows

[2018-04-10 21:09] DOMARS commented on #414
@liaowuping - not sure if this is your issue, but all of these Visual Studio deployment options are not supported after version  Windows 10, version 1507. This is mentioned in https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/setting-up-kernel-mode-debugging-in-visual-studio. I will add an "Important" note to each of the sub topics as well.

[2018-04-10 21:28] DOMARS commented on #374
@StingyJack - The SymStore page (https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/symstore) now has a link to the download page. Thanks for the input.

[2018-04-10 21:28] #374 closed

[2018-04-11 00:51] DOMARS commented on #398
@randomascii - I did some testing today and I see what you mean. I should have an updated topic out pretty soon that highlights that ds dS is for string structures. Thanks for pointing this out.

[2018-04-11 11:25] pciids opened #422 "Please provide information on where to get these IDs."
What is missing from this page are a few links to pages that tell you what IDs there are and what the IDs are for the devices on your development computer for example.
For the first, I would suggest a link to https://pci-ids.ucw.cz or perhaps its subpages "PCI devices" for the vendor and hardware IDs and "PCI device classes" for the base classes, subclasses and interfaces.
Regarding the second poi

[2018-04-11 17:23] TerranWu opened #423 "wddm allocation questions"
In user mode driver before the pfnRenderCb action, i fill the command buffer and  patch-location list accordingly by setting the D3DDDI_ALLOCATIONLIST and D3DDDI_PATCHLOCATIONLIST. But in those data structures I don't see(set) any information about how large the allocation is? Then how the video memory manager knows to allocate the memory properly and send the patch information to kernel mode driv

[2018-04-12 05:11] diyanyagari opened #426 "where the virtual address came from"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e088bd-7daa-d560-1c97-5f4e10009238
* Version Independent ID: ea3f733e-3906-f445-213c-8201c38284f9
* Content: [Converting Virtual Addresses to Physical Addresses](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/converting-virtual-a

[2018-04-13 00:17] DOMARS commented on #398
@randomascii - The updates to the ds, DS topic are live. Thanks again for your input on this topic.

[2018-04-13 00:17] #398 closed

[2018-04-13 07:20] sketch34 opened #428 "Where is gflags output written to?"
I can't seem to find this information in any of the documentation? There appears to be no mention of where the output is located and what the output is from gflags.

A simple end-to-end round trip example / tutorial would do a lot to clarify things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a2a343-17bf-477c-4ec3

[2018-04-13 12:15] sureshkumarct commented on #365
Thanks...

[2018-04-13 18:26] armstrong-charles opened #429 "Driver promotion properties of New Shipping Label page."
As in the documentation, there are three driver promotion options available.
It is not an issue in the documentation, but i would like to get some clarification about this option - "Automatically deliver and install this driver on all applicable system" to promote your driver to Critical.

If i select this option for my driver update publishing, will it reflect in the 'Classification"  column of t

[2018-04-14 23:46] StephenCleary opened #430 "Missing description for parameter 0x61948"
I've gotten this one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-0x1a--memory-management)
* C

[2018-04-15 20:34] serup opened #431 "the second project - driver installation package is NOT created"
driver installation package is NOT created by WDF - KMDF, only the KMDF driver part, perhaps you could add how this project is manually added

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: f09a03ab-3e37-3bcb-9727-b300ae82c15e
* Version Independent ID: b7142a24-32b2-166d-3427-b87a8c69c0e3
* Content: [Devel

[2018-04-16 16:05] serup opened #432 "Debuggee is running..."
Debugger somehow never gets into a state where I can actually break all into it.
It stays there after "Task "Driver Post Install Actions" completed successfully

Pressing Break all - in the debug menu does nothing !!!

Any suggestions to what could be wrong ? I just made a standard wizard kmdf driver and followed above changes

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-04-16 21:19] EliotSeattle commented on #426
@DOMARS Maybe a link to discussion about virtual addresses and how to get them?

[2018-04-17 01:12] DOMARS commented on #430
@StephenCleary - Thanks for pointing this out. I will investigate with the dev team and will document if applicable.

[2018-04-17 01:12] #430 closed

[2018-04-17 23:55] #378 closed

[2018-04-18 08:55] wayyt opened #434 "TraceView.exe location was changed in WDK build 16299.15."
By default, TraceView.exe is located in the tools\<Platform> subdirectory of the Windows Driver Kit (WDK), where <Platform> is either i386, amd64, arm or arm64.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7290b3e5-b335-114b-aacd-831b512c6960
* Version Independent ID: c2f55351-2ee5-7cdc-db9b-5330ee8b6791
* Content: [

[2018-04-18 12:46] theking2 opened #435 "Extend the document to include the parameters"
Frequent 0x74 bugchecks might not be the result of registry errors. It might instead be the result of the OS not being able to open SYSTEM registry  due to a wrong order of boot devices. I have at least one system that has frequent 0x74 bugchecks report failed repair attempts but than be able to boot again normally.
An elaboration of the parameters might help the user to repair the system manually

[2018-04-18 15:28] fpl9000 opened #436 "CAT files appear in the diagram for multi-driver submission"
The diagram for a multiple-driver submission shows CAT files, but the instructions on this page explicitly state "Catalog .CAT files are not required. Microsoft regenerates catalog files and replaces any catalog files that were submitted." It would be more accurate to leave out the CAT files from the diagram.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-04-18 16:16] vbusireddy opened #438 "Is this a typo?"
In the sentence "The NetVSC exposes a Virtual Machine (VM) network adapter which is bound to the PF miniport driver to support the VF data path", shouldn't the "PF miniport" be "VF miniport", because the NetVSC is binding to the VF miniport driver?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0af351eb-8d84-6796-5916-

[2018-04-18 18:06] aahill commented on #402
Hi @fpl9000, apologies on the delay with this. A signable file is provided to you in the "sign and upload" portion of the registration process. I've updated the wording to clarify this - it should be visible within 24 hours. Thanks for bringing this to our attention!

[2018-04-18 18:06] #402 closed

[2018-04-18 18:16] duncanmacmichael commented on #438
Hi @vbusireddy , that could very well be the case but I'm not 100% sure.

By saying that the "NetVSC is bound to the PF miniport driver to support the VF data path," it might be talking about the left path in the diagram, meaning the PF miniport driver binding is there _in case the VF path needs to fail over._ If this is true, then the sentence is correct but it could be clarified. The subsequent

[2018-04-18 19:51] aahill commented on #436
Thanks for the feedback @fpl9000, I think that's a good change.  I've gone ahead and removed the CAT files from the diagram - should be visible in a day or so.

Thanks!

[2018-04-18 19:51] #436 closed

[2018-04-18 20:28] aahill commented on #429
Hi @armstrong-charles, I looked into this and the driver metadata that determines if a driver is optional or critical isn't exposed in the Windows Update Catalog. Additionally, a driver's classification doesn't determine whether it's optional or critical - the classification is always "Drivers". The "Critical updates" classification is only relevant in regards to software updates. Hopefully that h

[2018-04-18 20:44] duncanmacmichael commented on #438
Hi @vbusireddy , I found out it is indeed a typo. :) I'll go ahead and make the change; it should be live shortly. Thanks for the catch!

[2018-04-18 20:44] #438 closed

[2018-04-18 21:03] vbusireddy commented on #438
Thanks for taking care of this so expeditiously! :-)

[2018-04-18 23:49] tedhudek commented on #389
Thanks for the feedback, @shorrer.  I'm just at a bit of a loss what to do with it.

The goal of this topic is to provide everything you need to create Hello World, from creating the VS project, to adding the minimal code, to building and deploying the driver, with a few hints on debugging.  These are all necessary steps when writing a driver.

I suppose we could change the word "write" to "create

[2018-04-18 23:49] #389 closed

[2018-04-18 23:57] tedhudek commented on #410
Thanks for the feedback, @lihas, are you suggesting that we add initguid.h to the Requirements section of this page?

[2018-04-19 00:01] tedhudek commented on #415
Hi @wes-b, thanks for the feedback.  I took a brief look at the page and don't see where you're suggesting adding this info.  Maybe submit a PR with your proposed change?

[2018-04-19 00:15] NabilFates commented on #409
Which OS version are you using? Are you using the OSR board recommended in the DCHU sample?

[2018-04-19 07:36] MKingSWang opened #439 "Issues about "_DSM interface for Byte Addressable Energy Backed Function Class""
Section "Storage Class Memory" described some DSM method to manage NVDIMM - N, is this section a design guide or a user guide?

[2018-04-19 16:27] EliotSeattle commented on #439
Hi @MKingSWang.
Thanks for reaching out. Can you explain a little more? Is this a matter of nomenclature, or is there some issue with the content itself.
Thanks,
Eliot

[2018-04-19 16:46] EliotSeattle commented on #434
Thanks, @wayyt

Fix is in and should be live shortly. Appreciate your vigilance!

[2018-04-19 16:47] #434 closed

[2018-04-19 22:41] armstrong-charles commented on #429
Hi @aahill thanks, it really helps. This is my understanding that 'Critical Updates' classification is only relevant in regards to software updates and classification of Driver update is always "Drivers" that comes from the metadata of the package, however, driver promotion option promotes the driver delivery, allowing how driver can be delivered to Windows Clients.

[2018-04-20 17:07] PageWriter-MSFT commented on #395
Hello aruntom55,

As per the definition of SPB_TRANSFER_LIST_AND_ENTRIES in Spb.h, there only one List but there is enough space for 2 Transfers.

Thanks,

PageWriter

[2018-04-20 17:07] #395 closed

[2018-04-20 19:12] PageWriter-MSFT commented on #408
Hello isdqwq,

Thanks for your request. After checking with the Windows Kernel team, such an operation seems unsafe because the physical address underlying any virtual address could change with no notification to the process.

Please post this question to a driver development forum (such as https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk) with more details and context.

[2018-04-20 19:12] #408 closed

[2018-04-20 20:25] duncanmacmichael commented on #389
Hi @Shorrer , we've gone back and added some more explanation to the "writing code" step. While there is still a certain amount we need to prescribe for the first driver code you write, we broke it down into a few more steps and explained what you were writing along the way with comments. Do you think this is more accessible to programmers who are just starting with writing drivers?

[2018-04-22 22:10] JahedulAnowar opened #442 "Thanks"
Works well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5930505f-6810-b2a2-86b5-3c678aae7f89
* Version Independent ID: 28315cf8-f06f-23ad-2088-9d51d08efe0d
* Content: [Download the Windows Driver Kit (WDK)](https://docs.microsoft.com/en-us/windows-hardware/drivers/download-the-wdk)
* Content Source: [windows-driver-d

[2018-04-23 01:16] MichaelSun123 commented on #409
The OS Version is RS3. I don't have an OSR board. Actually, I just install the extension inf and component inf.  But I didn't see the legacy exe binary started to run. According to this document, it should run.  Did I miss any import information?

[2018-04-23 11:52] redknight99 opened #443 "AdvancedINF ?"
Hi, I'm currently dealing with a .INF file with the Version key "AdvancedINF" . The full entry is "AdvancedINF=2.5". If anyone reads the feedback. I'd really appreciate any documentation on that key (What it is, What Windows versions it affects, etc) . Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e65b9c-

[2018-04-23 18:03] fpl9000 opened #444 "A typo and a broken link"
The typo: The sentence that begins "when Secure Boot is on, ..." should start with a capital letter ("When ...").

The broken link: In the "See Also" section, the link "Digital Signatures for Kernel Modules on Windows" points to a non-existent page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb19d33-8f4c-f379-b645

[2018-04-23 18:38] fpl9000 opened #445 "Ambiguous rules for 64-bit driver on Windows 10 with Secure Boot enabled"
Hello,

This page is ambiguous about the signing requirements in a particular use-case: installing a 64-bit driver on Windows 10 with Secure Boot enabled. At the top of the page, we see this:

"Starting with new installations of Windows 10, version 1607, Windows will not load any new kernel mode drivers which are not signed by the Dev Portal."

but with the exception that:

"Cross-signed drivers a

[2018-04-23 22:32] mchen-msft opened #446 "Please fix the Hardware ID in the examples"
Backslashes are illegal in registry key names.  "\" should be replaced with "#".  Eg. "USB#VID_1234&PID_5678", "USB#VID_062A&PID_0000", etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46fdc15e-f7f5-1ed9-3801-e039442b09a1
* Version Independent ID: 1ecb27dc-0661-f0fc-f907-64c2f51ea63e
* Content: [Container IDs Genera

[2018-04-23 22:37] PageWriter-MSFT commented on #372
Great! Let us know if you hit some documentation issues.

PageWriter

[2018-04-23 22:37] #372 closed

[2018-04-23 22:37] #384 closed

[2018-04-23 23:06] shaboinkin opened #447 "Action Interface link is broken"
Action Interfaces is supposed to link to https://msdn.microsoft.com/library/windows/hardware/ff538355. Instead, it redirects to https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/index

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19da97b7-0f3f-48ca-3822-c1b710328e1c
* Version Independent ID: c64344

[2018-04-24 02:49] redknight99 commented on #443
Hi @tedhudek sorry for my vague initial question. To hopefully help clarify things. I'm currently working with an .INF file that has a version header that looks like.

[version]
Signature=$chicago$
AdvancedINF=2.5

I'm trying to find out what the AdvancedINF=2.5 entry meant. I looked at the official version documentation page https://docs.microsoft.com/en-us/windows-hardware/drivers/install/inf-ve

[2018-04-24 12:35] tombull89 opened #448 "That's great and all, but what about Symbol downloads for WindowsUpdate.log errors?"
Hi guys. I'm currently trying to troubleshoot an issue with Windows 10 updates, and I've generated a readable (well) log using the powershell get-windowupdatelog command. I've now got a windowsupdate.log file which is filled with "Unknown GUID—–No Format Information Found" errors. I need to download the Symbol files - but the link at https://msdn.microsoft.com/library/windows/desktop/ee416588.aspx

[2018-04-24 14:19] fpl9000 commented on #445
FYI, see this thread on this issue on the NTDEV mailing list. Peter Viscarola states that the table is in error when it says that a WHQL signature is required for a 64-bit driver on Windows 8.1 with Secure Boot enabled.
--
Fran Litterio

[2018-04-24 16:06] tedhudek commented on #443
Hi @redknight99 thanks for the question.  I actually did ask around and no one seems familiar with it.  There was mention of it in old Internet Explorer code - could it have been related to that?  Not something we currently support though.

[2018-04-24 16:06] #443 closed

[2018-04-24 18:29] aahill commented on #429
Glad to help, thanks for reaching out!

[2018-04-24 18:29] #429 closed

[2018-04-24 20:38] EliotSeattle commented on #442
Glad to hear it!!!

[2018-04-24 20:38] #442 closed

[2018-04-24 22:46] duncanmacmichael commented on #448
Hi @tombull89 , sorry you're having an update issue. Although this topic is aimed at programmers who need symbols for debugging their driver code, I did find this other support topic that might help you: https://support.microsoft.com/en-us/help/3036646/how-to-read-windows-update-logs-in-windows-10-version-1607. If that doesn't solve the problem, then we'd recommend asking a question on the MSDN su

[2018-04-24 22:46] #448 closed

[2018-04-25 00:10] duncanmacmichael commented on #435
Hi @theking2 , that's good feedback. We'll definitely take this into consideration and investigate the best way to update the topic. Just to let you know, the investigation process for updating bug check pages might take a while compared to other topics because we need to make sure we get the right info on the page. So, this change won't happen immediately but we have gotten the ball rolling. Than

[2018-04-25 00:10] #435 closed

[2018-04-25 12:32] Shorrer commented on #389
Yeah, this suits the title exactly the right way: now it is perfectly clear what is used for what and how driver should be structured at all. Links to programming reference for functions and objects are also there, so it is now possible to easily get more specific information if it's required.
I want to thank everyone involved in the edits that was made to this page. This page has gone from "copyp

[2018-04-25 13:15] garytheran opened #452 "When restarting or shutting down my computer appears the cod 10 to the drivers corresponding to the usb ports on the back of my case"
Because the computer was turned off due to a low voltage, now when starting it does not recognize the rear USB ports, which in my case obey the drives "universal host controller USB (R) 82801G (family ICH7) 27CC, 27CB, 27C9, 27CA, 27C8 In that sense, connecting any peripheral in those ports is naturally unrecognizable, I can easily fix the error by uninstalling and updating the drivers, but when r

[2018-04-25 16:16] wm1 commented on #415
The max length is defined in public WdfGlobals.h file:
   `#define WDF_DRIVER_GLOBALS_NAME_LEN (32)`

[2018-04-25 18:56] duncanmacmichael commented on #389
You're welcome, happy to hear it! Thanks for helping us improve the docs. We're always looking for ways to make them better, so collaborative feedback like this is very valuable.

[2018-04-26 01:22] sahikon opened #453 "Place file is obsolete and should not be used."
This article states "TMF files are created automatically during the build process when the trace provider is specified in a place file."
Article about "place files" has deprecation warning: "Place files are now obsolete and should not be used." (see https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/place-file-syntax).

Need better clarity on place file usage.

---
#### Document Det

[2018-04-26 06:49] MichaelSun123 commented on #409
Anybody can help ?

[2018-04-26 16:01] tombull89 commented on #448
As we're on the topic of documentation then, there's a link in https://support.microsoft.com/en-us/help/3036646/how-to-read-windows-update-logs-in-windows-10-version-1607 which points to https://docs.microsoft.com/en-us/powershell/module/windows-update/get-windowsupdatelog which is a 404.

[2018-04-26 16:31] EliotSeattle commented on #448
Working on that broken link. It's another team at MS that handles the support and IT content, but I'll track down the right person. Thanks, @tombull89, for pointing it out.

[2018-04-26 18:36] sdwarwick opened #454 "PowerShell requires quotes around IDs"
would be helpful to remind folks that {guid}  needs to be surrounded by single quotes in powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e888de-16af-86ce-3844-b55b519aea27
* Version Independent ID: 97cbb0fb-8c60-afe6-5170-0bfcc75a8613
* Content: [Adding Boot Entries](https://docs.microsoft.com/en-us/windows

[2018-04-26 21:33] NabilFates commented on #409
Your extension driver needs to match on a device in order to create the virtual component device, and subsequently install the Component INF (which does the AddSoftware).

If you don't have the OSR board, are you attempting to install your extension INF on another device?

[2018-04-26 22:39] tedhudek commented on #445
I have some updates for this that I will be adding soon.  Thanks @fpl9000 for bringing it to our attention.  Look for an update in the next couple days.

[2018-04-27 13:10] johnmroberts commented on #448
Where can I get the symbols for Windows 10 1511 Build 10586? The public ones will not decode the WindowsUpdate.log and all the download links from similar threads a while back are dead.

What was wrong with the old text format? Did you guys look at systemd and think "That's a good idea?"...

Forcing me to upgrading thousands of clients to the latest build of Windows 10 is not a valid answer. ;)

[2018-04-27 21:53] tedhudek commented on #445
Note that @timrprobocom opened #451 to update the docs for this one.  Will update this issue once we get that one all set

[2018-04-27 21:59] tedhudek commented on #454
Thanks @sdwarwick for this idea.  I took a quick glance at the page, but I'm not familiar with this one.  I see a lot of possible places where we could put such a note, but since you ran into the issue yourself, is there a particular spot in there where you think it would be most useful?  You can submit a PR if you like.

[2018-04-27 22:24] EliotSeattle commented on #447
Created the page, added it to the TOC, and fixed the link on this page. Thanks for catching this, @shaboinkin!!

[2018-04-27 22:24] #447 closed

[2018-04-27 22:26] tedhudek commented on #444
Thanks @fpl9000 I've fixed both these issues.  Live site should update within 10 minutes.

[2018-04-27 22:26] #444 closed

[2018-04-27 23:42] duncanmacmichael commented on #448
Hi @johnmroberts , sorry you're experiencing a similar issue. Thanks for the question. Because this topic is meant to help Windows driver programmers, we don't have the resources to support IT pros with all the situations where you might need Windows symbols. But, maybe these links can help you.

For any kind of IT-related symbols needs we'd recommend checking out this link: https://support.micros

[2018-04-28 15:24] fpl9000 commented on #445
Thanks, Ted. I would defer to @timrprobocom's input on this topic. He is a regular contributor to the NTDEV mailing list (operated by OSR). I'm just a programmer in the trenches trying to understand this stuff.

[2018-04-29 15:54] alessiot89 opened #456 "WDDM 2.1, 2.2, 2.3 and 2.4 documentation"
There is no documentation at all about WDDM 2.1, 2.2, 2.3 and 2.4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49631f4a-392a-7b0d-7687-b441d38b1a99
* Version Independent ID: fb471aa4-00c9-a9d6-5314-4b63b1ef4469
* Content: [Windows Display Driver Model (WDDM) Design Guide](https://docs.microsoft.com/en-us/windows-har

[2018-04-30 11:00] johnmroberts commented on #448
Thanks. I'd already tried the information in those links before I made the comment. I've tried clearing out the cache etc, and the symbol files PowerShell is downloading automatically don't work. The WindowUpdate.log that the PowerShell cmdlet creates just contains thousands of lines similar to this :
1601/01/01 00:00:00.0000000 1112  12488                 Unknown( 21): GUID=fa2014d3-4bd2-e53d-471

[2018-04-30 11:00] SerusDev opened #457 "Incorrect sequence for the asynchronous redirection"
According to the https://social.msdn.microsoft.com/Forums/sqlserver/en-US/d7601fe1-9728-4185-bca5-05874a6ffa1f/fwpscompleteclassify-not-working?forum=wfp the sequence for the asynchronous redirection is not correct.
FwpsAcquireWritableLayerDataPointer must be called from the worker function, not from classifyFn!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-04-30 13:51] jszabo98 opened #458 "deleting profiles"
Deleting a user profile will break this system.  Either attempts to add a printer will fail, or unwanted printers will keep coming back.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5319b8-387d-0944-6ae7-6d71e827a878
* Version Independent ID: 0b27703e-e073-ecd4-424d-6c09a792f1d3
* Content: [Known Issues with Client

[2018-04-30 16:11] EliotSeattle commented on #458
Also, see update so this is more than Windows Vista. =:-)

[2018-04-30 16:26] EliotSeattle commented on #456
Thanks, @alessiot89.
@mimisasouvanh, can you look into whether we list the additions in https://docs.microsoft.com/en-us/windows-hardware/drivers/what-s-new-in-driver-development and if we can better surface DDIs by version?

[2018-04-30 18:26] efalk opened #461 "What does "Armed for wake" mean?"
There are a number of undefined terms on this page, but "Armed for wake" really had me confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eaf34fc4-46dc-9997-3a9b-8240df843fc0
* Version Independent ID: d0e1c003-1133-d811-5c71-47ce6a3c68f7
* Content: [USB Selective Suspend](https://docs.microsoft.com/en-us/windows-

[2018-04-30 20:36] yashPrathivadi opened #462 "Network Device Driver Developer"
In the explanation for NDIS_HASH_UDP_IPV4 | NDIS_HASH_IPV4 it says "If this flag combination is set, the NIC should perform the hash calculations as specified for the NDIS_HASH_TCP_IPV4 case" . This should instead read "If this flag combination is set, the NIC should perform the hash calculations as specified for the NDIS_HASH_UDP_IPV4 case" . *TCP_IPV4 should be changed to *UDP_IPV4

---
#### Doc

[2018-04-30 20:46] duncanmacmichael commented on #457
Hi @SerusDev , thanks for the feedback. I'll investigate the answer to this and get back to you shortly.

[2018-04-30 23:27] duncanmacmichael commented on #432
Hi @serup , sorry you're having this issue with trying to debug the sample driver. To clarify, you deployed the driver to a test computer, then, on the host computer, tried to hit F5 to debug within Visual Studio? Knowing how you got to where you are can help us figure out what steps in the documentation are unclear. Thanks!

[2018-05-01 14:24] SerusDev opened #463 "Source code typo"
// callout allocated data, contains original destination information
result = WSAIoctl(clientSock,
                  SIO_QUERY_WFP_CONNECTION_REDIRECT_CONTEXT,
                  redirectRecords, …);

"redirectRecords" should be replaced with "redirectContext".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a3e4808-0c6

[2018-05-01 16:45] SonOfJesseAsSnekithan opened #464 "Does Universal Driver ( DCHU design principles) requirement for HLK?"
I understand the design principles and motivation behind the effort, design principles are very good, it make sense, it would truly make a driver as a universal driver that can run on any UWP supported platform as well as device manufacturer and and system builder can seamlessly work together for allowing future extend-ability .
I have few questions:
Does it apply to specific type of drivers or dr

[2018-05-01 19:06] pavel-a opened #465 "Link to "Bluetooth swift pair" does not work"
https://docs.microsoft.com/en-us/windows-hardware/design/component-guidelines/components/bluetooth-swift-pair.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c30c68-d0cb-7a62-f154-e6ab40c0119e
* Version Independent ID: 4dec63f5-fc8f-b8ea-117f-ddeed34bfc31
* Content: [What's new in driver development](https://docs.m

[2018-05-01 19:13] duncanmacmichael commented on #463
Hi @SerusDev , good catch. I've corrected the typo and the change should be live soon. As another way to contribute, you can also use the "Edit" button in the upper right of the page and submit a PR that we can review and merge if you'd like. :) Thanks!

[2018-05-01 19:13] #463 closed

[2018-05-01 20:03] EliotSeattle commented on #465
Thanks, @pavel-a

I fixed that. The correct link is https://docs.microsoft.com/en-us/windows-hardware/design/component-guidelines/bluetooth-swift-pair

[2018-05-01 20:03] #465 closed

[2018-05-02 21:09] duncanmacmichael commented on #432
Hi again @serup , we've updated the steps for deploying and debugging the example driver for this topic to reflect the recommended debugging method. The changes should be live soon. Let us know if this helps you break into the debugger and experiment with the commands.

If you're still having issues, we recommend posting your question on the following forums, where other driver developers and Micr

[2018-05-02 21:09] #432 closed

[2018-05-02 22:48] johndog opened #466 "ds, dS (Display String) page is easily confused for 'da' or 'du'"
If I'm looking for the command to 'display a string', the 'ds, dS' page is a prominent target.  It is way too easy to mistake it for the documentation for "display canonical string".  Perhaps "Display Kernel String" would clarify the purpose better.

The body actually mentions that one should use 'du' for Unicode strings, but doesn't mention 'da' for ASCII.  The omission makes the page look like a

[2018-05-02 23:10] duncanmacmichael commented on #457
Hi again @SerusDev , after confirming the answer I've updated the page to have the correct order for the steps. The changes should be live shortly. Thanks so much for your feedback in improving the docs!

[2018-05-02 23:10] #457 closed

[2018-05-03 05:08] Bartolomeus-649 opened #468 "No info on how to set the "kernel-mode crash dump" setting, no info what to set it to and no info on this settings role and relationships in the "windows setup & configuration universe""
1. No info in the article on how to set the setting for which the entire article is about.
2. No references in "related topics" to any other article that contain info on how to set the "kernel-mode crash dump" setting.
3. No information on if there are any other settings in Windows that has any bearings on this settings, or if the setting has any other implications or effect anything else in windo

[2018-05-03 07:25] actionaer opened #469 "So whats the point of this"
asking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17e495a6-0bb0-5f8c-fd6a-948f9ecec253
* Version Independent ID: 56480873-4b16-52c6-9404-4c09bdfdf8c9
* Content: [Synchronization Techniques](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/synchronization-techniques)
* Content Source: [https://cpubwi

[2018-05-03 15:56] EliotSeattle commented on #469
Hi @actionaer.
I'm not quite clear about what you are asking. Are you looking for more info about why synchronization techniques are important, what this particular page is setting out to do, or is it something else?
Thanks, Eliot

[2018-05-03 17:08] Bob123abc opened #470 "Help Index 1805"
I do not see the Help Menu, Can You place a simple instruction in Windows 10 about how to  install a Help Index? An Even Grater Concern; Why was this not done on the Operating System Level like all of the other heavyweight apps and stuff that users are not allowed to remove.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-05-03 17:30] DOMARS commented on #411
@ LuigiBruno – Thanks for the input that we should add additional information on Bug Check 0xEC. We will take a look and see if we can provide additional information on this stop code that is broadly applicable. In general, though, if a specific driver repeatedly causes a stop code, the developer of that driver must update their code. In this case, a dev will have to debug the driver to determine

[2018-05-03 17:30] #411 closed

[2018-05-03 17:36] DOMARS commented on #414
@liaowuping - Thanks for your input. I added and "Important" note to each of the kernel debugging topics as well. "This feature is not available in Windows 10, version 1507 and later versions of the WDK."

[2018-05-03 17:36] #414 closed

[2018-05-03 20:45] DOMARS commented on #379
@ LuigiBruno – Thanks for the input that we should add additional information on this Bug Check -0xAB as well as the input on Bug Check 0xEC. We will take a look and see if we can provide additional information on this stop code that is broadly applicable. In general, though, if a specific driver repeatedly causes a stop code, the developer of that driver must update their code. In this case, a de

[2018-05-03 20:45] #379 closed

[2018-05-04 22:46] DOMARS commented on #466
@johndog - Thanks for your input on adding additional information to disambiguate the various display string options. I added this text to the topic "Use the da command to display ASCII characters.", before the link to the da/du/etc. command.  As the second sentence indicates, the ds, dS commands do not display null-delimited character strings, but rather string structures.

The debugger command s

[2018-05-04 22:46] #466 closed

[2018-05-04 22:49] kwilliams1987 opened #471 "Possible cause of this."
This bug check is caused when you change the Software Guard Extensions (SGX) mode of the UEFI BIOS from Software Controlled to Enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70fe0f26-49e2-df0d-1864-f325aa4c0cb6
* Version Independent ID: b99d000e-7805-5cdd-768f-11249ad48fb8
* Content: [Bug Check 0x65 MEMORY1_IN

[2018-05-05 00:40] DOMARS commented on #428
@sketch34 – Thanks for the input on providing additional information on how to view gflag output. For an example of viewing gflag output using a debugger, see https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/example-12---using-page-heap-verification-to-find-a-bug
For a general tutorial on using the debugger see: https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/d

[2018-05-05 00:40] #428 closed

[2018-05-05 23:02] peterkohaut opened #472 "EWDK and Developer Command Prompt"
How can I use EWDK with VsDevCmd.bat? Is not working properly as VsDevCmd script is trying to load UCRT from the registry and it ends up with a misconfigured environment which is not usable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597ef0b9-a111-4bdb-cda6-ad3fbbf39dbe
* Version Independent ID: 9469abfc-3181-dbd4-

[2018-05-06 10:16] debbieann03 opened #473 "Doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a93d2ce6-b2cc-a553-8dd5-5a14f3c0a8a1
* Version Independent ID: 197343c3-fe7a-e410-76f2-ab265e2aca4d
* Content: [Analyzing a Driver Using Code Analysis and Verification Tools](https://docs.microsoft.com/en-us/windows-hardware/drivers/develop/analyzing-

[2018-05-06 20:24] nixomose opened #474 "Which i/o operations are acceptable to be registered by a minifilter?"
I have found a number of pages that say this or something like it:
"The minifilter driver receives only those I/O operations for which it has registered a preoperation or postoperation callback routine."

Is there a list of what specific operations are allowed to be registered? I found some forum comments that imply that not every i/o request type is up for grabs in a minifilter. Is there an autho

[2018-05-07 01:22] SylviaElse opened #475 "FLT_PREOP_PENDING/FltCompletePendedOperation race"
There is a potential race between the pre-opration routine returning FLT_PREOP_PENDING and the FltCompletePendingOperation being called, with the result that the latter routing may be called before per-operation routine returning. It appears that the Filter manager handles this situation, (and indeed, it's not clear that the Filter driver could do anything about it), but it needs to be stated that

[2018-05-07 17:09] Ciscog33k opened #476 "Dead link (404) - WinDbg for Windows 8.1"
The first download link off of "WinDbg for Windows 8.1" is a dead link.

https://docs.microsoft.com/en-us/windows-hardware/drivers/other-wdk-downloads#download-iconimagesdownload-installpng-windbg-for-windows-81

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f5d6d55-cb35-6b9e-f8ca-e75f70826dc3
* Version Independent ID

[2018-05-07 20:12] EliotSeattle commented on #473
No request or comment

[2018-05-07 20:12] #473 closed

[2018-05-07 23:36] DOMARS commented on #426
@diyanyagari - Thanks for the question on virtual address information. I added a link to the Virtual address spaces -- https://docs.microsoft.com/en-us/windows-hardware/drivers/gettingstarted/virtual-address-spaces. I also recently added a few general resources, to the getting started topic, that might be helpful, including the classic Windows Internals book that has a great discussion of Windows

[2018-05-07 23:36] #426 closed

[2018-05-07 23:45] DOMARS commented on #420
@rhyspaterson - Thanks for the input on adding firewall troubleshooting. I updated the topic to include a new "Troubleshooting Firewalls and Network Access Issues" section. This section includes this text:
_Your debugger (WinDbg or KD) must have access through the firewall. This can even be the case for virtual serial ports that are supported by network adapters._
Thanks again for this input to tr

[2018-05-07 23:45] #420 closed

[2018-05-08 03:21] JimWangQCI opened #477 "[Question] Will the Dynamic Update overwrite a driver with CHID targeted?"
While a system upgrade OS, connect to network, the Dynamic Update driver will be installed.
However, I'd like to know if the system install a driver with CHID targeted, and upgrade OS to newer version, will the newer version of Dynamic Update driver (without CHID targeting) overwrite the driver on the system?

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 531ef6ee-7

[2018-05-08 14:54] ggbce opened #478 "Send comments not working !"
[Enter feedback here]

Hi,

When we are on this page : https://docs.microsoft.com/en-us/windows-hardware/drivers/install/system-defined-device-setup-classes-available-to-vendors

We have a link at bottom to send comments that open our email client to send a message to this address: 'wsddocfb@microsoft.com'

But this address is not valid !

---
#### Document Details

⚠ *Do not edit this section. It

[2018-05-08 14:56] ggbce opened #479 "How to find Driver Classes"
[Enter feedback here]

Hi,

It is possible to confirm which driver class is used for a specific driver by something like : Read content of the INF file and find a line that tell my « Yes, this is the driver class xxxx ?

Why this question :

Due to some configuration, it’s almost necessary in enterprise to set a GPO to allow some non-administrators users to install drivers for specific classes, bu

[2018-05-08 22:41] DOMARS commented on #470
@Bob123abc - The WinDbg help works as discussed in this topic. Windows Help is available by pressing F1 or typing tips into the search box on Windows 10.

[2018-05-08 22:41] #470 closed

[2018-05-09 08:01] isdqwq commented on #408
thanks, i had fix this issue,it's work OK.

[2018-05-09 08:18] hli88 opened #480 "Http route policy not working."
Hi,
I follow the steps to connect to an additional APN end point on Win10. The APN name is provided by my network operator.
I referenced this sample: https://code.msdn.microsoft.com/Connectivity-Manager-Sample-0c89b26f
After adding the APN and adding the route policy, I use Windows.Web.Http.HttpClient to send RestFul api requests. But after checking the connection history on network operator's sys

[2018-05-09 19:12] duncanmacmichael commented on #480
Hi @hli88 , thanks for the question. As far as troubleshooting code goes, I found your question on the MSDN social forums and I think you're on the right track asking there. That was actually what I was going to recommend. :-) If you do get an answer and it contradicts the docs, please re-visit this thread with your findings and we'd be happy to update the docs accordingly.

Thanks again for your

[2018-05-09 19:12] #480 closed

[2018-05-10 20:44] mprevot opened #492 "symchk installation from VS installer"
I could not find which option I needed to select to install **symchk** from VS2017 installer.

Furthermore, it look like it's cmd but not powershell compliant. Am I right ? In that case, why ?

[2018-05-11 03:43] JimWangQCI commented on #477
Let me describe "the system install a driver with CHID targeted" clearly.
I want to mention here is that the system install a driver, and the driver also be published to Windows Update with CHID target, and it is an Optional Update.

[2018-05-11 15:12] Soogbad opened #493 "Add a little more"
Should have a little bit of information about what is a stack trace and how it looks like..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb8dfca-429b-5c71-c98d-5b07c6e562f1
* Version Independent ID: b476685e-1c4a-566e-9d04-3effd0196e83
* Content: [Viewing the Call Stack in Visual Studio](https://docs.microsoft.com/e

[2018-05-15 01:19] OzBob opened #494 "Submissions will enforce the EV-only requirement later this year"
This is not clear whether 'attestation driver signing' submissions will also require EV-only.
There is also very little information about how to obtain an EV certificate or even what a 'standard' certificate is used for.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d3f097-d81b-66c2-4835-d63758687d34
* Version Indep

[2018-05-15 01:33] OzBob opened #495 "Get an EV Code Signing Certificate."
"Get an EV Code Signing Certificate. " link goes to / rather than an actual page with a list of CAs or how to get an EV Code Signing Certificate.  It's essentially STEP 1 of this whole submissino process...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb19d33-8f4c-f379-b645-938a746c5615
* Version Independent ID: 8ef

[2018-05-15 03:27] EliotSeattle commented on #495
Thanks, @OzBob for the catch. I've updated the link to point to https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-a-code-signing-certificate. Should be live within 24 hours.

[2018-05-15 03:27] #495 closed

[2018-05-15 03:28] EliotSeattle commented on #494
Thanks, @OzBob
@aahill  can you investigate? Thx!

[2018-05-15 06:10] hli88 opened #496 "What will happen if MO ignores SOSA?"
What will happen if MO ignores SOSA? For example, MO provides their users APN names and let user manually import them into Win10 cellular settings. During my test, user still can access to the network. Will SOSA influence switching different APNs (multiple PDP contexts) when an application wants to use a different APN for data transfer?

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-05-15 14:31] MarcinJanczara opened #498 "Enabling IFR log for WDM driver"
I tried to enable the IFR logging for WDM driver but it does not work.
Piece of my code in DriverEntry function looks as below and is almost the same as your example:

[code]

I configured all options accordance to your instruction but default log nor custom log were not created.
wmitrace shows the following message:
[2]0004.0008::05/15/2018-12:19:58.171 [Implementation]DriverEntry default log is

[2018-05-15 18:13] duncanmacmichael commented on #496
Hi @hli88 , good question. MOs use COSA to provision devices. For example, if AT&T works with us to set up COSA for their network, then when a customer inserts an AT&T SIM card and adds the device to their account then it will work with AT&T's network in the way that AT&T specified. COSA is a database in the format of a provisioning package file that tells Windows what settings to use when talking

[2018-05-15 18:33] aahill commented on #477
Hi @JimWangQCI, thanks for reaching out. In answer to your question, if you have a newer version of a driver marked as *Optional Update*, it will only be installed to systems that don't have a driver already. If this driver was marked as *Critical Update*, it would overwrite it.

This is assuming the driver doesn't require CHIDs to identify and be applied to the appropariate systems.

You can prom

[2018-05-15 19:46] olavt opened #499 "Delete the driver software for this device checkbox is missing?"
I have the issue described here: https://www.gfisk.com/realtek-audio-driver-install-loop-windows-10/

The problem is that on my Windows 10 system there is no option named "Delete the driver software for this device".

Why is this option missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 963a0877-81d6-57b1-2922-459

[2018-05-15 20:03] duncanmacmichael commented on #496
Hi @hli88 , I got some confirmation for my answer. COSA is indeed provided by MOs normally MOs are the ones who dictate how device settings should be configured while operating on their network, including the APN to which the device is connecting.

However, if a user such as yourself wants to overwrite the MO settings, you can manually add an APN as described here: https://support.microsoft.com/en

[2018-05-15 20:03] #496 closed

[2018-05-16 02:50] peterwie opened #502 "Page doesn't have a link to Supported Ethernet NICs for Windows 10"
Hi,

This page has links for network kernel debugging in Windows 8 and 8.1 but not a link to the Windows 10 documentation.

Also shouldn't those three pages (8, 8.1 and 10) be merged?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75819dbc-e20a-29f0-af02-5afc4628fd95
* Version Independent ID: fca932fe-08ba-a01c-30a7-22

[2018-05-16 15:27] lawabider opened #503 ""Waiting to reconnect..""
I can't get it to connect...sigh. I've tried restarting the target, opening firewalls...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67e01ae1-4090-c201-aed8-3d416344db7f
* Version Independent ID: b0a983c8-1386-1ba9-7d62-ac3a8a09b0cf
* Content: [Supported Ethernet NICs for Network Kernel Debugging in Windows 10](http

[2018-05-16 15:28] lawabider opened #504 "Waiting to reconnect.."
I've tried everything but can't get it to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9564a660-e978-17e0-b1ab-885eb9345046
* Version Independent ID: 97c67bc0-5e7d-01ff-f4ba-1c626820614c
* Content: [Setting Up Network Debugging of a Virtual Machine Host](https://docs.microsoft.com/en-us/windows-hardware/drivers

[2018-05-16 16:43] EliotSeattle commented on #504
Closed Issue 503 as a dupe of this one. Comment from 503 was:
"I can't get it to connect...sigh. I've tried restarting the target, opening firewalls."

[2018-05-16 16:43] EliotSeattle commented on #503
Duplicate of Issue 504

[2018-05-16 16:43] #503 closed

[2018-05-16 21:04] mimisasouvanh commented on #456
Hi @alessiot89, we are currently working to update the WDDM 2.xx documentation in the coming months. Thanks!

[2018-05-16 21:04] #456 closed

[2018-05-16 22:55] applesauce49 opened #505 "Is this still available?"
I'm using Windows Driver Kit version 10.0.17110.1002 and these options are not available in the Driver->Test Suite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f5a94c-f793-46dc-4045-e90d30777c25
* Version Independent ID: da4260b3-5e23-4e76-ca87-18acf6f288e9
* Content: [How to Perform Fuzz Tests with IoSpy and IoAt

[2018-05-17 03:28] Cest215 opened #506 "Update text"
Dear Microsoft,
     i want to modify the text "Please wait while we install a system update"
        (ex:"test XXX Capsule update" ).
      How can i rendered the text by the Windows bootloader? ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca2c956b-1682-7c06-d68c-7c94da37007d
* Version Independent ID: 2724

[2018-05-17 16:41] given73 opened #507 "wia test"
스캐너 제어

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f249dc34-425d-4553-6a3a-592d6f30a5a5
* Version Independent ID: e396a95c-d4d4-e99d-f999-4ebae2a17d4a
* Content: [32-Bit and 64-Bit WIA Interoperability](https://docs.microsoft.com/en-us/windows-hardware/drivers/image/32-bit-and-64-bit-wia-interoperability)
* Content

[2018-05-17 17:50] DOMARS commented on #505
@applesauce49 - Can you also let us know the version of the HLK that you have installed? As you may know, the HLK contains test content, so knowing the HLK version will help us better focus our investigation.

[2018-05-17 18:20] applesauce49 commented on #505
I was not aware of that.  I just installed downloaded and installed HLK 1803 (10.1.17134.1)

[2018-05-17 18:35] mimisasouvanh commented on #423
Hi @TerranWu
Thank you for your question. The remarks section in PFND3DDDI_RENDERCB(https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/d3dumddi/nc-d3dumddi-pfnd3dddi_rendercb#remarks) talks about size allocation. I hope this helps.
Mimi

[2018-05-17 18:35] #423 closed

[2018-05-18 03:52] 21street opened #508 "FLT_PARAMETERS.AcquireForSectionSynchronization is not complete"
There's no OutputInformation field of type PFS_FILTER_SECTION_SYNC_OUTPUT in the AcquireForSectionSynchronization structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20a64a62-c8b8-d3f7-942a-145b8d8907c9
* Version Independent ID: 3ecdda0f-ef9b-5bde-431e-81a7af013f64
* Content: [FLT\_PARAMETERS for IRP\_MJ\_ACQUIRE

[2018-05-18 05:54] Michael-D-Sun opened #509 "Dpinst install"
Hi MSFT team,
After I add BuildNumber decoration, I notice that the driver can't be installed by Dpinst which I get from WDK 8.1.  I tried to find Dpinst in the new WDK, but I didn't find it. The Dpinst doesn't support this inf directive. Is it the right behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9445c977

[2018-05-18 17:02] DOMARS commented on #505
@applesauce49 - Thanks for that information, we are investigating.

[2018-05-18 23:18] mfstanton opened #510 "Wandering in the Hyperlink desert."
The sections begins with "In this section..." and all I get is a bunch of hyperlinks that point to another page. Do you realize how painful it makes this documentation to follow? I should be able to follow it like a book by simply scrolling down through the pages. Someone went nuts with hyperlinks because they didn't know how to write a document.   Following a hyperlink to a page that is simply a

[2018-05-18 23:37] EliotSeattle commented on #510
Thanks, @mfstanton. Sorry that this page is causing you aggravation.
@PageWriter-MSFT  and I will work on redesigning how this content fits with the larger story of getting started. If you have specific suggestions, we'd love to hear them. Thanks! Eliot

[2018-05-19 17:26] mfstanton commented on #510
Thank you Sir. I will keep in touch. As someone who has written user documentation from an Engineer’s viewpoint when I was at Unisys, I understand the problem with getting the right amount of content and detail into the opening and subsequent sections. The biggest problem I have is the excessive use of hyperlinked text that doesn’t get me to more than a paragraph or two of information or simply an

[2018-05-21 18:26] #477 closed

[2018-05-21 18:28] aahill commented on #369
Hi @jcbottorff , sorry for the delay on this; I've reached out to the SDV team, who plan to address this in an upcoming doc update. Thanks so much for letting us know about this.

[2018-05-21 18:28] #369 closed

[2018-05-22 09:05] JackHeeley opened #511 "Security & Quality Officer"
Well collected set of solid advice useful links and evaluation tools here. For info: On this page the second Driver flow figure has a cut-and-paste typo: Two bubbles called "Handle read requests" (one is meant for 'write').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9ba8bf1-0603-9c63-fd54-c3a6ee061655
* Version In

[2018-05-22 18:00] barrygolden commented on #507
Closing this issue, as we don't have enough information to address a specific question or comment regarding scanner controls.

[2018-05-22 18:00] #507 closed

[2018-05-22 23:42] jeffstokes72 opened #513 "Solid docs on RSS"
Thank you. This is really helpful when explaining DPC cpu consumption in large RSS implementations. Good on ya.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 915e4234-78ae-7326-f219-4ae7390f1307
* Version Independent ID: f4d10278-3352-8e26-d7d5-dcb52e93dd2b
* Content: [Introduction to Receive Side Scaling](https://doc

[2018-05-23 00:01] duncanmacmichael commented on #513
Hi @jeffstokes72 , thanks for the kudos! We're glad the docs are helpful. :) Let us know if you have any other feedback.

[2018-05-23 00:01] #513 closed

[2018-05-23 16:17] thierryfranzetti opened #514 "More possible values for Parameter 1"
In latest versions of Windows 10 kernel, Parameter 1 can have many more values than the ones currently documented on this page. Adding some documentation for these new values would help diagnosing this system crash.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e82f821-f508-03c3-2435-06217f01a61f
* Version Independen

[2018-05-23 21:09] lawlxy opened #515 "Altitude of fileinfo"
The altitude of fileinfo is 45000 in this page. The altitude of FileInfo in my computer (RS4 Win10 Enterprise, fltmc) is 40500. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a2d558e-1073-85d5-f863-5bdbf6e3ddc6
* Version Independent ID: 62e4d735-803f-7608-154b-7032dc1ceb3d
* Content: [Allocated A

[2018-05-23 21:12] EliotSeattle commented on #515
Thanks, @lawlxy
The writer for this area is on vacation through the middle of next week. If you need the info immediately, I suggest posting in the [Windows Hardware WDK and Driver Development forum](https://go.microsoft.com/fwlink/p/?LinkId=613308)

[2018-05-23 22:03] wind-rider opened #516 ". in front of SuiteMask in TargetOSVersion for Windows 10 > 1607 should not be optional"
In the article, the TargetOSVersion for Windows 10 > 1607 is defined as
[code]

I read that as that if you want to target Windows 10.0 > build 17134, you should write `NT$ARCH$.10.0..17134`. However, that results in an error (the system not being able to find a suitable driver in the package).

The correct syntax should be `NT$ARCH$.10.0...17134`, and as such, TargetOSVersion should be
[code]

---

[2018-05-23 22:43] tedhudek commented on #516
Thanks @wind-rider this is now fixed!  If you like, try submitting a PR next time.  You can just click **Edit** in the upper right of pages on docs.microsoft.com.

[2018-05-23 22:43] #516 closed

[2018-05-23 23:35] mfstanton opened #517 "White space"
Much too much whitespace and noise on the page. The sidebars take up too much real Estate and stretching the page only makes the margin whitespace expand without expanding the content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd5bbdd7-26e8-d090-e5cb-39a08df73689
* Version Independent ID: 5e7eebfc-3a1c-8979-02df-4

[2018-05-23 23:54] mfstanton opened #518 "The PDF document is corrupt and cannot be opened by Acrobat current version."
I tried to download it multiple times. It would not open when acrobat tried to read it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48d4a5b2-4c30-5da6-6713-0eb659a02d5c
* Version Independent ID: 0a7e3ab7-b779-2817-bc67-8674dce9642a
* Content: [Introduction to File System Filters](https://docs.microsoft.com/en-us/win

[2018-05-23 23:55] EliotSeattle commented on #517
Hi @mfstanton
We are using a templated design that's employed by much of the Microsoft developer content--millions of pages total. I can pass your feedback on to the designers, but first, just to make sure, are you seeing the same layout I see in the attached screenshot?
![irp_mj_create layout](https://user-images.githubusercontent.com/3382964/40457197-148cd492-5eaa-11e8-90b0-2fede6d54465.png)

[2018-05-24 05:15] johmei4 opened #520 "Wth are you talking about?"
So it starts of very self explanatory and very straight forward.  "The BCDEdit /deletevalue command deletes or removes a boot entry option (and its value) from the Windows boot configuration data store (BCD). ".  Okay..okay, I'm following.  Simple.  This article will talk about the /deletevalue trigger and how it removes boot entries from the boot configuration.  Excellent.  Let's read on....

"To

[2018-05-24 14:03] Parihar07 opened #522 "not a valid link.."
"Building a Driver" this pointing to https://docs.microsoft.com/en-us/windows-hardware/drivers/ which is not going to specific topic..!!!

where i can find proper link to configure Event Logging from driver

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba986bf1-2f70-9c24-48bc-c45c8c6c21eb
* Version Independent ID: bca

[2018-05-24 15:07] mfstanton opened #523 "PDF File"
The PDF file is zero length when I download it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48d4a5b2-4c30-5da6-6713-0eb659a02d5c
* Version Independent ID: 0a7e3ab7-b779-2817-bc67-8674dce9642a
* Content: [Introduction to File System Filters](https://docs.microsoft.com/en-us/windows-hardware/drivers/ifs/)
* Content So

[2018-05-24 16:34] mfstanton commented on #518
I think the problem is that the file is not present. The download is zero length

[2018-05-24 18:48] BenWestbrook opened #525 "link not useful, ok, could be more useful"
"... see Memory Allocation and Buffer Management..." link is essentially "go fish".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41838266-a165-d586-37d9-f42c2b9bcfca
* Version Independent ID: 047000a0-0695-27ab-c32a-05783d724530
* Content: [Windows Kernel-Mode Memory Manager](https://docs.microsoft.com/en-us/windows-

[2018-05-24 20:08] EliotSeattle commented on #525
Thanks @BenWestbrook
Edited the link to point to https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/_kernel/#memory-allocation-and-buffer-management. That's where we moved the old MSDN topic. Sorry for the confusion. Should be fixed on the live site within 24 hours.

[2018-05-24 20:09] #525 closed

[2018-05-24 20:32] EliotSeattle commented on #522
Thanks @Parihar07 and sorry for the confusion. The correct link is https://docs.microsoft.com/windows-hardware/drivers/develop/building-a-driver and the change in the link will be live on the site within 24 hours.

[2018-05-24 20:32] #522 closed

[2018-05-24 23:59] mfstanton commented on #523
Thank you

From: Eliot Graff [mailto:notifications@github.com]
Sent: Thursday, May 24, 2018 3:25 PM
To: MicrosoftDocs/windows-driver-docs
Cc: mfstanton; Author
Subject: Re: [MicrosoftDocs/windows-driver-docs] PDF File (#523)

Closed #523 <https://github.com/MicrosoftDocs/windows-driver-docs/issues/523> .
—
You are receiving this because you authored the thread.
Reply to this email directly, view i

[2018-05-25 16:55] aahill commented on #494
Hi @OzBob , sorry for the delay in responding to you. Thanks for reaching out, and sorry this topic has caused you confusion!

The [attestation signing](https://docs.microsoft.com/windows-hardware/drivers/dashboard/attestation-signing-a-kernel-driver-for-public-release) topic mentions that an EV certificate is required for attestation signing. I've added this to the code signing table and should b

[2018-05-25 21:04] PageWriter-MSFT commented on #461
Hello Edward,

USB devices can respond to external wake signals while in Suspend state if the hardware supports the feature.  Here are some links that might be helpful:

[Remote Wakeup of USB Devices](https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/remote-wakeup-of-usb-devices)
[Overview of Wait/Wake Operation](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/overv

[2018-05-25 21:04] #461 closed

[2018-05-26 08:45] BOT-Man-JL opened #529 "Offset of FWPS_LAYER_INBOUND_MAC_FRAME_ETHERNET"
According to my investigation and WFPSampler, `FWPS_LAYER_INBOUND_MAC_FRAME_ETHERNET` starts at the beginning of IP header, not "the beginning of the ethernet header". If I get bytes from `layerData` by calling `NdisGetDataBuffer`, the data starts at the beginning of IP header (different from `FWPS_LAYER_OUTBOUND_MAC_FRAME_ETHERNET`).

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-05-26 17:15] BenWestbrook opened #530 ""go fish" link"
The link for "...Storport Driver Support Routines..." goes to the moral equivalent of "Go fish!".

I have not check any other links on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0125c7ed-3b8e-2f6e-f699-87f33a9b202b
* Version Independent ID: 4c02a853-8c10-8a9b-3893-692e7a006302
* Content: [Storage Minipor

[2018-05-28 02:02] Michael-D-Sun commented on #509
Anybody can help on this item? In the inf manufacture section the target os is 10.0...14393. Dpinst can't find the right section to install the driver. Is it the right behavior? And is there any replacement?

[2018-05-28 05:18] OzBob commented on #494
Thanks for responding @aahill

Following on from two recent dotnetrocks podcast giving a bad review on the ease for developers to sign their assemblies for distribution. (https://www.dotnetrocks.com/?show=1547 and https://www.dotnetrocks.com/?show=1535)

I began searching for whether I needed a EV or Standard certificate to put code through the microsoft store and also for distrbution through MSIX

[2018-05-28 15:17] elenagurevich opened #531 "Pure Acks coalescing"
What is a reason do not coalesce pure ACK packets ?
The only information that is required for TCP processing is a number of arrived ACKs and cumulative acknowledgement number.
This information is enough for Reno/NewReno congestion algorithms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423a1055-ed86-1e17-f29e-d35436

[2018-05-29 19:00] tedhudek commented on #509
Hi @Michael-D-Sun this is more a product question than a doc issue. I recommend trying [Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk)
or [ntdev forum](http://www.osronline.com/showlists.cfm?list=ntdev)

Best of luck with this issue!

[2018-05-29 19:00] #509 closed

[2018-05-29 19:31] duncanmacmichael commented on #531
Hi @elenagurevich , thanks for the question. Let me investigate this for you and see what I can find out.

[2018-05-29 21:16] tedhudek commented on #499
Hi @olavt this is more a product question than a doc issue. I recommend trying [Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk)
or [ntdev forum](http://www.osronline.com/showlists.cfm?list=ntdev).

Best of luck with this issue!

[2018-05-29 21:16] #499 closed

[2018-05-29 21:37] tedhudek commented on #415
Added this to the page, will be live later today. Thanks for the heads-up @wes-b

[2018-05-29 21:37] #415 closed

[2018-05-29 22:40] wolcotts opened #532 "Configration ?? :)"
Spelling: 'Configration of device objects'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6518fe85-2eae-ada0-f7ec-1d535f6be78f
* Version Independent ID: 6a90d069-c0b5-746b-041b-d2b7f7f6aabb
* Content: [Keyboard and mouse class drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/keyboard-and-mouse-cla

[2018-05-29 23:51] tedhudek commented on #422
Thanks @pciids I've added this info to the page.  Should be live in 10 minutes or so

[2018-05-29 23:51] #422 closed

[2018-05-30 00:36] PageWriter-MSFT commented on #410
Thanks for pointing that out. I have added the header to the requirements section.

[2018-05-30 00:36] #410 closed

[2018-05-30 18:01] cai6jing opened #534 "Updating Device Firmware using Windows Update: sample code and questions. If SSD WU is recommended by microsoft?"
[Enter feedback here]
1.   BUG 17170213
If  SSD firmware WU is recommended by microsoft?

2. The last 3rd bullet:

 In the diagram immediately above, the firmware driver can look for the parent device to find the primary device with which it needs to communicate

1. How to look for the parent device to find the primary device with which it needs to communicate and how to communicate?  ( sample cod

[2018-05-30 19:30] duncanmacmichael commented on #529
Hi @BOT-Man-JL , I've confirmed that you were correct. Here's the breakdown:

Inbound:
   Native – offset is at the MAC Header
   Ethernet – offset is at the IP Header

Outbound:
     Native – offset is at the MAC Header
     Ethernet – offset is at the MAC Header

I'll update the doc accordingly. Thanks for the catch!

[2018-05-30 19:30] #529 closed

[2018-05-30 19:47] aahill commented on #494
Thanks for the podcast links @OzBob - I'll be sure to check them out and pass what I learn to our engineering team. I agree that its a bit confusing; I'm still looking into the process listed on aka.ms/rootcert; as far as I know you shouldn't have to do anything with a pdf - I'm investigating this.

If I'm understanding right, you're looking more for info about distributing app packages, rather th

[2018-05-31 14:43] SoundersFan opened #535 "Need min version RS2 or greater"
Your project file needs:
    <TargetPlatformMinVersion>10.0.15063.0</TargetPlatformMinVersion>
or higher for this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d835c91-424a-a096-ea00-f1dd7c0bc0c4
* Version Independent ID: 1e73f683-6a1e-6794-8831-b6e6b170fa88
* Content: [Hardware Support App (HSA) Steps for A

[2018-06-01 04:11] guliteb opened #536 "Any API to distinguish base driver and extension driver/component driver"
I am developing an application to manage driver update. I would like to know if there is any API to get extension driver information for a specific device/Hardware ID. I need to check the driver version of the installed extension driver and determine if a new driver is applicable. I go through SetupAPI and don't find a suitable API.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-06-01 05:13] YangliAtGitHub opened #537 "EDX register description does not match "Intel64, IA-32 Basic Architecture.pdf""
First, EDX is an integer register, not a floating-point register, and even less likely a double-precision register. Double precision requires 64 bits instead of 32 bits. Second, describe it as an I/O pointer in Intel documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e381bf54-8ee1-404e-7c2e-68787eec6277
* Ver

[2018-06-01 22:20] tedhudek commented on #532
Thanks @wolcotts, this is fixed, should be live later today. Please note you can submit a PR next time, if you like. To start, click the Edit button on pages on docs.microsoft.com

[2018-06-01 22:20] #532 closed

[2018-06-01 23:13] NabilFates commented on #536
Try querying DEVPKEY_Device_ExtendedConfigurationIds using SetupAPI (or Devices.Enumartion or configmgr), and you should be able to get that information.

[2018-06-02 05:31] emuzychenko opened #538 "portcls.sys incorrectly processes buffer size query requests"
In some cases, PortCls port drivers return STATUS_BUFFER_TOO_SMALL instead of STATUS_BUFFER_OVERFLOW in response to a property request with zero output buffer address and size (a way to determine required output buffer size). Required buffer size is not returned in such cases.

For example, it happens with KSPROPERTY_PIN_CONSTRAINEDDATARANGES in all three PortCls port drivers (WaveRT, WaveCyclic,

[2018-06-04 07:22] guliteb commented on #536
Hi Nabil,
Thanks for your reply.

I cannot find any document on Microsoft Docs site about property DEVPKEY_Device_ExtendedConfigurationIds. It is only defined in devpkey.h. Can you guide me to get more explanation on this property?

To give a try, I used the following code to get the buffer required for DEVPKEY_Device_ExtendedConfigurationIds. But when it returns FALSE, it doesn't return ERROR_INS

[2018-06-04 07:40] guliteb commented on #536
Actually, I want to check the version of a base INF/driver and an extension INF/driver, as one device may have both base and extension (even component driver) with different version number. I need to get all versions of those drivers on one device and then determine which should be updated.

Thanks.

Best Regards
Liang Junming
________________________________
发件人: Liang Junming <guliteb@hotmail.co

[2018-06-04 17:39] jamers99 opened #543 "Where is GFLAGS.EXE?"
Where specifically is gflags.exe located on my machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a22663b1-a0d3-a1fc-9c75-5dfed8120cfe
* Version Independent ID: d0aa7acc-096b-9f25-8be0-b0057dd03c9a
* Content: [GFlags Overview](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/gflags-overview)
* Co

[2018-06-04 21:19] tedhudek commented on #535
Thanks @SoundersFan I just added this to the page, should be live later today. In the future, feel free to open a PR if you like. To start, just click **Edit** in the upper right of any page on docs.microsoft.com

[2018-06-04 21:19] #535 closed

[2018-06-04 23:27] NabilFates commented on #536
Hey Liang,

Unfortunately, I think I spoke too soon. The DEVPKEY I mentioned is indeed in the public header, but its use is mostly internal. With the available APIs and properties in the latest version of the OS, I don't believe it is possible to achieve this scenario. My suggestion is to instead use DiInstallDriver with the extension INF you're trying to install. This API will take care of versio

[2018-06-05 03:22] R030t1 opened #546 "GUID_DEVINTERFACE_USB_HOST_CONTROLLER is undefined after including usbiodef.h."
Attempting to use the referenced identifier leads to:
[code]

An attempt was made to find altered project settings in the Windows driver examples USBView project but nothing stood out. It is possible to Ctrl+Click on the name to go to its definition. After browsing search results for low level device questions, it was noted various answers end up duplicating the GUID definitions locally.

The DEFI

[2018-06-05 19:12] #494 closed

[2018-06-05 19:24] denniskupec opened #548 "Dead links"
Links to DispatchCreate and DispatchCreateClose routines lead to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77adb1c5-e373-51b8-ed29-cb70efa37b02
* Version Independent ID: fa6f2ac7-1746-e71e-3e1d-9aeec8ae6112
* Content: [IRP_MJ_CREATE](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/irp-mj-cr

[2018-06-05 19:33] EliotSeattle commented on #548
Thanks, @denniskupec
@PageWriter-MSFT the MSDN links are not redirecting. This occurs on at least https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/dispatchcreate--dispatchclose--and-dispatchcreateclose-routines and below, as well.

[2018-06-05 21:02] aahill commented on #508
Hi @21street , thanks for catching this. Looking at the function, you're right that the structure is missing. I've gone ahead and added it in, along with a short description. It should be visible shortly.

Thanks again!

[2018-06-05 21:02] #508 closed

[2018-06-05 23:35] andyraf opened #550 "What completion params to use with EvtIoRead and EvtIoWrite completions?"
I looked through MSDN, didn't find anything (at least, not easily). Could you publish exactly how to return the #bytes read or written for each of these APIs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2b6f03e-25a2-08a7-5f55-5b1eaef879d8
* Version Independent ID: 1d941f6c-10c0-e4ed-99b2-ea23332c6102
* Content: [Co

[2018-06-05 23:43] PageWriter-MSFT commented on #548
Hello,

Thanks for reporting this broken links. These should now be fixed.

Page Writer

[2018-06-05 23:43] #548 closed

[2018-06-06 13:11] guliteb commented on #536
Hi Nabil,
I appreciate your detail reply and explanation. It is very helpful.

Anyway, I would hope there are more APIs for developers to work with Universal INF/Driver in the future as it is going to be widely used on Windows 10.

Thanks.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: NabilFates <notifications@github.com>
Sen

[2018-06-06 20:42] #536 closed

[2018-06-06 20:44] LarryK348 opened #552 "Not working"
after following these instructions on 16299.rx3_release.170928-1534 windbg reports:
The system does not support local darnel debugging.

Local kernel debugging requires Administrative
privileges, and is not supported by WOW64.
Only a single local kernel debugging session can run at a
time.
Local kernel debugging is disabled by default. You must run
bcdedit -debug on and reboot to enable it.

bcded

[2018-06-06 20:54] EliotSeattle commented on #552
Thanks, @LarryK348
@DOMARS can you please look into whether this repros?

[2018-06-07 11:59] wanghao19901024 opened #554 "IOCTL_ATA_PASS_THROUGH_DIRECT"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4076dd23-433e-2ec1-789a-e70b2e447fb7
* Version Independent ID: c9a5dc47-62e4-bdb9-b28d-aa1d6d0c78d1
* Content: [IRP_MJ_DEVICE_CONTROL](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/irp-mj-device-control)
* Content Source: [windows-d

[2018-06-07 16:11] EliotSeattle commented on #554
Hi, @wanghao19901024
Was there a question or comment about this topic?

[2018-06-07 19:19] duncanmacmichael commented on #531
Hi @elenagurevich , thanks for your patience. After some discussion, the answer boils down to making sure that RSC doesn't impact Windows's TCP congestion control algorithms, both on the send and receive side. The details are internal-only, but at least we know why now. :) I'll go ahead and add a clarifying sentence to the page. Thanks for the question, and thanks for your interest in improving th

[2018-06-07 19:19] #531 closed

[2018-06-08 04:03] missoulachiro opened #555 "Chiropractor"
ok

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276f3657-1e22-7622-b615-b9c166c6ebaa
* Version Independent ID: 45cfbf7e-d95a-b7a0-7625-b1802c763312
* Content: [lmi](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-lmi)
* Content Source: [windows-driver-docs-pr/debugger/-lmi.md](https://github.com/M

[2018-06-08 13:53] emuzychenko opened #556 "What "register" is mentioned?"
"...the client loads the structure with values that indicate the preferred base address for the register"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdcd385-8a2e-b209-e534-398844ba3982
* Version Independent ID: 37867e67-3259-c0cc-1a0c-4ae58dfeffb6
* Content: [KSPROPERTY\_RTAUDIO\_PACKETCOUNT](https://docs.microsof

[2018-06-08 13:57] emuzychenko opened #557 "What "register" is mentioned?"
"...the client loads the structure with values that indicate the preferred base address for the register"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cab7c4b0-b812-7d3c-9318-a238510bb27a
* Version Independent ID: b7c5599f-7cc5-2b20-848d-0c494a369171
* Content: [KSPROPERTY\_RTAUDIO\_GETREADPACKET](https://docs.micros

[2018-06-08 13:58] emuzychenko opened #558 "What "register" is mentioned?"
"...the client loads the structure with values that indicate the preferred base address for the register"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1575acfe-5f19-453b-6e85-ae1fc70920c0
* Version Independent ID: d6d8372a-2759-ddab-6932-1b97fa82c633
* Content: [KSPROPERTY\_RTAUDIO\_SETWRITEPACKET](https://docs.micro

[2018-06-08 15:01] mfstanton commented on #517
Yep, that is what I am seeing. I realise that Pubs people have mandated standards but they are not the ones who have to get detail out of a page or go through a lot of pages to get to meaningful content. . Often there is not enough content on a page to make it worth navigating to. The only saving grace is that some of the pages have an associated PDF that can be downloaded. Even those have a lot o

[2018-06-08 15:03] mfstanton commented on #517
Think about who your audience is. We don't have time to riff through a lot of pages to find what we want.

[2018-06-08 16:44] EliotSeattle commented on #558
Thanks, @emuzychenko for pointing this out.
@DOMARS can you define the register or link to the topic that does?

[2018-06-08 16:46] EliotSeattle commented on #557
@DOMARS same as #558

[2018-06-08 16:46] EliotSeattle commented on #556
@DOMARS Same as #558

[2018-06-08 16:52] EliotSeattle commented on #555
Hi @missoulachiro. My back has been fine lately. :-) Did you have a question or comment about this topic?

[2018-06-09 05:35] emuzychenko commented on #558
Additionally, first link to KSRTAUDIO_SETWRITEPACKET_INFO points to KSRTAUDIO_HWREGISTER description. There are several RTAudio-related pages with such bug. Definitely, the person who created these pages, initially copied them from KSRTAUDIO_HWREGISTER page.

[2018-06-09 16:37] BenWestbrook opened #560 "Explanation lacks sufficient specificity to ensure proper implementation"
This one really puzzles me and causes me to wonder if I am missing something fundamental, if so, my apologies.

"...For an explanation of these values, see the SCSI-3 specification..."

Which one (document version, there are many)? Which section?

If these values are used by the OS, then a proper explanation of the requirements should be on this page including state machines and psuedo-code for ea

[2018-06-09 16:57] BenWestbrook opened #561 "less than helpful "go fish" link"
The link for "Storport Driver Support Routines" needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f7489b-89e8-1316-c7ad-0855d5f6c299
* Version Independent ID: efd328fe-d215-9e1e-9ef9-07dd66c598aa
* Content: [Storport Miniport Drivers](https://docs.microsoft.com/en-us/windows-hardware/drivers/storage

[2018-06-11 03:01] gqsu opened #562 "PDB do not contain enough information to decode ETL"
SensorsCx.pdb and SensorsUtilsV2.pdb download from symbol server do not contain enough information to decode c88b592b-6090-480f-a839-ca2434de5844 related ETL logs.  Do you have any suggestion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cfec00c-8859-cca9-5f39-3ca65a09c852
* Version Independent ID: 55a1692b-ae3e-c16

[2018-06-11 11:34] adc68 opened #563 "What do you mean "Provisioning is not supported for virtual machines.""
What happens if we really want the target to be a VM, like for instance because we want to be able to roll it back if the driver blue screens.  Surely this is the most useful and commonly desired setup, so to say it's not supported and give no reasons, nor tell us what happens if we try is really unhelpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-06-11 15:55] EliotSeattle commented on #563
@DOMARS can you please clarify the passage?

[2018-06-11 17:01] EliotSeattle commented on #562
Thanks, @gqsu
@mimisasouvanh can you research this. @DOMARS may be a good source for help.

[2018-06-11 19:19] BenWestbrook opened #564 "bad link"
"...Safe String Library Routines..." link goes to "go fish"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fa98807-a935-7fe0-b885-6d3d87cd1729
* Version Independent ID: ff580c01-a9c8-886d-be29-cc01e0508740
* Content: [Windows Kernel-Mode Safe String Library](https://docs.microsoft.com/en-us/windows-hardware/drivers/ke

[2018-06-11 20:34] adc68 opened #565 "Not clear how notes re Windows 10 and 64 bit windows version interact"
Are the requirements for Windows 10 ("Starting with Windows 10, version 1607") in addition to the requirements for "64-bit versions of Windows starting with Windows Vista" or instead of them?  It would be great to get some clarity on the differences if any between signing or submission requirements for actual hardware drivers and virtual drivers such as filter drivers / LWF drivers etc.

---
####

[2018-06-11 21:07] LarryK348 opened #566 "Missing entry for 0x61949"
Received value of 0x61949 in bugcheck. This value is undocumented, what does it mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de955911-dfbf-33b3-778a-767a5a578a0d
* Version Independent ID: 23fb5cbd-5f7d-f7ca-1622-5885020966c2
* Content: [Bug Check 0x1A MEMORY_MANAGEMENT](https://docs.microsoft.com/en-us/windows-

[2018-06-12 12:33] AMIMI58 opened #568 "AMIMI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edea7cc-ef90-1912-6185-ebc68f590a88
* Version Independent ID: ea718ca7-72a4-17af-b264-0847821aaefc
* Content: [Personal Information Exchange (.pfx) Files](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/personal-information-exchange

[2018-06-12 16:00] tedhudek commented on #568
Hi @AMIMI58 did you mean to leave feedback on this doc page?  Closing this out because it's empty but feel free to reopen if you did have something.

[2018-06-12 16:00] #568 closed

[2018-06-12 18:18] LuigiBruno opened #572 "Troubleshooting and resolution"
Please add troubleshooting and resolution steps for this bug check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e7f0759-3f68-e198-ef71-84d9dd55b259
* Version Independent ID: fe7c1046-56c8-e840-23cb-8d568c50dfbc
* Content: [Bug Check 0x12 TRAP_CAUSE_UNKNOWN](https://docs.microsoft.com/en-us/windows-hardware/drivers/

[2018-06-12 18:22] EliotSeattle commented on #572
Thanks, @LuigiBruno
@DOMARS can you look into this, please?

[2018-06-12 20:01] tedhudek commented on #565
Hi @adc68, pretty sure the Win10 requirements are in addition to the 64-bit Vista and later requirements, but adding @SillyKeith to double-check.  I'm also not aware of any signing/submission differences for hw drivers vs virtual drivers, but again I'll default to Keith on that.

[2018-06-13 05:38] shaharlux opened #574 "Wrong <i>documentation"
&lt;i&gt;underlined text&lt;/i&gt; should be &lt;u&gt;underlined text&lt;/u&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 111d2757-e762-0c78-cb93-cb57067734cb
* Version Independent ID: 9310c5c7-ea2b-87ac-28c1-cca387264006
* Content: [Customizing Debugger Output Using DML](https://docs.microsoft.com/en-us/windows-h

[2018-06-13 13:22] ADQTRW opened #575 "EDID for missing display"
Is there a way to prevent Windows from rearranging or removing a display when it is disconnected?  NVIDIA drivers have this feature.  Other video chipset drivers from Intel do not.  Dependent upon the monitor, how it is connected (some DisplayPort to HDMI adapters), when the monitor is turned off, Windows removes and rearranges the displays.  Generally, not a good thing.

---
#### Document Details

[2018-06-13 17:32] tedhudek commented on #575
@ADQTRW you might have better luck asking this on [Windows Hardware WDK and Driver Development](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/home?forum=wdk)
or [ntdev forum](http://www.osronline.com/showlists.cfm?list=ntdev), but assigning to @mimisasouvanh in case she knows

[2018-06-13 20:18] tedhudek commented on #565
Thanks for bringing this up @adc68.  I've made some updates to https://docs.microsoft.com/en-us/windows-hardware/drivers/install/kernel-mode-code-signing-requirements--windows-vista-and-later-, hopefully it's clearer now!

[2018-06-13 20:18] #565 closed

[2018-06-13 21:05] EliotSeattle commented on #574
Oops. Fixed in the build. Should be live within 24 hours. Thanks for catching this, @shaharlux

[2018-06-13 21:05] #574 closed

[2018-06-13 21:16] adc68 commented on #565
Thanks Ted

So I guess this means from Windows 10 1607 onwards kernel drivers have
several signatures required?  That's where my question came from.  The
Attestation signing is therefore an additional signing step over and
above the catalog or driver SPC signing.

Adrien

------ Original Message ------
From: "Ted Hudek" <notifications@github.com>
To: "MicrosoftDocs/windows-driver-docs"
<windows-dr

[2018-06-13 21:44] tedhudek commented on #431
Sorry for the delay @serup but you can try this page instead: https://docs.microsoft.com/windows-hardware/drivers/gettingstarted/writing-a-very-small-kmdf--driver

[2018-06-13 21:44] #431 closed

[2018-06-13 21:53] tedhudek commented on #445
Hi @fpl9000 sorry but I apparently didn't close out this issue after we updated the related topic.  Maybe because I closed out #451 instead.  Anyway, https://docs.microsoft.com/windows-hardware/drivers/install/kernel-mode-code-signing-policy--windows-vista-and-later- is freshly overhauled, hopefully clearer.  Thanks again for the initial feedback!

[2018-06-13 21:53] #445 closed

[2018-06-13 22:01] tedhudek commented on #454
Thanks @sdwarwick, I added a parenthetical with this tip to https://docs.microsoft.com/windows-hardware/drivers/devtest/adding-boot-entries.  Should be live in a few minutes.  To see it, just search for PowerShell.

[2018-06-13 22:01] #454 closed

[2018-06-13 22:10] tedhudek commented on #464
Sorry for the delay on this one, @armstrong-charles.  Assigning this one to @barrygolden, who should be able to tell us if print drivers can be universal.

[2018-06-13 23:00] tedhudek commented on #550
@Shyamal-V @wm1 any thoughts?

[2018-06-13 23:41] wm1 commented on #550
Use [WdfRequestCompleteWithInformation(Request, status, bytesCopied);](https://github.com/Microsoft/Windows-driver-samples/blob/df271b80bdbb556707d9b4af1b06151ded561884/serial/VirtualSerial2/queue.c#L542)

[2018-06-14 17:07] justanotheranonymoususer opened #580 "Broken links"
The first three links in this document are invalid, and that's very sad :( is the content still available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 780a6597-3d0d-da15-ff94-7a1da9f2b893
* Version Independent ID: a8899398-f363-eaa3-40f2-089ffbea0299
* Content: [Windows Vista sAPO Feature Reference](https://docs.mic

[2018-06-14 18:20] PageWriter-MSFT commented on #546
Hi @R030t1

You need to include  initguid.h before including any header that has DEFINE_GUID. I have updated this topic and other USB GUID topics with this information. They should be live soon. Apologize for the inconvenience.

Thanks!

Page Writer

[2018-06-14 18:20] #546 closed

[2018-06-14 18:41] Scott1 opened #581 "List of Operating System Codes Incorrect"
I think some of the codes listed in the "List of Operating System Codes" section might be incorrect.

I tried using Windows_v100_X86_* codes but getting an error back:

{
  "error": {
    "code": "invalidInput",
    "message": "Validation Failed.",
    "validationErrors": [
      {
        "target": "requestedSignatures",
        "message": "The OS code `WINDOWS_v100_X86_TH2_FULL` is invalid."

[2018-06-14 20:41] tedhudek commented on #534
This was handled separately.

[2018-06-14 20:41] #534 closed

[2018-06-14 22:37] tedhudek commented on #550
Thanks @wm1!  Closing this out, @andyraf, let us know if we can help otherwise.

[2018-06-14 22:37] #550 closed

[2018-06-14 23:29] cai6jing commented on #534
Sorry， I do not understand your comment: could you please elaborate? any direct answer?

Thanks!

发件人: Ted Hudek [mailto:notifications@github.com]
发送时间: 2018年6月14日 13:41
收件人: MicrosoftDocs/windows-driver-docs <windows-driver-docs@noreply.github.com>
抄送: Jing Cai <Jing.Cai@huawei.com>; Author <author@noreply.github.com>
主题: Re: [MicrosoftDocs/windows-driver-docs] Updating Device Firmware using Wind

[2018-06-15 14:46] Torgrimm opened #584 "The Code-Signing Best Practices website link is dead"
http://go.microsoft.com/fwlink/p/?linkid=74265

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7659d22f-595a-6b02-566d-1325cf20d5cd
* Version Independent ID: 8dd845af-7408-99e7-20d0-331ad901c328
* Content: [Managing the Digital Signature or Code Signing Keys](https://docs.microsoft.com/en-us/windows-hardware/drivers/ins

[2018-06-15 15:37] aahill commented on #581
@Scott1, thanks for letting us know about this. I'll get the documentation updated soon.

@balapv, @SillyKeith, do you know if we should remove these x86 entries?

[2018-06-15 15:43] #581 closed

[2018-06-15 17:38] a522722393 opened #585 "Blue Screen of Death0x000000c2"
Microsoft (R) Windows Debugger Version 6.12.0002.633 AMD64
Copyright (c) Microsoft Corporation. All rights reserved.

Loading Dump File [C:\Windows\Minidump\061518-16629-01.dmp]
Mini Kernel Dump File: Only registers and stack trace are available

Symbol search path is: *** Invalid ***
****************************************************************************
* Symbol loading may be unreliable wi

[2018-06-15 18:21] EliotSeattle commented on #585
Hi @a522722393
I don't see a question about the documentation here, so I am closing this Issue as not actionable. If you have a question about the dump file or your code, your best bet is to look for help in Stack Overflow, the [Windows Hardware WDK and driver development forum](https://social.msdn.microsoft.com/Forums/windowshardware/en-US/home?forum=wdk), or the [OSR NTDEV forum](http://www.osro

[2018-06-15 18:21] #585 closed

[2018-06-15 22:26] mcarbone opened #586 "Missing entry for 0x3030308"
Paremeter 1 0x3030308 for stop code 0x1a (MEMORY_MANAGEMENT) is not documented. I believe it applies to some types of memory regions that exceed a certain physical boundary.

[2018-06-17 00:25] abeck70 opened #588 "usbspec capture not working"
Windows Parser Update v1.45: I am not able to re-create the the use case that this video demonstrates. No usbspec messages are captured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b034fd72-470b-76e3-e080-46cb688242db
* Version Independent ID: 3fde5448-65db-8332-2194-c3b301d0d4d5
* Content: [Capture and view USB tra

[2018-06-18 17:08] tedhudek commented on #586
Hi @mcarbone is this the page you're looking for?  https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/bug-check-0x1a--memory-management

@domars fyi

[2018-06-18 17:09] aahill commented on #439
Hi @MKingSWang, sorry for the delay, I'm taking over this documentation for Andrew temporarily .  You're referring to [this](https://docs.microsoft.com/windows-hardware/drivers/storage/-dsm-interface-for-byte-addressable-energy-backed-function-class--function-interface-1-) documentation, am I correct?

I'm not terribly familiar with this area, but it seems that these are implemented methods. You c

[2018-06-18 17:09] #439 closed

[2018-06-18 17:35] sahikon opened #589 "windbg.exe -I"
The first appearance of "windbg.exe -I" happens long before the same command appears in monospaced font.
And "-I" (capital 'i') and "-l" (lower case 'L') cannot be easily distinguished.

I guess there are bunch of people like me who will not read till the end of the document and will misread the command.

I propose to change font of "windbg.exe -I" to be monospaced to minimize the risk of confusio

[2018-06-18 17:35] zlockard commented on #479
Can you clarify your question?  Are you looking to determine the class of an arbitrary INF, or are you looking to see what class a particular device was installed with?

[2018-06-18 17:56] aahill commented on #474
Hi @nixomose, sorry for the delay. I'm taking this content over for Andrew temporarily. I'm not too familiar with this area, but you can find a list of I/O operations (and their parameters) in the [FLT_PARAMETERS](https://docs.microsoft.com/windows-hardware/drivers/ddi/content/fltkernel/ns-fltkernel-_flt_parameters) topic. Hopefully this helps; if you need more information, feel free to reopen thi

[2018-06-18 17:56] #474 closed

[2018-06-18 18:09] DOMARS commented on #543
@jamers99 - I added "Where to get GFlags" information on the top level GFlags page:
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/gflags
I also added this link to the related sub pages.
For information on how to install and locate gflags.exe, see GFlags.
These additions should make GFlags easier to use for a wider set of users. Thanks for the input!

[2018-06-18 18:09] #543 closed

[2018-06-18 18:11] DOMARS commented on #502
@peterwie - This page now has a link to the Windows 10 supported adapter list. Thanks for the input.

[2018-06-18 18:11] #502 closed

[2018-06-18 18:13] mimisasouvanh commented on #575
Yes, this is by design. When a display is disconnected, Windows will remove and rearrange the display to the active monitor.

[2018-06-18 18:13] #575 closed

[2018-06-18 21:00] DOMARS commented on #504
I don't see a question about the documentation here, so I am closing this Issue as not actionable. If you have a question about using the debugger, your best bet is to look for help in Stack Overflow, the [Windows Hardware WDK and driver development forum](https://social.msdn.microsoft.com/Forums/windowshardware/en-US/home?forum=wdk), or the [OSR NTDEV forum](http://www.osronline.com/cf.cfm?PageUR

[2018-06-18 21:00] #504 closed

[2018-06-18 21:37] duncanmacmichael commented on #563
Hi @adc68 , thanks for the question. We'll talk to the product owners and see if we can get the right answer for you about VM provisioning support.

[2018-06-19 00:29] shoebillk opened #590 "How to I get the latest product list?"
I need the recently submission item list. For that, I must get all products.
How to I get the latest product list? Is there a option for sort?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40f09988-3ba3-0ce2-9952-b11ddd66aff1
* Version Independent ID: dd0d280c-f6a0-4a07-7f86-42eafaf6087b
* Content: [Get all products](

[2018-06-19 15:53] justanotheranonymoususer opened #591 ""PropPageExtensions" project doesn't exist in the drivers repository"
https://github.com/Microsoft/Windows-driver-samples/tree/master/audio/sysvad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb10a40-2e9b-3808-20e2-86c829f94d17
* Version Independent ID: 1dfbc27f-f46f-21cf-bbe2-89010bdaf202
* Content: [Implementing Audio Processing Objects](https://docs.microsoft.com/en-us/windows-hard

[2018-06-19 16:38] EliotSeattle commented on #590
Thanks, @shoebillk for the question. @aahill can you please get this info into the topic, if it is possible?

[2018-06-19 17:30] DOMARS commented on #591
@justanotheranonymoususer - Thanks for pointing this out. I have updated the topic to remove references to the prop page extensions. Updated topic should be live in 24 to 48 hours. Thanks again for this issue.

[2018-06-19 17:30] #591 closed

[2018-06-19 18:02] aahill commented on #475
Hi @SylviaElse, sorry for the delay in getting to this. I've added this note to the topic, and it should be visible shortly. Thanks for this contribution!

[2018-06-19 18:02] #475 closed

[2018-06-19 18:02] DOMARS commented on #552
Local kernel debugging was successful for me and continues to be functional. Make sure that you are using the correct "bitness" of the debugger to match the version of Windows. If you are running 64-bit Windows, use the debugger in the x64 directory.
For further help, your best bet is to look for help in Stack Overflow, the [Windows Hardware WDK and driver development forum](https://social.msdn.mi

[2018-06-19 18:02] #552 closed

[2018-06-19 21:29] DOMARS commented on #505
I investigated with the product team and found that IOSpy and IOAttack are not currently shipping. It is possible that they may return in a future version of the kits, but the plans are not certain at this point.

I will work to add this information to the docs pages, so thanks so much for pointing out this issue.

As an alternative, you may want to investigate the fuzz tests in the HLK. For examp

[2018-06-19 21:29] #505 closed

[2018-06-19 21:44] PageWriter-MSFT commented on #588
Hello:

Thanks for reaching out to the Windows Driver Developer Documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the driver documentation.

You may have success posting your question in the following forums, where other driver developers and Microsoft engineers can be found. The community there is quite resp

[2018-06-19 21:44] #588 closed

[2018-06-19 22:30] BenWestbrook opened #592 "This topic lacks sufficient detail to properly implement."
The reference to the SBC3 specification for thin and/or resource provisioning of a drive is insufficient guidance for proper implementation of this feature in a driver for Windows. For example, a driver that conforms to the above mentioned standard receives UNMAP SCSI requests from the OS for all unused blocks on the device. This occurs with DiskManager with "quick format" selected and with Storag

[2018-06-19 23:31] EliotSeattle commented on #592
Thanks for the request, @BenWestbrook
@aahill can you please tap the devs to make sure we have accurate info for this? Thanks!

[2018-06-20 07:48] justanotheranonymoususer opened #593 "Typo"
`shows` should be `show`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb10a40-2e9b-3808-20e2-86c829f94d17
* Version Independent ID: 1dfbc27f-f46f-21cf-bbe2-89010bdaf202
* Content: [Implementing Audio Processing Objects](https://docs.microsoft.com/en-us/windows-hardware/drivers/audio/implementing-audio-processing-ob

[2018-06-20 16:36] EliotSeattle commented on #593
Thanks so much, @justanotheranonymoususer
Please feel free--especially for fixes like this--to edit the source and commit the change yourself. That would be greatly appreciated!
Thanks, Eliot

[2018-06-20 16:36] #593 closed

[2018-06-20 18:31] aahill commented on #590
Hi @shoebillk, the API currently doesn't offer the ability to sort the products list, but is being considered for a future implementation. Any sorting will have to be done after you receive the whole product list for now.

[2018-06-20 18:31] #590 closed

[2018-06-20 18:48] aventadorm opened #594 "More information about Message GUID"
I was expecting to have more information about how the message GUID is calculated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186def44-6dc1-37d4-55a8-df4e3008ab5f
* Version Independent ID: 63b036c2-f96d-64d2-4675-fe12135d485d
* Content: [Trace Message Format File](https://docs.microsoft.com/en-us/windows-hardware/d

[2018-06-20 20:17] BenWestbrook opened #595 "missed opportunity for helpful link"
SRB_IO_CONTROL should probably link to a description of the structure. I believe the URL below might be suitable.

https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/ntddscsi/ns-ntddscsi-_srb_io_control

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f66e88e-fe5a-9016-d69a-bb49322f2030
* Version Inde

[2018-06-20 20:20] DOMARS commented on #589
@sahikon - I see what you are saying, the current text font is not doing a good job, so I updated the i/l references to a monospace command font, using the triple back tick markdown, literal text syntax. Changes should be live in 24-48 hours. Thanks for providing this input and improving the topic for others!

[2018-06-20 20:20] #589 closed

[2018-06-20 20:32] DOMARS commented on #492
Symchk is part of "Windows Debugging Tools" For information on installing those tools, see:
https://docs.microsoft.com/windows-hardware/drivers/debugger/debugger-download-tools

For further assistance with symchk, your best bet is to look for help in Stack Overflow, the [Windows Hardware WDK and driver development forum](https://social.msdn.microsoft.com/Forums/windowshardware/en-US/home?forum=wdk

[2018-06-20 20:32] #492 closed

[2018-06-22 20:54] EliotSeattle commented on #594
Hi @aventadorm
I'm not sure I exactly understand what you're looking for, but if you see the topics [Trace Message Header File](https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/trace-message-header-file) and [WPP_CONTROL_GUIDS](https://msdn.microsoft.com/library/windows/hardware/ff556186) it may give the insight you need. If I'm off base, reopen this and let me know. Thanks, Eliot

[2018-06-22 20:54] #594 closed

[2018-06-22 21:25] tedhudek commented on #584
Thanks @Torgrimm, sorry I was unable to find anything more recent.  That link used to go to http://download.microsoft.com/download/a/f/7/af7777e5-7dcd-4800-8a0a-b18336565f5b/best_practices.doc but that paper is from 2007.  So I removed the entire sentence.  If you have more questions about this, try the OSR forum at http://www.osronline.com/showlists.cfm?list=ntdev